Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

bugfix: fix errors when running app (#70)
  .changeset/ninety-doors-wonder.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  infra/src/webapp.tf
  openapi.yaml
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal, infra, changeset

changeset
  .changeset/grumpy-hounds-joke.md
Labels: changeset

fix: local setup (#72)
  .changeset/grumpy-hounds-joke.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  yarn.lock
Labels: changeset

Add Publish Service API
  apps/io-services-cms-webapp/PublishService/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

publish service unit tests
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

added unpublish API
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added delete method for serving unpublish API
  apps/io-services-cms-webapp/PublishService/function.json
Labels: none

changeset
  .changeset/unlucky-crabs-doubt.md
Labels: changeset

changeset
  .changeset/famous-geese-train.md
Labels: changeset

Added retrieve publication information API business logic
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service/index.ts
Labels: none

Added retrieve publication information API controller route
  apps/io-services-cms-webapp/PublishService/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added unit test for retrieve publication information API
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

Updated unitTest 'WebService > publishService > retrieve service pubblication information > should retrieve a service'
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

changset
  .changeset/famous-geese-train.md
  .changeset/silent-jobs-smile.md
Labels: changeset

changeset edit
  .changeset/silent-jobs-smile.md
Labels: changeset

ADD Unpublish service API
  apps/io-services-cms-webapp/UnpublishService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

changeset
  .changeset/moody-plants-drum.md
Labels: changeset

ADD Retrieve last published version of service API
  apps/io-services-cms-webapp/GetPublicationStatusService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-publication-status-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-publication-status-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

renamed GetPublicationStatusService -> GetServicePublication
  apps/io-services-cms-webapp/GetServicePublication/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

Update OpenApi, fix models renaming
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  openapi.yaml
Labels: none

changeset
  .changeset/swift-snails-buy.md
Labels: changeset

clean generated openapi models before run command
  apps/io-services-cms-webapp/package.json
Labels: none

[IOPAE-328] Update OpenApi Service status (#79)
  .changeset/swift-snails-buy.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  openapi.yaml
Labels: changeset

[#IOPAE-244] Publish Service API (#74)
  .changeset/unlucky-crabs-doubt.md
  apps/io-services-cms-webapp/PublishService/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

[#IOPAE-245] Unpublish Service API (#77)
  .changeset/moody-plants-drum.md
  apps/io-services-cms-webapp/UnpublishService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

refactore after OpenApi change
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/index.ts
Labels: none

changeset
  .changeset/dry-needles-dream.md
Labels: changeset

[#IOPAE-242] Get Publish Service API (#78)
  .changeset/dry-needles-dream.md
  apps/io-services-cms-webapp/GetServicePublication/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

add TaskEither import on root (due to build error)
  apps/io-services-cms-webapp/src/_to-solve.ts
Labels: none

[IOPAE-323] FSM Custom Errors (#55)
  .changeset/blue-months-clap.md
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

Add request-publication queue on INFRA
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

Update env.example
  apps/io-services-cms-webapp/env.example
Labels: none

Add implementation
  apps/io-services-cms-webapp/OnRequestPublication/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

fix unit tests
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

Add Get service lifecycle API
  apps/io-services-cms-webapp/GetServiceLifecycle/function.json
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added Get Service Lifecycle API unit test
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

changeset
  .changeset/nice-needles-beg.md
Labels: changeset

update unit test name
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

Add delete service API
  apps/io-services-cms-webapp/DeleteService/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

Add unit tests
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none
