Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix metadata imports
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: backoffice, webapp

fix: Add missing schemas ref webapp openapi (#615)
  .changeset/early-oranges-fry.md
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: backoffice, webapp, changeset

changeset
  .changeset/wild-keys-draw.md
Labels: changeset

chore:[IOPAE-880] update MSW package to v2 major release (#611)
  .changeset/wild-keys-draw.md
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice, changeset

edit jira layout review ticket
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

cleanup
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

changeset
  .changeset/few-pigs-perform.md
Labels: changeset

[#IOPAE-894] edit jira layout review ticket (#616)
  .changeset/few-pigs-perform.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

ci(changesets): version packages (#612)
  .changeset/early-oranges-fry.md
  .changeset/few-pigs-perform.md
  .changeset/moody-buses-develop.md
  .changeset/tame-ravens-grin.md
  .changeset/wild-keys-draw.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

add getServiceTopics policy
  infra/src/README.md
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

fix providers version
  infra/src/README.md
Labels: infra

move topic mock under service.metadata
  apps/backoffice/mocks/data/backend-data.ts
Labels: backoffice

update backoffice openapi
  apps/backoffice/openapi.yaml
Labels: backoffice

update translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

fix service types, adapters and issue related to openapi changes
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice

manage topic with MUI Autocomplete component
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
Labels: backoffice

add noOptionsText on Autocomplete component
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
Labels: backoffice

update swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

add topic to swagger
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

add json to policy
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
Labels: infra

[#IOPAE-859]Get Service Topic Policy (#617)
  infra/src/README.md
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

fix swagger errors
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

fix swagger errors (#618)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

remove parameter in get topics api in swagger
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

remove parameter in get topics api in swagger (#619)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

ADD temporany static method for service topics retrieve
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
Labels: backoffice

ADD GET /services/topics Route Handler
  apps/backoffice/src/app/api/services/topics/route.ts
Labels: backoffice

changeset
  .changeset/thirty-baboons-wonder.md
Labels: changeset

[#IOPAE-820] Add topics on sevices-cms-handlers msw mock (#588)
  .changeset/dry-years-dream.md
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice, changeset

[#IOPAE-899] Service topics route handler in Backoffice B4F (#620)
  .changeset/thirty-baboons-wonder.md
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
Labels: backoffice, changeset

Decode topic on ServiceList
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

cleanUp services test
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

remove topic_id on metadata after enrichment
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

changeset
  .changeset/healthy-pens-doubt.md
Labels: changeset

[#IOPAE-900] Enrich Topic on ServiceList Route Handler (#622)
  .changeset/healthy-pens-doubt.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice, changeset

manage topic on create/edit request
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
Labels: webapp

fix unit tests
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
Labels: webapp

changeset
  .changeset/hip-mirrors-burn.md
Labels: changeset

make ServiceTopicDao a singleton
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: webapp

manage topic on all service responses
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp
