Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

try fix
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/backend.ini
  .opex/api_services_cms/env/prod/backend.tfvars
  .opex/api_services_cms/env/prod/config.yaml
  .opex/api_services_cms/env/prod/terraform.tfvars
  .opex/openapi/env/prod/backend.tfvars
Labels: ci

run
  .github/workflows/opex_api_services_cms.yml
Labels: ci

azure
  .github/workflows/opex_api_services_cms.yml
Labels: ci

test
  .github/workflows/opex_api_services_cms.yml
Labels: ci

test
  .github/workflows/opex_api_services_cms.yml
Labels: ci

test
  .github/workflows/opex_api_services_cms.yml
Labels: ci

test
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

try
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

fix 2
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

test
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

test
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

test
  openapi.yaml
Labels: none

last fix
  .github/workflows/opex_api_services_cms.yml
  .identity/03_github_environment_opex.tf
Labels: ci

[#IOPAE-421] add opex dashboard (#240)
  .github/workflows/opex_api_services_cms.yml
  .identity/01_data.tf
  .identity/02_application_environment_opex.tf
  .identity/03_github_environment_opex.tf
  .opex/api_services_cms/env/prod/backend.ini
  .opex/api_services_cms/env/prod/backend.tfvars
  .opex/api_services_cms/env/prod/config.yaml
  .opex/api_services_cms/env/prod/terraform.tfvars
  openapi.yaml
Labels: ci

remove debug and update config
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/config.yaml
Labels: ci

remove debug and update config (#299)
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/config.yaml
Labels: ci

add sync-checker-script
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

move recovery script under scripts folder
  apps/io-services-cms-webapp/src/scripts/recupero-pregresso-review-legacy.ts
Labels: webapp

update import after moving
  apps/io-services-cms-webapp/src/scripts/recupero-pregresso-review-legacy.ts
Labels: webapp

use reduce instead for
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

add unhandled exception and signInt events handling
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

correct compare function implementation
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

edit error message when properties value are different between legacy and lifecycle items
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/scripts/recupero-pregresso-review-legacy.ts
Labels: webapp

improved comment
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

update mui-italia and dependencies
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

changeset
  .changeset/unlucky-pianos-brake.md
Labels: changeset

[#IOPAE-522] Update mui-italia and related dependencies (#300)
  .changeset/unlucky-pianos-brake.md
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice, changeset

Use github-self-hosted-runner-azure-create-action and github-self-hosted-runner-azure-cleanup-action from eng-github-actions-iac-template repository
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

github-self-hosted-runner-azure-cleanup-action verison @main
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

use terraform-install-action template from eng-github-actions-iac-template repo
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

use terraform-preapply-azure-action template from eng-github-actions-iac-template repo
  .github/workflows/infra-cd.yml
Labels: ci

use terraform-apply-azure-action template from eng-github-actions-iac-template repo
  .github/workflows/infra-cd.yml
Labels: ci

use terraform-plan-azure-action template from eng-github-actions-iac-template repo
  .github/workflows/infra-ci.yml
Labels: ci

use terraform-driftdetection-azure-action template from eng-github-actions-iac-template repo
  .github/workflows/infra-drift-detection.yml
Labels: ci

fix typo
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

fix typo pt2
  .github/workflows/infra-cd.yml
Labels: ci

fix typo pt3
  .github/workflows/infra-ci.yml
Labels: ci

fix: Use github action from repo eng-github-actions-iac-template (#302)
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

ci(changesets): version packages (#301)
  .changeset/unlucky-pianos-brake.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset
