Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

changeset
  .changeset/proud-ladybugs-applaud.md
Labels: changeset

fix bug
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
Labels: backoffice

shorter code fix
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
Labels: backoffice

add top description for migration manager
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: backoffice

improvement for avoid multiple modal renders
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: backoffice

update migration-manager description
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: backoffice

add log for performance test
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

replace useEffect and state with a simple const
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
Labels: backoffice

changeset
  .changeset/fuzzy-tigers-sort.md
Labels: changeset

TODO comment
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

chore: add log for performance test (#504)
  .changeset/fuzzy-tigers-sort.md
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice, changeset

ci(changesets): version packages (#505)
  .changeset/fuzzy-tigers-sort.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[IOPAE-752] Frontend services migration: import from Developer Portal (#491)
  .changeset/proud-ladybugs-applaud.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/services/subscriptions-migration/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

add time debug log on regenerate manage key
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
Labels: backoffice

changeset
  .changeset/dry-parrots-talk.md
Labels: changeset

chore: add time debug log on regenerate manage key (#507)
  .changeset/dry-parrots-talk.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
Labels: backoffice, changeset

ci(changesets): version packages (#508)
  .changeset/dry-parrots-talk.md
  .changeset/proud-ladybugs-applaud.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add IS_MSW_ENABLED config
  infra/src/backoffice_webapp.tf
Labels: infra

fix some NEXT_PUBLIC_* env var
  apps/backoffice/.env.production
Labels: backoffice

changeset
  .changeset/grumpy-rocks-wash.md
Labels: changeset

add IS_MSW_ENABLED config
  apps/backoffice/mocks/index.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

remove msw from FE
  apps/backoffice/public/mockServiceWorker.js
Labels: backoffice

chore: Patch disable msw (#510)
  .changeset/grumpy-rocks-wash.md
  apps/backoffice/.env.production
  apps/backoffice/mocks/index.ts
  apps/backoffice/public/mockServiceWorker.js
  apps/backoffice/src/config/index.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra, changeset

add sleep before staging health-check
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

hide assistance button on topbar
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: backoffice

add sleep before staging health-check (#512)
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

ci(changesets): version packages (#511)
  .changeset/grumpy-rocks-wash.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add operative manual url on topbar documentation click
  apps/backoffice/.env
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/config/index.ts
Labels: backoffice

hide block button on api key
  apps/backoffice/src/components/api-keys/api-single-key.tsx
Labels: backoffice

enable appInsights client only on prod
  apps/backoffice/.env.production
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra

fix issue on forwarding io-services-cms responses
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/two-books-deliver.md
Labels: changeset

enable appInsights client only on prod (#513)
  apps/backoffice/.env.production
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra

configure links and permissions on external users,groups sidenav menu items
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

expty TableRowMenu doesn't show any icon
  apps/backoffice/src/components/table-view/table-row-menu.tsx
Labels: backoffice

cleanUp
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

fix issue on forwarding io-services-cms responses (#514)
  .changeset/two-books-deliver.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice, changeset

ci(changesets): version packages (#515)
  .changeset/two-books-deliver.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update service-search-by-id action buttons
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/service-search-by-id.tsx
Labels: backoffice

update service description helperText in create/update form
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
