Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

implement api keys page
  apps/backoffice/src/pages/keys/index.tsx
Labels: backoffice

ci(changesets): version packages (#378)
  .changeset/chilly-lizards-explode.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

changeset
  .changeset/unlucky-countries-hunt.md
Labels: changeset

[IOPAE-630] BackOffice API Key Page (#379)
  .changeset/unlucky-countries-hunt.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/utils/string-util.ts
  yarn.lock
Labels: backoffice, changeset

update turbo.json
  turbo.json
Labels: none

increase code-review github action timeout
  .github/workflows/code-review.yaml
Labels: ci

cleanp external-clients openapi
  packages/external-clients/openapi.yaml
Labels: internal

add unit tests for apimService
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal

changeset
  .changeset/poor-tomatoes-taste.md
Labels: changeset

add nextauth env vars
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: infra

refactor: remove webapp_fn_app_key secreat and use directly webapp_functions_app.primary_key from its module
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
  infra/src/key_vault.tf
Labels: infra

feat: add nextauth env vars (#382)
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: infra

add manage key card and update manage key section
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-value.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-skeleton.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: backoffice

changeset
  .changeset/brave-houses-arrive.md
Labels: changeset

fix bo_auth_session_secret resource name
  infra/src/key_vault.tf
Labels: infra

fix resource name
  infra/src/key_vault.tf
Labels: infra

fix: fix bo_auth_session_secret resource name (#384)
  infra/src/key_vault.tf
Labels: infra

external client
  io-services-cms.code-workspace
Labels: none

add build package script and fix .env* files
  apps/backoffice/.env.test
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/selfcare.tsx
Labels: backoffice

fix NEXTAUTH_URL env var
  infra/src/backoffice_webapp.tf
Labels: infra

changeset
  .changeset/clever-jokes-talk.md
Labels: changeset

fix static analisys
  apps/backoffice/package.json
Labels: backoffice

feat: [IOPAE-575] add build package script (#385)
  .changeset/clever-jokes-talk.md
  apps/backoffice/.env.test
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/selfcare.tsx
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra, changeset

[IOPAE-633] Add manage key card on Overview, update API Key Page (#383)
  .changeset/brave-houses-arrive.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-value.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-skeleton.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#380)
  .changeset/brave-houses-arrive.md
  .changeset/clever-jokes-talk.md
  .changeset/unlucky-countries-hunt.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

imported devDependency openapi-codegen-ts on external-clients from root package.json
  packages/external-clients/package.json
  yarn.lock
Labels: internal

Removed openapi-codegen-ts devDependency from rott package.json, added openapi-codegen-ts dependency in external-clients
  package.json
  packages/external-clients/package.json
  yarn.lock
Labels: internal

update openapi-codegen-ts to version ^13.1.0 in io-services-cms-webapp
  apps/io-services-cms-webapp/package.json
Labels: webapp

chageset
  .changeset/little-shirts-build.md
Labels: changeset

update yarn lock
  yarn.lock
Labels: none

fix CD GH action
  .github/workflows/release.yaml
Labels: ci

add .env* files
  apps/backoffice/.env
  apps/backoffice/.env.development
  apps/backoffice/.env.production
  apps/backoffice/.gitignore
Labels: backoffice

fix: [IOPAE-575] fix cd action (#388)
  .github/workflows/release.yaml
  apps/backoffice/.env
  apps/backoffice/.env.development
  apps/backoffice/.env.production
  apps/backoffice/.gitignore
Labels: backoffice, ci

chore:[#IOPAE-648] Update openapi-codegen-ts to version ^13.1.0 in io-services-cms-webapp (#387)
  .changeset/little-shirts-build.md
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: webapp, changeset

ci(changesets): version packages (#386)
  .changeset/little-shirts-build.md
  .changeset/poor-tomatoes-taste.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/external-clients/CHANGELOG.md
  packages/external-clients/package.json
Labels: internal, backoffice, webapp, changeset

add backoffice app service staging slot
  infra/src/README.md
  infra/src/backoffice_webapp.tf
Labels: infra

fix expiration_date
  infra/src/key_vault.tf
Labels: infra

fix: [IOPAE-575] add backoffice app service staging slot (#389)
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/key_vault.tf
Labels: infra

update vitest.config.react.ts
  apps/backoffice/vitest.config.react.ts
Labels: backoffice

add auth types, utils and unit tests
  apps/backoffice/src/types/auth.ts
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
