Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, docs, ci, changeset

.github/labeler.yml:

internal: packages/**/*
docs: docs/**/*
ci: .github/workflows/**/*
changeset: .changeset/**/*

setup models pacakge
  .gitignore
  packages/models/README.md
  packages/models/package.json
  packages/models/src/__tests__/index.test.ts
  packages/models/src/index.ts
  packages/models/tsconfig.json
  packages/models/vitest.config.ts
  yarn.lock
Labels: internal

fix tests
  packages/models/package.json
  packages/models/src/__tests__/index.test.ts
Labels: internal

fix scripts
  packages/models/package.json
Labels: internal

configure linter
  package.json
  packages/io-services-cms-models/.eslintrc.js
  packages/io-services-cms-models/.prettierignore
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/__tests__/index.test.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/tsconfig.json
  packages/io-services-cms-models/vitest.config.ts
  packages/models/.eslintrc.js
  packages/models/src/index.ts
  tsconfig.json
  yarn.lock
Labels: internal

Setup `models` package (#4)
  .gitignore
  package.json
  packages/io-services-cms-models/.eslintrc.js
  packages/io-services-cms-models/.prettierignore
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/__tests__/index.test.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/tsconfig.json
  packages/io-services-cms-models/vitest.config.ts
  packages/models/.eslintrc.js
  tsconfig.json
  yarn.lock
Labels: internal

fsm definition
  packages/io-services-cms-models/README.md
Labels: internal

helper types for FSMs
  packages/io-services-cms-models/src/lib/fsm.ts
Labels: internal

type definitions for ServiceLifecycle
  packages/io-services-cms-models/src/service-lifecycle/types.ts
Labels: internal

FMS implementation for ServiceLifecycle
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

expose ServiceLifecycle module
  packages/io-services-cms-models/src/index.ts
Labels: internal

fix build options
  packages/io-services-cms-models/tsconfig.json
  tsconfig.json
Labels: internal

update readme
  packages/io-services-cms-models/README.md
Labels: internal

fix
  .gitignore
Labels: none

define overloads
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix test imports
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

refine type definition
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/service-lifecycle/types.ts
  yarn.lock
Labels: internal

remove unused files
  packages/.keep
  packages/models/.eslintrc.js
Labels: internal

release when merge on master
  .github/workflows/release.yaml
Labels: ci

fix tests
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

Remove service-history
  openapi.yaml
Labels: none

[#IOPAE-268] Add Open API specification (#2)
  openapi.yaml
Labels: none

fix
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

better docs
  packages/io-services-cms-models/README.md
Labels: internal

fix docs
  packages/io-services-cms-models/README.md
Labels: internal

enforce cohesion on states and actions
  packages/io-services-cms-models/src/lib/fsm.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix package
  packages/io-services-cms-models/package.json
Labels: internal

fix changeset
  .changeset/README.md
Labels: changeset

add changeset
  .changeset/tame-tigers-impress.md
Labels: changeset

create web app
  apps/.keep
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/package.json
Labels: none

setup project
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/.prettierignore
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/tsconfig.json
  apps/io-services-cms-webapp/vitest.config.ts
  packages/io-services-cms-models/vitest.config.d.ts
  packages/io-services-cms-models/vitest.config.js
  packages/io-services-cms-models/vitest.config.js.map
  tsconfig.json
  yarn.lock
Labels: internal

setup info endpoint
  apps/io-services-cms-webapp/Info/function.json
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/functions/info.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/routes.ts
  apps/io-services-cms-webapp/tsconfig.json
  yarn.lock
Labels: none

add info endpoint to specifications
  openapi.yaml
Labels: none

configuration instructions
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none

update dependency
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none
