Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

update openapi specs
  openapi.yaml
Labels: none

add some syntactic sugar
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

update openapi specs (#146)
  openapi.yaml
Labels: none

set variable for azure apim subscription product name
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

update service keys api specs
  openapi.yaml
Labels: none

edit openApi, removed X-CUSTOM-KEY added header parameter string x-user-email, x-user-groups, x-user-id, x-subscription-id
  openapi.yaml
Labels: none

update service keys api specs (#147)
  openapi.yaml
Labels: none

edit openApi, removed X-CUSTOM-KEY added header parameter string x-user-email, x-user-groups, x-user-id, x-subscription-id (#148)
  openapi.yaml
Labels: none

try to make error mgmt on FSMs apply fn more readable
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

feat: [IOPAE-320] add force/override action on fsm (#140)
  .changeset/gold-tigers-return.md
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

refactor
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

refactor (#149)
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

revert default value change
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

[#IOPAE-366] Manage APIs error response codes (#143)
  .changeset/short-owls-happen.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/fsm-error-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/fsm-error-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

set value with withdefaul
  apps/io-services-cms-webapp/src/config.ts
  infra/src/webapp.tf
Labels: infra

delete infra key with default value set in config (#145)
  infra/src/webapp.tf
Labels: infra

[#IOPAE-368]Rename azure apim default subscription product name and set default value (#144)
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  infra/src/webapp.tf
Labels: infra

Added category and custom_special_flow on service.metadata in openapi.yaml
  openapi.yaml
Labels: none

get service keys
  apps/io-services-cms-webapp/GetServiceKeys/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

unit tests
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
Labels: none

handle metadata.category and metadata.custom_special_flow param in converters
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

changeset
  .changeset/clean-crews-brush.md
Labels: changeset

changeset
  .changeset/yellow-ways-kneel.md
Labels: changeset

create request sync legacy queue
  apps/io-services-cms-webapp/env.example
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

[#IOPAE-378] API Get service keys (#151)
  .changeset/yellow-ways-kneel.md
  apps/io-services-cms-webapp/GetServiceKeys/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

readme update
  infra/src/README.md
Labels: infra

added legacy cosmos configuration
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

refactor LEGACY COSMOSDB configuration
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/cosmos-legacy.ts
Labels: none

add regenerateSubscriptionKey on apim-client
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
Labels: none

regenerateServiceKeys api
  apps/io-services-cms-webapp/RegenerateServiceKeys/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

unit tests
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
Labels: none

changeset
  .changeset/strange-clocks-bathe.md
Labels: changeset

update cron expression
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: none

changeset
  .changeset/perfect-berries-promise.md
Labels: changeset

[#IOPAE-391] COSMOS DB Legacy Configuration (#153)
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/cosmos-legacy.ts
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

[#IOPAE-380] Add category and custom_special_flow on service.metadata (#150)
  .changeset/clean-crews-brush.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

update schedule range
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: none

[#IOPAE-381] Create request sync legacy queue (#152)
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

[#IOPAE-359] ServiceReviewChecker CRON Expression (#155)
  .changeset/perfect-berries-promise.md
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: changeset

[#IOPAE-376] API Regenerate service keys (#154)
  .changeset/strange-clocks-bathe.md
  apps/io-services-cms-webapp/RegenerateServiceKeys/function.json
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset
