Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

changeset
  .changeset/mighty-pumas-fix.md
Labels: changeset

add telemetry client
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added ContextMiddleware and ILogger
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/logging.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: none

add log on ErrorResponse for HttpTrigger AF
  apps/io-services-cms-webapp/src/utils/error-response-logger.ts
  apps/io-services-cms-webapp/src/utils/logging.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

add TelemetryClient
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/error-response-logger.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

[#IOPAE-403] Add store CosmosDB Unit Tests (#167)
  .changeset/mighty-pumas-fix.md
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal, changeset

changeset
  .changeset/gorgeous-mails-shave.md
Labels: changeset

add changeset
  .changeset/cyan-steaks-reply.md
Labels: changeset

fix legacy-to-cms mapping
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

refactor: rename variables
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: none

add OnRequestSyncLegacy az fn
  apps/io-services-cms-webapp/OnRequestSyncLegacy/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  infra/src/webapp.tf
Labels: infra

remove useless log
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: none

fix legacy db name
  apps/io-services-cms-webapp/src/main.ts
Labels: none

feat: [IOPAE-430] request sync legacy handler (#194)
  .changeset/cyan-steaks-reply.md
  apps/io-services-cms-webapp/OnRequestSyncLegacy/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: infra, changeset

try to exclude test from duplication gate
  .sonarcloud.properties
Labels: none

refactor telemetry trackevent for publish and unpublish service
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

solved merge conflicts
  apps/io-services-cms-webapp/src/main.ts
Labels: none

refactor
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

refactor unpublish
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

[#IOPAE-419] Better Logging (#195)
  .changeset/gorgeous-mails-shave.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

refactor: move from Legacy label into a shared utility
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: none

add changeset
  .changeset/twelve-laws-wink.md
Labels: changeset

added USERID_CMS_TO_LEGACY_SYNC_INCLUSION_LIST configuration
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

added Feature Flag Handler
  apps/io-services-cms-webapp/src/utils/__tests__/feature-flag-handler.test.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

edit OnServiceHistoryChange Watcher in order to include feature flag check
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

refactor: move from Legacy label into a shared utility (#196)
  .changeset/twelve-laws-wink.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset

changeset
  .changeset/tricky-donkeys-taste.md
Labels: changeset

Update apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

refactor
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

fix typo
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

refactor userid_cms_to_legacy_sync_inclusion_list
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

fix typo
  infra/src/env/prod/terraform.tfvars
Labels: infra

update description for userid_cms_to_legacy_sync_inclusion_list
  infra/src/99_variables.tf
  infra/src/README.md
Labels: infra

refactoring
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

[#IOAPE-434] Added FeatureFlag for cms to legacy sync test (#197)
  .changeset/tricky-donkeys-taste.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/feature-flag-handler.test.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, changeset

ci(changesets): version packages (#193)
  .changeset/cyan-steaks-reply.md
  .changeset/gorgeous-mails-shave.md
  .changeset/mighty-pumas-fix.md
  .changeset/sixty-poets-lick.md
  .changeset/tricky-donkeys-taste.md
  .changeset/twelve-laws-wink.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

enable service history watcher
  infra/src/webapp.tf
Labels: infra

enable service history watcher (#198)
  infra/src/webapp.tf
Labels: infra

startFromBeginning
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: none

startFromBeginning on ServiceHistoryWatcher set to false
  .changeset/afraid-yaks-yell.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: changeset
