Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

[#IOPAE-869] Include Backoffice Subnet CIDRs (#599)
  .changeset/grumpy-pugs-behave.md
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp, changeset

remove cidr-matcher deps
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: webapp

add request ip logs
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: backoffice, webapp

changeset
  .changeset/fifty-doors-beg.md
Labels: changeset

fix log for unit tests
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

chore: Patch log request ip (#601)
  .changeset/fifty-doors-beg.md
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  yarn.lock
Labels: backoffice, webapp, changeset

ci(changesets): version packages (#600)
  .changeset/fifty-doors-beg.md
  .changeset/grumpy-pugs-behave.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

chore(deps): bump next from 13.5.3 to 13.5.6 (#596)
  .changeset/rude-guests-tie.md
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice, changeset

ci(changesets): version packages (#602)
  .changeset/rude-guests-tie.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add express trust proxy config
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/yellow-glasses-poke.md
Labels: changeset

chore: add express trust proxy config (#603)
  .changeset/yellow-glasses-poke.md
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#604)
  .changeset/yellow-glasses-poke.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

update dev deps
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: backoffice, webapp

changeset
  .changeset/gentle-bikes-deliver.md
Labels: changeset

chore: Update vite/vitest dev dependencies (#605)
  .changeset/gentle-bikes-deliver.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: backoffice, webapp, changeset

ci(changesets): version packages (#606)
  .changeset/gentle-bikes-deliver.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

update vitest on packages
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

changeset
  .changeset/happy-meals-double.md
Labels: changeset

chore: Update vite on packages projects (#607)
  .changeset/happy-meals-double.md
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, changeset

ci(changesets): version packages (#608)
  .changeset/happy-meals-double.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/external-clients/CHANGELOG.md
  packages/external-clients/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

remove unused code
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice

add topic_id on frontend ServiceCreateUpdatePayload
  apps/backoffice/src/types/service.ts
Labels: backoffice

implement topic management on service create/update
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
Labels: backoffice

avoid mui out-of-range error on select controller
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
Labels: backoffice

changeset
  .changeset/flat-years-glow.md
Labels: changeset

move topic into service metadata object
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

update msw to latest version
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

fix setupWorker import path
  apps/backoffice/mocks/msw-worker.ts
Labels: backoffice

update mock handlers with msw v2 breaking changes
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
Labels: backoffice

add webpack config to avoid build time msw config resolution error
  apps/backoffice/next.config.js
Labels: backoffice

changeset
  .changeset/tame-ravens-grin.md
Labels: changeset

chore: move topic into service metadata object (#610)
  .changeset/tame-ravens-grin.md
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

fix fe adapter for topic metadata
  apps/backoffice/src/components/services/adapters.ts
Labels: backoffice

changeset
  .changeset/moody-buses-develop.md
Labels: changeset

fix ServiceMetadata openapi
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

bugfix: Fix topic metadata on frontend adapter (#614)
  .changeset/moody-buses-develop.md
  apps/backoffice/src/components/services/adapters.ts
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, backoffice, changeset

ADD ServiceBaseMetadata and ServicePayloadMetadata missing on webapp openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

changeset
  .changeset/early-oranges-fry.md
Labels: changeset
