Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add right jira username
  infra/src/env/prod/terraform.tfvars
Labels: infra

add right jira username (#166)
  infra/src/env/prod/terraform.tfvars
Labels: infra

change apim api to retrieve subscription keys from subscription.get -> subscription.listSecrets
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
Labels: none

changeset
  .changeset/nasty-plums-raise.md
Labels: changeset

unit test code cleanUp
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
Labels: none

fix: change apim api to retrieve subscription keys (#169)
  .changeset/nasty-plums-raise.md
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
Labels: changeset

[#IOPAE-399] Update definitions to match open api and fix missing data in Jira creation ticket (#165)
  .changeset/silly-geckos-search.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

fix regenerate serviceKey
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
Labels: none

fix regenerate serviceKey (#171)
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
Labels: none

add queue env var
  apps/io-services-cms-webapp/env.example
Labels: none

setup ServiceHistoryWatcher az fn
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: infra

add service history type
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
Labels: internal

fix RequestHistoricizationItem type
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

fix type error
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

fix services types definition
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
Labels: internal

add on service history change handler (except mapping)
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

changeset
  .changeset/khaki-scissors-collect.md
Labels: changeset

feat: [IOPAE-393] add service history watcher (#172)
  .changeset/khaki-scissors-collect.md
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal, infra, changeset

changeset
  .changeset/tiny-tigers-wink.md
Labels: changeset

add legacy filter on service lifecycle watcher
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: none

chore: [IOPAE-385] add legacy filter to service lifecycle watcher (#173)
  .changeset/tiny-tigers-wink.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset

fix fn app key and refactor
  infra/src/00_apim.tf
  infra/src/00_legacy_cosmosdb.tf
  infra/src/00_locals.tf
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_main.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/_shared_apim.tf
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/apim_io_services_cms_api.tf
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

fix main naming convention for github action
  infra/src/99_main.tf
Labels: infra

add services cms api to io-apim
  infra/src/README.md
  infra/src/_shared_apim.tf
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/policy.xml
  infra/src/apim_io_services_cms_api.tf
  infra/src/webapp.tf
Labels: infra

remove useless default value from app configs
  apps/io-services-cms-webapp/src/config.ts
Labels: none

fix main naming convention for github action
  infra/src/main.tf
Labels: infra

implement watcher
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/comma-separated-list.test.ts
  apps/io-services-cms-webapp/src/utils/comma-separated-list.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

feat: [IOPAE-401] add services manage api (#168)
  apps/io-services-cms-webapp/src/config.ts
  infra/src/00_apim.tf
  infra/src/00_legacy_cosmosdb.tf
  infra/src/00_locals.tf
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/policy.xml
  infra/src/apim_io_services_cms_api.tf
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

updates post merge
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

changeset
  .changeset/mighty-camels-sort.md
Labels: changeset

add infra definitions
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

[#IOPAE-319] legacy to cms watcher (#174)
  .changeset/mighty-camels-sort.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/comma-separated-list.test.ts
  apps/io-services-cms-webapp/src/utils/comma-separated-list.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset

add API Management Service Contributor
  .identity/env/prod/terraform.tfvars
Labels: none

add infra definitions (#175)
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

add API Management Service Contributor (#176)
  .identity/env/prod/terraform.tfvars
Labels: none

add io-functions-commons dependency on models
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

update LegacyService models definition
  packages/io-services-cms-models/src/service-legacy/index.ts
Labels: internal

update LegacyService import
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

add cmsToLegacy mapping
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

add unit tests
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
Labels: none
