Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add store.cosmos test for delete
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal

edit test for on-legact-service-change and on-service-lifecycle-change
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
Labels: webapp

changeset
  .changeset/tall-cameras-study.md
Labels: changeset

cleanup
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
Labels: webapp

cleanUp pt2
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

ADD REQUEST DELETION QUEUE (#782)
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

fix 404 exception in deleteItem
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

fix test deleteItem
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal

add comment
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: webapp

comment pt2
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: webapp

fix typo
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal

fix typo pt2
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

[IOPAE-666] Physically delete service on service-publication (#783)
  .changeset/tall-cameras-study.md
  apps/io-services-cms-webapp/OnRequestDeletion/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/deletor/__tests__/request-deletion-handler.test.ts
  apps/io-services-cms-webapp/src/deletor/request-deletion-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/utils/errors.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, webapp, changeset

ci(changesets): version packages (#781)
  .changeset/tall-cameras-study.md
  .changeset/tricky-mayflies-nail.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

topic_id is now required in service payload Metadada schema
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

topic_id is now required on Create and Update Service API
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: webapp, infra

changeset
  .changeset/cyan-panthers-love.md
Labels: changeset

unify service history status
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

Revert "unify service history status"
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

unify service history status
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

Change buildStatus in service-history-converters in order to unify the status between publication and lifecycle items
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: webapp

changeset
  .changeset/six-shirts-destroy.md
Labels: changeset

changeset
  .changeset/five-llamas-search.md
Labels: changeset

Unify service history status in Open Api (#786)
  .changeset/five-llamas-search.md
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, changeset

Service history status unify Implementation (#787)
  .changeset/six-shirts-destroy.md
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: webapp, changeset

ci(changesets): version packages (#788)
  .changeset/five-llamas-search.md
  .changeset/six-shirts-destroy.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

update openapi
  apps/backoffice/openapi.yaml
Labels: backoffice

update msw mocks
  apps/backoffice/mocks/data/backend-data.ts
Labels: backoffice

update react service-history component
  apps/backoffice/src/components/services/service-history.tsx
Labels: backoffice

code cleanup
  apps/backoffice/src/components/services/service-history.tsx
Labels: backoffice

changeset
  .changeset/eleven-spoons-jog.md
Labels: changeset

update ServiceHistoryItem import
  apps/backoffice/src/components/services/service-history.tsx
Labels: backoffice

Service history status unify backoffice (#789)
  .changeset/eleven-spoons-jog.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/services/service-history.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#790)
  .changeset/eleven-spoons-jog.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

make topic_id required
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice

changeset
  .changeset/cool-actors-sing.md
Labels: changeset

topic_id is now required in service payload Metadada schema (#784)
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

fix test
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
Labels: webapp

[IOPAE-1065] BackOffice IO: Topic is now required on service create/update form (#791)
  .changeset/cool-actors-sing.md
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice, changeset

[IOPAE-1001] Topic is now required on Service Creation/Edit (#785)
  .changeset/cyan-panthers-love.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: webapp, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
