Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

fix addUserDetails utility
  apps/backoffice/src/lib/auth.ts
  apps/backoffice/src/middleware.ts
Labels: backoffice

init new package
  packages/external-clients/.eslintrc.js
  packages/external-clients/.prettierignore
  packages/external-clients/README.md
  packages/external-clients/index.js
  packages/external-clients/package.json
  packages/external-clients/src/__tests__/index.test.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/apim-filters.ts
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/apim-client/index.ts
  packages/external-clients/src/index.ts
  packages/external-clients/tsconfig.json
  packages/external-clients/vitest.config.ts
  yarn.lock
Labels: internal

Add GET, PUT /keys/manage/cidrs B4F API endpoint to manage authorized CIDRs Manage Key
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, backoffice

Add GET, PUT /keys/manage/cidrs B4F API endpoint to manage authorized CIDRs Manage Key (#372)
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, backoffice

add backoffice deploy to CD action
  .github/workflows/azure-deploy.yaml
Labels: ci

change backoffice package name
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  io-services-cms.code-workspace
  yarn.lock
Labels: backoffice

Add GET, PUT /keys/manage/cidrs B4F API api route placeholders, and mocks
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
Labels: backoffice

changeset
  .changeset/big-pumas-sip.md
Labels: changeset

changeset
  .changeset/young-lamps-appear.md
Labels: changeset

feat: [IOPAE-575] add backoffice cd action (#350)
  .changeset/young-lamps-appear.md
  .github/workflows/azure-deploy.yaml
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  io-services-cms.code-workspace
  yarn.lock
Labels: backoffice, ci, changeset

[#IOPAE-621] ADD Authorized CIDRs B4F API api route placeholders, and mws mocks (#373)
  .changeset/big-pumas-sip.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
Labels: backoffice, changeset

add only defitions openapi for external-clients packages
  package.json
  packages/external-clients/openapi.yaml
  packages/external-clients/package.json
  packages/external-clients/src/apim-client/__tests__/apim-filters.test.ts
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/apim-client/index.ts
  yarn.lock
Labels: internal

use AzureClientSecretCredential config type in cms-webapp provided by package external-clients
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  yarn.lock
Labels: webapp

ApimUtils now provides ApimService
  packages/external-clients/src/apim-client/index.ts
  packages/external-clients/src/index.ts
Labels: internal

io-services-cms/config.ts now use AzureClientSecretCredential from ApimUtils
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

ported getDelegateFromServiceId function from apim-proxy to ApimUtils
  packages/external-clients/src/apim-client/index.ts
Labels: internal

code cleanUp
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
Labels: webapp

fix typo
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

ADD openapi-codegen-ts dependency on external-clients package
  packages/external-clients/package.json
Labels: internal

updatr yarn lock
  yarn.lock
Labels: none

add keys api on external-clients openapi
  packages/external-clients/openapi.yaml
Labels: internal

updated .prettierignore and eslintrc on external-clients
  packages/external-clients/.eslintrc.js
  packages/external-clients/.prettierignore
  packages/external-clients/package.json
  packages/external-clients/src/apim-client/index.ts
Labels: internal

handle jira status names changed
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

changeset
  .changeset/famous-ducks-cry.md
Labels: changeset

JiraIssueStatus is now case insensitive
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

update changeset
  .changeset/famous-ducks-cry.md
Labels: changeset

fix:[#IOPAE-638] Handle Jira Issue status name case change (#375)
  .changeset/famous-ducks-cry.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

replaced @io-services-cms/backoffice with io-services-cms-backoffice in changesets
  .changeset/big-pumas-sip.md
  .changeset/fuzzy-pillows-tap.md
  .changeset/hip-pianos-melt.md
  .changeset/honest-windows-juggle.md
  .changeset/spotty-baboons-lick.md
  .changeset/stale-pigs-mate.md
Labels: changeset

replaced @io-services-cms/backoffice with io-services-cms-backoffice in changesets (#376)
  .changeset/big-pumas-sip.md
  .changeset/fuzzy-pillows-tap.md
  .changeset/hip-pianos-melt.md
  .changeset/honest-windows-juggle.md
  .changeset/spotty-baboons-lick.md
  .changeset/stale-pigs-mate.md
Labels: changeset

ci(changesets): version packages (#360)
  .changeset/big-pumas-sip.md
  .changeset/famous-ducks-cry.md
  .changeset/fuzzy-pillows-tap.md
  .changeset/hip-pianos-melt.md
  .changeset/honest-windows-juggle.md
  .changeset/spotty-baboons-lick.md
  .changeset/stale-pigs-mate.md
  .changeset/young-lamps-appear.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

fix duplicate id for step
  .github/workflows/azure-deploy.yaml
Labels: ci

refactor
  .github/workflows/azure-deploy.yaml
Labels: ci

add required packages
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

update msw mocks
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

add required translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

changeset
  .changeset/chilly-lizards-explode.md
Labels: changeset

add obscure string util
  apps/backoffice/src/utils/string-util.ts
Labels: backoffice

update useFetch hook
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

fix: Duplicate id on azure_deploy Action (#377)
  .changeset/chilly-lizards-explode.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

add api-keys, authorized-cidrs components
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
