Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add update service implementation
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice

changeset
  .changeset/weak-llamas-raise.md
Labels: changeset

[IOPAE-713] Add frontend service update (#449)
  .changeset/weak-llamas-raise.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice, changeset

add health API on B4F openapi.yaml
  apps/backoffice/openapi.yaml
Labels: backoffice

add GET /api/health API
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
Labels: backoffice

changeset
  .changeset/quiet-comics-draw.md
Labels: changeset

[#IOPAE-737] ADD GET health api in B4F (#450)
  .changeset/quiet-comics-draw.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
Labels: backoffice, changeset

deprecate useless fn
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice

add unit tests for getUserAuthorizedInstitutions
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

fix FE errors after type changes
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice

changeset
  .changeset/lucky-lemons-chew.md
Labels: changeset

fix unit tests errors after type changes
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
Labels: backoffice

retrieve user authorized institutions from selfcare on token exchanging
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

add logo field to InstitutionResources
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
Labels: backoffice

feat: [IOPAE-708] retrieve user authorized institutions from selfcare on token exchanging (#447)
  .changeset/lucky-lemons-chew.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice, changeset

add footer links
  apps/backoffice/.env
  apps/backoffice/src/components/footer/index.tsx
  apps/backoffice/src/config/index.ts
Labels: backoffice

changeset
  .changeset/curly-steaks-rest.md
Labels: changeset

[IOPAE-744] Add BackOffice footer links (#451)
  .changeset/curly-steaks-rest.md
  apps/backoffice/.env
  apps/backoffice/src/components/footer/index.tsx
  apps/backoffice/src/config/index.ts
Labels: backoffice, changeset

refactor move createGroupUser to external-clients package
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, backoffice

refactor: move createOrUpdateUser to external-clients package
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, backoffice

use getApimService from backoffice lig instead of directly from external-clients
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

fix lint problem
  packages/external-clients/src/apim-client/index.ts
Labels: internal

changeset
  .changeset/beige-bikes-wave.md
Labels: changeset

check service existance before call publish on Service Publication API
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: webapp

Add dynamic router segment config on /info and /heath Route Handlers
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

changeset
  .changeset/nine-paws-admire.md
Labels: changeset

refactor: B4F refactor apim service (#452)
  .changeset/beige-bikes-wave.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/apim-service.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, backoffice, changeset

chore(fix): dynamic api info health (#453)
  .changeset/nine-paws-admire.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice, changeset

polish message response
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: webapp

changeset
  .changeset/beige-singers-push.md
Labels: changeset

add service/list API on B4F openapi.yaml
  apps/backoffice/openapi.yaml
Labels: backoffice

operationId serviceList renamed to getServiceList
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-rest.ts
  apps/backoffice/src/lib/be/apim-service.ts
  yarn.lock
Labels: backoffice

Revert "operationId serviceList renamed to getServiceList"
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-rest.ts
  apps/backoffice/src/lib/be/apim-service.ts
  yarn.lock
Labels: backoffice

Update apps/backoffice/openapi.yaml
  apps/backoffice/openapi.yaml
Labels: backoffice

[#IOPAE-748] Add service/list API on B4F openapi.yaml (#455)
  apps/backoffice/openapi.yaml
Labels: backoffice

operationId serviceList renamed to getServiceList
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-rest.ts
  apps/backoffice/src/lib/be/apim-service.ts
  yarn.lock
Labels: backoffice

add table view component (draft)
  apps/backoffice/src/components/table-view/index.ts
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/components/table-view/table-view.tsx
Labels: backoffice

removed unused module
  apps/backoffice/src/lib/be/apim-rest.ts
Labels: backoffice

changeset
  .changeset/quick-pans-grow.md
Labels: changeset

add logged institution logo to session token
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
