Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

bugfix: [IOPAE-826] FE - Get user authorized institutions from api instead of session token (#574)
  .changeset/healthy-apricots-remember.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice, changeset

update jiraProxy
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

fix apim user lastName max length
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice

changeset
  .changeset/young-pets-laugh.md
Labels: changeset

bugfix: [IOPAE-829] patch apim user lastname max length (#575)
  .changeset/young-pets-laugh.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice, changeset

update search jira issue in order to retrieve also rejected ticket
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

fix tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

remove uthorized institutions from session token
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

changeset
  .changeset/lucky-camels-draw.md
Labels: changeset

update sendServiceToReview
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: webapp

bugfix: [IOPAE-827] remove authorized institutions from session token (#572)
  .changeset/lucky-camels-draw.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice, changeset

add updateJiraIssue and applyJiraIssueTransition api
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: webapp

update jiraProxy
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

update search jira issue in order to retrieve also rejected ticket
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

fix tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

update sendServiceToReview
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: webapp

ci(changesets): version packages (#571)
  .changeset/breezy-lies-switch.md
  .changeset/clean-peaches-suffer.md
  .changeset/healthy-apricots-remember.md
  .changeset/lucky-camels-draw.md
  .changeset/young-pets-laugh.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

fix method on updateJiraIssue
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: webapp

update unit tests
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

more unit tests
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
Labels: webapp

update configuration with jira_transition_updated_id
  apps/io-services-cms-webapp/env.example
  infra/src/99_variables.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra

pre commit readme and formatter
  infra/src/99_variables.tf
  infra/src/README.md
Labels: infra

upsert ticket reference after creating/reopening on request-review-handler
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: webapp

revert upsert ticket reference after creating/reopening on request-review-handler
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: webapp

refactor
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: webapp

update openapi and useFetch hook
  apps/backoffice/openapi.yaml
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

changeset
  .changeset/angry-cups-live.md
Labels: changeset

cleanup unused /auth api
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
Labels: backoffice

changeset
  .changeset/rich-suits-matter.md
Labels: changeset

add require_secure_channel and authorized_recipients in api response
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp

changeset
  .changeset/pink-pianos-cry.md
Labels: changeset

[#IOPAE-810]add require_secure_channel and authorized_recipients in api response (#578)
  .changeset/pink-pianos-cry.md
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp, changeset

update openapi servers url
  apps/backoffice/openapi.yaml
Labels: backoffice

unit tests improvement
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

chore: Update B4F openapi definition: Replace bearer auth with cookie auth (#577)
  .changeset/angry-cups-live.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice, changeset

added GET /services/topics api definiton in io-services-cms openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

Add topic_id parameter in ServicePayload schema and Add topic field in ServiceLifecycle and ServicePublication: schemas for io-services-cms
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

update versione on io-services-cms openapi.yaml
  .changeset/lovely-pianos-hug.md
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp, changeset

increment io-services-cms openapi version
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

change ubuntu version on infra-ci 22.04 -> latest
  .github/workflows/infra-ci.yml
Labels: ci

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
