Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

go back to ubuntu 22.04
  .github/workflows/infra-ci.yml
Labels: ci

[IOPAE-817] Service Topics in io-services-cms openapi (#580)
  .changeset/lovely-pianos-hug.md
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp, changeset

update openapi with topic definition
  apps/backoffice/openapi.yaml
Labels: backoffice

changeset
  .changeset/plenty-planets-hug.md
Labels: changeset

[IOPAE-818] Update BackOffice openapi with topic definition (#582)
  .changeset/plenty-planets-hug.md
  apps/backoffice/openapi.yaml
Labels: backoffice, changeset

create topic db migration
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_reviewer_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V5__create_taxonomy_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V6__create_service_topic_table.sql
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_server.sh
Labels: webapp

refactor: move Flayway migration scripts from specific reviewer folder to generic db folder
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V2__create_reviewer_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V5__create_taxonomy_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V6__create_service_topic_table.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
Labels: webapp

fix topic attribute description
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V6__create_service_topic_table.sql
Labels: webapp

rename disabled topic attribute to deleted and add default value
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V6__create_service_topic_table.sql
Labels: webapp

add script to fill topic table
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V7__insert_service_topics.sql
Labels: webapp

feat: [IOPAE-790] create topic db migration (#581)
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V2__create_reviewer_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V5__create_taxonomy_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V6__create_service_topic_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V7__insert_service_topics.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
Labels: webapp

update flayway docker version
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
Labels: webapp

add topics msw mock
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

update flayway docker version (#583)
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
Labels: webapp

add topics msw mock (#584)
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

fix required ServiceTopic props
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

fix required ServiceTopic props (#585)
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

update service topic mock with possible undefined result
  apps/backoffice/mocks/data/backend-data.ts
Labels: backoffice

add useful translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

update Service view model type
  apps/backoffice/src/types/service.ts
Labels: backoffice

add topic on service-info drawer view
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-info.tsx
Labels: backoffice

changeset
  .changeset/quiet-emus-hug.md
Labels: changeset

[#IOPAE-830] Reopen rejected jira issues (#576)
  .changeset/rich-suits-matter.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra, changeset

ci(changesets): version packages (#579)
  .changeset/angry-cups-live.md
  .changeset/lovely-pianos-hug.md
  .changeset/pink-pianos-cry.md
  .changeset/plenty-planets-hug.md
  .changeset/rich-suits-matter.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

add io-sevices-cms topic msw mocks
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

changeset
  .changeset/dry-years-dream.md
Labels: changeset

add max_allowed_payment_amount in api response
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp

changeset
  .changeset/hungry-apricots-hunt.md
Labels: changeset

added XForwardedFor header param in cms openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

add XForwardedFor on io-services-cms call forward
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

changeset
  .changeset/ten-steaks-retire.md
Labels: changeset

Add AzureUserAttributesManageMiddleware Wrapper
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  yarn.lock
Labels: webapp

wrap AzureUserAttributesManageMiddleware on all handlers
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

use cidr-matcher instead of ip-cidrs
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  yarn.lock
Labels: webapp

add @types/cidrs-matcher
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: webapp

update comments
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

update yarn.lock
  yarn.lock
Labels: none

[#IOPAE-868] B4F X-Forwarded-For on io-services-cms request (#591)
  .changeset/ten-steaks-retire.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: backoffice, webapp, changeset

[#IOPAE-844] bugfix:add max_allowed_payment_amount in api response (#589)
  .changeset/hungry-apricots-hunt.md
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp, changeset

reduce default logging level
  apps/io-services-cms-webapp/host.json
Labels: webapp
