Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

[IOPAE-934] Retrieve service topics backoffice (#672)
  .changeset/new-planes-peel.md
  .gitignore
  apps/backoffice/.env.development
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: backoffice, webapp, infra, changeset

chore: [#IOPAE-947] Set High Priority for Review Ticket related to National services (#687)
  .changeset/wild-roses-chew.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

chore:[#IOPAE-437] generic service retrieve (#682)
  .changeset/gentle-months-push.md
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
Labels: webapp, changeset

ci(changesets): version packages (#700)
  .changeset/gentle-months-push.md
  .changeset/new-planes-peel.md
  .changeset/wild-roses-chew.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

priority id in jira create/update is now a string
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

changeset
  .changeset/blue-meals-search.md
Labels: changeset

[IOPAE-947] Change priority.id type in jira create/update API call (#701)
  .changeset/blue-meals-search.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

ci(changesets): version packages (#702)
  .changeset/blue-meals-search.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

replace React cache with a singleton
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice

changeset
  .changeset/smooth-pandas-mate.md
Labels: changeset

remove invalid character
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

refactor: [IOPAE-951] B4F remove react cache (#695)
  .changeset/smooth-pandas-mate.md
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice, changeset

add transaltions
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add loading prop to LoaderFullscreen component
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
Labels: backoffice

implements custom auth error page
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/pages/auth/error.tsx
Labels: backoffice

changeset
  .changeset/shiny-candles-rule.md
Labels: changeset

rename ErrorPage
  apps/backoffice/src/pages/auth/error.tsx
Labels: backoffice

[IOPAE-801] Add custom error page for next-auth errors (#704)
  .changeset/shiny-candles-rule.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/pages/auth/error.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#703)
  .changeset/shiny-candles-rule.md
  .changeset/smooth-pandas-mate.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update funtion app modules to latest version (7.50.0)
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

update funtion app modules to latest version (7.50.0) (#706)
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

Handle 404 Apim Response in serviceOwnerCheckManageTask
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: webapp

changeset
  .changeset/twenty-badgers-remain.md
Labels: changeset

add unit test for not found
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
Labels: webapp

fix:[#IOPAE-964] Handle Service Not Found on Service Ownership checks (#707)
  .changeset/twenty-badgers-remain.md
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: webapp, changeset

ci(changesets): version packages (#708)
  .changeset/twenty-badgers-remain.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

add x-frame-options header
  apps/backoffice/next.config.js
Labels: backoffice

changeset
  .changeset/flat-doors-battle.md
Labels: changeset

[#IOPAE-956] Add x-frame-options header (#709)
  .changeset/flat-doors-battle.md
  apps/backoffice/next.config.js
Labels: backoffice, changeset

update PageBreadcrumbs business logic
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
Labels: backoffice

add sanitize module and tests
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/__tests__/sanitize.test.ts
  apps/backoffice/src/lib/be/sanitize.ts
  yarn.lock
Labels: backoffice

sanitize forwardIoServicesCmsRequest
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/late-shoes-remember.md
Labels: changeset

add submitted services queue
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

add some PageBreadcrumbs unit tests
  apps/backoffice/src/components/__tests__/page-breadcrumbs.test.tsx
Labels: backoffice

fix:[IOPAE-960] Fix possible inconsistent data in PageBreadcrumbs (#713)
  .changeset/late-shoes-remember.md
  apps/backoffice/src/components/__tests__/page-breadcrumbs.test.tsx
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
Labels: backoffice, changeset

add sanitize test
  apps/backoffice/src/lib/be/__tests__/sanitize.test.ts
Labels: backoffice

change new queue name
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

sanitize forwardIoServicesCmsRequest
  .changeset/itchy-pets-eat.md
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/lib/be/sanitize.ts
Labels: backoffice, changeset

[#IOPAE-965] Create request validation queue (#712)
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra
