Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add API_SERIVCES_CMS_TOPICS_CACHE_TTL_MINUTES config terraform
  .gitignore
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

changeset
  .changeset/new-planes-peel.md
Labels: changeset

ci(changesets): version packages (#669)
  .changeset/calm-penguins-tease.md
  .changeset/little-hounds-sell.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[IOPAE-873] Fix responsive layout on migration overview (#673)
  .changeset/three-eggs-behave.md
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
Labels: backoffice, changeset

[IOPAE-884] Update ServiceVersionSwitcher component layout (#671)
  .changeset/funny-lemons-sing.md
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: backoffice, changeset

refinement
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

refinement pt2
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

refinement pt3
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

Add X-Forwarded-For header on getServiceTopics Api as requested
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: backoffice, webapp

add icons and set delete menu as last
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

changeset
  .changeset/late-deers-fold.md
Labels: changeset

[IOPAE-852] Services TableRowMenu: add icons and set delete action as last (#677)
  .changeset/late-deers-fold.md
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

remove filled variant style
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
Labels: backoffice

update TextFieldArrayController layout
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
Labels: backoffice

changeset
  .changeset/modern-needles-juggle.md
Labels: changeset

[IOPAE-875] Update layout for authorized cidrs fields (#679)
  .changeset/modern-needles-juggle.md
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
Labels: backoffice, changeset

add default cidrs in sync if the service has an empty one
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: webapp

add custom chip colors
  apps/backoffice/src/config/app-theme.ts
  apps/backoffice/src/providers/app.tsx
Labels: backoffice

changeset
  .changeset/wild-mangos-joke.md
Labels: changeset

[IOPAE-881] MUI Chip custom styleOverrides (#681)
  .changeset/wild-mangos-joke.md
  apps/backoffice/src/config/app-theme.ts
  apps/backoffice/src/providers/app.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#676)
  .changeset/funny-lemons-sing.md
  .changeset/late-deers-fold.md
  .changeset/modern-needles-juggle.md
  .changeset/three-eggs-behave.md
  .changeset/wild-mangos-joke.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add Generic Service Retrieve Handler
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
Labels: webapp

replace GetServiceLifcycle and GetServicePublication implementation with the generic one
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
Labels: webapp

generic implementation on internal
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
Labels: webapp

add AS to institution type enum
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

changeset
  .changeset/long-goats-live.md
Labels: changeset

feat: [IOPAE-823] add AS to institution type enum (#674)
  .changeset/long-goats-live.md
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal, changeset

update authorizedCidrs description copy
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

update text color
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
Labels: backoffice

set 100% height to CardBaseContainer
  apps/backoffice/src/components/cards/card-base-container.tsx
Labels: backoffice

update text color
  apps/backoffice/src/components/services/service-logo.tsx
Labels: backoffice

changeset
  .changeset/fresh-suits-dream.md
Labels: changeset

changeset
  .changeset/gentle-months-push.md
  apps/io-services-cms-webapp/src/.scripts/approve-review-tickets.ts
Labels: webapp, changeset

[IOPAE-889] Service details: update text color and fix logo card height (#684)
  .changeset/fresh-suits-dream.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-base-container.tsx
  apps/backoffice/src/components/services/service-logo.tsx
Labels: backoffice, changeset

changeset
  .changeset/ten-moose-worry.md
Labels: changeset

update gitignore
  .gitignore
Labels: none

clean
  apps/io-services-cms-webapp/src/.scripts/approve-review-tickets.ts
Labels: webapp

update container app module
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

update container app module (#685)
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

add UT for assisatance route
  apps/backoffice/src/app/api/assistance/__tests__/route.test.ts
Labels: backoffice
