Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

edit test
  apps/backoffice/src/lib/be/__tests__/sanitize.test.ts
Labels: backoffice

decrease session max idle duration on backoffice
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

changeset
  .changeset/warm-spiders-tie.md
Labels: changeset

[#IOPAE-955] Sanitize Route Handlers response objects (#711)
  .changeset/itchy-pets-eat.md
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/lib/be/__tests__/sanitize.test.ts
  apps/backoffice/src/lib/be/sanitize.ts
  apps/backoffice/src/lib/be/services/business.ts
  yarn.lock
Labels: backoffice, changeset

[IOPAE-845] Decrease session max idle duration on backoffice (#715)
  .changeset/warm-spiders-tie.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice, changeset

ci(changesets): version packages (#710)
  .changeset/flat-doors-battle.md
  .changeset/itchy-pets-eat.md
  .changeset/late-shoes-remember.md
  .changeset/warm-spiders-tie.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

28.2.0 -> 28.17.2
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, backoffice, webapp

changeset
  .changeset/famous-phones-hear.md
Labels: changeset

update fp-ts 2.14.0
  28.17.2
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, backoffice, webapp

[#IOPLT-208] Add Temp App gateway SNET routing
  infra/src/00_network.tf
  infra/src/backoffice_webapp.tf
Labels: infra

[#IOPLT-208] Add Temp App gateway SNET routing (#718)
  infra/src/00_network.tf
  infra/src/backoffice_webapp.tf
Labels: infra

fix tf format
  infra/src/.terraform.lock.hcl
  infra/src/README.md
Labels: infra

fix tf format (#719)
  infra/src/.terraform.lock.hcl
  infra/src/README.md
Labels: infra

add service-validation-handler unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/fresh-hounds-pay.md
Labels: changeset

change URL decoder
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

minor fixes
  apps/io-services-cms-webapp/OnRequestValidation/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

add automatic validation handler
  apps/io-services-cms-webapp/OnRequestValidation/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  yarn.lock
Labels: internal, webapp

add missing toAzureFunctionHandler wrapper
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

featu: [IOPAE-965] add automatic validation handler (#714)
  .changeset/fresh-hounds-pay.md
  apps/io-services-cms-webapp/OnRequestValidation/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  yarn.lock
Labels: internal, webapp, changeset

ci(changesets): version packages (#720)
  .changeset/fresh-hounds-pay.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

add manual_review_properties var
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

fix output queue context binding name
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

changeset
  .changeset/giant-pots-walk.md
Labels: changeset

fix: [IOPAE-965] patch automatic checks (#721)
  .changeset/giant-pots-walk.md
  apps/io-services-cms-webapp/src/main.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra, changeset

ci(changesets): version packages (#722)
  .changeset/giant-pots-walk.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix request validation queue name
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

fix request validation queue name (#723)
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

openapi Api serviceHistory
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

service review checker function fix log and async bad behaviour
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: webapp

add APPLICATION_INSIGHTS_NO_PATCH_MODULES config, this will fix issue on pg-cursor
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/green-knives-draw.md
Labels: changeset

cleanUp
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: webapp

increase json request maximum size to 5mb
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/sixty-crabs-work.md
Labels: changeset

cleanUp pt2
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

fix:[#IOPAE-965] Fix service review checker (#725)
  .changeset/green-knives-draw.md
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/webapp.tf
Labels: webapp, infra, changeset

ci(changesets): version packages (#727)
  .changeset/green-knives-draw.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix:[#IOPAE-974] Increase json request maximum size (#726)
  .changeset/sixty-crabs-work.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset
