Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

rename canBeShown to hasRequiredPermissions
  apps/backoffice/src/components/access-control/index.tsx
Labels: backoffice

[IOPAE-597] Add AccessControl component and setup unit tests frontend (#361)
  .changeset/stale-pigs-mate.md
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
  apps/backoffice/tsconfig.json
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: backoffice, changeset

add jest-dom library and updated vitest config
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/setup.ts
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: backoffice

update access-control test
  apps/backoffice/src/components/__tests__/access-control.test.tsx
Labels: backoffice

[#IOPAE-604]Add jest-dom library (#362)
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/__tests__/setup.ts
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: backoffice

[#IOPAE-540] Setup B4F and Forward io-services-cms request (#334)
  .changeset/honest-windows-juggle.md
  .github/workflows/code-review.yaml
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice, ci, changeset

be auth using nextauth middleware
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/lib/auth.ts
  apps/backoffice/src/middleware.ts
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

empty state component update
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

empty state component unit tests
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
Labels: backoffice

add getUserDetails to io-services-cms-proxy
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/middleware.ts
Labels: backoffice

add keys/manage APIs
  apps/backoffice/openapi.yaml
Labels: backoffice

fix next-auth middleware matcher
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/middleware.ts
  apps/backoffice/src/pages/index.tsx
Labels: backoffice

fix info handler
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

update mui-italia to latest
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

add string-util file with isNullUndefinedOrEmpty
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/utils/string-util.ts
Labels: backoffice

add selfcare token-exchange mock page
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

add new env variables
  apps/backoffice/env.example
  apps/backoffice/src/config/index.ts
Labels: backoffice

add institution change implementation
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

changeset
  .changeset/spotty-baboons-lick.md
Labels: changeset

update yarn.lock
  yarn.lock
Labels: none

add manage-keys tag description
  apps/backoffice/openapi.yaml
Labels: backoffice

[#IOPAE-608] Add Manage Key APIs definitions (#365)
  apps/backoffice/openapi.yaml
Labels: backoffice

revert empty state and added ids to tag
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

update test
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
Labels: backoffice

fix auth utility
  apps/backoffice/src/lib/auth.ts
  apps/backoffice/src/middleware.ts
Labels: backoffice

add /keys/manage and /keys/manage/{keyType} API route handlers placeholder
  apps/backoffice/src/app/api/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/route.ts
Labels: backoffice

changeset
  .changeset/hip-pianos-melt.md
Labels: changeset

fix route file system
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/keys/route.ts
Labels: backoffice

fix route file system pt2
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/keys/route.ts
Labels: backoffice

update description
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
Labels: backoffice

[#IOPAE-609] ADD Manage Keys API handler placeholders (#367)
  .changeset/hip-pianos-melt.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
Labels: backoffice, changeset

[IOPAE-601] Add Institution selection (#366)
  .changeset/spotty-baboons-lick.md
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
  apps/backoffice/src/utils/string-util.ts
  yarn.lock
Labels: backoffice, changeset

[#IOPAE-612] Empty state component update and unit tests (#363)
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

add /keys/manage and /keys/manage/{keyType} API msw mocks
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

add /keys/manage and /keys/manage/{keyType} API msw mocks (#368)
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

copy to clipboard unit test
  apps/backoffice/src/components/__tests__/copy-to-clipboard.test.tsx
Labels: backoffice

make dynamic sidenav
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

make dynamic sidenav (#370)
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

fix test name
  apps/backoffice/src/components/__tests__/copy-to-clipboard.test.tsx
Labels: backoffice

[#IOPAE-613] Copy to clipboard unit test (#369)
  apps/backoffice/src/components/__tests__/copy-to-clipboard.test.tsx
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
