Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

map issue list into a map in order to substitute list.find with map.get in buildIssueItemPairs
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

changeset
  .changeset/funny-pugs-prove.md
Labels: changeset

use ReadonlyArray<JiraIssueStatus> for jiraIssueStatuses
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

[#IOPAE-333] Code clean up for controllers and associated tests (#89)
  .changeset/weak-wasps-cheer.md
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: changeset

Update apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: none

[#IOPAE-336] Ottimizzazione review checker (#93)
  .changeset/funny-pugs-prove.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset

refactor with CosmosDB output binding
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/src/historicizer/request-history-handler.ts
  apps/io-services-cms-webapp/src/lib/clients/cosmos-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

add io-ts-types
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

update Service and last_update management
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-history-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-history-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

fix some tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: none

add cicd
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

fix permission
  .identity/01_data.tf
  .identity/02_application_environment_ci.tf
  .identity/03_github_environment_ci.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: none

updates for demo
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-history-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-history-handler.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

rename request-history to request-historicization & related code
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, infra

remove commented code
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
Labels: none

[#IOPAE-247] Service Publication Watcher (#87)
  .changeset/serious-comics-behave.md
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  yarn.lock
Labels: internal, infra, changeset

add apim filters utility
  apps/io-services-cms-webapp/src/utils/__tests__/apim-filters.test.ts
  apps/io-services-cms-webapp/src/utils/apim-filters.ts
Labels: none

add api keys (manage) utility
  apps/io-services-cms-webapp/src/utils/api-keys.ts
Labels: none

added missing api on mainMockJiraProxy
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: none

added JiraIssueStatus[] type to const searchStatuses
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: none

[FIX] Test review checker handler (#96)
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: none

refactor with FSM lifecycle client
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: none

refactor exposed FSM Lifecycle actions
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

refactor replace FSM lifecycle store with FSM lifecycle client
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
Labels: none

simplify test
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: none

undo unwanted commit
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

refactor replace FSM Lifecycle store with FSM Lifecycle client
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

make test lazy in order to execute it 'sequentially'
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix permission
  infra/src/azuread.tf
  infra/src/key_vault.tf
Labels: infra

run pre commit
  .identity/01_data.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_ci.tf
  .identity/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/key_vault.tf
Labels: infra

set max_allowed_payment_amount on publication
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

update unit test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

refactor FSM Publication
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

Add auto_publish on service review API
  .editorconfig
  .vscode/settings.json
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

code cleanUp
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

retain autoPublish on action approve
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix submit test after adding autoPublish args
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

refactor: [IOPAE-339] refactor fsm actions (#98)
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

rollback unused export
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

refactor test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
