Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Add review checker first draft
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: none

Handler refactor, buildIssueItemPairs unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: none

add updateReview unit test
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: none

empty issue item pari test
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: none

add statuscategorychangedate to JiraIssue type
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: none

changeset
  .changeset/violet-walls-yawn.md
Labels: changeset

entrypoint skeleton
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/index.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change/index.ts
Labels: none

add comments
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change/index.ts
Labels: none

tests
  apps/io-services-cms-webapp/src/lib/azure/__tests__/adapters.test.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/misc.test.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
Labels: none

refactor
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/index.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: none

use fp-ts@2.13.1 on webapp
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none

use fp-ts@2.15.0
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

[#IOPAE-288] Service Review Checker handler (#49)
  .changeset/violet-walls-yawn.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: changeset

remove schedule env var config
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/config.ts
Labels: none

setup timerTrigger fb for service review checker (poller)
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/review-checker-handler-mock.ts
Labels: none

disable fn serviceReviewCheckerTimer
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: none

remove createReviewCheckerHandler mock implementation
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/review-checker-handler-mock.ts
Labels: none

changeset
  .changeset/fuzzy-pears-repeat.md
Labels: changeset

disable function
  infra/src/webapp.tf
Labels: infra

disable function
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: none

feat: [IOPAE-315] setup timerTrigger fb for service review checker (poller) (#50)
  .changeset/fuzzy-pears-repeat.md
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/main.ts
  infra/src/webapp.tf
Labels: infra, changeset

refactor
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
  infra/src/webapp_monitor.tf
Labels: infra

set database connection variables
  infra/env/prod/terraform.tfvars
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/webapp.tf
Labels: infra

setup function
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/webapp.tf
Labels: infra

improve tests
  apps/io-services-cms-webapp/src/lib/azure/__tests__/adapters.test.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/misc.test.ts
Labels: none

update terraform docs
  docs/infra.drawio.svg
  infra/src/README.md
Labels: docs, infra

Add ServicePublication FSM
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

Add unit tests
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

Update readme
  packages/io-services-cms-models/README.md
Labels: internal

[IOPAE-312] `OnServiceLifecycleChange` entrypoint setup (#51)
  apps/io-services-cms-webapp/src/lib/azure/__tests__/adapters.test.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/misc.test.ts
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: none

changeset
  .changeset/empty-toys-wave.md
Labels: changeset

Add FSM custom Errors
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

try
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

test
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

Revert "test"
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

test
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

Add comment on same FSM implementations
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

[IOPAE-256] Service Publication FSM (#54)
  .changeset/empty-toys-wave.md
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

add on service lifecycle change handler
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/webapp.tf
Labels: infra

rebase from master and fix conflicts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal
