Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

[#IOPAE-992] Add GET /services/{serviceId}/history Api on infra (#754)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

replace X-Frame-Options with Content-Security-Policy header
  apps/backoffice/next.config.js
Labels: backoffice

changeset
  .changeset/forty-boxes-complain.md
Labels: changeset

Add GetServiceHistory Route Handler
  apps/backoffice/src/app/api/services/[serviceId]/history/route.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/two-beans-approve.md
Labels: changeset

cleanUp
  apps/backoffice/src/app/api/services/[serviceId]/history/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
Labels: backoffice

[IOPAE-994] Add GetServiceHistory Route Handler in Backoffice (#756)
  .changeset/two-beans-approve.md
  apps/backoffice/src/app/api/services/[serviceId]/history/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice, changeset

ci(changesets): version packages (#757)
  .changeset/two-beans-approve.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[IOPAE-957] add CSP header (#755)
  .changeset/forty-boxes-complain.md
  apps/backoffice/next.config.js
Labels: backoffice, changeset

ci(changesets): version packages (#758)
  .changeset/forty-boxes-complain.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

only track csp violations
  apps/backoffice/next.config.js
  apps/backoffice/src/app/api/csp-reports/route.ts
Labels: backoffice

changeset
  .changeset/khaki-suits-talk.md
Labels: changeset

fix return response
  apps/backoffice/src/app/api/csp-reports/route.ts
Labels: backoffice

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

drawer components refactor
  apps/backoffice/src/components/drawer-provider/drawer-base-container.tsx
  apps/backoffice/src/components/drawer-provider/drawer-base-content.tsx
  apps/backoffice/src/components/drawer-provider/drawer-provider.tsx
  apps/backoffice/src/components/drawer-provider/index.tsx
Labels: backoffice

service alerts refactor
  apps/backoffice/src/components/services/service-alerts.tsx
Labels: backoffice

service info refactor
  apps/backoffice/src/components/services/service-info-content.tsx
  apps/backoffice/src/components/services/service-info.tsx
Labels: backoffice

service reject reason refactor
  apps/backoffice/src/components/services/service-reject-reason-content.tsx
Labels: backoffice

add service history implementation
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-history.tsx
Labels: backoffice

wire service history inside service details page
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice

rollback CSP headers configuration
  apps/backoffice/next.config.js
Labels: backoffice

changeset
  .changeset/spotty-deers-shop.md
Labels: changeset

[IOPAE-995] Add service history feature in service details page (#760)
  .changeset/spotty-deers-shop.md
  apps/backoffice/next.config.js
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/drawer-provider/drawer-base-container.tsx
  apps/backoffice/src/components/drawer-provider/drawer-base-content.tsx
  apps/backoffice/src/components/drawer-provider/drawer-provider.tsx
  apps/backoffice/src/components/drawer-provider/index.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-alerts.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-history.tsx
  apps/backoffice/src/components/services/service-info-content.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/service-reject-reason-content.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice, changeset

ci(changesets): version packages (#761)
  .changeset/spotty-deers-shop.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

fix converter service history, now set the correct serviceId
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: webapp

remove preventive encoding for serviceHistory response continuationToken field
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
Labels: webapp

changeset
  .changeset/blue-tools-cover.md
Labels: changeset

[IOPAE-992] Fix serviceId and continuationToken in serviceHistory response fields (#762)
  .changeset/blue-tools-cover.md
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
Labels: webapp, changeset

ci(changesets): version packages (#763)
  .changeset/blue-tools-cover.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

remove old implementation
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/assistance/__tests__/route.test.ts
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/lib/be/institutions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/pages/mocks/zendesk.tsx
Labels: backoffice

add new implementation
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/pages/mocks/selfcare/assistenza.tsx
Labels: backoffice

changeset
  .changeset/hot-houses-worry.md
Labels: changeset

remove sendSupportRequest from selfcare client
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

[IOPAE-1009] Zendesk webform integration (#764)
  .changeset/hot-houses-worry.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/assistance/__tests__/route.test.ts
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/pages/mocks/selfcare/assistenza.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#765)
  .changeset/hot-houses-worry.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

check for service duplication in service-validation-handler
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/cosmos-helper.ts
Labels: webapp

add test and cleanup
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/utils/cosmos-helper.ts
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

update container app module for infra drift detection
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

fix query
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

update duplicates detection, now will search for not deleted items in publiction
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/cosmos-helper.ts
Labels: webapp
