Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

startFromBeginning on ServiceHistoryWatcher set to false pt2
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
Labels: none

[#IOPAE-434] History service watcher start beginning (#201)
  .changeset/afraid-yaks-yell.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
Labels: changeset

ci(changesets): version packages (#202)
  .changeset/afraid-yaks-yell.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix service history feature flag
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/hungry-rivers-shave.md
Labels: changeset

fix: [#IOPAE-434] watcher history feature flag (#203)
  .changeset/hungry-rivers-shave.md
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: infra, changeset

ci(changesets): version packages (#204)
  .changeset/hungry-rivers-shave.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

github action for opex dashboard configuration
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

refinement for host and action_groups
  infra/src/env/prod/config.yaml
Labels: infra

add verbose logs
  .changeset/dirty-terms-grab.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset

fix:[#IOPAE-434] Add verbose logs sync legacy handler (#206)
  .changeset/dirty-terms-grab.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset

ci(changesets): version packages (#207)
  .changeset/dirty-terms-grab.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix stringify
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: none

changeset
  .changeset/tidy-candles-compare.md
Labels: changeset

fix: [#IOPAE-434] Fix stringify (#209)
  .changeset/tidy-candles-compare.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset

ci(changesets): version packages (#210)
  .changeset/tidy-candles-compare.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix wrong class method reference in pipe
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: none

changeset
  .changeset/tiny-guests-sell.md
Labels: changeset

fix: [#IOPAE-434] Wrong class method reference in pipe (#211)
  .changeset/tiny-guests-sell.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset

ci(changesets): version packages (#212)
  .changeset/tiny-guests-sell.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

added USERID_LEGACY_TO_CMS_SYNC_INCLUSION_LIST config
  apps/io-services-cms-webapp/src/config.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

added new featureFlag handler for legacy to cms sync, refactor Feature flag, in order to split common logic and reduce dupliation
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

Add featureFlag check on Legacy Service Watcher
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/quick-countries-explain.md
Labels: changeset

exclude tests folders on sonar cloud duplication check
  .sonarcloud.properties
Labels: none

[#IOPAE-443] Feature flag legacy cms sync test (#213)
  .changeset/quick-countries-explain.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, changeset

legacy service watcher startFromBeginning set to false
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: none

changeset
  .changeset/brown-otters-greet.md
Labels: changeset

[IOPAE-443] Legacy service watcher start beginning (#215)
  .changeset/brown-otters-greet.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: changeset

ci(changesets): version packages (#214)
  .changeset/brown-otters-greet.md
  .changeset/quick-countries-explain.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix service legacy watcher to avoid sync loop
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

Service History Watcher optimization
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

changeset
  .changeset/calm-garlics-shout.md
Labels: changeset

fix: [IOPAE-443] Legacy service watcher (#216)
  .changeset/calm-garlics-shout.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset

ci(changesets): version packages (#217)
  .changeset/calm-garlics-shout.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix JQL query on searchJiraIssueByServiceId for jira-legacy-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/brown-buses-taste.md
Labels: changeset

fix: [#IOPAE-443] Jira legacy JQL (#218)
  .changeset/brown-buses-taste.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#219)
  .changeset/brown-buses-taste.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

[#IOPAE-421] Opex dashboard (#205)
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
