Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

change return title on error for manageKey retriee and regenerate
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
Labels: backoffice

remove cache on getIoServicesCmsClientConfig
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

remove cache from getApimConfig and getApimClient
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

refactor apim-service
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

[#IOPAE-678] Refactor module pattern (#417)
  .changeset/long-seals-fry.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/app/api/lib/subscription-cidrs-singleton.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/lib/be/cms/client.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/keys/apim.ts
  apps/backoffice/src/lib/be/keys/business.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: backoffice, changeset

update @vitejs/plugin-react to latest version
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

update @vitejs/plugin-react to latest version (#429)
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

add ASSET_STORAGE_CONNECTIONSTRING secret parameter
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

add express controller for /services/:serviceId/logo
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

ADD UploadServiceLogo function.json
  apps/io-services-cms-webapp/UploadServiceLogo/function.json
Labels: webapp

add Upload Service Logo test
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/fixture/test_img.png
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/fixture/test_img.png
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
Labels: webapp

changeset
  .changeset/eighty-needles-glow.md
Labels: changeset

referencing cdn assets storage account
  infra/src/00_storage_account.tf
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

Revert "referencing cdn assets storage account"
  infra/src/00_storage_account.tf
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

refactor
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

add EventNameEnum.UploadServiceLogo for telementry
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

[#IOPLT-20] Dismiss APIM v1
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/apim_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/webapp.tf
Labels: infra

Tf docs
  infra/src/README.md
Labels: infra

[#IOPLT-20] Dismiss APIM v1 (#431)
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/webapp.tf
Labels: infra

move upsertBlobFromImageBuffer from upload-service-logo -> lib/azure/blob-storage
  apps/io-services-cms-webapp/src/lib/azure/__tests__/blob-storage.test.ts
  apps/io-services-cms-webapp/src/lib/azure/blob-storage.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

[#IOPAE-641] Upload service logo API (#423)
  .changeset/eighty-needles-glow.md
  apps/io-services-cms-webapp/UploadServiceLogo/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/blob-storage.test.ts
  apps/io-services-cms-webapp/src/lib/azure/blob-storage.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
  yarn.lock
Labels: webapp, infra, changeset

add service create/update process form
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/buttons/button-back.tsx
  apps/backoffice/src/components/buttons/button-cancel.tsx
  apps/backoffice/src/components/buttons/button-create-draft.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/buttons/button-show-more.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/create-update-process/steps-pipeline.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/multi-select-controller.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/forms/controllers/switch-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/forms/index.ts
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/index.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice

changeset
  .changeset/metal-snakes-serve.md
Labels: changeset

fix SonarCloud bugs
  apps/backoffice/src/components/buttons/button-back.tsx
  apps/backoffice/src/components/buttons/button-cancel.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/buttons/button-show-more.tsx
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
Labels: backoffice

add client generated from minimized selfcare openApi yaml
  apps/backoffice/package.json
  apps/backoffice/selfcare-openapi.yaml
Labels: backoffice

[IOPAE-680] Add service create/update process form (#432)
  .changeset/metal-snakes-serve.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/buttons/button-back.tsx
  apps/backoffice/src/components/buttons/button-cancel.tsx
  apps/backoffice/src/components/buttons/button-create-draft.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/buttons/button-show-more.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/create-update-process/steps-pipeline.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/multi-select-controller.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/forms/controllers/switch-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/forms/index.ts
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/index.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice, changeset

add selfcare client
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

fix get user after its creation
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

fix user group creation and add unit tests
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

fix test env variables
  apps/backoffice/.env.test
Labels: backoffice

create user and associate default groups if not exists
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

changeset
  .changeset/long-gorillas-beam.md
Labels: changeset

declare toUser fn return type
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

set mock for switch institution to emulate a no ApiServiceWrite permission user
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

fix mocks
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
Labels: backoffice

feat: [IOPAE-676] apim user creation (#430)
  .changeset/long-gorillas-beam.md
  apps/backoffice/.env.development
  apps/backoffice/.env.test
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice, changeset

add selfcare service
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

ci(changesets): version packages (#428)
  .changeset/eighty-needles-glow.md
  .changeset/long-gorillas-beam.md
  .changeset/long-seals-fry.md
  .changeset/metal-snakes-serve.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
