Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

changeset
  .changeset/gorgeous-colts-cheat.md
Labels: changeset

remove custom headers
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

remove custom headers (#177)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

[#IOPAE-412] CMS to Legacy mapping (#178)
  .changeset/gorgeous-colts-cheat.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/service-legacy/index.ts
  yarn.lock
Labels: internal, changeset

removed category and custom_special_flow from CmsServicePayload
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

ci(changesets): version packages (#170)
  .changeset/gorgeous-colts-cheat.md
  .changeset/khaki-scissors-collect.md
  .changeset/mighty-camels-sort.md
  .changeset/nasty-plums-raise.md
  .changeset/silly-geckos-search.md
  .changeset/tiny-tigers-wink.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

removed category and custom_special_flow from CmsServicePayload (#179)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

add apim snet to cms fn allowed networks
  infra/src/00_network.tf
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

add apim snet to cms fn allowed networks (#180)
  infra/src/00_network.tf
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

remove cmsExplainService operation (not implemented yet)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

remove cmsExplainService operation (not implemented yet) (#182)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

add policy to updateServiceLogo operation to call legacy backend
  infra/src/README.md
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_io_services_cms_api.tf
Labels: infra

add policy to updateServiceLogo operation to call legacy backend (#181)
  infra/src/README.md
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_io_services_cms_api.tf
Labels: infra

enable ServiceReviewChecker and disable ServiceHistoryWatcher
  infra/src/webapp.tf
Labels: infra

enable ServiceReviewChecker and disable ServiceHistoryWatcher (#183)
  infra/src/webapp.tf
Labels: infra

rename history queueTrigger az fn and disable it
  apps/io-services-cms-webapp/OnRequestHistoricization/function.json
  infra/src/webapp.tf
Labels: infra

disable all 'missing' fn 'not Http trigger' to slot fn
  infra/src/webapp.tf
Labels: infra

chore: [IOPAE-417] Fix history queueTrigger fn (#184)
  apps/io-services-cms-webapp/OnRequestHistoricization/function.json
  infra/src/webapp.tf
Labels: infra

add Microsoft.Azure.Functions.ExtensionBundle in host.json
  apps/io-services-cms-webapp/host.json
Labels: none

add Microsoft.Azure.Functions.ExtensionBundle in host.json (#185)
  apps/io-services-cms-webapp/host.json
Labels: none

changeset
  .changeset/quiet-mice-peel.md
Labels: changeset

add extensionBundle in host.json
  apps/io-services-cms-webapp/host.json
Labels: none

changeset
  .changeset/breezy-monkeys-serve.md
Labels: changeset

fix: extension bundle (#186)
  .changeset/breezy-monkeys-serve.md
  apps/io-services-cms-webapp/host.json
Labels: changeset

ci(changesets): version packages (#187)
  .changeset/breezy-monkeys-serve.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

add io-fn3-services-key in upload service logo policy
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
Labels: infra

add io-fn3-services-key in upload service logo policy (#188)
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
Labels: infra

change extensionBundle version
  apps/io-services-cms-webapp/host.json
Labels: none

changeset
  .changeset/serious-lobsters-sniff.md
Labels: changeset

fix: change extensionBundle version (#189)
  .changeset/serious-lobsters-sniff.md
  apps/io-services-cms-webapp/host.json
Labels: changeset

ci(changesets): version packages (#190)
  .changeset/serious-lobsters-sniff.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

added right postgres user
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

added right postgres user (#192)
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

organize imports
  apps/io-services-cms-webapp/src/main.ts
Labels: none

changeset
  .changeset/sixty-poets-lick.md
Labels: changeset

add on request sync cms handler
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

setup OnRequestSyncCms fn
  apps/io-services-cms-webapp/OnRequestSyncCms/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: none

disable OnRequestSyncCms fn
  infra/src/webapp.tf
Labels: infra

feat: [IOPAE-384] sync CMS handling (#191)
  .changeset/sixty-poets-lick.md
  apps/io-services-cms-webapp/OnRequestSyncCms/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, infra, changeset

add mixed bulkfetch result and save tests
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
