Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add topic db infra config
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

feat: [IOPAE-792] cms api manage topic (#613)
  .changeset/hip-mirrors-burn.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra, changeset

ci(changesets): version packages (#621)
  .changeset/dry-years-dream.md
  .changeset/healthy-pens-doubt.md
  .changeset/hip-mirrors-burn.md
  .changeset/thirty-baboons-wonder.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

fix query get topic
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: webapp

changeset
  .changeset/ninety-pianos-share.md
Labels: changeset

fix MUI warning on invalid empty start field value
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
Labels: backoffice

update topic field layout: reduce width to half
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice

patch: [IOPAE-792] fix query get topic (#623)
  .changeset/ninety-pianos-share.md
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: webapp, changeset

ci(changesets): version packages (#624)
  .changeset/ninety-pianos-share.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

add GetServiceTopics function.json
  apps/io-services-cms-webapp/GetServiceTopics/function.json
Labels: webapp

[IOPAE-793] Frontend topic management on create/update service (#609)
  .changeset/flat-years-glow.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice, changeset

ci(changesets): version packages (#625)
  .changeset/flat-years-glow.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

fix topic id null check
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
Labels: backoffice, webapp

changeset
  .changeset/five-queens-notice.md
Labels: changeset

patch: [IOPAE-792] fix topic not null check (#626)
  .changeset/five-queens-notice.md
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
Labels: backoffice, webapp, changeset

ADD findAllNotDeletedTopics method on ServiceTopicsDao
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: webapp

ADD GetServiceTopicsHandler
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
Labels: webapp

ci(changesets): version packages (#627)
  .changeset/five-queens-notice.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

handling GET /services/topics
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

remove category and custom_special_flow from api response
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp

changeset
  .changeset/perfect-ants-speak.md
Labels: changeset

cleanUp getServiceTopics Handler
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
Labels: webapp

fix resulset findAllNotDeletedTopics option condition
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: webapp

add mockServiceTopicDao to all existing webServer tests
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
Labels: webapp

replace findOneByServiceId method call with findLastVersionByModelId
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: webapp

[#IOPAE-844]remove category and custom_special_flow from api response (#629)
  .changeset/perfect-ants-speak.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: webapp, changeset

ci(changesets): version packages (#631)
  .changeset/perfect-ants-speak.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix test
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
Labels: webapp

changeset
  .changeset/tricky-cherries-sniff.md
Labels: changeset

sync to legacy only Publication Items
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

add Delete service syncronization
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

update tests
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
Labels: webapp

add test no action on Lifecycle Item
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
Labels: webapp

changeset
  .changeset/many-cherries-approve.md
Labels: changeset

init postgesDB health check
  apps/io-services-cms-webapp/src/utils/custom-healthchecks.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: webapp

clean
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: webapp

add test for service topics list API
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
Labels: webapp

changeset
  .changeset/poor-glasses-yawn.md
Labels: changeset

upgrade tf and providers
  .identity/.terraform-version
  .identity/.terraform.lock.hcl
  .identity/main.tf
  infra/src/README.md
Labels: infra

terraform config
  .identity/.terraform.lock.hcl
  .identity/03_github_environment_app_cd.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_ci.tf
  .identity/03_github_environment_infra.tf
  .identity/03_github_environment_opex.tf
  .identity/03_github_environment_runner.tf
  .identity/03_github_repo_secrets.tf
  .identity/04_github_identity.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: none

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
