Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore(fix): Feature flag optimization (#252)
  .changeset/short-sheep-nail.md
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: changeset

ci(changesets): version packages (#253)
  .changeset/short-sheep-nail.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

refactor
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/nine-mayflies-walk.md
Labels: changeset

temporary api mock policy for apim v2 upgrade
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

changeset
  .changeset/afraid-items-remember.md
Labels: changeset

chore: Log jira response on error (#254)
  .changeset/afraid-items-remember.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#256)
  .changeset/afraid-items-remember.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

update runner image
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

changeset
  .changeset/ten-lies-shop.md
Labels: changeset

remove AAD group io-p-adgroup_contributors
  infra/src/README.md
  infra/src/azuread.tf
Labels: infra

downgrade runner cleanup action
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

remove runner image tag input
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

fix cleanup runner version
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

Update runner version (#257)
  .changeset/ten-lies-shop.md
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  infra/src/README.md
  infra/src/azuread.tf
Labels: ci, infra, changeset

ci(changesets): version packages (#258)
  .changeset/ten-lies-shop.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

refinement env and config path
  .github/workflows/opex_openapi.yml
Labels: ci

log non json response received from jira
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/funny-feet-allow.md
Labels: changeset

updated changeset
  .changeset/funny-feet-allow.md
Labels: changeset

chore: Log jira not json response (#259)
  .changeset/funny-feet-allow.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#260)
  .changeset/funny-feet-allow.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Add max items per invocation on Legacy Service Watcher
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/config.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/odd-buckets-brush.md
Labels: changeset

chore(fix): Add max items per invocation on Legacy Service Watcher (#261)
  .changeset/odd-buckets-brush.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/config.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, changeset

ci(changesets): version packages (#262)
  .changeset/odd-buckets-brush.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix type legacy service watcher max items per invocation
  apps/io-services-cms-webapp/src/config.ts
Labels: none

changeset
  .changeset/real-candles-applaud.md
Labels: changeset

chore(fix): type legacy max items (#263)
  .changeset/real-candles-applaud.md
  apps/io-services-cms-webapp/src/config.ts
Labels: changeset

ci(changesets): version packages (#264)
  .changeset/real-candles-applaud.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix type legacy service watcher max items per invocation
  apps/io-services-cms-webapp/src/config.ts
Labels: none

changeset
  .changeset/slow-peaches-thank.md
Labels: changeset

Numberfromstring legacy max items (#265)
  .changeset/slow-peaches-thank.md
  apps/io-services-cms-webapp/src/config.ts
Labels: changeset

ci(changesets): version packages (#266)
  .changeset/slow-peaches-thank.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

add fixed value for maxItemsPerInvocation
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: none

changeset
  .changeset/friendly-ads-wink.md
Labels: changeset

Fix: function json maxattemps (#267)
  .changeset/friendly-ads-wink.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: changeset

ci(changesets): version packages (#268)
  .changeset/friendly-ads-wink.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Legacy Service Watcher set sequential process mode
  apps/io-services-cms-webapp/src/main.ts
Labels: none

changeset
  .changeset/funny-donkeys-return.md
Labels: changeset
