Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

update code-review action pt2
  .github/workflows/code-review.yaml
Labels: ci

reintroduced pre-emptive generation cleanup
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  packages/external-clients/package.json
Labels: internal, backoffice, webapp

test13
  apps/backoffice/src/__tests__/test.test.ts
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal, backoffice, webapp

revert test and turbo
  apps/backoffice/src/__tests__/test.test.ts
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  packages/external-clients/src/__tests__/index.test.ts
  turbo.json
Labels: internal, backoffice, webapp

test14
  .github/workflows/code-review.yaml
  packages/external-clients/src/index.ts
Labels: internal, ci

remove test code
  packages/external-clients/src/index.ts
Labels: internal

test15
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

Update curl
  .github/workflows/azure-deploy.yaml
Labels: ci

remove test
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

cleanUp
  packages/external-clients/package.json
  packages/external-clients/src/__tests__/index.test.ts
  turbo.json
Labels: internal

update to multiple retry
  .github/workflows/azure-deploy.yaml
Labels: ci

update to esponentian retry
  .github/workflows/azure-deploy.yaml
Labels: ci

[#IOPAE-675]Add delay step for backoffice action (#409)
  .github/workflows/azure-deploy.yaml
Labels: ci

ci(changesets): version packages (#406)
  .changeset/metal-feet-arrive.md
  .changeset/quiet-penguins-help.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

pinning action version
  .github/workflows/code-review.yaml
Labels: ci

chore: [#IOPAE-669] Add turbo cache in code review (#399)
  .github/workflows/code-review.yaml
  turbo.json
Labels: ci

[#IOPAE-637] Implements PUT /keys/manage/cidrs endpoint (#408)
  .changeset/green-pets-help.md
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
Labels: backoffice, changeset

add identity token verification
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  yarn.lock
Labels: backoffice

fix user group fetching from getUserByEmail
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/types/auth.ts
Labels: backoffice

feat: fetch groups from getUserByEmail
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal

mock apim getUserByEmail
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

add selfcare mocks
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

refactor: 'clean' NextAuth authorize fn
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

remove explicitly identity_token check cause it's implicitly checked by jwtVerify()
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

feat: [IOPAE-665] implement token exchange (#402)
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/types/auth.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
  yarn.lock
Labels: internal, backoffice

add final error status check for BO deploy action
  .github/workflows/azure-deploy.yaml
Labels: ci

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add zod library for frontend form validation
  apps/backoffice/package.json
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  yarn.lock
Labels: backoffice

refactor CardDetails component
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/cards/index.tsx
Labels: backoffice

add DrawerProvider to use drawer programmatically
  apps/backoffice/src/components/drawer-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: backoffice

reset data on useFetch->fetchData function
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

add ServiceAlerts component
  apps/backoffice/src/components/__tests__/service-alerts.test.tsx
  apps/backoffice/src/components/services/service-alerts.tsx
Labels: backoffice

update ServiceContextMenu component
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
Labels: backoffice

update PageBreadcrumbs component to not display queryParams
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
Labels: backoffice

add Service data adapters and normalized type for frontend
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/types/service.ts
Labels: backoffice

add ServiceInfo card component
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-info.tsx
Labels: backoffice

update service page with alerts and info card
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice

changeset
  .changeset/happy-apes-bathe.md
Labels: changeset

Update .github/workflows/azure-deploy.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

fix code duplication
  apps/backoffice/src/components/services/adapters.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
