Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

define resources
  infra/env/prod/terraform.tfvars
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/main.tf
  infra/src/monitor.tf
  infra/src/network.tf
  infra/src/resource_group.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

document infrastructure
  README.md
  docs/infra.drawio.svg
Labels: docs

refactor: shared resources files
  infra/src/_shared_monitor.tf
  infra/src/_shared_vnet.tf
  infra/src/network.tf
Labels: infra

format files
  infra/src/_shared_monitor.tf
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/network.tf
  infra/src/resource_group.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

add precommit configuration
  .pre-commit-config.yaml
Labels: none

add generated reference
  infra/src/README.md
Labels: infra

pin actions/labeler
  .github/workflows/label.yaml
Labels: ci

pin actions/checkout
  .github/workflows/code-review.yaml
  .github/workflows/release.yaml
Labels: ci

pin changesets/action
  .github/workflows/release.yaml
Labels: ci

pin actions/cache
  .github/workflows/code-review.yaml
Labels: ci

fix
  .identity/99_variables.tf
Labels: none
