Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

buold before test
  .github/workflows/code-review.yaml
Labels: ci

ignore generated files on lint
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/.prettierignore
Labels: none

update README.md
  infra/src/README.md
Labels: infra

show errors
  turbo.json
Labels: none

package configuration
  packages/io-services-cms-models/package.json
Labels: internal

update changeset
  .changeset/strong-ligers-rush.md
Labels: changeset

add flyway (draft)
  apps/io-services-cms-webapp/src/reviewer/schema/__tests__/env.ts
  apps/io-services-cms-webapp/src/reviewer/schema/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__schema.sql
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_azure.sh
Labels: none

add reviewer user and fix flyway schema migrations
  apps/io-services-cms-webapp/src/reviewer/schema/__tests__/env.ts
  apps/io-services-cms-webapp/src/reviewer/schema/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/database_review_credentials.tf
Labels: infra

update readme
  infra/src/README.md
Labels: infra

add lint-ignore to .sh and .sql files
  apps/io-services-cms-webapp/.eslintrc.js
Labels: none

create databse from infra
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__schema.sql
  infra/src/database_review.tf
Labels: infra

add scripts run_flyway_on_server.sh
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_server.sh
Labels: none

[IOPAE-308] create postgres db migration (#39)
  .changeset/strong-ligers-rush.md
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_server.sh
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
Labels: infra, changeset

resolve conflict post merge with main
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

hotfix: pin runner version
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

add changeset
  .changeset/tough-carrots-shave.md
Labels: changeset

[IOPAE-279] service review handler (#25)
  .changeset/tough-carrots-shave.md
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/storage_account.tf
  packages/io-services-cms-models/package.json
  turbo.json
  yarn.lock
Labels: internal, infra, changeset

hotfix: remove unused setting
  infra/src/webapp.tf
Labels: infra

expose definitions
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

Expose `ServiceLifecycle` definitions (#44)
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

hotfix: update runner
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: update runner
  .gitignore
Labels: none

hotfix: update runner
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: do not use runner ffs
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

[IOPAE-240] Add `CreateService` endpoint (#43)
  .changeset/breezy-shoes-joke.md
  .github/workflows/code-review.yaml
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/.prettierignore
  apps/io-services-cms-webapp/CreateService/function.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/azure/cosmos.ts
  apps/io-services-cms-webapp/src/lib/middlewares/user-email-middleware.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
  openapi.yaml
  package.json
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  turbo.json
  yarn.lock
Labels: internal, ci, infra, changeset

fix docs
  apps/io-services-cms-webapp/README.md
Labels: none

add db migration docs
  apps/io-services-cms-webapp/README.md
Labels: none

docs: add db migration docs (#45)
  apps/io-services-cms-webapp/README.md
Labels: none

renaming
  apps/io-services-cms-webapp/src/lib/clients/__tests__/apim-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
Labels: none

it breaks here
  apps/io-services-cms-webapp/src/NOT-USED-apim-client.ts
Labels: none

UPDATE: it works till here
  apps/io-services-cms-webapp/src/NOT-USED-apim-client.ts
Labels: none

UPDATE: it breaks here
  apps/io-services-cms-webapp/src/NOT-USED-apim-client.ts
Labels: none

UPDATE: upgraded fp-ts version
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none

UPDATE: downgrade fp-ts version
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none

add file in src to avoid build error
  apps/io-services-cms-webapp/src/_to-solve.ts
Labels: none

rename ServiceReviewProxy in jiraProxy
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

fix jira-client naming
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

[IOPAE-311] kebab-case renaming (#47)
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/apim-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
Labels: none

this seems to solve
  apps/io-services-cms-webapp/src/_to-solve.ts
Labels: none

add JiraIssueStatus type
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
