Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

ci(changesets): version packages (#232)
  .changeset/dull-parrots-draw.md
  .changeset/tasty-papayas-sin.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Add placeholder value for metadata.description while mapping a legacy sevice who lacks of description
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/nine-readers-wave.md
Labels: changeset

fix: [BUG] Placeholder metadata description on legacy cms mapping (#235)
  .changeset/nine-readers-wave.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

ci(changesets): version packages (#236)
  .changeset/nine-readers-wave.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Map legacy not visible service to unpublished CMS service
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/healthy-monkeys-yell.md
Labels: changeset

fix: [BUG] [#IOPAE-475] fix sync legacy cms unpublish (#237)
  .changeset/healthy-monkeys-yell.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

ci(changesets): version packages (#238)
  .changeset/healthy-monkeys-yell.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

update opex dashboard pointing to our openapi (#233)
  .github/workflows/opex_openapi.yml
Labels: ci

add .opex/openapi/env directory with configuration
  .github/workflows/opex_openapi.yml
  .opex/openapi/env/prod/backend.ini
  .opex/openapi/env/prod/backend.tfvars
  .opex/openapi/env/prod/config.yaml
  .opex/openapi/env/prod/terraform.tfvars
Labels: ci

map Completata status.name for Jira Legacy Status name
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/fifty-crabs-lick.md
Labels: changeset

fix: [#IOPAE-478] Status name jira legacy not recognized (#241)
  .changeset/fifty-crabs-lick.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

enqueue an unpublish 'command' when deleting a service
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

fix unit test
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
Labels: none

changeset
  .changeset/red-kids-judge.md
Labels: changeset

fix: [IOPAE-466] Unpublish service on delete (#239)
  .changeset/red-kids-judge.md
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset

ci(changesets): version packages (#242)
  .changeset/fifty-crabs-lick.md
  .changeset/red-kids-judge.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

add an unpublish item to requestSyncCms when a legacy service is deleted
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/soft-dogs-boil.md
Labels: changeset

fix: [IOPAE-479] unpublish service when deleting id coming from legacy sync (#244)
  .changeset/soft-dogs-boil.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

ci(changesets): version packages (#245)
  .changeset/soft-dogs-boil.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Link Healthcheck alarm to main error action group
  infra/src/webapp_monitor.tf
Labels: infra

wrap error adding information about the processed serviceId
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/new-turtles-perform.md
Labels: changeset

refactor: chore: wrap error adding information about the processed serviceId (#247)
  .changeset/new-turtles-perform.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

enable startFromBeginning cosmosDBTrigger mode
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: none

disable ServiceHistoryWatcher fn and feat flag
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/brave-bags-share.md
Labels: changeset

chore: [IOPAE-458] preparation for controlled massive sync (#249)
  .changeset/brave-bags-share.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, changeset

ci(changesets): version packages (#248)
  .changeset/brave-bags-share.md
  .changeset/new-turtles-perform.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

add status on checkJiraResponse when an unknown status is received
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/cold-parrots-scream.md
Labels: changeset

refactor
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: none

chore(fix): Log status response jira client (#250)
  .changeset/cold-parrots-scream.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

ci(changesets): version packages (#251)
  .changeset/cold-parrots-scream.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

add responseBody on jira legacy error
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

optimized feature flag
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: none

changeset
  .changeset/short-sheep-nail.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
