Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

changeset
  .changeset/small-avocados-work.md
Labels: changeset

BackofficeInternalSubnetCIDRs config is now a comma separated list
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

chore: reduce cms logging level (#594)
  .changeset/small-avocados-work.md
  apps/io-services-cms-webapp/host.json
Labels: webapp, changeset

update tests
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
Labels: webapp

test4
  .github/workflows/infra-static-analysis.yaml
Labels: ci

test2
  .github/workflows/infra-static-analysis.yaml
Labels: ci

ADD BACKOFFICE_INTERNAL_SUBNET_CIDRS configuration
  infra/src/webapp.tf
Labels: infra

precommit verbose action
  .github/workflows/infra-static-analysis.yaml
Labels: ci

update readme
  infra/src/README.md
Labels: infra

update precommit from v1.80.0 to v1.83.6
  .github/workflows/infra-static-analysis.yaml
Labels: ci

print infra README
  .github/workflows/infra-static-analysis.yaml
Labels: ci

terraform fmt
  infra/src/webapp.tf
Labels: infra

restore infra static analysis pt2
  .github/workflows/infra-static-analysis.yaml
Labels: ci

restore infra static analysis
  .github/workflows/infra-static-analysis.yaml
Labels: ci

test
  .github/workflows/infra-static-analysis.yaml
Labels: ci

test
  infra/src/webapp.tf
Labels: infra

tes3
  .github/workflows/infra-static-analysis.yaml
Labels: ci

[IOPAE-819] Add topic in service details page (#586)
  .changeset/quiet-emus-hug.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice, changeset

[#IOPAE-869] ADD BACKOFFICE_INTERNAL_SUBNET_CIDRS configuration (#595)
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

uodate description
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

Service Preview Component Tests (#503)
  apps/backoffice/src/components/__tests__/service-preview.test.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: backoffice

changeset
  .changeset/stupid-peas-bathe.md
Labels: changeset

update env.example
  apps/io-services-cms-webapp/env.example
Labels: webapp

[#IOPAE-869] Avoid Checking Authorized CIDRs in B4F Request forwarded to CMS (#592)
  .changeset/stupid-peas-bathe.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  yarn.lock
Labels: webapp, changeset

revert to next 13.5.3
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

revert to eslint-config-next 13.5.3
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

update next 13.5.3 -> 13.5.6
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

changeset
  .changeset/rare-hotels-pump.md
Labels: changeset

revert to next 13.5.3
  yarn.lock
Labels: none

revert to eslint-config-next 13.5.3
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

Update nextJS to 13.5.6
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

changeset
  .changeset/rude-guests-tie.md
Labels: changeset

ci(changesets): version packages (#593)
  .changeset/hungry-apricots-hunt.md
  .changeset/quiet-emus-hug.md
  .changeset/small-avocados-work.md
  .changeset/stupid-peas-bathe.md
  .changeset/ten-steaks-retire.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

add log on AzureUserAttributesManageMiddlewareWrapper
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

clean
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

changeset
  .changeset/olive-icons-raise.md
Labels: changeset

Add log on AzureUserAttributesManageMiddlewareWrapper (#597)
  .changeset/olive-icons-raise.md
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp, changeset

ci(changesets): version packages (#598)
  .changeset/olive-icons-raise.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

Include Backoffice Subnet CIDRs
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: webapp

changeset
  .changeset/grumpy-pugs-behave.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
