Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

new assistance api definition
  apps/backoffice/openapi.yaml
Labels: backoffice

fix generate assistance type from open api
  apps/backoffice/openapi.yaml
Labels: backoffice

update service-contect-menu actions
  apps/backoffice/src/components/services/service-context-menu.tsx
Labels: backoffice

changeset
  .changeset/little-hounds-sell.md
Labels: changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add new exit button
  apps/backoffice/src/components/buttons/button-exit.tsx
  apps/backoffice/src/components/buttons/index.ts
Labels: backoffice

implements new properties on page-header
  apps/backoffice/src/components/headers/page-header.tsx
Labels: backoffice

configure new props on service create/update pages
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice

changeset
  .changeset/calm-penguins-tease.md
Labels: changeset

[IOPAE-888] Update service-context-menu in service details page (#667)
  .changeset/little-hounds-sell.md
  apps/backoffice/src/components/services/service-context-menu.tsx
Labels: backoffice, changeset

[IOPAE-887] Page Header: replace breadcrumbs with exit shortcut on service create/update pages (#668)
  .changeset/calm-penguins-tease.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/buttons/button-exit.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice, changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add label prop on button-next
  apps/backoffice/src/components/buttons/button-next.tsx
Labels: backoffice

add hideHeader prop on app-layout
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

enable assistance click on top-bar
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: backoffice

draft assistance page and email form
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/pages/assistance.tsx
Labels: backoffice

remove 404 error from api definition
  apps/backoffice/openapi.yaml
Labels: backoffice

sanitize callbackUrl
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/utils/string-util.ts
Labels: backoffice

add 400 bad request to assistance api response
  apps/backoffice/openapi.yaml
Labels: backoffice

[IOPAE-831] New assistance api definition for Zendesk integration (#666)
  apps/backoffice/openapi.yaml
Labels: backoffice

update main layout display flex behaviour
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/styles/app-layout.module.css
Labels: backoffice

fix merge error
  apps/backoffice/next.config.js
  apps/backoffice/openapi.yaml
Labels: backoffice

add /assistance b4f api mock
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

add hideAssistance prop on Applayout TopBar
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

implements assistance api call
  apps/backoffice/src/pages/assistance.tsx
Labels: backoffice

add zendesk mock page
  apps/backoffice/src/pages/mocks/zendesk.tsx
Labels: backoffice

add titleVariant prop on PageHeader and some layout updates
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/pages/assistance.tsx
Labels: backoffice

manage TextFieldController margin and update layout spacing on form
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
Labels: backoffice

fix component description
  apps/backoffice/src/components/assistance-email-form/index.tsx
Labels: backoffice

changeset
  .changeset/dull-bears-ring.md
Labels: changeset

update router push
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: backoffice

update layout
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: backoffice

changeset
  .changeset/funny-lemons-sing.md
Labels: changeset

remove auth header checks on get-service-topics Handler
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

add getServiceTopics call in backoffice
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/backoffice/src/lib/be/services/topics-provider.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/services/topics-provider.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/backoffice/src/lib/be/services/topics-provider.ts
Labels: backoffice

Added config API_SERIVCES_CMS_TOPICS_CACHE_TTL_MINUTES
  apps/backoffice/.env.development
  apps/backoffice/.env.test
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

change layout from grid to table
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
Labels: backoffice

changeset
  .changeset/three-eggs-behave.md
Labels: changeset
