Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

Iopae 738 b4f fetch logged institution logo (#458)
  .changeset/quick-pans-grow.md
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice, changeset

lib/be/cms-> lib/be/services
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
Labels: backoffice

add serviceLifecycle and servicePublication
  apps/backoffice/.env.development
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  yarn.lock
Labels: backoffice

add Service List API implementation
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

init serviceList test
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

edit visibility field
  apps/backoffice/openapi.yaml
Labels: backoffice

value and pagination are now required fields
  apps/backoffice/openapi.yaml
Labels: backoffice

[#IOPAE-748] Edit visibility field (#459)
  apps/backoffice/openapi.yaml
Labels: backoffice

test service list
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

operationId serviceList renamed to getServiceList
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-rest.ts
  apps/backoffice/src/lib/be/apim-service.ts
  yarn.lock
Labels: backoffice

add serviceLifecycle and servicePublication
  apps/backoffice/.env.development
  apps/backoffice/package.json
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  yarn.lock
Labels: backoffice

removed unused module
  apps/backoffice/src/lib/be/apim-rest.ts
Labels: backoffice

lib/be/cms-> lib/be/services
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
Labels: backoffice

init serviceList test
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

add Service List API implementation
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

test service list
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

visibility is now enum
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

add institution fields to createService and updateService
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

changeset
  .changeset/cool-wombats-reply.md
Labels: changeset

chore: [IOPAE-715] add institution fields to createService and updateService (#460)
  .changeset/cool-wombats-reply.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice, changeset

temp rename
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/lib/be/cms/client.ts
  apps/backoffice/src/lib/be/cms/cosmos.ts
Labels: backoffice

revert temp rename
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

ADD unit test for retrieveServiceList
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

changeset
  .changeset/three-suns-eat.md
Labels: changeset

avoid cosmos bulkFetch on no element to be searched
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

remove cache on ApimRestClient
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

fix: [IOPAE-741] publish non approved service (#454)
  .changeset/beige-singers-push.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: webapp, changeset

add azure_credential_scope_url and azure_apim_subscriptions_api_base_url backoffice configuration
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

[#IOPAE-749] ADD GET Service List API in Backoffice B4F (#456)
  .changeset/three-suns-eat.md
  apps/backoffice/.env.development
  apps/backoffice/package.json
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
  apps/backoffice/src/lib/be/services/utils.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  yarn.lock
Labels: backoffice, infra, changeset

azure access token cahche singleton module
  .vscode/settings.json
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

update mocks
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

implementation
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-version-switcher.tsx
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/components/table-view/table-view.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

fix bug
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: backoffice

changeset
  .changeset/dirty-baboons-sleep.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
