Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Update env.example
  apps/io-services-cms-webapp/env.example
Labels: none

changeset
  .changeset/sixty-camels-dance.md
Labels: changeset

add handler unit tests
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

fix handler
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: none

feat: [IOPAE-312] add on service lifecycle change handler (#56)
  .changeset/sixty-camels-dance.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, infra, changeset

custom errors refactor
  .changeset/blue-months-clap.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

fix: update imports
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

[IOPAE-318] Setup `OnLegacyServiceChange` function (#53)
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  docs/infra.drawio.svg
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
  infra/src/webapp_monitor.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, docs, infra

changesets
  .changeset/ten-avocados-sell.md
Labels: changeset

[IOPAE-318] Setup `OnLegacyServiceChange` function (#59)
  .changeset/ten-avocados-sell.md
Labels: changeset

create review-service controller
  apps/io-services-cms-webapp/src/webservice/controllers/review-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

add unit tests
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

changeset
  .changeset/clean-poems-scream.md
Labels: changeset

feat: [IOPAE-325] create review service controller (#58)
  .changeset/clean-poems-scream.md
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

add review service fn
  apps/io-services-cms-webapp/ReviewService/function.json
Labels: none

fix: storage account public access unless private endpoint
  infra/src/storage_account.tf
Labels: infra

fix: storage account public access unless private endpoint (#62)
  infra/src/storage_account.tf
Labels: infra

use correct variable
  .changeset/twelve-geckos-cheat.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
Labels: changeset

fix
  .changeset/lovely-pens-kick.md
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: changeset

set extensions for azure functions v4
  .changeset/blue-cars-destroy.md
  apps/io-services-cms-webapp/extensions.csproj
  apps/io-services-cms-webapp/host.json
Labels: changeset

Set extensions for azure functions v4 (#63)
  .changeset/blue-cars-destroy.md
  apps/io-services-cms-webapp/extensions.csproj
  apps/io-services-cms-webapp/host.json
Labels: changeset

Use correct variable (#65)
  .changeset/twelve-geckos-cheat.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
Labels: changeset

Fix broken entrypoint (#64)
  .changeset/lovely-pens-kick.md
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: changeset

Update apps/io-services-cms-webapp/ReviewService/function.json
  apps/io-services-cms-webapp/ReviewService/function.json
Labels: none

fix healthcheck
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: none

Fix healthcheck (#67)
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: none

bugfix: [IOPAE-325] add review service fn (#61)
  apps/io-services-cms-webapp/ReviewService/function.json
Labels: none

fix healthcheck
  .changeset/good-emus-confess.md
Labels: changeset

Fix health check (#68)
  .changeset/good-emus-confess.md
Labels: changeset

fix queue connection placeholder
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
Labels: none

fix OrganizationFiscalCode example
  openapi.yaml
Labels: none

fix fetch item by adding partition key param
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

changeset
  .changeset/ninety-doors-wonder.md
Labels: changeset

fix: add vscode workspace configuration
  io-services-cms.code-workspace
Labels: none

fix: local setup
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/_to-solve.ts
  yarn.lock
Labels: none

convert to JSON the option value instead the option itself
  apps/io-services-cms-webapp/src/main.ts
Labels: none

fix node-fetch import
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: none

fix postgres reviewer usr password
  infra/src/webapp.tf
Labels: infra

add statuscategorychangedate field
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

fix: add vscode workspace configuration (#71)
  io-services-cms.code-workspace
Labels: none
