Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

Add JiraClient with createJiraIssue
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

Add search and update config
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

Add search and update config (#11)
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

[#IOPAE-280] JiraClient (#10)
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

env hotfix
  apps/io-services-cms-webapp/env.example
Labels: webapp

env hotfix (#12)
  apps/io-services-cms-webapp/env.example
Labels: webapp

Change description type on jira issue create
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

expose jiraConfig from jiraClient
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

add service-review-proxy
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: webapp

add apim_client
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/apim_client.test.ts
  apps/io-services-cms-webapp/src/apim_client.ts
  yarn.lock
Labels: webapp

refactor: fms submodule
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal

declare export packages
  packages/io-services-cms-models/package.json
Labels: internal

add getUserGroups , fix tests
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  yarn.lock
Labels: webapp

refactor: create webservice submodule
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  apps/io-services-cms-webapp/src/webservice/routes.ts
Labels: webapp

refactor: link http entrypoint
  apps/io-services-cms-webapp/Info/function.json
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

declare export packages (#16)
  packages/io-services-cms-models/package.json
Labels: internal

fix reference
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: webapp

refactor: routes in the same file
  apps/io-services-cms-webapp/src/webservice/index.ts
  apps/io-services-cms-webapp/src/webservice/routes.ts
Labels: webapp

refactor: move azure code in dedicated module
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

refactor: make handlers independent on express
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

fix store typings
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

expose cosmos store
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

implement memory store
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

fix Service model path import
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/package.json
Labels: internal, webapp

io-ts Delegate definition and some code completion
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: webapp

Add optional warningMessages on SearchJiraIssuesResponse
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

text format and tests chores
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: webapp

fix optional value text format
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: webapp

Refactor: `webservice` module (#17)
  apps/io-services-cms-webapp/Info/function.json
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/routes.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

fix admin credentials
  infra/src/database_review.tf
Labels: infra

Update infra/src/database_review.tf
  infra/src/database_review.tf
Labels: infra

add postgres
  infra/env/prod/terraform.tfvars
  infra/src/database_review.tf
  infra/src/key_vault.tf
Labels: infra

[IOPAE-297] Service Review Proxy (#14)
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/apim_client.test.ts
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

add apim configuration
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

implement cosmos db store
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  yarn.lock
Labels: internal

configure integration tests
  package.json
  packages/io-services-cms-models/__integrations__/fms/cosmos_utils.ts
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/__integrations__/vitest.config.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/tsconfig.json
  packages/io-services-cms-models/vitest.config.ts
  turbo.json
Labels: internal

styling serachJiraIssueResponse interface
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

update modules to latest version
  infra/src/database_review.tf
  infra/src/key_vault.tf
  yarn.lock
Labels: infra

set terraform state backend
  .identity/env/prod/backend.tfvars
Labels: none

set repo variables
  .identity/03_github_environment_runner.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
