Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

changeset
  .changeset/great-books-mate.md
Labels: changeset

set cache expiration in 1 hour
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
Labels: infra

[IOPAE-901] Deploy service topics list api (#643)
  .changeset/great-books-mate.md
  apps/io-services-cms-webapp/GetServiceTopics/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/README.md
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: webapp, infra, changeset

ci(changesets): version packages (#644)
  .changeset/great-books-mate.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix: [#IOPAE-912] replace findOneByServiceId method call with findLastVersionByModelId (#630)
  .changeset/tricky-cherries-sniff.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: webapp, changeset

[#IOPAE-910] Sync to legacy only Publication and Deleted Items (#632)
  .changeset/many-cherries-approve.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp, changeset

[#IOPAE-909]add devportal subnet in cms allowed list (#633)
  infra/src/00_legacy_cosmosdb.tf
  infra/src/00_network.tf
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

ci(changesets): version packages (#645)
  .changeset/many-cherries-approve.md
  .changeset/tricky-cherries-sniff.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix upload service logo copy
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

changeset
  .changeset/shiny-papayas-know.md
Labels: changeset

[IOPAE-853] Fix upload service logo copy (#646)
  .changeset/shiny-papayas-know.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice, changeset

change api key copy
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

changeset
  .changeset/few-planets-drive.md
Labels: changeset

[#IOPAE-310] Add postgreSQL DB Health Check (#634)
  .changeset/proud-starfishes-return.md
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/utils/custom-healthchecks.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: webapp, changeset

Upgrade Axios ^1.6.0 -> ^1.6.5 in order to upgrade follow redirects ^1.15.0 -> ^1.15.4 and solve security issue
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

changeset
  .changeset/fifty-terms-stare.md
Labels: changeset

ci(changesets): version packages (#647)
  .changeset/proud-starfishes-return.md
  .changeset/shiny-papayas-know.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

[IOPAE-851] Fix API Key copy (#648)
  .changeset/few-planets-drive.md
  apps/backoffice/public/locales/it/common.json
Labels: backoffice, changeset

flip apim user firstName and note values
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

changeset
  .changeset/orange-dancers-refuse.md
Labels: changeset

[#IOPAE-921] chore(deps): Upgrade Axios and follow-redirects dependencies (#649)
  .changeset/fifty-terms-stare.md
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice, changeset

fix: [IOPAE-891] patch organization name spacial characters (#651)
  .changeset/orange-dancers-refuse.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice, changeset

ci(changesets): version packages (#650)
  .changeset/few-planets-drive.md
  .changeset/fifty-terms-stare.md
  .changeset/orange-dancers-refuse.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update deleted service layout
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/services/service-status.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

changeset
  .changeset/silver-avocados-arrive.md
Labels: changeset

check if a service is in review for the first time
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

add first publication info on updateJiraIssue
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

fix exisiting request-review-handler test
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

[IOPAE-914] Update deleted service table row layout in Services Page (#652)
  .changeset/silver-avocados-arrive.md
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/services/service-status.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

updates infra tf modules to version 7.39.0
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

updates ci-cd tf modules to version 7.39.0
  .identity/04_github_identity.tf
Labels: none

ADD GET /services/:serviceId/releaseinternal API
  apps/io-services-cms-webapp/GetServicePublicationInternal/function.json
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/poor-apples-report.md
Labels: changeset

edit endpoint to/internal/services/:serviceId/release
  apps/io-services-cms-webapp/GetServicePublicationInternal/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

update changeset
  .changeset/poor-apples-report.md
Labels: changeset

ADD GET /internal/services/:serviceId
  .changeset/poor-apples-report.md
  apps/io-services-cms-webapp/GetServiceLifecycleInternal/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

update sidenav bottom menu icon
  apps/backoffice/src/components/sidenav/index.tsx
Labels: backoffice

add GetServiceLifecycleInternal
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
Labels: webapp

changeset
  .changeset/modern-spies-help.md
Labels: changeset

[IOPAE-907] Get Service Publication internal api (#656)
  .changeset/poor-apples-report.md
  apps/io-services-cms-webapp/GetServiceLifecycleInternal/function.json
  apps/io-services-cms-webapp/GetServicePublicationInternal/function.json
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
