Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

ci(changesets): version packages (#476)
  .changeset/real-feet-roll.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[#IOPAE-776] ADD queryParam 'id' in GET /services/list Route Handler (#473)
  .changeset/grumpy-cobras-approve.md
  .vscode/settings.json
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice, changeset

change response status to match io-subscription-migration
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

clean up msw handler
  apps/backoffice/mocks/handlers/subscriptions-migrations-handler.ts
Labels: backoffice

search by service id first draft
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

add bo snet to services-cms webapp allowed snets
  infra/src/webapp.tf
Labels: infra

scale up bo app service plan
  infra/src/env/prod/terraform.tfvars
Labels: infra

update mocks
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

refine development
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

changeset
  .changeset/friendly-gifts-judge.md
Labels: changeset

chore: [IOPAE-577] BO change app service plan (#479)
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

[IOPAE-735] Add search by serviceId on services page (#478)
  .changeset/friendly-gifts-judge.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

fix deploy healthcheck
  .github/workflows/azure-deploy.yaml
Labels: ci

changeset
  .changeset/popular-bulldogs-lick.md
Labels: changeset

bugfix: fix deploy healthcheck (#480)
  .changeset/popular-bulldogs-lick.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

ci(changesets): version packages (#477)
  .changeset/friendly-gifts-judge.md
  .changeset/grumpy-cobras-approve.md
  .changeset/popular-bulldogs-lick.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

handle 404 apim rest response
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/apim.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/metal-goats-lie.md
Labels: changeset

cleanUp
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscription-migration.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice

subscription-migration-client healthcheck
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

[#IOPAE-751] API Subscriptions Migrations (#471)
  .changeset/poor-roses-admire.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscription-migration.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: backoffice, infra, changeset

ci(changesets): version packages (#482)
  .changeset/poor-roses-admire.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

fix subscription migration configs
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

clean website filder before new deploy
  .github/workflows/azure-deploy.yaml
Labels: ci

fix azure deploy manual gh action
  .github/workflows/azure-deploy-manual.yaml
Labels: ci

bugfix: [IOPAE-751] fix subscription migration configs (#483)
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: ci, infra

fix subscription migration config
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: backoffice, infra

fix typo
  apps/backoffice/.env.development
Labels: backoffice

fix typo
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/eight-ears-leave.md
Labels: changeset

fix: subscription migration config (#484)
  .changeset/eight-ears-leave.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: backoffice, infra, changeset

ci(changesets): version packages (#485)
  .changeset/eight-ears-leave.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

clean webapp folder before deploy
  .github/workflows/azure-deploy.yaml
Labels: ci

fix deploy manual action
  .github/workflows/azure-deploy-manual.yaml
Labels: ci

chore: B4F patch deploy gh action (#486)
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

change jira contract field on create to Null
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

[#IOPAE-776] Handle 404 apim rest response (#481)
  .changeset/metal-goats-lie.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/apim.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice, changeset

changeset
  .changeset/bright-trees-change.md
Labels: changeset

ci(changesets): version packages (#487)
  .changeset/metal-goats-lie.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

upgrade azure webapp deploy action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
