Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore:add detailed log on authorize (#556)
  .changeset/slimy-geckos-learn.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
Labels: backoffice, changeset

ci(changesets): version packages (#559)
  .changeset/fluffy-laws-fetch.md
  .changeset/orange-baboons-do.md
  .changeset/slimy-geckos-learn.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

apim rest error shrink log
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
Labels: backoffice

changeset
  .changeset/healthy-jobs-impress.md
Labels: changeset

chore: Apim rest error log shrink (#560)
  .changeset/healthy-jobs-impress.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
Labels: backoffice, changeset

ci(changesets): version packages (#561)
  .changeset/healthy-jobs-impress.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add selfcare product Id and Title
  apps/backoffice/.env
  apps/backoffice/src/config/index.ts
Labels: backoffice

add product switch on header component
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice

add selfcare mocks for dashboard, users and groups
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/groups.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/index.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/users.tsx
Labels: backoffice

changeset
  .changeset/seven-carrots-approve.md
Labels: changeset

[IOPAE-809] Add product switch on BackOffice IO (#562)
  .changeset/seven-carrots-approve.md
  apps/backoffice/.env
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/groups.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/index.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/users.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#563)
  .changeset/seven-carrots-approve.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

workaround on DELETED name received
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: webapp

changeset
  .changeset/tough-plums-design.md
Labels: changeset

cleanUp test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
Labels: webapp

chore(fix): workaround on DELETED name received (#565)
  .changeset/tough-plums-design.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: webapp, changeset

make publish and unpublish actions idempotent
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

changeset
  .changeset/tender-items-ring.md
Labels: changeset

disable sonar duplication code error
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

fix publish/unpublish tests
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
Labels: webapp

exclude FSM from sonar duplication checks
  .sonarcloud.properties
Labels: none

feat: [IOPAE-816] make publish and unpublish actions idempotent (#567)
  .changeset/tender-items-ring.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, webapp, changeset

ci(changesets): version packages (#566)
  .changeset/tender-items-ring.md
  .changeset/tough-plums-design.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

fix autopublish action
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

changeset
  .changeset/weak-poets-push.md
Labels: changeset

bugfix: Patch publish action (#568)
  .changeset/weak-poets-push.md
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

ci(changesets): version packages (#569)
  .changeset/weak-poets-push.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

reintroduced GET /api/institutions API, which returns all the user's authorized institutions
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice

changeset
  .changeset/clean-peaches-suffer.md
Labels: changeset

cleanUp mocks
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
Labels: backoffice

bug: [IOPAE-824] Bring back institutions api (#570)
  .changeset/clean-peaches-suffer.md
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice, changeset

return only necessary parameters on getUserAuthorizedInstitutions api
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice

changeset
  .changeset/breezy-lies-switch.md
Labels: changeset

update cangeset
  .changeset/breezy-lies-switch.md
Labels: changeset

[#IOPAE-828] UPDATE User Authorized institution API response type (#573)
  .changeset/breezy-lies-switch.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice, changeset

fix openapi getUserAuthorizedInstitutions response
  apps/backoffice/openapi.yaml
Labels: backoffice

update mocks
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

update header component partyList fetch
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice

add updateJiraIssue and applyJiraIssueTransition api
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: webapp

changeset
  .changeset/healthy-apricots-remember.md
Labels: changeset
