Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add io-services-cms forwarder
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

add placeholder url
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

https instead of http
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

[#IOPAE-541] Add io-services-cms mocking (#355)
  .sonarcloud.properties
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

add queryString on getServices
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

changeset
  .changeset/honest-windows-juggle.md
Labels: changeset

dynamic configuration load from env, dynamic msw handlers build
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/mocks/msw-server.ts
  apps/backoffice/mocks/msw-vitest.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/_app.tsx
Labels: backoffice

changeset
  .changeset/stale-bags-deny.md
Labels: changeset

test .env.development will be reverted
  .gitignore
  apps/backoffice/.env.development 
  apps/backoffice/.gitignore
Labels: backoffice

.env.test for unit tests
  apps/backoffice/.env.test
  apps/backoffice/.gitignore
Labels: backoffice

[#IOPAE-590] Dynamic Config and MSW Handlers load for Backoffice (#356)
  .changeset/stale-bags-deny.md
  .gitignore
  apps/backoffice/.env.test
  apps/backoffice/.gitignore
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/mocks/msw-server.ts
  apps/backoffice/mocks/msw-vitest.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/_app.tsx
Labels: backoffice, changeset

add next auth
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/auth/logout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/types/next-auth.d.ts
  yarn.lock
Labels: backoffice

changeset
  .changeset/six-tables-fix.md
Labels: changeset

fix post merge from master
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/auth/logout.tsx
Labels: backoffice

update selfcare mock page
  apps/backoffice/src/pages/mocks/selfcare.tsx
Labels: backoffice

invert requireAuth to publicRoute concept
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice

solved after merge issues
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

fix baseURL on services-cms-handlers mocking
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

[IOPAE-548] Add next-auth for frontend autentication (#357)
  .changeset/six-tables-fix.md
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/auth/logout.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/types/next-auth.d.ts
  yarn.lock
Labels: backoffice, changeset

add description for forwardIoServicesCmsRequest
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

revert route test
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
Labels: backoffice

update next-auth with session token data
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

changeset
  .changeset/fuzzy-pillows-tap.md
Labels: changeset

fix useTranslation import
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-shortcut.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
Labels: backoffice

changeset
  .changeset/poor-hounds-hope.md
Labels: changeset

fix:[IOPAE-600] Fix useTranslation import (#359)
  .changeset/poor-hounds-hope.md
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-shortcut.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#329)
  .changeset/dull-scissors-learn.md
  .changeset/eighty-weeks-remain.md
  .changeset/fresh-beds-pay.md
  .changeset/gentle-rings-suffer.md
  .changeset/giant-carpets-sip.md
  .changeset/hungry-news-argue.md
  .changeset/lucky-fireants-teach.md
  .changeset/lucky-humans-fetch.md
  .changeset/olive-oranges-wave.md
  .changeset/poor-hounds-hope.md
  .changeset/six-tables-fix.md
  .changeset/stale-bags-deny.md
  .changeset/strong-frogs-beam.md
  .changeset/tasty-games-wink.md
  .changeset/warm-berries-train.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

added unit test for forwardIoServicesCmsRequest
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

update jwt session token structure
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

removed unnecessary log
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
Labels: backoffice

update isNullUndefinedOrEmpty function
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

[IOPAE-595] Update next-auth with session token data (#358)
  .changeset/fuzzy-pillows-tap.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice, changeset

vitest-environment node
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
Labels: backoffice

change node versione in code-review
  .github/workflows/code-review.yaml
Labels: ci

revert vitest-environment node
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
Labels: backoffice

ValidationError occurs on request test
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
Labels: backoffice

add AccessControl component
  apps/backoffice/src/components/access-control/index.tsx
Labels: backoffice

install react testing library and configure unit tests
  apps/backoffice/package.json
  apps/backoffice/tsconfig.json
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: backoffice

add AccessControl unit tests
  apps/backoffice/src/components/__tests__/access-control.test.tsx
Labels: backoffice

changeset
  .changeset/stale-pigs-mate.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
