Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add pgClient and serviceReviewDao
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pgClient.ts
  apps/io-services-cms-webapp/src/utils/serviceReviewDao.ts
  yarn.lock
Labels: none

add a more specific prefix for DB configs
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pgClient.ts
  apps/io-services-cms-webapp/src/utils/serviceReviewDao.ts
Labels: none

refactor: rename
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: none

use cursor to fetch all pending reviews
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pgClient.ts
  apps/io-services-cms-webapp/src/utils/serviceReviewDao.ts
Labels: none

add postgres config to env.example
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
Labels: none

fix fetch items
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: none

hotfix: deploy pipeline
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: app build script
  .changeset/good-trains-wink.md
  apps/webapp-fn/package.json
  packages/models/package.json
  yarn.lock
Labels: internal, webapp, changeset

yarn install
  yarn.lock
Labels: none

fix lock
  yarn.lock
Labels: none

[#IOPAE-302] APIM Util - Get Delegate from ServiceId (#21)
  .changeset/good-beds-deliver.md
  .changeset/tame-tigers-impress.md
  .github/workflows/release.yaml
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, ci, changeset

[IOPAE-301] client apim config (#20)
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: none

fix merge error
  apps/io-services-cms-webapp/src/config.ts
Labels: none

[IOPAE-298] add pgClient and serviceReviewDao (#15)
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  yarn.lock
Labels: none

Add getJiraIssueByServiceId
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/types.ts
Labels: internal

fix jql string builder
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: none

[IOPAE-299] Add Cosmos db store for FSM (#18)
  package.json
  packages/io-services-cms-models/__integrations__/fms/cosmos_utils.ts
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/__integrations__/vitest.config.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/tsconfig.json
  packages/io-services-cms-models/vitest.config.ts
  turbo.json
  yarn.lock
Labels: internal

[#IOPAE-303] Service Review Proxy - Add getJiraIssueByServiceId (#26)
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/types.ts
Labels: internal

rename packages
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

set deploy pipeline
  .github/workflows/azure-deploy.yaml
Labels: ci

changeset
  .changeset/itchy-glasses-glow.md
Labels: changeset

Fix deploy pipeline (#27)
  .changeset/itchy-glasses-glow.md
  .github/workflows/azure-deploy.yaml
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, ci, changeset

just a test commit
  README.md
Labels: none

Test PR (#29)
  README.md
Labels: none

fix
  .changeset/twenty-clocks-invite.md
  packages/io-services-cms-models/README.md
Labels: internal, changeset

Test CD
  .changeset/twenty-clocks-invite.md
  packages/io-services-cms-models/README.md
Labels: internal, changeset

fix build script
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: none

changeset
  .changeset/strong-bugs-vanish.md
Labels: changeset

Fix webapp package script (#31)
  .changeset/strong-bugs-vanish.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: changeset

add apim and postegres in infra
  infra/src/webapp.tf
Labels: infra

webapp format
  infra/src/webapp.tf
Labels: infra

make vars
  infra/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

rename resources
  infra/src/common.tf
Labels: infra

rename resources (#34)
  infra/src/common.tf
Labels: infra

update docs
  infra/src/README.md
Labels: infra

docs on terraform development
  README.md
  docs/terraform-development.md
Labels: docs

static analysis on CI
  .github/workflows/infra-static-analysis.yaml
Labels: ci

Add infrastructure checks on CI (#35)
  .github/workflows/infra-static-analysis.yaml
  README.md
  docs/terraform-development.md
Labels: docs, ci

fix workflow
  .github/workflows/infra-static-analysis.yaml
Labels: ci

Fix CI (#36)
  .github/workflows/infra-static-analysis.yaml
Labels: ci
