Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

changeset
  .changeset/hungry-cameras-itch.md
Labels: changeset

changeset (#303)
  .changeset/hungry-cameras-itch.md
Labels: changeset

ci(changesets): version packages (#304)
  .changeset/hungry-cameras-itch.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

enable LegacyServiceWatcher for all users upodating userid_legacy_to_cms_sync_inclusion_list feature flag
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

enable LegacyServiceWatcher
  infra/src/webapp.tf
Labels: infra

chore: enable LegacyServiceWatcher for all users (#305)
  infra/src/env/prod/terraform.tfvars
Labels: infra

fetch previous legacy service recursive, this cause service versions are not consecutives
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: webapp

changeset
  .changeset/eight-items-drive.md
Labels: changeset

fix: Fetch previous version recursive (#306)
  .changeset/eight-items-drive.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: webapp, changeset

ci(changesets): version packages (#307)
  .changeset/eight-items-drive.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

Enable OnRequestSyncCms
  infra/src/webapp.tf
Labels: infra

Enable OnRequestSyncCms (#308)
  infra/src/webapp.tf
Labels: infra

add openapi shared schemas
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

add openapi shared schemas (#309)
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

add backoffice openapi
  apps/backoffice/openapi.yaml
Labels: backoffice

add @pagopa/openapi-codegen-ts to backoffice
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

refactor root openapi
  openapi.yaml
Labels: none

move root openapi to io-services-cms-webapp
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/package.json
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  turbo.json
Labels: webapp, infra

update opex dashboard openapi path
  .github/workflows/opex_api_services_cms.yml
Labels: ci

ADDED reimport script
  apps/io-services-cms-webapp/src/scripts/reimport-last-version-script.ts
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

ADD service check whitelist
  apps/io-services-cms-webapp/src/scripts/sync-checker-script.ts
Labels: webapp

[IOPAE-523] Refactor services cms openapi (#311)
  .github/workflows/opex_api_services_cms.yml
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/package.json
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  openapi.yaml
  turbo.json
Labels: webapp, ci, infra

skip currently deleted services on legacy review
  .github/workflows/azure-deploy.yaml
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: webapp, ci

changeset
  .changeset/lazy-balloons-pull.md
Labels: changeset

skip currently deleted services on legacy review
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

debug code
  .github/workflows/opex_api_services_cms.yml
Labels: ci

changeset
  .changeset/twenty-pigs-train.md
Labels: changeset

enable ServiceReviewLegacyChecker and OnRequestReviewLegacy Azure Functions
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

config fix
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

cleanUp
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

cleanUp pt2
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

fix typo
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: webapp

refactor
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

chore: skip currently deleted services on legacy review (#313)
  .changeset/twenty-pigs-train.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp, changeset

remove start of action from push on branch
  .github/workflows/opex_api_services_cms.yml
Labels: ci

ci(changesets): version packages (#316)
  .changeset/twenty-pigs-train.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

enable ServiceReviewLegacyChecker and OnRequestReviewLegacy Azure Functions (#315)
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

update auth
  apps/backoffice/openapi.yaml
Labels: backoffice

set startFromBeginning true on ServiceHistoryWatcher
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
Labels: webapp

enable ServiceHistoryWatcher for all users USERID_CMS_TO_LEGACY_SYNC_INCLUSION_LIST
  infra/src/env/prod/terraform.tfvars
Labels: infra

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
