Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

cleanUp
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

[#IOPAE-749] Azure access token refresh on expiration (#461)
  .changeset/chilly-apricots-tap.md
  .vscode/settings.json
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice, changeset

add missing b4f configurations
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

add missing b4f configurations (#468)
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

subscriptions migration Rest Client
  .vscode/settings.json
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/subscriptions-migration.ts
Labels: backoffice

add migration APIs business
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscriptions-migration.ts
  apps/backoffice/src/lib/be/subscriptions-migration-client.ts
Labels: backoffice

implements GET api/services/migrations/ownership-claims/latest Route Handler
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
Labels: backoffice

implements GET api/services/migrations/ownership-claims/:delegateId Route Handler
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
Labels: backoffice

implements POST api/services/migrations/ownership-claims/:delegateId Route Handler
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
Labels: backoffice

implements GET api/services/migrations/delegates Route Handler
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
Labels: backoffice

add institution card, add create service shortcut
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/pages/index.tsx
Labels: backoffice

changeset
  .changeset/tasty-knives-lick.md
Labels: changeset

[IOPAE-754] Add Institution card, add create service shortcut on Overview Page (#469)
  .changeset/tasty-knives-lick.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/pages/index.tsx
Labels: backoffice, changeset

warn for unmocked request
  apps/backoffice/mocks/index.ts
Labels: backoffice

fix backoffice app configs
  apps/backoffice/.env
  apps/backoffice/.env.development
  apps/backoffice/.env.production
  apps/backoffice/.env.test
  apps/backoffice/env.example
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: backoffice, infra

fix infra env var
  infra/src/00_legacy_cosmosdb.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/serious-knives-wait.md
Labels: changeset

cleanUp
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/subscriptions-migration-data.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscriptions-migrations-handler.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscriptions-migration.ts
  apps/backoffice/src/lib/be/subscriptions-migration-client.ts
Labels: backoffice

cleanUp
  apps/backoffice/mocks/data/subscriptions-migration-data.ts
  apps/backoffice/mocks/handlers/subscriptions-migrations-handler.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/subscriptions-migration-client.ts
Labels: backoffice

cleanUp pt2
  apps/backoffice/src/lib/be/subscriptions-migration-client.ts
Labels: backoffice

bugfix: B4F config fixes (#470)
  .changeset/serious-knives-wait.md
  apps/backoffice/.env
  apps/backoffice/.env.development
  apps/backoffice/.env.production
  apps/backoffice/.env.test
  apps/backoffice/env.example
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  infra/src/00_legacy_cosmosdb.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: backoffice, infra, changeset

add unit tes for subscriptions migration
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscriptions-migration.ts
  apps/backoffice/src/lib/be/subscriptions-migration-client.ts
Labels: backoffice

ci(changesets): version packages (#467)
  .changeset/chilly-apricots-tap.md
  .changeset/serious-knives-wait.md
  .changeset/tasty-knives-lick.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add B4F terraform config for subscriptions migration
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: infra

changeset
  .changeset/poor-roses-admire.md
Labels: changeset

IOPAE-694 log healthcheck error
  .github/workflows/azure-deploy.yaml
Labels: ci

fix BO configurations
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra

add cosmos services-cms health-check
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

add queryParam 'id' in backoffice openapi.yaml for GET /services/list API
  apps/backoffice/openapi.yaml
Labels: backoffice

add queryParam 'id' in GET /services/list Route Handler
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/grumpy-cobras-approve.md
Labels: changeset

changeset
  .changeset/nine-mirrors-burn.md
Labels: changeset

bugfix: B4F config fixes part 2 (#472)
  .changeset/nine-mirrors-burn.md
  .github/workflows/azure-deploy.yaml
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, ci, infra, changeset

ci(changesets): version packages (#474)
  .changeset/nine-mirrors-burn.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

ADD unit tests for GET /services/list Route Handler
  .vscode/settings.json
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

fix healthcheck deploy staging url
  .github/workflows/azure-deploy.yaml
Labels: ci

changeset
  .changeset/real-feet-roll.md
Labels: changeset

Patch azure deploy healthcheck (#475)
  .changeset/real-feet-roll.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset
