Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

update unit test
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
Labels: webapp

changeset
  .changeset/stale-news-tap.md
Labels: changeset

fix : [#IOPAE-659] bug on delete api with never approved service (#401)
  .changeset/stale-news-tap.md
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: webapp, changeset

retrieve manage subscription keys
  apps/backoffice/package.json
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/keys.ts
  yarn.lock
Labels: backoffice

add retrieve manage key api
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/config/index.ts
Labels: backoffice

changeset
  .changeset/spotty-walls-matter.md
Labels: changeset

cleanUp pt2
  apps/backoffice/src/app/api/keys/manage/route.ts
Labels: backoffice

refactor config
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/config/index.ts
Labels: backoffice

[#IOPAE-631] ADD Manage Keys API handler Implementation in Backoffice (#403)
  .changeset/spotty-walls-matter.md
  apps/backoffice/package.json
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/config/index.ts
  yarn.lock
Labels: backoffice, changeset

add ServiceContextMenu on ServiceDetails page
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-details-menu.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice

changeset
  .changeset/hot-actors-glow.md
Labels: changeset

[IOPAE-663] Add ServiceContextMenu on ServiceDetails page (#404)
  .changeset/hot-actors-glow.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-details-menu.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice, changeset

ci(changesets): version packages (#397)
  .changeset/famous-zoos-sneeze.md
  .changeset/hot-actors-glow.md
  .changeset/lovely-bulldogs-vanish.md
  .changeset/sharp-bikes-live.md
  .changeset/spotty-walls-matter.md
  .changeset/stale-news-tap.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

implements PUT /keys/manage API
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: backoffice

decode KeyType
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: backoffice

ADD regenerate manageKey API test
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: backoffice

changeset
  .changeset/metal-feet-arrive.md
Labels: changeset

[#IOPAE-629] ADD PUT /keys/manage API handler Implementation in Backoffice (#405)
  .changeset/metal-feet-arrive.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: backoffice, changeset

implements GET /keys/manage/cidrs endpoint
  apps/backoffice/package.json
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/io-services-cms-proxy.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  yarn.lock
Labels: backoffice

statically declare dependencies on /keys/manage/cidrs
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
Labels: backoffice

add cosmos uri
  apps/backoffice/.env.production
Labels: backoffice

test subscriptionCIDRsModel Singleton
  apps/backoffice/.env.production
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/subscription-cidrs-singleton.ts
Labels: backoffice

Add GET /keys/manage/cidrs unit test
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
Labels: backoffice

changeset
  .changeset/quiet-penguins-help.md
Labels: changeset

implements PUT /keys/manage/cidrs API
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
Labels: backoffice

refactor
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/response-utils.ts
Labels: backoffice

Revert "refactor"
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/response-utils.ts
Labels: backoffice

[#IOPAE-636] Implements GET /keys/manage/cidrs endpoint (#407)
  .changeset/quiet-penguins-help.md
  apps/backoffice/package.json
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/io-services-cms-proxy.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/app/api/lib/subscription-cidrs-singleton.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  yarn.lock
Labels: backoffice, changeset

add deplay step in deploy action
  .github/workflows/azure-deploy.yaml
Labels: ci

add unit tests for PUT /keys/manage/cidrs API
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
Labels: backoffice

changeset
  .changeset/green-pets-help.md
Labels: changeset

test11
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal

generate will not clean past generation
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp

test12
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal

add delay after checking response
  .github/workflows/azure-deploy.yaml
Labels: ci

fix typo
  .github/workflows/azure-deploy.yaml
Labels: ci

update code-review action
  .github/workflows/code-review.yaml
Labels: ci

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
