Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add selfcare-client UT for sendSupport
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

changeset
  .changeset/plenty-paws-joke.md
Labels: changeset

add business.ts UT for sendAssistance
  apps/backoffice/src/lib/be/institutions/__tests__/business.test.ts
Labels: backoffice

esclude all types folders from sonarcloud scan
  .sonarcloud.properties
Labels: none

set correct openapi model ref
  apps/backoffice/openapi.yaml
Labels: backoffice

add selfcare.ts UT for sendSupport
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
Labels: backoffice

fix useless constant
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
Labels: backoffice

remove fixme comment
  apps/backoffice/openapi.yaml
Labels: backoffice

fix api-key-value background
  apps/backoffice/src/components/api-keys/api-key-value.tsx
Labels: backoffice

changeset
  .changeset/loud-nails-exercise.md
Labels: changeset

[IOPAE-871] ApiKeyValue: fix background layout (#686)
  .changeset/loud-nails-exercise.md
  apps/backoffice/src/components/api-keys/api-key-value.tsx
Labels: backoffice, changeset

[IOPAE-833] Zendesk frontend integration (#670)
  .changeset/dull-bears-ring.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/pages/mocks/zendesk.tsx
  apps/backoffice/src/styles/app-layout.module.css
  apps/backoffice/src/utils/string-util.ts
Labels: backoffice, changeset

Set High Priority for Review Ticket related to National services
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

remove bad autogenerated file
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: backoffice

fix EmailString type for assistance call
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/pages/assistance.tsx
Labels: backoffice

fix EmailString type for assistance call (#689)
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/pages/assistance.tsx
Labels: backoffice

remove bad autogenerated file (#688)
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: backoffice

ci(changesets): version packages (#683)
  .changeset/dull-bears-ring.md
  .changeset/fresh-suits-dream.md
  .changeset/long-goats-live.md
  .changeset/loud-nails-exercise.md
  .changeset/plenty-paws-joke.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

[#IOPAE-903]add default cidrs in sync if the service has an empty one (#680)
  .changeset/ten-moose-worry.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#690)
  .changeset/ten-moose-worry.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

add unit test
  apps/io-services-cms-webapp/src/.scripts/approve-review-tickets.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

changeset
  .changeset/wild-roses-chew.md
Labels: changeset

cleanup
  apps/io-services-cms-webapp/src/.scripts/approve-review-tickets.ts
Labels: webapp

disable assistance button
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: backoffice

changeset
  .changeset/eighty-dolls-nail.md
Labels: changeset

fix: Disable support button (#691)
  .changeset/eighty-dolls-nail.md
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#692)
  .changeset/eighty-dolls-nail.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

Default CIDRs on legacy sync
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

changeset
  .changeset/yellow-months-admire.md
Labels: changeset

[#IOPAE-903] Default CIDRs on legacy sync (#693)
  .changeset/yellow-months-admire.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp, changeset

ci(changesets): version packages (#694)
  .changeset/yellow-months-admire.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix cidrs
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

changeset
  .changeset/cuddly-buttons-chew.md
Labels: changeset

fix lint
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

Fix default CIDRs on sync legacy (#696)
  .changeset/cuddly-buttons-chew.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp, changeset

replace dangerouslySetInnerHTML with next-i18next Trans function
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: backoffice

ci(changesets): version packages (#697)
  .changeset/cuddly-buttons-chew.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

changeset
  .changeset/unlucky-maps-crash.md
Labels: changeset

fix:[IOPAE-952] Fix frontend xss vulnerability on ServiceVersionSwitcher component (#698)
  .changeset/unlucky-maps-crash.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#699)
  .changeset/unlucky-maps-crash.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset
