Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Delete Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Edit Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
Labels: none

code cleanUp
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Get Services Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Publish Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Review Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Unpublish Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

inject dependencies on controllers
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

changeset
  .changeset/nine-candles-wait.md
Labels: changeset

serviceOwnerCheckManageTask optimization
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: none

check source ip for edit
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

check source ip for remaining api
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added api invocated without manageKey tests
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

check ip tests for edit
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
Labels: none

removed test to fix conflict
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
Labels: none

suggestion code cleanUp
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
Labels: none

re-added check source ip tests after removed conflict
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
Labels: none

[#IOPAE-363] Add Manage Key Middleware (#139)
  .changeset/nine-candles-wait.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/cosmos-legacy.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

update postgres migration docs
  apps/io-services-cms-webapp/README.md
Labels: none

delete non-working UNDOs files
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
Labels: none

fix conflict error
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: none

changeset
  .changeset/shiny-jobs-camp.md
Labels: changeset

fix type error
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

add override action to service-publication FSM
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

fix FSM lifecycle override checks
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

changeset
  .changeset/gold-tigers-return.md
Labels: changeset

add override action to service-lifecycle FSM
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix FSM publication override checks
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

manage new FsmItemNotFoundError on FSMs
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

add fsmToApiError converter and unit tests
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-publication-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: none

add error management on controllers
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

change ip in test to have them compliant with sonarcloud
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
Labels: none

changeset
  .changeset/short-owls-happen.md
Labels: changeset

fix post merge
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

rename azure apim default subscription product name
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  infra/src/webapp.tf
Labels: infra

docs: Fix flyway migration (#142)
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
Labels: none

fix fsm unit tests
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

refactor to fsm-error-converters for both FSMs
  apps/io-services-cms-webapp/src/utils/converters/__tests__/fsm-error-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/fsm-error-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

delete infra key with default value set in config
  infra/src/webapp.tf
Labels: infra

[#IOPAE-364] Check source ip (#141)
  .changeset/shiny-jobs-camp.md
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset
