Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

update AccessControl component and its unit tests
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
Labels: backoffice

update Sidenav component with auth props and its unit tests
  apps/backoffice/src/components/__tests__/sidenav.test.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

update Overview page with permissions check
  apps/backoffice/src/pages/index.tsx
Labels: backoffice

add authorization concept on Pages
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
Labels: backoffice

add apiservicewrite required permission on Api Keys page
  apps/backoffice/src/pages/keys/index.tsx
Labels: backoffice

fix sidenav unit test
  apps/backoffice/src/components/__tests__/sidenav.test.tsx
Labels: backoffice

changeset
  .changeset/nine-parrots-remember.md
Labels: changeset

[IOPAE-646] Frontend authorization level on Components, Sidenav, Page Routes (#390)
  .changeset/nine-parrots-remember.md
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/__tests__/sidenav.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/types/auth.ts
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
  apps/backoffice/vitest.config.react.ts
Labels: backoffice, changeset

Updated Turbo and Changeset-CLI
  package.json
  yarn.lock
Labels: none

Updated Turbo and Changeset-CLI (#392)
  package.json
  yarn.lock
Labels: none

update packages and fix MUI imports
  apps/backoffice/package.json
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: backoffice

changeset
  .changeset/fuzzy-ties-ring.md
Labels: changeset

[IOPAE-656] Update NextJs v.13.5 and other minor packages updates (#394)
  .changeset/fuzzy-ties-ring.md
  apps/backoffice/package.json
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: backoffice, changeset

unified tests folders
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
Labels: webapp

unified tests folders (#393)
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
Labels: webapp

solved merge issues
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

authentication wrapper
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/lib/auth.ts
  apps/backoffice/src/lib/handler-wrappers.ts
  apps/backoffice/src/middleware.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

code cleanUp
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/route.ts
Labels: backoffice

fix show/hide mock page
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

set next build output as standalone
  apps/backoffice/next.config.js
Labels: backoffice

fix package script for standalone app
  apps/backoffice/package.json
Labels: backoffice

add notifications on useFetch.fetchData result
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: backoffice

fix: [IOPAE-575] fix build package script (#395)
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

ci(changesets): version packages (#391)
  .changeset/fuzzy-ties-ring.md
  .changeset/nine-parrots-remember.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

changeset
  .changeset/sharp-bikes-live.md
Labels: changeset

use NonEmptyString decoder to determine when a string is empty, null or blank
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

useFetch minor update
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

[IOPAE-660] Add notifications on fetchData result (#396)
  .changeset/sharp-bikes-live.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: backoffice, changeset

add github runner snet to bo allowed snet
  infra/src/backoffice_webapp.tf
Labels: infra

add github runner snet to bo allowed snet (#398)
  infra/src/backoffice_webapp.tf
Labels: infra

code cleanUp
  apps/backoffice/package.json
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice

code cleanUp pt2
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

changeset
  .changeset/famous-zoos-sneeze.md
Labels: changeset

toString -> join
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

add turbo cache in code review
  .github/workflows/code-review.yaml
Labels: ci

code clean
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

fix pt2
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

turbo cache
  .github/workflows/code-review.yaml
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice, ci

test
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

test2
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal
