Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

[IOPAE-734] Add Services Page with TableView and ServiceVersionSwitcher components (#457)
  .changeset/dirty-baboons-sleep.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-version-switcher.tsx
  apps/backoffice/src/components/table-view/index.ts
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/components/table-view/table-view.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

cache apim client based on accessToken
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

ci(changesets): version packages (#446)
  .changeset/beige-bikes-wave.md
  .changeset/beige-singers-push.md
  .changeset/cool-wombats-reply.md
  .changeset/curly-steaks-rest.md
  .changeset/dirty-baboons-sleep.md
  .changeset/lucky-lemons-chew.md
  .changeset/nine-paws-admire.md
  .changeset/quick-pans-grow.md
  .changeset/quiet-comics-draw.md
  .changeset/slimy-bottles-tie.md
  .changeset/three-suns-eat.md
  .changeset/violet-cobras-turn.md
  .changeset/weak-llamas-raise.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/external-clients/CHANGELOG.md
  packages/external-clients/package.json
Labels: internal, backoffice, webapp, changeset

changeset
  .changeset/happy-keys-study.md
Labels: changeset

bugfix: handle request body not present from create and update service request handler
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: backoffice

fix unit test
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
Labels: backoffice

bugfix: [IOPAE-715] handle request body not present from create and update servic… (#462)
  .changeset/happy-keys-study.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: backoffice, changeset

bugfix: fix request body read
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

changeset
  .changeset/modern-rings-cheer.md
Labels: changeset

bugfix: [IOPAE-764] b4f problem when parsing request body (#464)
  .changeset/modern-rings-cheer.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice, changeset

remove organization from fe service payload
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice

changeset
  .changeset/nice-hairs-rhyme.md
Labels: changeset

add access token health check
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

chore:[IOPAE-747] Remove organization from frontend service payload (#465)
  .changeset/nice-hairs-rhyme.md
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice, changeset

add transaltions
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add update mode check
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
Labels: backoffice

hide some form fields that should be developed in next MVPs
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice

changeset
  .changeset/pink-cherries-repeat.md
Labels: changeset

[IOPAE-756] Add equality check on update service form (#466)
  .changeset/pink-cherries-repeat.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice, changeset

manage 403 and 401 apim response token refresh
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

add random generate by faker mocked accessToken
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
Labels: backoffice

changeset
  .changeset/chilly-apricots-tap.md
Labels: changeset

undo formatter change
  .vscode/settings.json
Labels: none

undo formatter change
  .vscode/settings.json
Labels: none

ci(changesets): version packages (#463)
  .changeset/happy-keys-study.md
  .changeset/modern-rings-cheer.md
  .changeset/nice-hairs-rhyme.md
  .changeset/pink-cherries-repeat.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

cleanUp
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/services/list/route.ts
Labels: backoffice

cleanUp pt2
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

cleanUp pt3
  apps/backoffice/src/app/api/services/list/route.ts
Labels: backoffice

cleanUp pt4
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

Revert "cleanUp pt4"
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

Revert "cleanUp pt3"
  apps/backoffice/src/app/api/services/list/route.ts
Labels: backoffice

Revert "cleanUp pt2"
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

Revert "cleanUp"
  apps/backoffice/src/app/api/services/list/route.ts
Labels: backoffice

Revert "cleanUp"
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: backoffice

Revert "undo formatter change"
  .vscode/settings.json
Labels: none

Revert "undo formatter change"
  .vscode/settings.json
Labels: none

Revert "add random generate by faker mocked accessToken"
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
Labels: backoffice
