Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

update comments
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/eight-phones-guess.md
Labels: changeset

[#IOPAE-335] Automatic Rejection on Service Duplicated (#767)
  .changeset/eight-phones-guess.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/cosmos-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

update container app module for infra drift detection (#768)
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

Case insensitive duplicate check
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/rude-phones-laugh.md
Labels: changeset

using STRINGEQUALS instead of UPPER...
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

[#IOPAE-335] Case insensitive duplicate check (#770)
  .changeset/rude-phones-laugh.md
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#769)
  .changeset/eight-phones-guess.md
  .changeset/rude-phones-laugh.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

fix legacy jira issue status decoding
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

changeset
  .changeset/tough-feet-fold.md
Labels: changeset

update duplicate rejection message
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/famous-toys-knock.md
Labels: changeset

fix:[IOPAE-1040] Fix error decoding status on jira legacy issue (#771)
  .changeset/tough-feet-fold.md
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp, changeset

[IOPAE-335] Update duplicate rejection message (#772)
  .changeset/famous-toys-knock.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#773)
  .changeset/famous-toys-knock.md
  .changeset/tough-feet-fold.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

trim service name before save in service-lifecycle and service-publication store
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

changeset
  .changeset/five-bugs-dress.md
Labels: changeset

chore:[IOPAE-1043] Trim Service Name before save (#774)
  .changeset/five-bugs-dress.md
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

ci(changesets): version packages (#775)
  .changeset/five-bugs-dress.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

add approval date and reson handling on ServiceLegacyReviewChecker
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

changeset
  .changeset/real-rivers-switch.md
Labels: changeset

ServiceReviewLegacyChecker test fix
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
Labels: webapp

add comment on saveItem for FSM publication
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

fix typo in changeset
  .changeset/real-rivers-switch.md
Labels: changeset

[#IOPAE-1040] Improve legacy review checker (#776)
  .changeset/real-rivers-switch.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, webapp, changeset

ci(changesets): version packages (#777)
  .changeset/real-rivers-switch.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

test automation
  README.md
Labels: none

second test tiba
  README.md
Labels: none

changeset
  .changeset/tricky-mayflies-nail.md
Labels: changeset

refactor and solve FIXME
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: webapp

handle new requestDeletion on service lifecycle watcher
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: webapp

deletion legacy will not unpublish a service
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: webapp

service lifecycle watcher will handle deletion also for legacy service
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: webapp

add delete method on store cosmos
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal

cleanUp queue message io-ts types
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

add new OnRequestDeletion Queue Trigger Azure Function
  apps/io-services-cms-webapp/OnRequestDeletion/function.json
  apps/io-services-cms-webapp/src/deletor/__tests__/request-deletion-handler.test.ts
  apps/io-services-cms-webapp/src/deletor/request-deletion-handler.ts
Labels: webapp

ADD REQUEST DELETION QUEUE
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

cleanUp
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
Labels: internal

edit store.cosmos delete method
  apps/io-services-cms-webapp/src/deletor/__tests__/request-deletion-handler.test.ts
  apps/io-services-cms-webapp/src/deletor/request-deletion-handler.ts
  apps/io-services-cms-webapp/src/utils/errors.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal, webapp
