Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore: Legacy service watcher sequential process (#269)
  .changeset/funny-donkeys-return.md
  apps/io-services-cms-webapp/src/main.ts
Labels: changeset

ci(changesets): version packages (#270)
  .changeset/funny-donkeys-return.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Add retry on Legacy Service Watcher
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/tough-pets-shave.md
Labels: changeset

add github environment for opex dashboard
  .github/workflows/opex_openapi.yml
  .identity/01_data.tf
  .identity/02_application_environment_opex.tf
  .identity/03_github_environment_opex.tf
Labels: ci

chore: Add retry on Legacy Service Watcher (#271)
  .changeset/tough-pets-shave.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#272)
  .changeset/tough-pets-shave.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Optimization Jira REST Api call on Legacy Service Watcher
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/real-keys-juggle.md
Labels: changeset

chore: Jira optimization on legacy service watcher (#273)
  .changeset/real-keys-juggle.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset

ci(changesets): version packages (#274)
  .changeset/real-keys-juggle.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

Add retry capabilities to Jira Legacy Client on Throttled response
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/odd-jeans-agree.md
Labels: changeset

code cleanUp
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

refactor
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

chore: Add retry capabilities to Jira Legacy Client on Throttled response (#275)
  .changeset/odd-jeans-agree.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#276)
  .changeset/odd-jeans-agree.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

add legacy cosmos lease for test
  infra/src/env/prod/terraform.tfvars
Labels: infra

statuscategorychangedate optional in JiraLegacyIssue
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: none

changeset
  .changeset/nine-chairs-warn.md
Labels: changeset

chore(fix): Status category optional legacy jira (#278)
  .changeset/nine-chairs-warn.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset

ci(changesets): version packages (#279)
  .changeset/nine-chairs-warn.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

align TF settings
  infra/src/webapp.tf
Labels: infra

Link Healthcheck alarm to main error action group (#246)
  infra/src/webapp.tf
  infra/src/webapp_monitor.tf
Labels: infra

add request-review-legacy queue
  apps/io-services-cms-webapp/src/config.ts
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

remove REQUEST_REVIEW_LEGACY_QUEUE from config.ts (it will be added when implementing its dequeuer)
  apps/io-services-cms-webapp/src/config.ts
Labels: none

fix: [IOPAE-488] add request-review-legacy queue (#280)
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

script to create service review legacy table
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
Labels: none

temporary api mock policy for apim v2 upgrade (#255)
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

add legacy status to jira client
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: none

delete temporary policy after upgrade to apim v2
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

Update apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: none

changeset
  .changeset/itchy-candles-battle.md
Labels: changeset

Add RequestReviewLegacyItem which maps the request-review-legacy queue item
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

Add config for Service Review Legacy Postgres Table
  apps/io-services-cms-webapp/src/config.ts
Labels: none

Add Request Review Legacy Table terraform config
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

Add fetch method to fsmLifecycleClient
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

Add OnRequestReviewLegacy Azure Function
  apps/io-services-cms-webapp/OnRequestReviewLegacy/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: none

delete temporary policy after upgrade to apim v2 (#283)
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

fix handler
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: none
