Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, app-backend, docs, ci, infra, changeset

ci(changesets): version packages (#795)
  .changeset/strange-parrots-flash.md
  apps/io-services-app-backend/CHANGELOG.md
  apps/io-services-app-backend/package.json
Labels: app-backend, changeset

add internal api to check for duplicates services
  apps/io-services-cms-webapp/CheckServiceDuplicationInternal/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/check-service-duplication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/little-peaches-impress.md
Labels: changeset

[#IOPAE-1089]add internal api to check for duplicates services (#796)
  .changeset/little-peaches-impress.md
  apps/io-services-cms-webapp/CheckServiceDuplicationInternal/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/check-service-duplication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#797)
  .changeset/little-peaches-impress.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
app-backend: apps/io-services-app-backend/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
