Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

refactor pipelines
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/code-review.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .github/workflows/opex_api_services_cms.yml
Labels: ci

tweaks
  .identity/03_github_environment_infra.tf
  infra/src/README.md
  infra/src/key_vault.tf
Labels: infra

add permissions
  .identity/env/prod/terraform.tfvars
Labels: none

add workflow_dispatch to opex action
  .github/workflows/opex_api_services_cms.yml
Labels: ci

swap
  .identity/env/prod/terraform.tfvars
Labels: none

update infra tf version
  .identity/.terraform-version
  .terraform-version
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/main.tf
Labels: infra

refactor gitignores
  .github/workflows/infra-static-analysis.yaml
  .gitignore
  .identity/.gitignore
  .identity/.terraform.lock.hcl
  .identity/main.tf
Labels: ci

update precommit image
  .github/workflows/infra-static-analysis.yaml
Labels: ci

fix tag
  .github/workflows/infra-static-analysis.yaml
Labels: ci

update tag again
  .github/workflows/infra-static-analysis.yaml
Labels: ci

update modules version
  .identity/04_github_identity.tf
Labels: none

[EC-61] Use managed identities and container app jobs for GitHub Actions (#635)
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/code-review.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .github/workflows/infra-static-analysis.yaml
  .github/workflows/opex_api_services_cms.yml
  .gitignore
  .identity/.gitignore
  .identity/.terraform-version
  .identity/.terraform.lock.hcl
  .identity/03_github_environment_app_cd.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_ci.tf
  .identity/03_github_environment_infra.tf
  .identity/03_github_environment_opex.tf
  .identity/03_github_environment_runner.tf
  .identity/03_github_repo_secrets.tf
  .identity/04_github_identity.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
  .identity/main.tf
  .terraform-version
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/main.tf
Labels: ci, infra

add necessary steps
  .github/workflows/infra-cd.yml
Labels: ci

fix infra cd pipeline
  .github/workflows/infra-cd.yml
Labels: ci

add devportal subnet
  .identity/01_data.tf
  infra/src/00_network.tf
  infra/src/webapp.tf
Labels: infra

fix missing p in subnet name
  .identity/01_data.tf
  infra/src/00_network.tf
Labels: infra

[EC-69] Add missing steps from infra CD pipeline (#636)
  .github/workflows/infra-cd.yml
Labels: ci

fix readme
  infra/src/00_legacy_cosmosdb.tf
  infra/src/README.md
Labels: infra

add comment
  infra/src/00_network.tf
Labels: infra

clean question comment
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
Labels: webapp

add comment explaing conditional sync to legacy services
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

move postgres Healthcheck on pg-client.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: webapp

changeset
  .changeset/proud-starfishes-return.md
Labels: changeset

test endpoint for GetServiceTopicsTest
  apps/io-services-cms-webapp/GetServiceTopics/function.json
  apps/io-services-cms-webapp/GetServiceTopicsTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: webapp, infra

[#IOPAE-901] service topic list implementation (#628)
  .changeset/poor-glasses-yawn.md
  apps/io-services-cms-webapp/GetServiceTopicsTest/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: webapp, infra, changeset

add environment
  .github/workflows/infra-cd.yml
Labels: ci

add environment (#638)
  .github/workflows/infra-cd.yml
Labels: ci

add cahce policy to /services/topicstest HTTP Handler AZF
  infra/src/README.md
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

do not use sh script anymore
  .github/workflows/infra-cd.yml
Labels: ci

bring back right controller, erroneously removed before
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/forty-ducks-crash.md
Labels: changeset

do not use sh script anymore (#640)
  .github/workflows/infra-cd.yml
Labels: ci

set cache-type to internal
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
Labels: infra

Add policy cache on GET /services/topicstest API (#641)
  .changeset/forty-ducks-crash.md
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/README.md
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: webapp, infra, changeset

move cache-store from backend to outbound
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
Labels: infra

move cache-store from backend to outbound (#642)
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
Labels: infra

ci(changesets): version packages (#637)
  .changeset/forty-ducks-crash.md
  .changeset/poor-glasses-yawn.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

rename GetServiceTopicsTest -> GetServiceTopics AZF
  apps/io-services-cms-webapp/GetServiceTopics/function.json
Labels: webapp

remove test endpoint for service topics retrieval API
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

configure API
  infra/src/README.md
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
