Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add msw setup mocks, handlers and data
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/data/common-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/mocks/msw-server.ts
  apps/backoffice/mocks/msw-worker.ts
Labels: backoffice

add msw frontend integration
  apps/backoffice/src/pages/_app.tsx
Labels: backoffice

add msw vitest setup
  apps/backoffice/mocks/msw-vitest.ts
  apps/backoffice/vitest.config.ts
Labels: backoffice

add backend sample unit test
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
Labels: backoffice

changeset
  .changeset/hungry-news-argue.md
Labels: changeset

add axios library
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

fix sample unit test with axios
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
Labels: backoffice

[IOPAE-525] MSW Api mocking library integration (#328)
  .changeset/hungry-news-argue.md
  apps/backoffice/env.example
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/data/common-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/mocks/msw-server.ts
  apps/backoffice/mocks/msw-vitest.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/package.json
  apps/backoffice/public/mockServiceWorker.js
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/vitest.config.ts
  yarn.lock
Labels: backoffice, changeset

[#IOPAE-536] Automatic Service Approval Capability (#327)
  .changeset/strong-frogs-beam.md
  README.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: webapp, changeset

add mocks folder to sonar.cpd.exclusions
  .sonarcloud.properties
Labels: none

add mocks folder to sonar.cpd.exclusions (#330)
  .sonarcloud.properties
Labels: none

Replace console with context log in review-checker-handler
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: webapp

cleanUp pt2
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: webapp

add log Error on issueItemPair build
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: webapp

update buildIssueItemPairs unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: webapp

changeset
  .changeset/warm-berries-train.md
Labels: changeset

[#IOPAE-436] Logging unification and improvements (#331)
  .changeset/warm-berries-train.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: webapp, changeset

add services-cms rest client generation
  apps/backoffice/package.json
Labels: backoffice

changeset
  .changeset/fresh-beds-pay.md
Labels: changeset

export Selefcare Identity payload from inline to an external Schemas
  apps/backoffice/openapi.yaml
Labels: backoffice

feat: [IOPAE-542] add services-cms rest client generation (#332)
  .changeset/fresh-beds-pay.md
  apps/backoffice/package.json
Labels: backoffice, changeset

create new backoffice-schemas.yaml
  .changeset/dull-scissors-learn.md
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, backoffice, changeset

chore: Export Selfcare Identity payload from inline to an external Schemas (#333)
  .changeset/dull-scissors-learn.md
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, backoffice, changeset

Add B4F API POC
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/{keyType}/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: backoffice

fix typo
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: backoffice

fix import error
  apps/backoffice/tsconfig.json
Labels: backoffice

add empty state component
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

removed test translation
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

update padding and props comment
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

rollback tsconfig moduleResolution configuration
  apps/backoffice/tsconfig.json
Labels: backoffice

update props comments
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

create empty state component
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

changeset
  .changeset/eighty-weeks-remain.md
Labels: changeset

[#IOPAE-545] Empty state component (#336)
  .changeset/eighty-weeks-remain.md
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice, changeset

fix for openapi-codegen-ts client generate
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

distinction between base url and path
  apps/backoffice/env.example
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

add useFetch react custom hook
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

changeset
  .changeset/olive-oranges-wave.md
Labels: changeset

declare response var to improve readability
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
