Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

release and deploy pipeline
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
Labels: ci

[IOPAE-300] Setup CD (#19)
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
  .identity/03_github_environment_runner.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
Labels: ci

getUserGroup update error
  apps/io-services-cms-webapp/src/apim_client.ts
Labels: webapp

naming
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

Add getDelegateFromServiceId, fix getUserGroups error return
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
Labels: webapp

fix network and credentials
  infra/src/database_review.tf
  infra/src/network.tf
Labels: infra

fix lint secret
  infra/src/database_review_credentials.tf
Labels: infra

update docs
  infra/src/README.md
Labels: infra

[IOPAE-296] add postgres (#13)
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  yarn.lock
Labels: infra

service principal rename
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

get apim client service principal rename
  apps/io-services-cms-webapp/src/apim_client.ts
Labels: webapp

hotfix: add release scripts
  package.json
Labels: none

hotfix: fix release scripts
  .github/workflows/release.yaml
  package.json
Labels: ci

hotfix: package and lock
  package.json
  yarn.lock
Labels: none

hotfix: install on release
  .github/workflows/release.yaml
Labels: ci

relax Delegate definition
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
Labels: webapp
