Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

hide unused extra-configurations for service create/update form
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
Labels: backoffice

add confirmButtonLabels prop to create-update-process
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
Labels: backoffice

changeset
  .changeset/light-pets-impress.md
Labels: changeset

fix env var configs
  apps/backoffice/.env
  apps/backoffice/.env.production
  apps/backoffice/src/config/index.ts
Labels: backoffice

changeset
  .changeset/five-cows-protect.md
Labels: changeset

chore: fix env var configs (#517)
  .changeset/five-cows-protect.md
  apps/backoffice/.env
  apps/backoffice/.env.production
  apps/backoffice/src/config/index.ts
Labels: backoffice, changeset

ci(changesets): version packages (#518)
  .changeset/five-cows-protect.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update visibility icons color
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

fix jwks config
  apps/backoffice/src/config/index.ts
Labels: backoffice

changeset
  .changeset/heavy-trainers-pay.md
Labels: changeset

update service submitReview modal text
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/dialog-provider/index.tsx
Labels: backoffice

chore: fix jwks config (#519)
  .changeset/heavy-trainers-pay.md
  apps/backoffice/src/config/index.ts
Labels: backoffice, changeset

ci(changesets): version packages (#520)
  .changeset/heavy-trainers-pay.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[IOPAE-782] UX/UI refinements for MVP0 release (#516)
  .changeset/light-pets-impress.md
  apps/backoffice/.env
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

update service details drawer
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/markdown-view/index.ts
  apps/backoffice/src/components/markdown-view/markdown-view.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: backoffice

changeset
  .changeset/nervous-countries-reflect.md
Labels: changeset

update msw configuration for frontend
  apps/backoffice/.gitignore
  apps/backoffice/mocks/index.ts
Labels: backoffice

[IOPAE-784] Update service details drawer (#522)
  .changeset/nervous-countries-reflect.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/markdown-view/index.ts
  apps/backoffice/src/components/markdown-view/markdown-view.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: backoffice, changeset

update msw configuration for frontend (#523)
  apps/backoffice/.gitignore
  apps/backoffice/mocks/index.ts
Labels: backoffice

change response schema MigrationData
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/openapi.yaml
Labels: backoffice

changeset
  .changeset/serious-emus-tie.md
Labels: changeset

chore(fix): change response schema MigrationData (#524)
  .changeset/serious-emus-tie.md
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/openapi.yaml
Labels: backoffice, changeset

ci(changesets): version packages (#521)
  .changeset/light-pets-impress.md
  .changeset/nervous-countries-reflect.md
  .changeset/serious-emus-tie.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update migrationData
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
Labels: backoffice

changeset
  .changeset/dry-llamas-work.md
Labels: changeset

chore: Fix frontend subscription migration data (#525)
  .changeset/dry-llamas-work.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#526)
  .changeset/dry-llamas-work.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

adapt ownership claim response
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice

changeset
  .changeset/sour-dryers-invite.md
Labels: changeset

Fix: b4f sub mig (#528)
  .changeset/sour-dryers-invite.md
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice, changeset

changeset
  .changeset/little-baboons-reply.md
Labels: changeset

add ApiServiceWrite permission if missing
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice

bugfix: [IOPAE-786] add ApiServiceWrite permission if missing (#527)
  .changeset/little-baboons-reply.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice, changeset

ci(changesets): version packages (#529)
  .changeset/little-baboons-reply.md
  .changeset/sour-dryers-invite.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add overflow-x scroll on main content
  apps/backoffice/src/styles/app-layout.module.css
Labels: backoffice

changeset
  .changeset/afraid-students-worry.md
Labels: changeset

bugfix:[IOPAE-785] Fix main content layout overflow (#530)
  .changeset/afraid-students-worry.md
  apps/backoffice/src/styles/app-layout.module.css
Labels: backoffice, changeset

fix payload create subscription manage
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice

changeset
  .changeset/ten-beers-check.md
Labels: changeset

bugfix: fix payload create subscription manage (#532)
  .changeset/ten-beers-check.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: backoffice, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
