Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

ci(changesets): version packages (#792)
  .changeset/cool-actors-sing.md
  .changeset/cyan-panthers-love.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

fix openApi Apim
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

fix openApi Apim (#793)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

avoid saving calculated field last_update
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

request historicization handle last_update
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
Labels: webapp

calculate RequestHistoricizationAction using _ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: webapp

init io-services-backend FunctionsApp V4 project
  apps/io-services-backend/.funcignore
  apps/io-services-backend/.gitignore
  apps/io-services-backend/.vscode/extensions.json
  apps/io-services-backend/README.md
  apps/io-services-backend/host.json
  apps/io-services-backend/package.json
  apps/io-services-backend/src/functions/__tests__/info.test.ts
  apps/io-services-backend/src/functions/info.ts
  apps/io-services-backend/tsconfig.json
  apps/io-services-backend/vitest.config.ts
  yarn.lock
Labels: none

add io-services-backend to workspace
  io-services-cms.code-workspace
Labels: none

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
