Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add missing service placeholder on service list Route Handler result's
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

changeset
  .changeset/tasty-plants-reflect.md
Labels: changeset

cleanUp
  apps/backoffice/src/lib/be/services/business.ts
Labels: backoffice

fill placeholder using apim subscription as last_update, and intituion found on token
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

chore: Add missing service placeholder on service list Route Handler result's (#533)
  .changeset/tasty-plants-reflect.md
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice, changeset

ci(changesets): version packages (#531)
  .changeset/afraid-students-worry.md
  .changeset/tasty-plants-reflect.md
  .changeset/ten-beers-check.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add default manage cidrs
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

changeset
  .changeset/dull-carrots-beam.md
Labels: changeset

bugfix: Patch manage subs cidrs (#534)
  .changeset/dull-carrots-beam.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice, changeset

filter manage subscription on service list
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice

changeset
  .changeset/proud-beds-joke.md
Labels: changeset

revert IS_MSW_ENABLED on .env.development
  apps/backoffice/.env.development
Labels: backoffice

fix selfcare JWT configuration
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/config/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: backoffice, infra

hide service history action button
  apps/backoffice/src/components/services/service-context-menu.tsx
Labels: backoffice

changeset
  .changeset/nasty-yaks-add.md
Labels: changeset

add service scope in service info drawer
  apps/backoffice/src/components/services/service-info.tsx
Labels: backoffice

changeset
  .changeset/warm-books-peel.md
Labels: changeset

fix test
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/__tests__/services.test.ts
Labels: backoffice

revert IS_MSW_ENABLED on .env.development
  apps/backoffice/.env.development
Labels: backoffice

bugfix: Patch jwt claims check (#537)
  .changeset/nasty-yaks-add.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/config/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: backoffice, infra, changeset

fix: Filter subscription manage on list (#536)
  .changeset/proud-beds-joke.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: backoffice, changeset

chore: Frontend minor changes for MVP0 release (#538)
  .changeset/warm-books-peel.md
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-info.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#535)
  .changeset/dull-carrots-beam.md
  .changeset/nasty-yaks-add.md
  .changeset/proud-beds-joke.md
  .changeset/warm-books-peel.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

log unknown error
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

changeset
  .changeset/orange-moons-admire.md
Labels: changeset

change respose status on succes for createService API 200->201 according openapi.yaml
  apps/io-services-cms-webapp/src/utils/custom-response.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: webapp

change test
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
Labels: webapp

fix typo
  apps/io-services-cms-webapp/src/utils/custom-response.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: webapp

chore: log unknown error (#539)
  .changeset/orange-moons-admire.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice, changeset

updated description
  apps/io-services-cms-webapp/src/utils/custom-response.ts
Labels: webapp

changeset
  .changeset/metal-swans-fetch.md
Labels: changeset

fix: change response status create service (#540)
  .changeset/metal-swans-fetch.md
  apps/io-services-cms-webapp/src/utils/custom-response.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: webapp, changeset

ci(changesets): version packages (#541)
  .changeset/metal-swans-fetch.md
  .changeset/orange-moons-admire.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

fix services logo url config
  apps/backoffice/.env.production
Labels: backoffice

changeset
  .changeset/tender-tigers-taste.md
Labels: changeset

bugfix: Patch services logo url config (#542)
  .changeset/tender-tigers-taste.md
  apps/backoffice/.env.production
Labels: backoffice, changeset

ci(changesets): version packages (#543)
  .changeset/tender-tigers-taste.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

service name left alignment on services table
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

await create/update service completion before going to services page
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice

translate table pagination component labels
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/table-view/table-view.tsx
Labels: backoffice
