Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

incomplete edit service api
  apps/io-services-cms-webapp/EditService/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

completed controller for edit service
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/index.ts
Labels: none

add unit tests
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
Labels: none

update FSM edit action
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

update readme
  packages/io-services-cms-models/README.md
Labels: internal

added changeset
  .changeset/young-planets-rush.md
Labels: changeset

changeset
  .changeset/thin-tigers-hope.md
Labels: changeset

[#IOPAE-329] Get Service Lifecycle API (#83)
  .changeset/young-planets-rush.md
  apps/io-services-cms-webapp/GetServiceLifecycle/function.json
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset

fix import error
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

[#IOPAE-258] Edit Service API (#85)
  .changeset/thin-tigers-hope.md
  apps/io-services-cms-webapp/EditService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal, changeset

infra: add REQUEST_HISTORY_QUEUE
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

update env.example
  apps/io-services-cms-webapp/env.example
Labels: none

add new history queue item model
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

add service publication watcher
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
Labels: none

add unit tests
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
Labels: none

changeset
  .changeset/serious-comics-behave.md
Labels: changeset

lint fix
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

[#IOPAE-246] Delete Service API (#84)
  apps/io-services-cms-webapp/DeleteService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

change the way of controller are structured src/webservice/controllers/<controller>/index.ts → src/webservice/controllers/<controller>.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

added test source placeholder for controllers under apps/io-services-cms-webapp/src/webservice/controllers/__test__
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

refactor controller tests
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

changeset
  .changeset/weak-wasps-cheer.md
Labels: changeset

pr suggestions fixes
  apps/io-services-cms-webapp/OnRequestPublication/function.json
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: none

[#IOPAE-250] Make approved service as publicable (#82)
  .changeset/nice-needles-beg.md
  apps/io-services-cms-webapp/OnRequestPublication/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, infra, changeset

add updateStatus to pgclient
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: none

changeset
  .changeset/yellow-seals-join.md
Labels: changeset

fix updateReview error mgmt
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: none

add unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: none

fix: update pending review error mgmt (#88)
  .changeset/yellow-seals-join.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: changeset

infra cosmosdb containers renaming
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
Labels: infra

codebase corrections post renaming
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
Labels: none

refactor rename env vars
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  infra/src/webapp.tf
Labels: infra

[#IOPAE-334] Infra: Cosmos containers renaming (#92)
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
Labels: infra

update config
  apps/io-services-cms-webapp/src/config.ts
Labels: none

post renaming fixes
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
Labels: none

add cosmos-client for common fetch/save operations
  apps/io-services-cms-webapp/src/lib/clients/cosmos-client.ts
Labels: none

add history handler
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/src/historicizer/request-history-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

fix Actions type
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
Labels: none

jira ticket status are now filtered directly on jira REST api call
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: none

map issue list into a map in order to substitute list.find with map.get in buildIssueItemPairs
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
Labels: none
