Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

add selfcare service
  apps/backoffice/package.json
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/institutions/client.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
  apps/backoffice/src/lib/be/selfcare/AssistanceContactsResource.ts
  apps/backoffice/src/lib/be/selfcare/Attribute.ts
  apps/backoffice/src/lib/be/selfcare/Attributes.ts
  apps/backoffice/src/lib/be/selfcare/CompanyInformationsResource.ts
  apps/backoffice/src/lib/be/selfcare/DataProtectionOfficer.ts
  apps/backoffice/src/lib/be/selfcare/DpoDataResource.ts
  apps/backoffice/src/lib/be/selfcare/GeographicTaxonomy.ts
  apps/backoffice/src/lib/be/selfcare/Institution.ts
  apps/backoffice/src/lib/be/selfcare/InstitutionResource.ts
  apps/backoffice/src/lib/be/selfcare/InvalidParam.ts
  apps/backoffice/src/lib/be/selfcare/PaymentServiceProvider.ts
  apps/backoffice/src/lib/be/selfcare/Problem.ts
  apps/backoffice/src/lib/be/selfcare/PspDataResource.ts
  apps/backoffice/src/lib/be/selfcare/RootParentResource.ts
  apps/backoffice/src/lib/be/selfcare/client.ts
  apps/backoffice/src/lib/be/selfcare/requestTypes.ts
Labels: backoffice

implements institutions apis
  apps/backoffice/.env.development
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

add institution not found error
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

Wip mapping selfcare response
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/selfcare/Institution.ts
Labels: backoffice

update Institutions selfcare-B4F definition
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

pt2
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

pt2
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

chore: update Institutions selfcare-B4F definition (#433)
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

add client generated from minimized selfcare openApi yaml
  apps/backoffice/package.json
  apps/backoffice/selfcare-openapi.yaml
Labels: backoffice

add selfcare service
  apps/backoffice/package.json
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/institutions/client.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
  apps/backoffice/src/lib/be/selfcare/AssistanceContactsResource.ts
  apps/backoffice/src/lib/be/selfcare/Attribute.ts
  apps/backoffice/src/lib/be/selfcare/Attributes.ts
  apps/backoffice/src/lib/be/selfcare/CompanyInformationsResource.ts
  apps/backoffice/src/lib/be/selfcare/DataProtectionOfficer.ts
  apps/backoffice/src/lib/be/selfcare/DpoDataResource.ts
  apps/backoffice/src/lib/be/selfcare/GeographicTaxonomy.ts
  apps/backoffice/src/lib/be/selfcare/Institution.ts
  apps/backoffice/src/lib/be/selfcare/InstitutionResource.ts
  apps/backoffice/src/lib/be/selfcare/InvalidParam.ts
  apps/backoffice/src/lib/be/selfcare/PaymentServiceProvider.ts
  apps/backoffice/src/lib/be/selfcare/Problem.ts
  apps/backoffice/src/lib/be/selfcare/PspDataResource.ts
  apps/backoffice/src/lib/be/selfcare/RootParentResource.ts
  apps/backoffice/src/lib/be/selfcare/client.ts
  apps/backoffice/src/lib/be/selfcare/requestTypes.ts
Labels: backoffice

implements institutions apis
  apps/backoffice/.env.development
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

add institution not found error
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

add selfcare client
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

add selfcare service
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

Wip mapping selfcare response
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/selfcare/Institution.ts
Labels: backoffice

institution apis implementation
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
Labels: backoffice

implements Selfcare Institutions Api Calls
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-service.ts
  apps/backoffice/src/lib/be/selfcare/client.ts
  apps/backoffice/src/types/selfcare/AssistanceContactsResource.ts
  apps/backoffice/src/types/selfcare/Attribute.ts
  apps/backoffice/src/types/selfcare/Attributes.ts
  apps/backoffice/src/types/selfcare/CompanyInformationsResource.ts
  apps/backoffice/src/types/selfcare/DataProtectionOfficer.ts
  apps/backoffice/src/types/selfcare/DpoDataResource.ts
  apps/backoffice/src/types/selfcare/GeographicTaxonomy.ts
  apps/backoffice/src/types/selfcare/Institution.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
  apps/backoffice/src/types/selfcare/InvalidParam.ts
  apps/backoffice/src/types/selfcare/PaymentServiceProvider.ts
  apps/backoffice/src/types/selfcare/Problem.ts
  apps/backoffice/src/types/selfcare/PspDataResource.ts
  apps/backoffice/src/types/selfcare/RootParentResource.ts
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

add lodash
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

fix some mocks issues
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
Labels: backoffice

add buildSnackbarItem generic function for reuse
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

add adapter for FE service payload to API payload conversion
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: backoffice

changeset
  .changeset/brown-schools-learn.md
Labels: changeset

[IOPAE-699] Add Frontend to Api ServicePayload conversion (#435)
  .changeset/brown-schools-learn.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/package.json
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
  yarn.lock
Labels: backoffice, changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add RequiredAuthorizations props to EmptyState component
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

implement create service on services page
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

changeset
  .changeset/real-lamps-behave.md
Labels: changeset

[IOPAE-700] Add create service button and empty state on services page (#438)
  .changeset/real-lamps-behave.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/empty-state/index.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

unit test selfcare-client
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/types/selfcare/Institution.ts
Labels: backoffice

add institution business unit tests
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: backoffice

changeset
  .changeset/light-yaks-act.md
Labels: changeset

add selfcare apikey config
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/key_vault.tf
Labels: infra

added SELFCARE_BASE_PATH config in terraform
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

cleanUp
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: backoffice

[#IOPAE-709] Impements Institution APIs (#434)
  .changeset/light-yaks-act.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/selfcare-openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/types/selfcare/AssistanceContactsResource.ts
  apps/backoffice/src/types/selfcare/Attribute.ts
  apps/backoffice/src/types/selfcare/Attributes.ts
  apps/backoffice/src/types/selfcare/CompanyInformationsResource.ts
  apps/backoffice/src/types/selfcare/DataProtectionOfficer.ts
  apps/backoffice/src/types/selfcare/DpoDataResource.ts
  apps/backoffice/src/types/selfcare/GeographicTaxonomy.ts
  apps/backoffice/src/types/selfcare/Institution.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
  apps/backoffice/src/types/selfcare/InvalidParam.ts
  apps/backoffice/src/types/selfcare/PaymentServiceProvider.ts
  apps/backoffice/src/types/selfcare/Problem.ts
  apps/backoffice/src/types/selfcare/PspDataResource.ts
  apps/backoffice/src/types/selfcare/RootParentResource.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: backoffice, infra, changeset

add build on code review action
  .github/workflows/code-review.yaml
Labels: ci

getUserResponse
  apps/backoffice/mocks/data/apim-data.ts
Labels: backoffice

export getUserResponse
  apps/backoffice/mocks/data/apim-data.ts
Labels: backoffice

edit code review
  .github/workflows/code-review.yaml
  apps/backoffice/mocks/data/apim-data.ts
  package.json
Labels: backoffice, ci

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
