Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

[IOPAE-667] Service details page with alerts, information card and updated context menu (#412)
  .changeset/happy-apes-bathe.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/service-alerts.test.tsx
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/drawer-provider/index.tsx
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-alerts.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/providers/app.tsx
  apps/backoffice/src/types/service.ts
  yarn.lock
Labels: backoffice, changeset

fix : add final error status check for BO deploy action (#411)
  .github/workflows/azure-deploy.yaml
Labels: ci

add missing development configs
  apps/backoffice/.env.development
Labels: backoffice

moved src/app/api/lib -> src/lib/be
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/lib/be/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/lib/be/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/keys-manage.test.ts
  apps/backoffice/src/lib/be/apim-helper.ts
  apps/backoffice/src/lib/be/authorized-cidrs.ts
  apps/backoffice/src/lib/be/handler-wrappers.ts
  apps/backoffice/src/lib/be/io-services-cms-proxy.ts
  apps/backoffice/src/lib/be/keys-manage.ts
  apps/backoffice/src/lib/be/subscription-cidrs-singleton.ts
Labels: backoffice

add dev common env var
  apps/backoffice/.env.development
Labels: backoffice

add missing development configs (#414)
  apps/backoffice/.env.development
Labels: backoffice

moved src/app/api/lib -> src/lib/be
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/lib/be/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/lib/be/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/keys-manage.test.ts
  apps/backoffice/src/lib/be/apim-helper.ts
  apps/backoffice/src/lib/be/authorized-cidrs.ts
  apps/backoffice/src/lib/be/handler-wrappers.ts
  apps/backoffice/src/lib/be/io-services-cms-proxy.ts
  apps/backoffice/src/lib/be/keys-manage.ts
  apps/backoffice/src/lib/be/subscription-cidrs-singleton.ts
Labels: backoffice

add dev common env var (#413)
  apps/backoffice/.env.development
Labels: backoffice

moved src/app/api/lib -> src/lib/be
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/lib/be/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/lib/be/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/keys-manage.test.ts
  apps/backoffice/src/lib/be/apim-helper.ts
  apps/backoffice/src/lib/be/authorized-cidrs.ts
  apps/backoffice/src/lib/be/handler-wrappers.ts
  apps/backoffice/src/lib/be/io-services-cms-proxy.ts
  apps/backoffice/src/lib/be/keys-manage.ts
  apps/backoffice/src/lib/be/subscription-cidrs-singleton.ts
Labels: backoffice

add legacy-cosmos.ts, module to connect to Legacy Cosmos, add lib/be/keys which contains all necessary to /keys/manage APIs
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/keys/business.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
Labels: backoffice

module pattern for api /keys/manage/cidrs
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/lib/be/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/lib/be/authorized-cidrs.ts
Labels: backoffice

cleanUp unnecessary files
  apps/backoffice/src/lib/be/subscription-cidrs-singleton.ts
Labels: backoffice

rename handler-wrapper in wrappers
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: backoffice

retrieve authorized cidrs test
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
Labels: backoffice

added unit test for updateAuthorizedCIDRs
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
Labels: backoffice

fix syntax error on condition
  .github/workflows/azure-deploy.yaml
Labels: ci

fix syntax error on condition (#415)
  .github/workflows/azure-deploy.yaml
Labels: ci

mangeKeys api refactored
  apps/backoffice/.env.development
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/keys/apim.ts
  apps/backoffice/src/lib/be/keys/business.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/lib/be/apim-helper.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/keys-manage.ts
Labels: backoffice

add service logo implementation
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/test-logo.png
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-base-container.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-logo.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
  yarn.lock
Labels: backoffice

add manage keys business unit tests
  apps/backoffice/src/lib/be/__tests__/keys-manage.test.ts
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/keys/business.ts
Labels: backoffice

changeset
  .changeset/wild-forks-shop.md
Labels: changeset

enable msw mocking for selfcare
  apps/backoffice/.env.development
Labels: backoffice

update ServiceLogo description
  apps/backoffice/src/components/services/service-logo.tsx
Labels: backoffice

[IOPAE-662] Add ServiceLogo component in service details page (#416)
  .changeset/wild-forks-shop.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/test-logo.png
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-base-container.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-logo.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
  yarn.lock
Labels: backoffice, changeset

wrappers module pattern
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: backoffice

add GET Authorized CIDRs unit test
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: backoffice

add Upsert Authorized CIDRs tests
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
Labels: backoffice

add 500 error test Upsert managed CIDRs
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
Labels: backoffice

Add retrieve manage subscription keys API unit tests
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/keys/apim.ts
Labels: backoffice

Add regenerate manage subscription keys API unit tests
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
Labels: backoffice

remove jose as injected dependency
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

remove a test log
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

add nextauth authorize unit tests
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

changeset
  .changeset/metal-rice-unite.md
Labels: changeset

fix unit test name
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

clean code
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

test cleanUp
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
Labels: backoffice

[IOPAE-679] add nextauth authorize unit tests (#418)
  .changeset/metal-rice-unite.md
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice, changeset

remove useless code
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
