Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

add runner subnet to fn allowed list
  infra/src/README.md
  infra/src/_shared_vnet.tf
  infra/src/webapp.tf
Labels: infra

add runner subnet to fn allowed list (#128)
  infra/src/README.md
  infra/src/_shared_vnet.tf
  infra/src/webapp.tf
Labels: infra

fix: Update app service plan
  infra/src/env/prod/terraform.tfvars
Labels: infra

fix: Update app service plan (#129)
  infra/src/env/prod/terraform.tfvars
Labels: infra

fix cosmos
  infra/src/database_cms.tf
Labels: infra

fix autoscale
  infra/src/database_cms.tf
Labels: infra

fix
  infra/src/database_cms.tf
Labels: infra

fix
  infra/src/README.md
Labels: infra

fix max value
  infra/src/database_cms.tf
Labels: infra

fix autoscale
  infra/src/database_cms.tf
Labels: infra

fix doc
  infra/src/README.md
Labels: infra

fix
  infra/src/database_cms.tf
Labels: infra

fix cosmos config (#130)
  infra/src/README.md
  infra/src/database_cms.tf
Labels: infra

update get services openapi queryparams
  openapi.yaml
Labels: none

fix postgresql
  infra/src/README.md
  infra/src/_shared_vnet.tf
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/network.tf
  infra/src/webapp.tf
Labels: infra

fix pgbouncer_enabled e diagnostic_settings_enabled
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

enable pgbouncer
  infra/src/database_review.tf
Labels: infra

fix private postgresql and function app deployment slots (#131)
  infra/src/README.md
  infra/src/_shared_vnet.tf
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

Fix function app worker count
  infra/src/README.md
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

Fix function app worker count (#133)
  infra/src/README.md
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

fix PaginationConfig withDefault values
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
Labels: none

update get services openapi queryparams (#132)
  openapi.yaml
Labels: none

review fixes
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
Labels: none

useless comments
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
Labels: none

[#IOPAE-356] authorized recipients default value (#115)
  .changeset/rude-cups-happen.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

ci(changesets): version packages (#134)
  .changeset/rude-cups-happen.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

renaming
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: none

changeset
  .changeset/orange-trainers-accept.md
Labels: changeset

[IOPAE-373] Rename OnServiceLifecycle watcher file (#135)
  .changeset/orange-trainers-accept.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset

review improvements
  apps/io-services-cms-webapp/src/utils/api-keys.ts
  apps/io-services-cms-webapp/src/utils/apim-filters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

[#IOPAE-344] Get all user services (#101)
  .changeset/tiny-rocks-serve.md
  apps/io-services-cms-webapp/GetServices/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/apim-filters.test.ts
  apps/io-services-cms-webapp/src/utils/api-keys.ts
  apps/io-services-cms-webapp/src/utils/apim-filters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  yarn.lock
Labels: internal, changeset

fix withDefault config keys
  apps/io-services-cms-webapp/src/config.ts
Labels: none

add client ip middleware
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: none

fix withDefault config keys (#137)
  apps/io-services-cms-webapp/src/config.ts
Labels: none

added cosmosDb client for legacy containers
  apps/io-services-cms-webapp/src/utils/cosmos-legacy.ts
Labels: none

port an adapted versione of subscription utility from io-functions-commons
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Get Service Lifecycle Api
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Get Service Publication Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
Labels: none

add SubscriptionCIDRsModel placeHolder in tests
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

add AzureUserAttributesManageMiddleware and serviceOwnerCheckManageTask in Create Service Api
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
