Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

fix manual deploy pipeline
  .github/workflows/azure-deploy-manual.yaml
Labels: ci

fix pipeline (#107)
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/code-review.yaml
  .github/workflows/release.yaml
Labels: ci

changeset
  .changeset/five-frogs-mate.md
Labels: changeset

changeset (#109)
  .changeset/five-frogs-mate.md
Labels: changeset

fix trigger release pipeline
  .github/workflows/release.yaml
Labels: ci

fix trigger release pipeline (#110)
  .github/workflows/release.yaml
Labels: ci

changeset
  .changeset/young-tips-lie.md
Labels: changeset

changeset (#111)
  .changeset/young-tips-lie.md
Labels: changeset

fix edit service tests, adapted Fiscal code on authorized_recipients
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
Labels: none

[IOPAE-260] Add automatic publication capability on service review API (#100)
  .changeset/modern-seahorses-carry.md
  .editorconfig
  .vscode/settings.json
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  openapi.yaml
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

Renamed FSM Publication Action 'override' in 'release'
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

update FSM publication README
  packages/io-services-cms-models/README.md
Labels: internal

changeset
  .changeset/stale-yaks-bathe.md
Labels: changeset

Added authorized_recipients sandbox fiscal code
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

code refinement
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

use @pagopa/ts-commons/lib/strings/FiscalCode as type for authorized_recipients
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

add payloadToItem authorized_recipients test
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
Labels: none

[#IOPAE-330] Renamed FSM Publication Action 'override' in 'release' (#114)
  .changeset/stale-yaks-bathe.md
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset

changeset
  .changeset/rude-cups-happen.md
Labels: changeset

remove github env from deploy step
  .github/workflows/azure-deploy.yaml
Labels: ci

changeset
  .changeset/great-timers-vanish.md
Labels: changeset

Fix cd action (#117)
  .changeset/great-timers-vanish.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

fix checkout action
  .github/workflows/release.yaml
Labels: ci

changeset
  .changeset/afraid-houses-approve.md
Labels: changeset

Fix release action (#119)
  .changeset/afraid-houses-approve.md
  .github/workflows/release.yaml
Labels: ci, changeset

add env to release action
  .github/workflows/release.yaml
Labels: ci

changeset
  .changeset/eight-planets-remain.md
Labels: changeset

Fix release action 2 (#121)
  .changeset/eight-planets-remain.md
  .github/workflows/release.yaml
Labels: ci, changeset

ci(changesets): version packages (#122)
  .changeset/afraid-houses-approve.md
  .changeset/eight-planets-remain.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix release action
  .github/workflows/release.yaml
Labels: ci

changeset
  .changeset/selfish-students-tell.md
Labels: changeset

Fix release action 3 (#123)
  .changeset/selfish-students-tell.md
  .github/workflows/release.yaml
Labels: ci, changeset

ci(changesets): version packages (#124)
  .changeset/selfish-students-tell.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

restore azure-deploy action
  .github/workflows/azure-deploy.yaml
Labels: ci

changeset
  .changeset/tame-weeks-provide.md
Labels: changeset

fix permissio
  .identity/03_github_environment_app_cd.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: none

fix permissio (#126)
  .identity/03_github_environment_app_cd.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: none

Restore azure deploy action (#125)
  .changeset/tame-weeks-provide.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

ci(changesets): version packages (#127)
  .changeset/tame-weeks-provide.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

update limit queryparam with configurable range value
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
