Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

remove useless code (#419)
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

test cleanUp
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cms/proxy.ts
Labels: backoffice

fix sonar bug
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

fix io-services-cms test
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/lib/be/cms/client.ts
  apps/backoffice/src/lib/be/errors.ts
Labels: backoffice

changeset
  .changeset/long-seals-fry.md
Labels: changeset

cleanUp
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
Labels: backoffice

fix command
  apps/backoffice/package.json
Labels: backoffice

fix auth test
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

fix auth test
  .changeset/giant-fans-notice.md
Labels: changeset

cleanUp
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice

retrieve manageKey test cleanUp
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
Labels: backoffice

cleanUp
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
Labels: backoffice

chore(fix): Fix auth unit test (#420)
  .changeset/giant-fans-notice.md
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: backoffice, changeset

check sync possibilities
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

skip cms->legacy synchronization criteria
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

check sync possibilities
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

skip cms->legacy synchronization criteria
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

add fmsPublication mock on on-service-history-change watcher
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

unit tests and code cleanup
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

remove unused variable
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
Labels: webapp

add missing approved service case
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

add upload service logo handler
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  yarn.lock
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

update TODO
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
Labels: webapp

removed unnecessary configuration
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

handle new jira status names
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

changeset
  .changeset/mean-mails-relax.md
Labels: changeset

add decode Jira issue by status.id
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

add right Jira legacy issue status.id map
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: webapp

chore(bug): [IOPAE-692] Handle new jira status names (#424)
  .changeset/mean-mails-relax.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

ci(changesets): version packages (#410)
  .changeset/giant-fans-notice.md
  .changeset/green-pets-help.md
  .changeset/happy-apes-bathe.md
  .changeset/mean-mails-relax.md
  .changeset/metal-rice-unite.md
  .changeset/wild-forks-shop.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

upgrade to v1.6.0 image
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-drift-detection.yml
Labels: ci

changeset
  .changeset/pink-emus-travel.md
Labels: changeset

update runner imge version in infraci cd
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
Labels: ci

use ubuntu-latest
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

upgrade to v.1.6.1
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

chore: Upgrade github action runner image version (#425)
  .changeset/pink-emus-travel.md
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci, changeset

ci(changesets): version packages (#426)
  .changeset/pink-emus-travel.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

use default github hosted runner image version
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci

use default github hosted runner image version (#427)
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci
