Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add base unit test
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
Labels: none

add base unit test
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: none

add unit test
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
Labels: none

cleanUp
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
Labels: none

add comment
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: none

[#IOPAE-492]Add legacy status to jira client (#282)
  .changeset/itchy-candles-battle.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: changeset

service_version and ticket_id value
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

add bad case Unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
Labels: none

script to create service review legacy table (#281)
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
Labels: none

changeset
  .changeset/olive-bats-nail.md
Labels: changeset

Removed JiraLegacyClient and edit the status mapping
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

Updated Unit Test for LegacyServiceWatcher according to the changes
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
Labels: none

changeset
  .changeset/lemon-rockets-knock.md
Labels: changeset

Add previous version check visibility to catch unpublished
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
Labels: internal

cleanUp
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
Labels: none

return boolean instead of Option<boolean> in was published
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

code cleanUp
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

add policy for apim v2 migration
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

update vitest for coverage
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

unit tests for serviceWasPublished and buildPreviousVersionId methods
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

update vitest for coverage (#288)
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal

string interpolation with legacy suffix instead of new config for Request Review Ligacy table
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

tf cleanUp
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

removed unnecessary Option
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

Add ServiceReviewLegacyChecker AF function.json
  apps/io-services-cms-webapp/ServiceReviewLegacyChecker/function.json
Labels: none

AzureWebJobs.OnRequestReviewLegacy.Disabled in webapp.tf
  infra/src/webapp.tf
Labels: infra

tf clean
  infra/src/webapp.tf
Labels: infra

AzureWebJobs.ServiceReviewLegacyChecker.Disabled in webapp.tf
  infra/src/webapp.tf
Labels: infra

Add ServiceReviewLegacyChecker AZF
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
Labels: none
