Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix
  .identity/main.tf
Labels: none

Fix CI (#37)
  .identity/main.tf
Labels: none

fix workflow
  .github/workflows/infra-static-analysis.yaml
Labels: ci

Fix CI (#38)
  .github/workflows/infra-static-analysis.yaml
Labels: ci

add test configuration
  infra/env/prod/terraform.tfvars
Labels: infra

[IOPAE-304]Add configuration app in infra (#33)
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

hotfix: upgrade runner
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: deploy pipeline
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: deploy pipeline
  .github/workflows/azure-deploy.yaml
Labels: ci

fix repo name
  infra/env/prod/terraform.tfvars
Labels: infra

fix search optional jira issue
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

rebase from master
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

remove getJiraIssueByServiceId mock
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

remove useless AzureWebJobsStorage config
  apps/io-services-cms-webapp/src/config.ts
Labels: none

add doc block and flatten code
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
Labels: none

rename handler
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

service review handler (draft)
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/storage_account.tf
  yarn.lock
Labels: infra

hotfix: troubleshooting
  .github/workflows/azure-deploy.yaml
Labels: ci

hotfix: deploy pipeline
  .github/workflows/azure-deploy-manual.yaml
Labels: ci

Add unit tests, add missing dependencies
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  yarn.lock
Labels: none

update handler result and unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: none

update ServiceReviewRowDataTable extra_data type
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: none

pre-commit infra readme update
  infra/src/README.md
Labels: infra

fix fsm package
  packages/io-services-cms-models/index.js
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/index.ts
Labels: internal

changeset
  .changeset/fifty-chicken-learn.md
Labels: changeset

Fix `@io-services-cms` package (#40)
  .changeset/fifty-chicken-learn.md
  packages/io-services-cms-models/index.js
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/index.ts
Labels: internal, changeset

use ed module interop
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  apps/io-services-cms-webapp/tsconfig.json
Labels: none

changeset
  .changeset/clever-maps-refuse.md
Labels: changeset

Use `esModuleInterop` (#42)
  .changeset/clever-maps-refuse.md
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  apps/io-services-cms-webapp/tsconfig.json
Labels: changeset

mount create service endpoint
  apps/io-services-cms-webapp/CreateService/function.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

configure cosmosdb client
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/azure/cosmos.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
  yarn.lock
Labels: infra

implement create service controller
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  openapi.yaml
  yarn.lock
Labels: none

configure code generation script
  .gitignore
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/package.json
  package.json
  turbo.json
  yarn.lock
Labels: none

add tests for http endpoint
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  turbo.json
  yarn.lock
Labels: none

add user email middleware
  apps/io-services-cms-webapp/src/lib/middlewares/user-email-middleware.ts
Labels: none

expose codecs for FSM
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

refine fsm types
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/types.ts
Labels: internal

update web server configuration
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  yarn.lock
Labels: none

add create subscription step
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
Labels: none

changeset
  .changeset/breezy-shoes-joke.md
Labels: changeset
