Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

ci(changesets): version packages (#728)
  .changeset/sixty-crabs-work.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

force logo refresh cdn
  apps/backoffice/src/components/services/service-logo.tsx
Labels: backoffice

changeset
  .changeset/witty-pianos-ring.md
Labels: changeset

Fix: logo cdn refresh (#729)
  .changeset/witty-pianos-ring.md
  apps/backoffice/src/components/services/service-logo.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#730)
  .changeset/witty-pianos-ring.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

[#IOPLT-208] Dismiss Temporary App Gw
  infra/src/00_network.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
Labels: infra

[#IOPLT-208] Dismiss Temporary App Gw (#731)
  infra/src/00_network.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
Labels: infra

use azurerm_api_management_api_diagnostic instead of azurerm_api_management_diagnostic
  infra/src/README.md
  infra/src/apim_v2_api.tf
Labels: infra

add apim diagnostic
  infra/src/README.md
  infra/src/apim_v2_api.tf
Labels: infra

chore: [IOPAE-962] add apim diagnostic (#705)
  infra/src/README.md
  infra/src/apim_v2_api.tf
Labels: infra

try to bring the values to the default
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

try to bring the values to the default (#732)
  .opex/api_services_cms/env/prod/config.yaml
Labels: none

add telemetryClient to service-validation-handler
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

IOPAE-980 fix ValidSecureChannelConfig
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/good-tools-guess.md
Labels: changeset

fix unit tests
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
Labels: webapp

feat: [IOPAE-978] trace automatic service validation events (#733)
  .changeset/good-tools-guess.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#734)
  .changeset/good-tools-guess.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

refactor: replace TelemetryClient type import
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/sweet-students-begin.md
Labels: changeset

fix lint
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

refactor: replace TelemetryClient type import (#735)
  .changeset/sweet-students-begin.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#736)
  .changeset/sweet-students-begin.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

Avoid adding the default Sandbox Recipient when already present
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
Labels: webapp

changeset
  .changeset/fifty-readers-rush.md
Labels: changeset

cleanUp
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
Labels: webapp

[IOPAE-982] Avoid adding the default Sandbox Recipient when already present (#737)
  .changeset/fifty-readers-rush.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
Labels: webapp, changeset

ci(changesets): version packages (#738)
  .changeset/fifty-readers-rush.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

openapi Api serviceHistory
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

Revert "openapi Api serviceHistory"
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

GET ServiceHistory OpenApi
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

add missing tag
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

create a new release fn intead of the one that uses publication fsm
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, webapp

changeset
  .changeset/curly-paws-live.md
Labels: changeset

fix sonar
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
Labels: webapp

fix: [IOPAE-983] patch publication-lifecycle release fn (#740)
  .changeset/curly-paws-live.md
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, webapp, changeset

ci(changesets): version packages (#741)
  .changeset/curly-paws-live.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

preserve topic_id on sync legacy
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: webapp

Add Unit Test
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
Labels: webapp
