Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

ci(changesets): version packages (#654)
  .changeset/poor-apples-report.md
  .changeset/silver-avocados-arrive.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

detect browser language and show it on footer lang selector
  apps/backoffice/src/components/footer/index.tsx
Labels: backoffice

changeset
  .changeset/orange-poems-push.md
Labels: changeset

fix jira proxy test and request review test cleanup
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

[IOPAE-870] Change sidenav bottom menu icon for opening/collapsing sidenav (#657)
  .changeset/modern-spies-help.md
  apps/backoffice/src/components/sidenav/index.tsx
Labels: backoffice, changeset

[IOPAE-850] Fix language selector (#658)
  .changeset/orange-poems-push.md
  apps/backoffice/src/components/footer/index.tsx
Labels: backoffice, changeset

added test case for previously opened tickets review
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

clean
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

change card tertiary cta layout
  apps/backoffice/src/components/cards/card-details.tsx
Labels: backoffice

changeset
  .changeset/selfish-beds-sparkle.md
Labels: changeset

button-with-loader improvements
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: backoffice

changeset
  .changeset/pretty-feet-work.md
Labels: changeset

[IOPAE-854] Update card tertiary CTA layout (#660)
  .changeset/selfish-beds-sparkle.md
  apps/backoffice/src/components/cards/card-details.tsx
Labels: backoffice, changeset

make icon optional for FormStepSectionWrapper
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
Labels: backoffice

update service preview button
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: backoffice

update service form icons
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
Labels: backoffice

changeset
  .changeset/stupid-rockets-swim.md
Labels: changeset

reduce visibility icons size
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

changeset
  .changeset/three-spies-return.md
Labels: changeset

fix icons vertical alignment
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

[IOPAE-852] Update services import button layout (#661)
  .changeset/pretty-feet-work.md
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: backoffice, changeset

[IOPAE-886] Update service create/update form icons (#662)
  .changeset/stupid-rockets-swim.md
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
Labels: backoffice, changeset

[IOPAE-898] Reduce visibility icons size in services page (#663)
  .changeset/three-spies-return.md
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice, changeset

upgrade to most recent versions
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

upgrade to 7.45
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

refactor: [IOPAE-918] migrate tf modules (#655)
  .identity/04_github_identity.tf
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

sync on legacy when service was never published
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

update comment explaining which items are synced on legacy
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

changeset
  .changeset/cool-guests-learn.md
Labels: changeset

update comment
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

clean
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp

add github runner job
  infra/src/.terraform.lock.hcl
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/container_app_job.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

add github runner job (#665)
  infra/src/.terraform.lock.hcl
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/container_app_job.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

[#IOPAE-932] Sync on legacy when service was never published (#664)
  .changeset/cool-guests-learn.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: webapp, changeset

add first activation label on ticket
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

cleanup
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

clean
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

changeset
  .changeset/new-eyes-boil.md
Labels: changeset

[#IOPAE-904] First service activation info on review ticket (#653)
  .changeset/new-eyes-boil.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

ci(changesets): version packages (#659)
  .changeset/cool-guests-learn.md
  .changeset/modern-spies-help.md
  .changeset/new-eyes-boil.md
  .changeset/orange-poems-push.md
  .changeset/pretty-feet-work.md
  .changeset/selfish-beds-sparkle.md
  .changeset/stupid-rockets-swim.md
  .changeset/three-spies-return.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
