Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

cleanUp
  apps/backoffice/mocks/handlers/apim-handlers.ts
Labels: backoffice

fix build issues
  apps/backoffice/mocks/data/apim-data.ts
  package.json
Labels: backoffice

changeset
  .changeset/yellow-actors-learn.md
Labels: changeset

fix: apim mws mock (#439)
  .changeset/yellow-actors-learn.md
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
Labels: backoffice, changeset

ci(changesets): version packages (#436)
  .changeset/brown-schools-learn.md
  .changeset/light-yaks-act.md
  .changeset/real-lamps-behave.md
  .changeset/yellow-actors-learn.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add service description preview
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-preview.tsx
  yarn.lock
Labels: backoffice

changeset
  .changeset/quick-mayflies-itch.md
Labels: changeset

upload logo test function
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/seven-cats-cry.md
Labels: changeset

ADD test upload service logo api (#441)
  .changeset/seven-cats-cry.md
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#442)
  .changeset/seven-cats-cry.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

removed uploadServiceLogoTest azf
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

changeset
  .changeset/tough-bugs-sparkle.md
Labels: changeset

[IOPAE-698] fe service description preview (#440)
  .changeset/quick-mayflies-itch.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-preview.tsx
  yarn.lock
Labels: backoffice, changeset

Remove Upload Service Logo Test API (#443)
  .changeset/tough-bugs-sparkle.md
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#444)
  .changeset/quick-mayflies-itch.md
  .changeset/tough-bugs-sparkle.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

remove redirect for API uploadServiceLogo
  infra/src/README.md
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

remove redirect for API uploadServiceLogo (#445)
  infra/src/README.md
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

fix getUserResponse mock
  apps/backoffice/mocks/data/apim-data.ts
Labels: backoffice

refactor: move mock setup
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

get or create manage subscription
  apps/backoffice/.env.development
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/index.ts
Labels: internal, backoffice, webapp, infra

add unit tests and minor fixes
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/index.ts
Labels: internal, backoffice, webapp

add mocks
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
Labels: backoffice

fix bad marge conflict auto-resolution
  apps/backoffice/mocks/data/apim-data.ts
Labels: backoffice

changeset
  .changeset/slimy-bottles-tie.md
Labels: changeset

tf precommit
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
Labels: infra

tf precommit
  infra/src/README.md
Labels: infra

feat: [IOPAE-707] token exchange manage subscription (#437)
  .changeset/slimy-bottles-tie.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: backoffice, webapp, infra, changeset

add HealthCheckError
  apps/backoffice/src/lib/be/errors.ts
Labels: backoffice

add Apim health check
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

edit legacy cosmos health check
  apps/backoffice/src/lib/be/legacy-cosmos.ts
Labels: backoffice

updated openapi for info API
  apps/backoffice/openapi.yaml
Labels: backoffice

add healthchecks on info api
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/healthcheck.ts
Labels: backoffice

add Health checks unit test
  apps/backoffice/src/lib/be/__tests__/healthcheck.test.ts
Labels: backoffice

fix typo
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/__tests__/healthcheck.test.ts
  apps/backoffice/src/lib/be/healthcheck.ts
Labels: backoffice

add info api unit tests
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
Labels: backoffice

handling generic error on healthcheck.ts
  apps/backoffice/src/lib/be/healthcheck.ts
Labels: backoffice

add health checks for io-services-cms client and slefcare-client
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: backoffice, webapp

changeset
  .changeset/violet-cobras-turn.md
Labels: changeset

[IOPAE-723] B4F Healthchecks (#448)
  .changeset/violet-cobras-turn.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/healthcheck.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/healthcheck.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: backoffice, webapp, changeset
