Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add Default topic_id management on legacy -> cms sync
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: webapp

changeset
  .changeset/shaggy-frogs-shave.md
Labels: changeset

[#IOPAE-968] preserve topic_id on sync legacy (#742)
  .changeset/shaggy-frogs-shave.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#743)
  .changeset/shaggy-frogs-shave.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

add ServiceHistoryItemStatus
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

[IOPAE-798] GET ServiceHistory OpenApi (#739)
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

add zod refine on url schema
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
Labels: backoffice

changeset
  .changeset/fuzzy-cycles-beam.md
Labels: changeset

fix:[IOPAE-988] Avoid start/end spaces on url fields in service create/update form (#744)
  .changeset/fuzzy-cycles-beam.md
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
Labels: backoffice, changeset

add getServiceHistory openapi
  apps/backoffice/openapi.yaml
Labels: backoffice

changeset
  .changeset/gold-carrots-type.md
Labels: changeset

create readonly user migrations scripts
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.1__grant_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/database_review_credentials.tf
Labels: webapp, infra

first handler draft
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
Labels: webapp

[IOPAE-993] Add GetServiceHistory into BackOffice backend api specification (#746)
  .changeset/gold-carrots-type.md
  apps/backoffice/openapi.yaml
Labels: backoffice, changeset

add GetServiceHistory MSW mock
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

fix migration scripts
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.1__grant_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
Labels: webapp

create readonly user migrations scripts (#747)
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.1__grant_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/database_review_credentials.tf
Labels: webapp, infra

change ValidSecureChannelService tos_url type
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp

changeset
  .changeset/shiny-birds-visit.md
Labels: changeset

bugfix:[#IOPAE-997]Remove option from ValidSecureChannelService tos_url type (#750)
  .changeset/shiny-birds-visit.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: webapp, changeset

ci(changesets): version packages (#745)
  .changeset/fuzzy-cycles-beam.md
  .changeset/gold-carrots-type.md
  .changeset/shiny-birds-visit.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

fix flayway migration scripts
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
Labels: webapp

first working handler
  apps/io-services-cms-webapp/GetServiceHistory/function.json
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

fix flayway migration scripts (#751)
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
Labels: webapp

update mock data
  apps/backoffice/mocks/data/backend-data.ts
Labels: backoffice

[IOPAE-996] Add GetServiceHistory MSW mock (#749)
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

Add CosmosPagedHelper
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
Labels: webapp

fix type
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: webapp

cleanUp pt2
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: webapp

add io-ts type for order param
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
Labels: webapp

clean tests
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

clean test
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
Labels: webapp

GetServiceHistory Tests
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
Labels: webapp

changeset
  .changeset/curvy-shoes-shout.md
Labels: changeset

cleanUp
  apps/io-services-cms-webapp/src/main.ts
Labels: webapp

[#IOPAE-992] Add GET /services/{serviceId}/history handler (#748)
  .changeset/curvy-shoes-shout.md
  apps/io-services-cms-webapp/GetServiceHistory/function.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
  apps/io-services-cms-webapp/src/utils/cosmos-paged-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp, changeset

ci(changesets): version packages (#753)
  .changeset/curvy-shoes-shout.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

add GET /services/{serviceId}/history Api on infra
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

fix schemas
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra
