Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

unused export type
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

add autopublish on RequestPublicationItem
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

add requestPublication test on no fsm.autoPublish
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: none

add transition publish from state * to state published on FSM publication
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

updated FSM README
  packages/io-services-cms-models/README.md
Labels: internal

ADDED autoPublish test
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal

add test no payload test for service-review
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
Labels: none

fix readme
  packages/io-services-cms-models/README.md
Labels: internal

downgrade @azure/arm-apimanagement for pagination issues
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: none

add apim getUserSubscriptions method
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
Labels: none

add get all services function implementation
  apps/io-services-cms-webapp/GetServices/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

fix post merge
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: none

added test for request-publication-handler
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: none

fix typo
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
Labels: none

changeset
  .changeset/modern-seahorses-carry.md
Labels: changeset

new implementation using config
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

fix test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
Labels: none

edit 'handleQueueItem should return an Error if queueItem is invalid' test
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
Labels: none

fix permission
  .identity/env/prod/terraform.tfvars
Labels: none

fix permission
  .identity/env/prod/terraform.tfvars
Labels: none

Add infra cicd (#94)
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .identity/01_data.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_ci.tf
  .identity/03_github_environment_ci.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/azuread.tf
  infra/src/key_vault.tf
Labels: ci, infra

fix position terrafmr.sh and env dir
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .identity/env/prod/terraform.tfvars
  infra/src/env/prod/backend.ini
  infra/src/env/prod/backend.tfvars
  infra/src/env/prod/terraform.tfvars
  infra/src/terraform.sh
Labels: ci, infra

Add infra cicd second step (#102)
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .identity/env/prod/terraform.tfvars
  infra/src/env/prod/backend.ini
  infra/src/env/prod/backend.tfvars
  infra/src/env/prod/terraform.tfvars
  infra/src/terraform.sh
Labels: ci, infra

add cicd app
  .github/workflows/azure-deploy.yaml
  .identity/01_data.tf
  .identity/02_application_environment_app_cd.tf
  .identity/03_github_environment_app_cd.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: ci

fix HEALTHCHECK_PATH
  .github/workflows/azure-deploy.yaml
Labels: ci

Add infra status badge
  README.md
Labels: none

Add ci cd app (#103)
  .github/workflows/azure-deploy.yaml
  .identity/01_data.tf
  .identity/02_application_environment_app_cd.tf
  .identity/03_github_environment_app_cd.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: ci

changeset
  .changeset/nasty-seas-tickle.md
Labels: changeset

changeset (#105)
  .changeset/nasty-seas-tickle.md
Labels: changeset

Add infra status badge (#104)
  README.md
Labels: none

changeset
  .changeset/tricky-donkeys-wonder.md
Labels: changeset

add bulkFetch on store
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal

update handler with bulkFetch, queryparams improvement, unit tests
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
Labels: none

changeset
  .changeset/tiny-rocks-serve.md
Labels: changeset

[#IOPAE-340] set max_allowed_payment_amount on publication (#99)
  .changeset/tricky-donkeys-wonder.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

code cleanUp DRY
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

fix code review trigger filter paths
  .github/workflows/code-review.yaml
Labels: ci

fix pipeline
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
Labels: ci

remove commented code
  .github/workflows/azure-deploy.yaml
Labels: ci

added FiscalCode on OpenApi.yaml and set it to authorized_recipients
  openapi.yaml
Labels: none

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
