Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add error types description
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

add fp-ts & functional code refactor
  apps/backoffice/package.json
  apps/backoffice/src/hooks/use-fetch.ts
  yarn.lock
Labels: backoffice

set target page background color
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/styles/globals.css
Labels: backoffice

set target sidenav menu icons
  apps/backoffice/src/components/sidenav/index.tsx
Labels: backoffice

changeset
  .changeset/tasty-games-wink.md
Labels: changeset

chore: BackOffice target page background color and menu icons (#347)
  .changeset/tasty-games-wink.md
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/styles/globals.css
Labels: backoffice, changeset

remove unused default in switch statement
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

use E.isLeft instead of _tag string check
  apps/backoffice/src/hooks/use-fetch.ts
Labels: backoffice

[IOPAE-544] Add useFetch react custom hook (#346)
  .changeset/olive-oranges-wave.md
  apps/backoffice/env.example
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/hooks/use-fetch.ts
  yarn.lock
Labels: backoffice, changeset

update page header ux/ui
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/headers/page-html-head-title.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice

changeset
  .changeset/gentle-rings-suffer.md
Labels: changeset

fix suggestion
  infra/src/00_network.tf
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

set node environment instead od docker to BO App Service
  infra/src/backoffice_webapp.tf
Labels: infra

comment 'not sure' useless resources/configs
  infra/src/00_network.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/backoffice_webapp.tf
Labels: infra

fix backoffice app sku tier
  infra/src/env/prod/terraform.tfvars
Labels: infra

fix backoffice subnet cidr
  infra/src/env/prod/terraform.tfvars
Labels: infra

fix io common vnet name variable
  infra/src/env/prod/terraform.tfvars
Labels: infra

add backoffice infra resources and refactor-move tf variables
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: infra

feat: [IOPAE-573] add backoffice infra resources (#337)
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: infra

fix node version to 18-lts
  infra/src/backoffice_webapp.tf
Labels: infra

fix node version to 18-lts (#349)
  infra/src/backoffice_webapp.tf
Labels: infra

[IOPAE-576] Update page header ux/ui (#348)
  .changeset/gentle-rings-suffer.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/headers/page-html-head-title.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice, changeset

Add CardDetails and CardShortcut implementation
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-shortcut.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
Labels: backoffice

changeset
  .changeset/giant-carpets-sip.md
Labels: changeset

[IOPAE-578] Add CardDetails and CardShortcut (#351)
  .changeset/giant-carpets-sip.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-shortcut.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
Labels: backoffice, changeset

add dialog provider component
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: backoffice

add dialog provider component (#352)
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: backoffice

add snackbar provider component
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: backoffice

changeset
  .changeset/lucky-humans-fetch.md
Labels: changeset

[IOPAE-585] Add Snackbar Provider component (#353)
  .changeset/lucky-humans-fetch.md
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: backoffice, changeset

update jira ticket description
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

changeset
  .changeset/lucky-fireants-teach.md
Labels: changeset

Update apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp

[#IOPAE-579]Update jira ticket description (#354)
  .changeset/lucky-fireants-teach.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

setup io-service-cms proxy
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/{keyType}/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

add io-services-cms mocking
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

update sonar exclusion
  .sonarcloud.properties
  apps/backoffice/src/app/api/utils/io-services-cms-proxy-test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

revert
  apps/backoffice/src/app/api/utils/io-services-cms-proxy-test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice

add missing config
  apps/backoffice/src/app/api/utils/io-services-cms-proxy-test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

revert 2
  apps/backoffice/src/app/api/utils/io-services-cms-proxy-test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
Labels: backoffice
