Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

enable ServiceHistoryWatcher
  infra/src/webapp.tf
Labels: infra

chore: Enable service history watcher (#317)
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra

change auth to POST with identity_token requestBody
  apps/backoffice/openapi.yaml
Labels: backoffice

Set startFromBeginning on ServiceHistoryWatcher
  .changeset/six-pumas-cover.md
Labels: changeset

Set startFromBeginning on ServiceHistoryWatcher (#318)
  .changeset/six-pumas-cover.md
Labels: changeset

ci(changesets): version packages (#319)
  .changeset/six-pumas-cover.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

[IOPAE-506] Add BackOffice openapi.yaml (#310)
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

enable OnRequestSyncLegacy Azure Function
  infra/src/webapp.tf
Labels: infra

changeset
  .changeset/strange-fishes-act.md
Labels: changeset

removed unnecessary changeset
  .changeset/strange-fishes-act.md
Labels: changeset

test refactor with current remote branch ref
  apps/backoffice/openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, backoffice, webapp

update to master branch
  apps/backoffice/openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, backoffice, webapp

chore: Enable on request sync legacy (#320)
  infra/src/webapp.tf
Labels: infra

[IOPAE-524] Refactor openapi schemas (#321)
  apps/backoffice/openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, backoffice, webapp

default value for departmentName before sync to legacy
  apps/backoffice/package.json
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: backoffice, webapp

changeset
  .changeset/wise-onions-prove.md
Labels: changeset

disable OnRequestSyncLegacy
  infra/src/webapp.tf
Labels: infra

disable OnRequestSyncLegacy (#323)
  infra/src/webapp.tf
Labels: infra

fix: Dashboard Fix (#314)
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/config.yaml
Labels: ci

removed debug line for dashboard fix
  .github/workflows/opex_api_services_cms.yml
Labels: ci

removed debug line for dashboard fix (#324)
  .github/workflows/opex_api_services_cms.yml
Labels: ci

validate sync CMS -> Legacy on minimal data
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
Labels: webapp

cleanUp
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
Labels: webapp

enable OnRequestSyncLegacy
  infra/src/webapp.tf
Labels: infra

Update .changeset/wise-onions-prove.md
  .changeset/wise-onions-prove.md
Labels: changeset

chore: default value for departmentName before sync to legacy (#322)
  .changeset/wise-onions-prove.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: backoffice, webapp, infra, changeset

ci(changesets): version packages (#325)
  .changeset/wise-onions-prove.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: webapp, changeset

Added USERID_AUTOMATIC_SERVICE_APPROVAL_INCLUSION_LIST feature flag config
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

Added USERID_AUTOMATIC_SERVICE_APPROVAL_INCLUSION_LIST feature flag config (#326)
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

Added USERID_AUTOMATIC_SERVICE_APPROVAL_INCLUSION_LIST config
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

Added isUserAllowedForAutomaticApproval feature flag utility method
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: webapp

Edit request review handler to manage the automatic service approval deature flag
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
Labels: webapp

add test for automatic service approval
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

edit tests
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
Labels: webapp

Introduced FeatureFlags in README.md
  README.md
Labels: none

changeset
  .changeset/strong-frogs-beam.md
Labels: changeset

refactor
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: webapp

added Example for featureFlags
  README.md
Labels: none

add msw & fakerjs libraries
  apps/backoffice/package.json
  apps/backoffice/public/mockServiceWorker.js
  yarn.lock
Labels: backoffice

add env.example & constants
  apps/backoffice/env.example
  apps/backoffice/src/config/constants.ts
Labels: backoffice

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
