Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

test3
  .github/workflows/code-review.yaml
Labels: ci

test4
  .github/workflows/code-review.yaml
Labels: ci

test5
  packages/external-clients/package.json
  turbo.json
Labels: internal

test6
  apps/backoffice/package.json
  packages/external-clients/package.json
  turbo.json
Labels: internal, backoffice

test7
  .github/workflows/code-review.yaml
  turbo.json
Labels: ci

test8
  .github/workflows/code-review.yaml
Labels: ci

test9
  packages/external-clients/package.json
  turbo.json
Labels: internal

handle FsmItemNotFoundError error when we delete and unpublish a service
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: webapp

fixed typo on unit tests
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
Labels: webapp

add test for withJWTAuthHandler
  apps/backoffice/src/app/api/lib/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/app/api/lib/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/lib/handler-wrappers.ts
  apps/backoffice/src/app/api/lib/io-services-cms-proxy.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

test10
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal

fix mock token exchange
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: backoffice

set right permission
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

feat: [IOPAE-543] be auth using next-auth (#364)
  .changeset/famous-zoos-sneeze.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/lib/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/app/api/lib/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/lib/handler-wrappers.ts
  apps/backoffice/src/app/api/lib/io-services-cms-proxy.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: backoffice, changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add ServiceStatus component and unit tests
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/services/service-status.tsx
Labels: backoffice

Update ApiKeys and AuthorizedCidrs components to reuse in ServiceDetails
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: backoffice

Add ServiceDetailsMenu component placeholder
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-details-menu.tsx
Labels: backoffice

Improvements on CardDetails component
  apps/backoffice/src/components/cards/card-details.tsx
Labels: backoffice

Fix css issue
  apps/backoffice/src/components/dialog-provider/index.tsx
Labels: backoffice

Improve PageHeader loading status
  apps/backoffice/src/components/headers/page-header.tsx
Labels: backoffice

Add ServiceDetails Page (partial implementation)
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice

update and unit tests
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: webapp

changeset
  .changeset/lovely-bulldogs-vanish.md
Labels: changeset

test10
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal

test3
  .github/workflows/code-review.yaml
Labels: ci

test4
  .github/workflows/code-review.yaml
Labels: ci

test9
  packages/external-clients/package.json
  turbo.json
Labels: internal

turbo cache
  .github/workflows/code-review.yaml
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice, ci

test5
  packages/external-clients/package.json
  turbo.json
Labels: internal

fix pt2
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

code clean
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

add turbo cache in code review
  .github/workflows/code-review.yaml
Labels: ci

test8
  .github/workflows/code-review.yaml
Labels: ci

test7
  .github/workflows/code-review.yaml
  turbo.json
Labels: ci

test
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

test6
  packages/external-clients/package.json
  turbo.json
Labels: internal

test2
  packages/external-clients/src/__tests__/index.test.ts
Labels: internal

rollback to previous implementation and cleanup tests
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: webapp

[IOPAE-661] Add Service Details Page (#400)
  .changeset/lovely-bulldogs-vanish.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-details-menu.tsx
  apps/backoffice/src/components/services/service-status.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: backoffice, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
