Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

[#IOPLT-83] Replicate APIM product configuration and enable connectivity through APIM v2
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

Upgrade to terraform 1.5
  .terraform-version
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update infra-static-analysis.yaml
  .github/workflows/infra-static-analysis.yaml
Labels: ci

Update infra-static-analysis.yaml
  .github/workflows/infra-static-analysis.yaml
Labels: ci

Fix OnRequestSyncCms, queueMessage contains a list of items, updated the code in order to process the item list
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

changeset
  .changeset/cyan-bikes-agree.md
Labels: changeset

Upgrade to terraform 1.5 (#221)
  .github/workflows/infra-static-analysis.yaml
  .pre-commit-config.yaml
  .terraform-version
Labels: ci

change data source to string format
  infra/src/env/prod/config.yaml
Labels: infra

update docker version to latest
  .github/workflows/opex_openapi.yml
Labels: ci

[#IOPAE-421] add opex dashboard (#223)
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

revert action group to string format
  infra/src/env/prod/config.yaml
Labels: infra

refactor
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

update opex dashboard azure action to latest version
  .github/workflows/opex_openapi.yml
Labels: ci

[#IOPAE-421] add opex dashboard (#224)
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

improvement in process items
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: none

fix: [IOPAE-443] OnRequestSyncCms process list items instead a single item (#222)
  .changeset/cyan-bikes-agree.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset

fix isVisible
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

changeset
  .changeset/lovely-wasps-float.md
Labels: changeset

code cleanUp
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

fix: [BUG] [#IOPAE-448] isVisible calculation on legacy mapping (#227)
  .changeset/lovely-wasps-float.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset

ci(changesets): version packages (#226)
  .changeset/cyan-bikes-agree.md
  .changeset/lovely-wasps-float.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

change api to exposed one
  .github/workflows/opex_openapi.yml
Labels: ci

[#IOPAE-421] add opex dashboard (#225)
  .github/workflows/opex_openapi.yml
Labels: ci

[#IOPLT-83] Replicate APIM product configuration and enable connectivity through APIM v2 (#220)
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

code cleanUp
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: none

changeset
  .changeset/cold-moose-applaud.md
Labels: changeset

chore: code cleanUp Request Legacy Sync (#228)
  .changeset/cold-moose-applaud.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: changeset

add DELETED suffix on serviceName while mapping, cms -> legacy, a deleted service
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: none

changeset
  .changeset/chilled-jeans-search.md
Labels: changeset

bugfix for required parameter in allOf inside openapi
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  openapi.yaml
Labels: none

update test
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
Labels: none

changeset
  .changeset/dull-parrots-draw.md
Labels: changeset

fix: [BUG] [IOPAE-465] Deleted cms to legacy mapping (#230)
  .changeset/chilled-jeans-search.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset

ci(changesets): version packages (#229)
  .changeset/chilled-jeans-search.md
  .changeset/cold-moose-applaud.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: changeset

fix:[BUG][#IOPAE-455]Generator doesn't generate correctly required parameter inside allOf in openApi (#231)
  .changeset/dull-parrots-draw.md
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  openapi.yaml
Labels: changeset

update opex dashboard pointing to our openapi
  .github/workflows/opex_openapi.yml
Labels: ci

add placeholder value when description is missing on legacy service
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

changeset
  .changeset/tasty-papayas-sin.md
Labels: changeset

Fix: [BUG] mapping legacy placeholder description (#234)
  .changeset/tasty-papayas-sin.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset
