Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

changeset
  .changeset/cuddly-radios-smash.md
Labels: changeset

change mailAddress to digitalAddress in istitution openapi
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal

chore: Fix frontend minor issues for mvp0 release (#544)
  .changeset/cuddly-radios-smash.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/table-view/table-view.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: backoffice, changeset

changeset
  .changeset/little-dots-invite.md
Labels: changeset

fix:change mailAddress to digitalAddress in istitution open api (#546)
  .changeset/little-dots-invite.md
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal, changeset

follow up fix for institution openapi
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/pages/index.tsx
Labels: backoffice

changeset
  .changeset/grumpy-pigs-dream.md
Labels: changeset

fix: Follow up fix for institution open api (#547)
  .changeset/grumpy-pigs-dream.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/pages/index.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#545)
  .changeset/cuddly-radios-smash.md
  .changeset/grumpy-pigs-dream.md
  .changeset/little-dots-invite.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, backoffice, webapp, changeset

cleanUp backoffice
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice

changeset
  .changeset/cyan-hairs-cheer.md
Labels: changeset

change NEXT_PUBLIC_BACK_OFFICE_ID
  apps/backoffice/.env
Labels: backoffice

chore: cleanUp backoffice (#548)
  .changeset/cyan-hairs-cheer.md
  apps/backoffice/.env
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: backoffice, changeset

ci(changesets): version packages (#549)
  .changeset/cyan-hairs-cheer.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

fix fe service rejection reason drawer
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/service-alerts.tsx
Labels: backoffice

changeset
  .changeset/twenty-queens-hide.md
Labels: changeset

fix: fe service rejection reason drawer (#550)
  .changeset/twenty-queens-hide.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/service-alerts.tsx
Labels: backoffice, changeset

ci(changesets): version packages (#551)
  .changeset/twenty-queens-hide.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

temp remove institution selection
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice

changeset
  .changeset/kind-news-stare.md
Labels: changeset

chore: Temporary remove institution selection on page header (#552)
  .changeset/kind-news-stare.md
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice, changeset

backoffice mvp0 public major version
  .changeset/stale-trees-appear.md
Labels: changeset

backoffice mvp0 public major version (#554)
  .changeset/stale-trees-appear.md
Labels: changeset

ci(changesets): version packages (#553)
  .changeset/kind-news-stare.md
  .changeset/stale-trees-appear.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

update next 13.5.3 -> 13.5.6
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

changeset
  .changeset/rare-hotels-pump.md
Labels: changeset

add detailedl log on authorize
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
Labels: backoffice

ManagedInternal error will contains additional details
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
Labels: backoffice

allow redirect URL to Selfcare origin
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

cleanup
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

enable party switch
  apps/backoffice/src/components/headers/header.tsx
Labels: backoffice

remove useless timeout on login page
  apps/backoffice/src/pages/auth/login.tsx
Labels: backoffice

changeset
  .changeset/orange-baboons-do.md
Labels: changeset

log ManagedInternalError
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
Labels: backoffice

feat: [IOPAE-803] BO enable party switch (#557)
  .changeset/orange-baboons-do.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/pages/auth/login.tsx
Labels: backoffice, changeset

changeset
  .changeset/fluffy-laws-fetch.md
Labels: changeset

decrease session duration
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice

chore: [IOPAE-804] B4F decrease session duration (#558)
  .changeset/fluffy-laws-fetch.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: backoffice, changeset

cleanUp pt2
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: backoffice

changeset
  .changeset/slimy-geckos-learn.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
