Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, backoffice, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
backoffice: apps/backoffice/**/*
webapp: apps/io-services-cms-webapp/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

mock services cms info only in dev env
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice

changeset
  .changeset/sour-owls-call.md
Labels: changeset

chore: Upgrade azure deploy action (#489)
  .changeset/sour-owls-call.md
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: backoffice, ci, changeset

ci(changesets): version packages (#490)
  .changeset/sour-owls-call.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

minor mock update
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

fix routing link on services page
  apps/backoffice/src/pages/services/index.tsx
Labels: backoffice

Add agentKeepalive on rest clients
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra

changeset
  .changeset/tender-waves-mix.md
Labels: changeset

fix apim service test
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
Labels: backoffice

chore: Add agentKeepalive on rest clients (#492)
  .changeset/tender-waves-mix.md
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/backoffice_webapp.tf
Labels: backoffice, infra, changeset

ci(changesets): version packages (#493)
  .changeset/tender-waves-mix.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add WEBSITE_RUN_FROM_PACKAGE
  infra/src/backoffice_webapp.tf
Labels: infra

add WEBSITE_RUN_FROM_PACKAGE (#494)
  infra/src/backoffice_webapp.tf
Labels: infra

[#IOPAE-759] change jira contract field on create to Null (#488)
  .changeset/bright-trees-change.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: webapp, changeset

remove getIoServicesCmsHealth on info api
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

changeset
  .changeset/kind-cars-exist.md
Labels: changeset

cleanUp
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice

chore: remove getIoServicesCmsHealth on info api (#496)
  .changeset/kind-cars-exist.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: backoffice, changeset

ci(changesets): version packages (#495)
  .changeset/bright-trees-change.md
  .changeset/kind-cars-exist.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
Labels: backoffice, webapp, changeset

changeset
  .changeset/gold-items-ring.md
Labels: changeset

add appinsight configs
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
  yarn.lock
Labels: backoffice, infra

enable app insights only in prod env
  apps/backoffice/src/instrumentation.ts
Labels: backoffice

feat: [IOPAE-779] add appinsight configs (#497)
  .changeset/gold-items-ring.md
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
  yarn.lock
Labels: backoffice, infra, changeset

removed healtcheck which calls external services
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

changeset
  .changeset/brave-months-fold.md
Labels: changeset

chore: removed healtcheck which calls external services (#499)
  .changeset/brave-months-fold.md
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice, changeset

ci(changesets): version packages (#498)
  .changeset/brave-months-fold.md
  .changeset/gold-items-ring.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

add io-services-cms healtcheck
  apps/backoffice/src/app/api/info/route.ts
Labels: backoffice

changeset
  .changeset/poor-mails-tease.md
Labels: changeset

add client healthchecks in /info and /health Route Handler
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice

changeset
  .changeset/silent-dryers-push.md
Labels: changeset

chore: Transform external clients into regular singleton instead of caching instance using react cache (#501)
  .changeset/silent-dryers-push.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: backoffice, changeset

ci(changesets): version packages (#502)
  .changeset/silent-dryers-push.md
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
Labels: backoffice, changeset

service preview unit test
  apps/backoffice/src/components/__tests__/service-preview.test.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: backoffice

update ids
  apps/backoffice/src/components/__tests__/service-preview.test.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: backoffice

update mocks
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
Labels: backoffice

update translations
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: backoffice

add general purpose ButtonWithLoader
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
Labels: backoffice

add subscription migration components
  apps/backoffice/src/components/services/subscriptions-migration/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
  apps/backoffice/src/pages/index.tsx
Labels: backoffice
