Repository pagopa/io-services-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, webapp, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
webapp: apps/webapp-fn/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix legacy cosmosDb name
  infra/src/env/prod/terraform.tfvars
Labels: infra

fix ownerId match
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

changeset
  .changeset/smart-dancers-move.md
Labels: changeset

add request-sync-cms queue
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

add request-sync-cms queue (#157)
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

code cleanUp
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: none

code cleanUp test ownerId
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
Labels: none

replaced TaskEither with Either on syncronous function
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: none

TIBA-1 Just a dot for a test
  README.md
Labels: none

TIBA-1 last automation test
  README.md
Labels: none

TIBA-1 Just a dot for a test (#159)
  README.md
Labels: none

TIBA-1 last automation test (#160)
  README.md
Labels: none

fix: owner id match and wrong cosmosDb legacy name (#158)
  .changeset/smart-dancers-move.md
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  infra/src/env/prod/terraform.tfvars
Labels: infra, changeset

fix processBatchOf generics params
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
Labels: none

fix async to sync handler
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

add unit test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
Labels: none

add onLegacyServiceChange EntryPoint and Handler
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: none

fix IP value on unit test
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
Labels: none

add RequestSyncCmsItem queue type
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal

rename OnLegacyServiceChange az fn
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  infra/src/webapp.tf
Labels: infra

add request-sync-cms as output to LegacyServiceWatcher
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: none

changeset
  .changeset/orange-lions-deny.md
Labels: changeset

feat: [IOPAE-382] sync legacy watcher (#156)
  .changeset/orange-lions-deny.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, infra, changeset

ci(changesets): version packages (#136)
  .changeset/clean-crews-brush.md
  .changeset/gold-tigers-return.md
  .changeset/nine-candles-wait.md
  .changeset/orange-lions-deny.md
  .changeset/orange-trainers-accept.md
  .changeset/perfect-berries-promise.md
  .changeset/shiny-jobs-camp.md
  .changeset/short-owls-happen.md
  .changeset/smart-dancers-move.md
  .changeset/strange-clocks-bathe.md
  .changeset/tiny-rocks-serve.md
  .changeset/yellow-ways-kneel.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

update openapi with cidrs
  openapi.yaml
Labels: none

update service model and converters with authorized_cidrs
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

unit tests
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
Labels: internal

changeset
  .changeset/mighty-bats-compare.md
Labels: changeset

[IOPAE-392] Add authorized_cidrs to service model (#161)
  .changeset/mighty-bats-compare.md
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset

changeset
  .changeset/kind-foxes-explain.md
Labels: changeset

add request historicization action to on-service-lifecycle-change handler
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: none

chore: [IOPAE-396] historicize service lifecycle changes (#163)
  .changeset/kind-foxes-explain.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset

fix bulk fetch on store cosmos which prevent from fetching any data
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal

changeset
  .changeset/small-kiwis-wait.md
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: changeset

reverting cron expression change
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: none

update definitions to match open api
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal

fix: bulk fetch on store cosmos which prevent from fetching any data (#164)
  .changeset/small-kiwis-wait.md
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: internal, changeset

changeset
  .changeset/silly-geckos-search.md
Labels: changeset

ci(changesets): version packages (#162)
  .changeset/kind-foxes-explain.md
  .changeset/mighty-bats-compare.md
  .changeset/small-kiwis-wait.md
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
Labels: internal, changeset

added fetch and bulkFetch test
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
Labels: internal
