Repository pagopa/io-services-cms, pull requests merged in 2023-05, with the labels that each got.

#18 [IOPAE-299] Add Cosmos db store for FSM
  package.json
  packages/io-services-cms-models/__integrations__/fms/cosmos_utils.ts
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/__integrations__/vitest.config.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/tsconfig.json
  packages/io-services-cms-models/vitest.config.ts
  turbo.json
  yarn.lock
Labels: internal

#26 [#IOPAE-303] Service Review Proxy - Add getJiraIssueByServiceId
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/types.ts
Labels: internal, webapp

#27 Fix deploy pipeline
  .changeset/itchy-glasses-glow.md
  .github/workflows/azure-deploy.yaml
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: ci, internal, changeset, webapp

#30 Fix cd
  .changeset/twenty-clocks-invite.md
  packages/io-services-cms-models/README.md
Labels: internal, changeset

#31 Fix webapp package script
  .changeset/strong-bugs-vanish.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: changeset, webapp

#34 Rename Azure resources
  infra/src/common.tf
Labels: infra

#35 Add infrastructure checks on CI
  .github/workflows/infra-static-analysis.yaml
  README.md
  docs/terraform-development.md
Labels: ci, docs

#33 [IOPAE-304]Add configuration app in infra
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

#39 [IOPAE-308] create postgres db migration
  .changeset/strong-ligers-rush.md
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/src/reviewer/scripts/run_flyway_on_server.sh
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
Labels: changeset, webapp, infra

#25 [IOPAE-279] service review handler
  .changeset/tough-carrots-shave.md
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/storage_account.tf
  packages/io-services-cms-models/package.json
  turbo.json
  yarn.lock
Labels: internal, changeset, webapp, infra

#43 [IOPAE-240] Add `CreateService` endpoint
  .changeset/breezy-shoes-joke.md
  .github/workflows/code-review.yaml
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/.prettierignore
  apps/io-services-cms-webapp/CreateService/function.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/azure/cosmos.ts
  apps/io-services-cms-webapp/src/lib/middlewares/user-email-middleware.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
  openapi.yaml
  package.json
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  turbo.json
  yarn.lock
Labels: ci, internal, changeset, webapp, infra

#45 docs: add db migration docs
  apps/io-services-cms-webapp/README.md
Labels: webapp, docs

#47 [IOPAE-311] kebab-case renaming
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/apim-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
Labels: webapp

#49 [#IOPAE-288] Service Review Checker handler
  .changeset/violet-walls-yawn.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: changeset, webapp

#50 feat: [IOPAE-315] setup timerTrigger fb for service review checker (poller)
  .changeset/fuzzy-pears-repeat.md
  apps/io-services-cms-webapp/OnRequestReview/function.json
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/src/main.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra, feat

#51 [IOPAE-312] `OnServiceLifecycleChange` entrypoint setup
  apps/io-services-cms-webapp/src/lib/azure/__tests__/adapters.test.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/misc.test.ts
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
Labels: webapp

#56 feat: [IOPAE-312] add on service lifecycle change handler
  .changeset/sixty-camels-dance.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp, infra, feat

#53 [IOPAE-318] Setup `OnLegacyServiceChange` function
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  docs/infra.drawio.svg
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
  infra/src/webapp_monitor.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, webapp, docs, infra

#58 feat: [IOPAE-325] create review service controller
  .changeset/clean-poems-scream.md
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp, feat

#62 fix: storage account public access unless private endpoint
  infra/src/storage_account.tf
Labels: infra, fix

#63 Set extensions for azure functions v4
  .changeset/blue-cars-destroy.md
  apps/io-services-cms-webapp/extensions.csproj
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp

#64 Fix broken entrypoint
  .changeset/lovely-pens-kick.md
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
Labels: changeset, webapp

#61 bugfix: [IOPAE-325] add review service fn
  apps/io-services-cms-webapp/ReviewService/function.json
Labels: bug, webapp

#68 Fix health check
  .changeset/good-emus-confess.md
Labels: changeset

#70 bugfix: fix errors when running app
  .changeset/ninety-doors-wonder.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  infra/src/webapp.tf
  openapi.yaml
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
Labels: bug, internal, changeset, webapp, infra

#72 fix: local setup
  .changeset/grumpy-hounds-joke.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  yarn.lock
Labels: changeset, webapp, fix

#79 [IOPAE-328] Update OpenApi Service status
  .changeset/swift-snails-buy.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service/index.ts
  openapi.yaml
Labels: changeset, webapp

#55 [IOPAE-323] FSM Custom Errors
  .changeset/blue-months-clap.md
  apps/io-services-cms-webapp/src/_to-solve.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp

#84 [#IOPAE-246] Delete Service API
  apps/io-services-cms-webapp/DeleteService/function.json
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service/index.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: webapp

#88 fix: update pending review error mgmt
  .changeset/yellow-seals-join.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: changeset, webapp, fix

#92 [#IOPAE-334] Infra: Cosmos containers renaming
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/webapp.tf
Labels: webapp, infra

#89 [#IOPAE-333] Code clean up for controllers and associated tests
  .changeset/weak-wasps-cheer.md
  apps/io-services-cms-webapp/src/webservice/__tests__/index.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
Labels: changeset, webapp
