Repository pagopa/io-services-cms, pull requests merged in 2023-07, with the labels that each got.

#185 fix: add Microsoft.Azure.Functions.ExtensionBundle in host.json
  apps/io-services-cms-webapp/host.json
Labels: webapp, fix

#186 fix: extension bundle
  .changeset/breezy-monkeys-serve.md
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp

#188 [#IOPAE-418] Add io-fn3-services-key in upload service logo policy
  infra/src/api/io_services_cms/v1/updateservicelogo_policy/policy.xml
Labels: infra

#189 fix: change extensionBundle version
  .changeset/serious-lobsters-sniff.md
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp, fix

#192 fix: added right postgreSQL user
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, fix

#191 feat: [IOPAE-384] sync CMS handling
  .changeset/sixty-poets-lick.md
  apps/io-services-cms-webapp/OnRequestSyncCms/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp, infra, feat

#194 feat: [IOPAE-430] request sync legacy handler
  .changeset/cyan-steaks-reply.md
  apps/io-services-cms-webapp/OnRequestSyncLegacy/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra, feat

#195 [#IOPAE-419] Better Logging
  .changeset/gorgeous-mails-shave.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#196 refactor: move from Legacy label into a shared utility
  .changeset/twelve-laws-wink.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset, webapp, refactor

#197 [#IOAPE-434] Added FeatureFlag for cms to legacy sync test
  .changeset/tricky-donkeys-taste.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/feature-flag-handler.test.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra

#198 [#IOPAE-434] Enable service history watcher
  infra/src/webapp.tf
Labels: infra

#201 [#IOPAE-434] History service watcher start beginning
  .changeset/afraid-yaks-yell.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
Labels: changeset, webapp

#203 fix: [#IOPAE-434] watcher history feature flag
  .changeset/hungry-rivers-shave.md
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra, fix

#206 fix:[#IOPAE-434] Add verbose logs sync legacy handler
  .changeset/dirty-terms-grab.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset, webapp, fix

#209 fix: [#IOPAE-434] Fix stringify
  .changeset/tidy-candles-compare.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset, webapp, fix

#213 [#IOPAE-443] Feature flag legacy cms sync test
  .changeset/quick-countries-explain.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra

#215 [IOPAE-443] Legacy service watcher start beginning
  .changeset/brown-otters-greet.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
Labels: changeset, webapp

#218 fix: [#IOPAE-443] Jira legacy JQL
  .changeset/brown-buses-taste.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, fix

#205 [#IOPAE-421] Opex dashboard
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

#221 Upgrade to terraform 1.5
  .github/workflows/infra-static-analysis.yaml
  .pre-commit-config.yaml
  .terraform-version
Labels: ci

#223 [#IOPAE-421] add opex dashboard
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

#224 [#IOPAE-421] add opex dashboard
  .github/workflows/opex_openapi.yml
  infra/src/env/prod/config.yaml
Labels: ci, infra

#222 fix: [IOPAE-443] OnRequestSyncCms process list items instead a single item
  .changeset/cyan-bikes-agree.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp, fix

#227 fix: [BUG] [#IOPAE-448] isVisible calculation on legacy mapping
  .changeset/lovely-wasps-float.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: bug, internal, changeset, webapp, fix

#225 [#IOPAE-421] add opex dashboard
  .github/workflows/opex_openapi.yml
Labels: ci

#220 [#IOPLT-83] Replicate APIM product configuration and enable connectivity through APIM v2
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

#228 chore: code cleanUp Request Legacy Sync
  .changeset/cold-moose-applaud.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: changeset, webapp, chore

#230 fix: [BUG] [IOPAE-465] Deleted cms to legacy mapping
  .changeset/chilled-jeans-search.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: bug, changeset, webapp, fix

#231 fix:[BUG][#IOPAE-455]Generator doesn't generate correctly required parameter inside allOf in openApi
  .changeset/dull-parrots-draw.md
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  openapi.yaml
Labels: bug, changeset, webapp, fix

#234 Fix: [BUG] mapping legacy placeholder description
  .changeset/tasty-papayas-sin.md
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp

#235 fix: [BUG] Placeholder metadata description on legacy cms mapping
  .changeset/nine-readers-wave.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, fix

#237 fix: [BUG] [#IOPAE-475] fix sync legacy cms unpublish
  .changeset/healthy-monkeys-yell.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, fix

#241 fix: [#IOPAE-478] Status name jira legacy not recognized
  .changeset/fifty-crabs-lick.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, fix

#239 fix: [IOPAE-466] Unpublish service on delete
  .changeset/red-kids-judge.md
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp, fix

#244 fix: [IOPAE-479] unpublish service when deleting id coming from legacy sync
  .changeset/soft-dogs-boil.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, fix

#247 refactor: chore: wrap error adding information about the processed serviceId
  .changeset/new-turtles-perform.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, refactor, chore

#249 chore: [IOPAE-458] preparation for controlled massive sync
  .changeset/brave-bags-share.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra, chore

#250 chore(fix): Log status response jira client
  .changeset/cold-parrots-scream.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, chore

#252 chore(fix): Feature flag optimization
  .changeset/short-sheep-nail.md
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: changeset, webapp, fix, chore

#254 chore: Log jira response on error
  .changeset/afraid-items-remember.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, chore

#257 Update runner version
  .changeset/ten-lies-shop.md
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  infra/src/README.md
  infra/src/azuread.tf
Labels: ci, changeset, infra

#261 chore(fix): Add max items per invocation on Legacy Service Watcher
  .changeset/odd-buckets-brush.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/config.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra, chore

#263 chore(fix): type legacy max items
  .changeset/real-candles-applaud.md
  apps/io-services-cms-webapp/src/config.ts
Labels: changeset, webapp, chore

#265 Numberfromstring legacy max items
  .changeset/slow-peaches-thank.md
  apps/io-services-cms-webapp/src/config.ts
Labels: changeset, webapp

#269 chore: Legacy service watcher sequential process
  .changeset/funny-donkeys-return.md
  apps/io-services-cms-webapp/src/main.ts
Labels: changeset, webapp, chore

#271 chore: Add retry on Legacy Service Watcher
  .changeset/tough-pets-shave.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, chore

#273 chore: Jira optimization on legacy service watcher
  .changeset/real-keys-juggle.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, chore

#275 chore: Add retry capabilities to Jira Legacy Client on Throttled response
  .changeset/odd-jeans-agree.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, fix, chore

#278 chore(fix): Status category optional legacy jira
  .changeset/nine-chairs-warn.md
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
Labels: changeset, webapp, chore

#246 Link Healthcheck alarm to main error action group
  infra/src/webapp.tf
  infra/src/webapp_monitor.tf
Labels: infra

#280 fix: [IOPAE-488] add request-review-legacy queue
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra, fix

#255 [#IOPAE-456] temporary api mock policy for apim v2 upgrade
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

#283 [#IOPAE-457] Delete temporary policy after upgrade to apim v2
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra
