Repository pagopa/io-services-cms, pull requests merged in 2023-10, with the labels that each got.

#390 [IOPAE-646] Frontend authorization level on Components, Sidenav, Page Routes
  .changeset/nine-parrots-remember.md
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/__tests__/sidenav.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/types/auth.ts
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
  apps/backoffice/vitest.config.react.ts
Labels: changeset, backoffice

#394 [IOPAE-656] Update NextJs v.13.5 and other minor packages updates
  .changeset/fuzzy-ties-ring.md
  apps/backoffice/package.json
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: changeset, backoffice

#393 [#IOPAE-444] Unified tests folders
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
Labels: webapp

#395 fix: [IOPAE-575] fix build package script
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: fix, backoffice

#396 [IOPAE-660] Add notifications on fetchData result
  .changeset/sharp-bikes-live.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/providers/app.tsx
  yarn.lock
Labels: changeset, backoffice

#398 fix: [IOPAE-575] add github runner snet to bo allowed snet
  infra/src/backoffice_webapp.tf
Labels: infra, fix

#364 feat: [IOPAE-543] be auth using next-auth
  .changeset/famous-zoos-sneeze.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/lib/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/app/api/lib/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/lib/handler-wrappers.ts
  apps/backoffice/src/app/api/lib/io-services-cms-proxy.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: changeset, feat, backoffice

#400 [IOPAE-661] Add Service Details Page
  .changeset/lovely-bulldogs-vanish.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-details-menu.tsx
  apps/backoffice/src/components/services/service-status.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice

#401 fix : [#IOPAE-659] bug on delete api with never approved service
  .changeset/stale-news-tap.md
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
Labels: changeset, webapp, fix

#403 [#IOPAE-631] ADD Manage Keys API handler Implementation in Backoffice
  .changeset/spotty-walls-matter.md
  apps/backoffice/package.json
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/config/index.ts
  yarn.lock
Labels: changeset, backoffice

#404 [IOPAE-663] Add ServiceContextMenu on ServiceDetails page
  .changeset/hot-actors-glow.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-details-menu.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice

#405 [#IOPAE-629] ADD PUT /keys/manage API handler Implementation in Backoffice
  .changeset/metal-feet-arrive.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
Labels: changeset, backoffice

#409 [#IOPAE-675]Add delay step for backoffice action
  .github/workflows/azure-deploy.yaml
Labels: ci

#399 chore: [#IOPAE-669] Add turbo cache in code review
  .github/workflows/code-review.yaml
  turbo.json
Labels: ci, chore

#408 [#IOPAE-637] Implements PUT /keys/manage/cidrs endpoint
  .changeset/green-pets-help.md
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
Labels: changeset, backoffice

#402 feat: [IOPAE-665] implement token exchange
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/types/auth.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
  yarn.lock
Labels: internal, feat, backoffice

#412 [IOPAE-667] Service details page with alerts, information card and updated context menu
  .changeset/happy-apes-bathe.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/service-alerts.test.tsx
  apps/backoffice/src/components/__tests__/service-context-menu.test.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/drawer-provider/index.tsx
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-alerts.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/providers/app.tsx
  apps/backoffice/src/types/service.ts
  yarn.lock
Labels: changeset, backoffice

#411 fix : add final error status check for BO deploy action
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#415 fix syntax error on condition
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#416 [IOPAE-662] Add ServiceLogo component in service details page
  .changeset/wild-forks-shop.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/test-logo.png
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-base-container.tsx
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/index.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-logo.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
  yarn.lock
Labels: changeset, backoffice

#418 [IOPAE-679] add nextauth authorize unit tests
  .changeset/metal-rice-unite.md
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: changeset, backoffice

#420 chore(fix): Fix auth unit test
  .changeset/giant-fans-notice.md
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
Labels: changeset, chore, backoffice

#424 chore(bug): [IOPAE-692] Handle new jira status names
  .changeset/mean-mails-relax.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: bug, changeset, webapp, fix, chore

#425 chore: Upgrade github action runner image version
  .changeset/pink-emus-travel.md
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci, changeset, chore

#427 chore: use default github hosted runner image version
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci, chore

#417 [#IOPAE-678] Refactor module pattern
  .changeset/long-seals-fry.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/lib/__tests__/authorized-cidrs.test.ts
  apps/backoffice/src/app/api/lib/__tests__/handler-wrappers.test.ts
  apps/backoffice/src/app/api/lib/__tests__/keys-manage.test.ts
  apps/backoffice/src/app/api/lib/apim-helper.ts
  apps/backoffice/src/app/api/lib/authorized-cidrs.ts
  apps/backoffice/src/app/api/lib/keys-manage.ts
  apps/backoffice/src/app/api/lib/subscription-cidrs-singleton.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/keys.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/lib/be/cms/client.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/keys/apim.ts
  apps/backoffice/src/lib/be/keys/business.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: changeset, backoffice

#431 [#IOPLT-20] Dismiss APIM v1
  infra/src/00_apim.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/webapp.tf
Labels: infra

#432 [IOPAE-680] Add service create/update process form
  .changeset/metal-snakes-serve.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/buttons/button-back.tsx
  apps/backoffice/src/components/buttons/button-cancel.tsx
  apps/backoffice/src/components/buttons/button-create-draft.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/buttons/button-show-more.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/create-update-process/steps-pipeline.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/multi-select-controller.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/forms/controllers/switch-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/forms/index.ts
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/index.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#430 feat: [IOPAE-676] apim user creation
  .changeset/long-gorillas-beam.md
  apps/backoffice/.env.development
  apps/backoffice/.env.test
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/token-exchange.tsx
Labels: changeset, feat, backoffice

#433 chore: update Institutions selfcare-B4F definition
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal, chore

#435 [IOPAE-699] Add Frontend to Api ServicePayload conversion
  .changeset/brown-schools-learn.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/package.json
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-assistance-channels.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
  yarn.lock
Labels: changeset, backoffice

#434 [#IOPAE-709] Impements Institution APIs
  .changeset/light-yaks-act.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/selfcare-openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/types/selfcare/AssistanceContactsResource.ts
  apps/backoffice/src/types/selfcare/Attribute.ts
  apps/backoffice/src/types/selfcare/Attributes.ts
  apps/backoffice/src/types/selfcare/CompanyInformationsResource.ts
  apps/backoffice/src/types/selfcare/DataProtectionOfficer.ts
  apps/backoffice/src/types/selfcare/DpoDataResource.ts
  apps/backoffice/src/types/selfcare/GeographicTaxonomy.ts
  apps/backoffice/src/types/selfcare/Institution.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
  apps/backoffice/src/types/selfcare/InvalidParam.ts
  apps/backoffice/src/types/selfcare/PaymentServiceProvider.ts
  apps/backoffice/src/types/selfcare/Problem.ts
  apps/backoffice/src/types/selfcare/PspDataResource.ts
  apps/backoffice/src/types/selfcare/RootParentResource.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: changeset, infra, backoffice

#439 fix: apim mws mock
  .changeset/yellow-actors-learn.md
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
Labels: changeset, fix, backoffice

#441 ADD test upload service logo api
  .changeset/seven-cats-cry.md
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#440 [IOPAE-698] fe service description preview
  .changeset/quick-mayflies-itch.md
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-preview.tsx
  yarn.lock
Labels: changeset, backoffice

#443 Remove Upload Service Logo Test API
  .changeset/tough-bugs-sparkle.md
  apps/io-services-cms-webapp/UploadServiceLogoTest/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#437 feat: [IOPAE-707] token exchange manage subscription
  .changeset/slimy-bottles-tie.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/apim-data.ts
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/config/index.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: changeset, webapp, infra, feat, backoffice

#448 [IOPAE-723] B4F Healthchecks
  .changeset/violet-cobras-turn.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/healthcheck.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/healthcheck.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: changeset, webapp, backoffice

#449 [IOPAE-713] Add frontend service update
  .changeset/weak-llamas-raise.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#450 [#IOPAE-737] ADD GET health api in B4F
  .changeset/quiet-comics-draw.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
Labels: changeset, backoffice

#451 [IOPAE-744] Add BackOffice footer links
  .changeset/curly-steaks-rest.md
  apps/backoffice/.env
  apps/backoffice/src/components/footer/index.tsx
  apps/backoffice/src/config/index.ts
Labels: changeset, backoffice

#452 refactor: B4F refactor apim service
  .changeset/beige-bikes-wave.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/apim-service.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, refactor, backoffice

#453 chore(fix): dynamic api info health
  .changeset/nine-paws-admire.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: changeset, chore, backoffice

#455 [#IOPAE-748] Add service/list API on B4F openapi.yaml
  apps/backoffice/openapi.yaml
Labels: backoffice

#458 Iopae 738 b4f fetch logged institution logo
  .changeset/quick-pans-grow.md
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: changeset, backoffice

#459 [#IOPAE-748] Edit visibility field
  apps/backoffice/openapi.yaml
Labels: backoffice
