Repository pagopa/io-services-cms, pull requests merged in 2023-04, with the labels that each got.

#1 [IOPAE-236] Setup CI/CD
  .github/labeler.yml
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  .github/workflows/release.yaml
  .identity/.gitignore
  .identity/.terraform-version
  .identity/01_data.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_runner.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_runner.tf
  .identity/99_locals.tf
  .identity/99_main.tf
  .identity/99_outputs.tf
  .identity/99_variables.tf
  .identity/env/prod/backend.ini
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/terraform.sh
  apps/.keep
  packages/.keep
Labels: ci

#6 [IOPAE-261] Setup web application
  .changeset/good-beds-deliver.md
  .github/labeler.yml
  apps/.keep
  apps/io-services-cms-webapp/.eslintrc.js
  apps/io-services-cms-webapp/.prettierignore
  apps/io-services-cms-webapp/Info/function.json
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/functions/info.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/routes.ts
  apps/io-services-cms-webapp/tsconfig.json
  apps/io-services-cms-webapp/vitest.config.ts
  openapi.yaml
  tsconfig.json
  yarn.lock
Labels: changeset, webapp

#5 [#IOPAE-255] service lifecycle fms
  .changeset/README.md
  .changeset/tame-tigers-impress.md
  .editorconfig
  README.md
  packages/.keep
  packages/io-services-cms-models/README.md
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-lifecycle/types.ts
  packages/io-services-cms-models/tsconfig.json
  packages/models/.eslintrc.js
  tsconfig.json
  yarn.lock
Labels: internal, changeset

#8 [IOPAE-293] Pin actions version to commit sha
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  .github/workflows/release.yaml
Labels: ci

#7 [IOPAE-278] Setup infrastructure
  .github/labeler.yml
  .gitignore
  .pre-commit-config.yaml
  .terraform-version
  README.md
  docs/infra.drawio.svg
  infra/env/prod/backend.ini
  infra/env/prod/backend.tfvars
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/_shared_monitor.tf
  infra/src/_shared_vnet.tf
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/main.tf
  infra/src/network.tf
  infra/src/resource_group.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/terraform.sh
Labels: docs, infra

#11 [#IOPAE-295] JiraClient searchJiraIssues
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

#10 [#IOPAE-280] JiraClient
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

#12 Hotfix
  apps/io-services-cms-webapp/env.example
Labels: webapp

#16 Declare export packages
  packages/io-services-cms-models/package.json
Labels: internal

#14 [IOPAE-297] Service Review Proxy
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/apim_client.test.ts
  apps/io-services-cms-webapp/src/__tests__/jira_client.test.ts
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/service_review_proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

#19 [IOPAE-300] Setup CD
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
  .identity/03_github_environment_runner.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
Labels: ci

#13 [IOPAE-296] add postgres
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  yarn.lock
Labels: infra

#21 [#IOPAE-302] APIM Util - Get Delegate from ServiceId
  .changeset/good-beds-deliver.md
  .changeset/tame-tigers-impress.md
  .github/workflows/release.yaml
  apps/io-services-cms-webapp/CHANGELOG.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/utils/apim.ts
  apps/io-services-cms-webapp/src/utils/service_review_proxy.ts
  package.json
  packages/io-services-cms-models/CHANGELOG.md
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: webapp

#20 [IOPAE-301] client apim config
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/apim_client.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/jira_client.ts
Labels: webapp

#15 [IOPAE-298] add pgClient and serviceReviewDao
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/pg-client.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  yarn.lock
Labels: webapp
