Repository pagopa/io-services-cms, pull requests merged in 2023-09, with the labels that each got.

#331 [#IOPAE-436] Logging unification and improvements
  .changeset/warm-berries-train.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: changeset, webapp, chore

#332 feat: [IOPAE-542] add services-cms rest client generation
  .changeset/fresh-beds-pay.md
  apps/backoffice/package.json
Labels: changeset, backoffice

#333 chore: Export Selfcare Identity payload from inline to an external Schemas
  .changeset/dull-scissors-learn.md
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, changeset, chore, backoffice

#336 [#IOPAE-545] Empty state component
  .changeset/eighty-weeks-remain.md
  apps/backoffice/src/components/empty-state/index.tsx
Labels: changeset, backoffice

#347 chore: BackOffice target page background color and menu icons
  .changeset/tasty-games-wink.md
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/styles/globals.css
Labels: changeset, chore, backoffice

#346 [IOPAE-544] Add useFetch react custom hook
  .changeset/olive-oranges-wave.md
  apps/backoffice/env.example
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/hooks/use-fetch.ts
  yarn.lock
Labels: changeset, backoffice

#337 feat: [IOPAE-573] add backoffice infra resources
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: infra, feat

#349 fix node version to 18-lts
  infra/src/backoffice_webapp.tf
Labels: infra, fix

#348 [IOPAE-576] Update page header ux/ui
  .changeset/gentle-rings-suffer.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/headers/page-html-head-title.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: changeset, backoffice

#353 [IOPAE-585] Add Snackbar Provider component
  .changeset/lucky-humans-fetch.md
  apps/backoffice/src/components/snackbar-provider/index.tsx
  apps/backoffice/src/providers/app.tsx
Labels: changeset, backoffice

#354 [#IOPAE-579]Update jira ticket description
  .changeset/lucky-fireants-teach.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#355 [#IOPAE-541] Add io-services-cms mocking
  .sonarcloud.properties
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/config/constants.ts
Labels: backoffice

#357 [IOPAE-548] Add next-auth for frontend autentication
  .changeset/six-tables-fix.md
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/layouts/protected-layout.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/auth/logout.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/types/next-auth.d.ts
  yarn.lock
Labels: changeset, backoffice

#359 fix:[IOPAE-600] Fix useTranslation import
  .changeset/poor-hounds-hope.md
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/cards/card-shortcut.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
Labels: changeset, fix, backoffice

#358 [IOPAE-595] Update next-auth with session token data
  .changeset/fuzzy-pillows-tap.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/app/api/auth/types.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: changeset, backoffice

#361 [IOPAE-597] Add AccessControl component and setup unit tests frontend
  .changeset/stale-pigs-mate.md
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
  apps/backoffice/tsconfig.json
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: changeset, backoffice

#362 [#IOPAE-604]Add jest-dom library
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/__tests__/setup.ts
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  yarn.lock
Labels: backoffice

#334 [#IOPAE-540] Setup B4F and Forward io-services-cms request
  .changeset/honest-windows-juggle.md
  .github/workflows/code-review.yaml
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/app/api/auth/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/utils/__tests__/io-services-cms-proxy.test.ts
  apps/backoffice/src/app/api/utils/io-services-cms-proxy.ts
  apps/backoffice/src/config/index.ts
Labels: ci, changeset, backoffice

#365 [#IOPAE-608] Add Manage Key APIs definitions
  apps/backoffice/openapi.yaml
Labels: backoffice

#367 [#IOPAE-609] ADD Manage Keys API handler placeholders
  .changeset/hip-pianos-melt.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
Labels: changeset, backoffice

#366 [IOPAE-601] Add Institution selection
  .changeset/spotty-baboons-lick.md
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
  apps/backoffice/src/utils/string-util.ts
  yarn.lock
Labels: changeset, backoffice

#363 [#IOPAE-612] Empty state component update and unit tests
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/empty-state/index.tsx
Labels: backoffice

#368 [#IOPAE-610] ADD Manage Keys API msw mocks
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

#370 [IOPAE-617] BackOffice dynamic sidenav prototype
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/hooks/use-screen-size.ts
  apps/backoffice/src/layouts/app-layout.tsx
Labels: backoffice

#372 [#IOPAE-621] Add GET, PUT /keys/manage/cidrs BO API openapi.yaml
  apps/backoffice/openapi.yaml
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, backoffice

#350 feat: [IOPAE-575] add backoffice cd action
  .changeset/young-lamps-appear.md
  .github/workflows/azure-deploy.yaml
  apps/backoffice/CHANGELOG.md
  apps/backoffice/package.json
  io-services-cms.code-workspace
  yarn.lock
Labels: ci, changeset, feat, backoffice

#373 [#IOPAE-621] ADD Authorized CIDRs B4F API api route placeholders, and mws mocks
  .changeset/big-pumas-sip.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
Labels: changeset, backoffice

#375 fix:[#IOPAE-638] Handle Jira Issue status name case change
  .changeset/famous-ducks-cry.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: bug, changeset, webapp, fix

#376 chore: changeset refinement after backoffice package change
  .changeset/big-pumas-sip.md
  .changeset/fuzzy-pillows-tap.md
  .changeset/hip-pianos-melt.md
  .changeset/honest-windows-juggle.md
  .changeset/spotty-baboons-lick.md
  .changeset/stale-pigs-mate.md
Labels: changeset, chore

#377 fix: Duplicate id on azure_deploy Action
  .changeset/chilly-lizards-explode.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset, fix

#382 feat: add nextauth env vars
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: infra, feat, refactor

#384 fix: fix bo_auth_session_secret resource name
  infra/src/key_vault.tf
Labels: infra, fix

#385 feat: [IOPAE-575] add build package script
  .changeset/clever-jokes-talk.md
  apps/backoffice/.env.test
  apps/backoffice/env.example
  apps/backoffice/package.json
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/selfcare.tsx
  infra/src/backoffice_webapp.tf
Labels: changeset, infra, feat, backoffice

#383 [IOPAE-633] Add manage key card on Overview, update API Key Page
  .changeset/brave-houses-arrive.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-value.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/cards/card-details.tsx
  apps/backoffice/src/components/loaders/index.ts
  apps/backoffice/src/components/loaders/loader-skeleton.tsx
  apps/backoffice/src/layouts/page-layout.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: changeset, backoffice

#374 [#IOPAE-619] Moved apim-client to another monorepo package
  .changeset/poor-tomatoes-taste.md
  .github/workflows/code-review.yaml
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/apim-client.test.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/feature-flag-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/api-keys.ts
  apps/io-services-cms-webapp/src/utils/apim-proxy.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  io-services-cms.code-workspace
  packages/external-clients/.eslintrc.js
  packages/external-clients/.prettierignore
  packages/external-clients/README.md
  packages/external-clients/index.js
  packages/external-clients/openapi.yaml
  packages/external-clients/package.json
  packages/external-clients/src/__tests__/index.test.ts
  packages/external-clients/src/apim-client/__tests__/apim-filters.test.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/apim-filters.ts
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/apim-client/index.ts
  packages/external-clients/src/index.ts
  packages/external-clients/tsconfig.json
  packages/external-clients/vitest.config.ts
  turbo.json
  yarn.lock
Labels: ci, internal, changeset, webapp

#388 fix: [IOPAE-575] fix cd action
  .github/workflows/release.yaml
  apps/backoffice/.env
  apps/backoffice/.env.development
  apps/backoffice/.env.production
  apps/backoffice/.gitignore
Labels: ci, fix

#387 chore:[#IOPAE-648] Update openapi-codegen-ts to version ^13.1.0 in io-services-cms-webapp
  .changeset/little-shirts-build.md
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: changeset, webapp, chore

#389 fix: [IOPAE-575] add backoffice app service staging slot
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/key_vault.tf
Labels: infra, fix
