Repository pagopa/io-services-cms, pull requests merged in 2023-11, with the labels that each got.

#460 chore: [IOPAE-715] add institution fields to createService and updateService
  .changeset/cool-wombats-reply.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/cms/business.ts
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/types/next-auth.d.ts
Labels: changeset, chore, backoffice

#454 fix: [IOPAE-741] publish non approved service
  .changeset/beige-singers-push.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
Labels: changeset, webapp, fix

#456 [#IOPAE-749] ADD GET Service List API in Backoffice B4F
  .changeset/three-suns-eat.md
  apps/backoffice/.env.development
  apps/backoffice/package.json
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/cms-proxy.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
  apps/backoffice/src/lib/be/services/utils.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  yarn.lock
Labels: changeset, infra, backoffice

#457 [IOPAE-734] Add Services Page with TableView and ServiceVersionSwitcher components
  .changeset/dirty-baboons-sleep.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-version-switcher.tsx
  apps/backoffice/src/components/table-view/index.ts
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/components/table-view/table-view.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#462 bugfix: [IOPAE-715] handle request body not present from create and update servic…
  .changeset/happy-keys-study.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: bug, changeset, backoffice

#464 bugfix: [IOPAE-764] b4f problem when parsing request body
  .changeset/modern-rings-cheer.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: bug, changeset, refactor, backoffice

#465 chore:[IOPAE-747] Remove organization from frontend service payload
  .changeset/nice-hairs-rhyme.md
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, chore, backoffice

#466 [IOPAE-756] Add equality check on update service form
  .changeset/pink-cherries-repeat.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: changeset, backoffice

#461 [#IOPAE-749] Azure access token refresh on expiration
  .changeset/chilly-apricots-tap.md
  .vscode/settings.json
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
Labels: changeset, backoffice

#468 bugfix: [IOPAE-770] add missing b4f configurations
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: bug, infra

#469 [IOPAE-754] Add Institution card, add create service shortcut on Overview Page
  .changeset/tasty-knives-lick.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/pages/index.tsx
Labels: changeset, backoffice

#472 bugfix: B4F config fixes part 2
  .changeset/nine-mirrors-burn.md
  .github/workflows/azure-deploy.yaml
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  infra/src/backoffice_webapp.tf
Labels: bug, ci, changeset, infra, backoffice

#473 [#IOPAE-776] ADD queryParam 'id' in GET /services/list Route Handler
  .changeset/grumpy-cobras-approve.md
  .vscode/settings.json
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#479 chore: [IOPAE-577] BO change app service plan
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra, chore

#478 [IOPAE-735] Add search by serviceId on services page
  .changeset/friendly-gifts-judge.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#480 bugfix: fix deploy healthcheck
  .changeset/popular-bulldogs-lick.md
  .github/workflows/azure-deploy.yaml
Labels: bug, ci, changeset

#471 [#IOPAE-751] API Subscriptions Migrations
  .changeset/poor-roses-admire.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/subscription-migration.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: changeset, infra, backoffice

#483 bugfix: [IOPAE-751] fix subscription migration configs
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: bug, ci, infra

#484 fix: subscription migration config
  .changeset/eight-ears-leave.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: changeset, infra, fix, backoffice

#486 chore: B4F patch deploy gh action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, chore

#481 [#IOPAE-776] Handle 404 apim rest response
  .changeset/metal-goats-lie.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/apim.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#489 chore: Upgrade azure deploy action
  .changeset/sour-owls-call.md
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: ci, changeset, chore, backoffice

#492 chore: Add agentKeepalive on rest clients
  .changeset/tender-waves-mix.md
  apps/backoffice/.env.development
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
  infra/src/backoffice_webapp.tf
Labels: changeset, infra, chore, backoffice

#494 chore: add WEBSITE_RUN_FROM_PACKAGE
  infra/src/backoffice_webapp.tf
Labels: infra, chore

#488 [#IOPAE-759] change jira contract field on create to Null
  .changeset/bright-trees-change.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#496 chore: remove getIoServicesCmsHealth on info api
  .changeset/kind-cars-exist.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: changeset, chore, backoffice

#497 feat: [IOPAE-779] add appinsight configs
  .changeset/gold-items-ring.md
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
  yarn.lock
Labels: changeset, infra, feat, backoffice

#499 chore: removed healtcheck which calls external services
  .changeset/brave-months-fold.md
  apps/backoffice/src/app/api/health/__tests__/route.test.ts
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/app/api/info/route.ts
Labels: changeset, chore, backoffice

#501 chore: Transform external clients into regular singleton instead of caching instance using react cache
  .changeset/silent-dryers-push.md
  apps/backoffice/src/app/api/health/route.ts
  apps/backoffice/src/app/api/info/route.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/legacy-cosmos.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: changeset, chore, backoffice

#504 chore: add log for performance test
  .changeset/fuzzy-tigers-sort.md
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/lib/be/cms-client.ts
Labels: changeset, chore, backoffice

#491 [IOPAE-752] Frontend services migration: import from Developer Portal
  .changeset/proud-ladybugs-applaud.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/services/subscriptions-migration/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#507 chore: add time debug log on regenerate manage key
  .changeset/dry-parrots-talk.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
Labels: changeset, chore, backoffice

#510 chore: Patch disable msw
  .changeset/grumpy-rocks-wash.md
  apps/backoffice/.env.production
  apps/backoffice/mocks/index.ts
  apps/backoffice/public/mockServiceWorker.js
  apps/backoffice/src/config/index.ts
  infra/src/backoffice_webapp.tf
Labels: changeset, infra, chore, backoffice

#512 chore: add sleep before staging health-check
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, chore

#513 patch: enable appInsights client only on prod
  apps/backoffice/.env.production
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
Labels: infra, backoffice

#514 fix issue on forwarding io-services-cms responses
  .changeset/two-books-deliver.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, fix, backoffice

#517 chore: fix env var configs
  .changeset/five-cows-protect.md
  apps/backoffice/.env
  apps/backoffice/.env.production
  apps/backoffice/src/config/index.ts
Labels: changeset, chore, backoffice

#516 [IOPAE-782] UX/UI refinements for MVP0 release
  .changeset/light-pets-impress.md
  apps/backoffice/.env
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/create-update-process/process-actions.tsx
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
  apps/backoffice/src/components/services/service-search-by-id.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#522 [IOPAE-784] Update service details drawer
  .changeset/nervous-countries-reflect.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/markdown-view/index.ts
  apps/backoffice/src/components/markdown-view/markdown-view.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/service-preview.tsx
Labels: changeset, backoffice

#523 chore: Update msw configuration for frontend
  apps/backoffice/.gitignore
  apps/backoffice/mocks/index.ts
Labels: chore, backoffice

#524 chore(fix): change response schema MigrationData
  .changeset/serious-emus-tie.md
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/openapi.yaml
Labels: changeset, chore, backoffice

#525 chore: Fix frontend subscription migration data
  .changeset/dry-llamas-work.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
Labels: changeset, chore, backoffice

#528 Fix: b4f sub mig
  .changeset/sour-dryers-invite.md
  apps/backoffice/mocks/data/subscription-migration-data.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: changeset, backoffice

#527 bugfix: [IOPAE-786] add ApiServiceWrite permission if missing
  .changeset/little-baboons-reply.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: bug, changeset, backoffice

#530 bugfix:[IOPAE-785] Fix main content layout overflow
  .changeset/afraid-students-worry.md
  apps/backoffice/src/styles/app-layout.module.css
Labels: bug, changeset, backoffice

#532 bugfix: fix payload create subscription manage
  .changeset/ten-beers-check.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: bug, changeset, backoffice

#533 chore: Add missing service placeholder on service list Route Handler result's
  .changeset/tasty-plants-reflect.md
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: changeset, chore, backoffice

#534 bugfix: Patch manage subs cidrs
  .changeset/dull-carrots-beam.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: bug, changeset, backoffice

#537 bugfix: Patch jwt claims check
  .changeset/nasty-yaks-add.md
  apps/backoffice/.env.development
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/config/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: bug, changeset, infra, backoffice

#538 chore: Frontend minor changes for MVP0 release
  .changeset/warm-books-peel.md
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-info.tsx
Labels: changeset, chore, backoffice

#539 chore: log unknown error
  .changeset/orange-moons-admire.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: changeset, chore, backoffice

#540 fix: change response status create service
  .changeset/metal-swans-fetch.md
  apps/io-services-cms-webapp/src/utils/custom-response.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
Labels: changeset, webapp, fix

#542 bugfix: Patch services logo url config
  .changeset/tender-tigers-taste.md
  apps/backoffice/.env.production
Labels: bug, changeset

#544 chore: Fix frontend minor issues for mvp0 release
  .changeset/cuddly-radios-smash.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/table-view/table-view.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: bug, changeset, chore, backoffice

#546 fix:change mailAddress to digitalAddress in istitution open api
  .changeset/little-dots-invite.md
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal, changeset, fix

#547 fix: Follow up fix for institution open api
  .changeset/grumpy-pigs-dream.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/pages/index.tsx
Labels: changeset, fix, backoffice

#548 chore: cleanUp backoffice
  .changeset/cyan-hairs-cheer.md
  apps/backoffice/.env
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: changeset, chore, backoffice

#550 fix: fe service rejection reason drawer
  .changeset/twenty-queens-hide.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/services/service-alerts.tsx
Labels: changeset, fix, backoffice

#554 BackOffice MVP0 - Public major version 1.0.0
  .changeset/stale-trees-appear.md
Labels: changeset

#557 feat: [IOPAE-803] BO enable party switch
  .changeset/orange-baboons-do.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/pages/auth/login.tsx
Labels: changeset, feat, backoffice

#558 chore: [IOPAE-804] B4F decrease session duration
  .changeset/fluffy-laws-fetch.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: changeset, chore, backoffice

#556 chore:add detailed log on authorize
  .changeset/slimy-geckos-learn.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/keys/cosmos.ts
Labels: changeset, chore, backoffice

#560 chore: Apim rest error log shrink
  .changeset/healthy-jobs-impress.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
Labels: changeset, chore, backoffice

#562 [IOPAE-809] Add product switch on BackOffice IO
  .changeset/seven-carrots-approve.md
  apps/backoffice/.env
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/groups.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/index.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/users.tsx
Labels: changeset, backoffice

#565 chore(fix): workaround on DELETED name received
  .changeset/tough-plums-design.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, chore

#567 feat: [IOPAE-816] make publish and unpublish actions idempotent
  .changeset/tender-items-ring.md
  .sonarcloud.properties
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp, feat

#568 bugfix: Patch publish action
  .changeset/weak-poets-push.md
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: bug, internal, changeset

#570 bug: [IOPAE-824] Bring back institutions api
  .changeset/clean-peaches-suffer.md
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: bug, changeset, backoffice

#573 [#IOPAE-828] UPDATE User Authorized institution API response type
  .changeset/breezy-lies-switch.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
Labels: changeset, backoffice

#574 bugfix: [IOPAE-826] FE - Get user authorized institutions from api instead of session token
  .changeset/healthy-apricots-remember.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/headers/header.tsx
Labels: bug, changeset, backoffice

#575 bugfix: [IOPAE-829] patch apim user lastname max length
  .changeset/young-pets-laugh.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/types.ts
Labels: bug, changeset, backoffice

#572 bugfix: [IOPAE-827] remove authorized institutions from session token
  .changeset/lucky-camels-draw.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/types/next-auth.d.ts
Labels: bug, changeset, backoffice

#578 [#IOPAE-810]add require_secure_channel and authorized_recipients in api response
  .changeset/pink-pianos-cry.md
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: changeset, webapp

#577 chore: Update B4F openapi definition: Replace bearer auth with cookie auth
  .changeset/angry-cups-live.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/hooks/use-fetch.ts
Labels: changeset, chore, backoffice

#580 [IOPAE-817] Service Topics in io-services-cms openapi
  .changeset/lovely-pianos-hug.md
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, changeset, webapp

#582 [IOPAE-818] Update BackOffice openapi with topic definition
  .changeset/plenty-planets-hug.md
  apps/backoffice/openapi.yaml
Labels: changeset, backoffice

#581 feat: [IOPAE-790] create topic db migration
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V1__create_user_app.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V2__create_reviewer_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V3__create_service_review_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V5__create_taxonomy_schema.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V6__create_service_topic_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V7__insert_service_topics.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V2__create_schema.sql
Labels: webapp, feat

#583 chore: update flayway docker version
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
Labels: webapp, chore

#584 [IOPAE-821] Add topics on backend-handlers msw mock
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice
