Repository pagopa/io-services-cms, pull requests merged in 2023-12, with the labels that each got.

#576 [#IOPAE-830] Reopen rejected jira issues
  .changeset/rich-suits-matter.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra

#591 [#IOPAE-868] B4F X-Forwarded-For on io-services-cms request
  .changeset/ten-steaks-retire.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/openapi.yaml
Labels: changeset, webapp, backoffice

#594 chore: reduce cms logging level
  .changeset/small-avocados-work.md
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp, chore

#586 [IOPAE-819] Add topic in service details page
  .changeset/quiet-emus-hug.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#595 [#IOPAE-869] ADD BACKOFFICE_INTERNAL_SUBNET_CIDRS configuration
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra

#592 [#IOPAE-869] Avoid Checking Authorized CIDRs in B4F Request forwarded to CMS
  .changeset/stupid-peas-bathe.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/__tests__/azure-user-attributes-manage-middleware-wrapper.test.ts
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  yarn.lock
Labels: changeset, webapp

#597 Add log on AzureUserAttributesManageMiddlewareWrapper
  .changeset/olive-icons-raise.md
  apps/io-services-cms-webapp/src/utils/azure-user-attributes-manage-middleware-wrapper.ts
Labels: changeset, webapp

#596 chore(deps): bump next from 13.5.3 to 13.5.6
  .changeset/rude-guests-tie.md
  apps/backoffice/package.json
  yarn.lock
Labels: changeset, chore, backoffice

#605 chore: Update vite/vitest dev dependencies
  .changeset/gentle-bikes-deliver.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  yarn.lock
Labels: changeset, webapp, chore, backoffice

#607 chore: Update vite on packages projects
  .changeset/happy-meals-double.md
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, changeset, chore

#610 chore: move topic into service metadata object
  .changeset/tame-ravens-grin.md
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, chore

#614 bugfix: Fix topic metadata on frontend adapter
  .changeset/moody-buses-develop.md
  apps/backoffice/src/components/services/adapters.ts
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: bug, internal, changeset, backoffice

#615 fix: Add missing schemas ref webapp openapi
  .changeset/early-oranges-fry.md
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: changeset, webapp, fix, backoffice

#611 chore:[IOPAE-880] update MSW package to v2 major release
  .changeset/wild-keys-draw.md
  apps/backoffice/mocks/handlers/apim-handlers.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/cdn-handlers.ts
  apps/backoffice/mocks/handlers/cosmos-legacy-handlers.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/handlers/subscription-migration-handler.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  yarn.lock
Labels: changeset, chore, backoffice

#616 [#IOPAE-894] edit jira layout review ticket
  .changeset/few-pigs-perform.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#617 [#IOPAE-859]Get Service Topic Policy
  infra/src/README.md
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: infra

#618 [#IOPAE-859]fix:get service topic swagger errors
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

#619 [#IOPAE-859]remove parameter in get topics api in swagger
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

#588 [#IOPAE-820] Add topics on sevices-cms-handlers msw mock
  .changeset/dry-years-dream.md
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
Labels: changeset, backoffice

#620 [#IOPAE-899] Service topics route handler in Backoffice B4F
  .changeset/thirty-baboons-wonder.md
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
Labels: changeset, backoffice

#622 [#IOPAE-900] Enrich Topic on ServiceList Route Handler
  .changeset/healthy-pens-doubt.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: changeset, backoffice

#613 feat: [IOPAE-792] cms api manage topic
  .changeset/hip-mirrors-burn.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra, feat

#623 patch: [IOPAE-792] fix query get topic
  .changeset/ninety-pianos-share.md
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
Labels: changeset, webapp

#609 [IOPAE-793] Frontend topic management on create/update service
  .changeset/flat-years-glow.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/forms/controllers/index.ts
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#626 patch: [IOPAE-792] fix topic not null check
  .changeset/five-queens-notice.md
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
Labels: changeset, webapp, fix, backoffice
