Repository pagopa/io-services-cms, pull requests merged in 2023-08, with the labels that each got.

#282 [#IOPAE-492]Add legacy status to jira client
  .changeset/itchy-candles-battle.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: changeset, webapp

#281 [#IOPAE-491]create service review legacy table script
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/V4__create_service_review_legacy_table.sql
Labels: webapp

#288 [#IOPAE-516] Vitest code coverage
  apps/io-services-cms-webapp/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp

#284 [#IOPAE-490] Add Request review legacy queue trigger
  .changeset/olive-bats-nail.md
  apps/io-services-cms-webapp/OnRequestReviewLegacy/function.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal, changeset, webapp, infra

#286 [#IOPAE-510] Removed Jira call and update status mapping on LegacyServiceWatcher
  .changeset/lemon-rockets-knock.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
Labels: internal, changeset, webapp

#291 [IOPAE-507] BackOffice Internazionalization (i18n)
  .changeset/soft-ads-train.md
  apps/backoffice/next-i18next.config.js
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/footer/index.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/components/utils/page-html-head-title.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/apikeys/index.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  yarn.lock
Labels: changeset, backoffice

#289 [#IOPAE-493] Service review legacy checker
  .changeset/fifty-actors-punch.md
  apps/io-services-cms-webapp/ServiceReviewLegacyChecker/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra

#292 fix: [IOPAE-517] NextJS Routing conflict: rename page apikeys to keys
  .changeset/fluffy-wombats-check.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/sidenav/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: changeset, fix, backoffice

#293 chore: [IOPAE-518] ADD Feature flag for onRequestReviewLegacy
  .changeset/angry-baboons-visit.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra, chore

#294 [IOPAE-518] Optimization feature flag request review legacy
  .changeset/tiny-badgers-shop.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp

#287 [#IOPAE-456]Add temporary policy for apim v2 migration
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

#295 [#IOPLT-19] - Prepare APIM switch to v2
  infra/src/webapp.tf
Labels: infra

#296 Revert "[#IOPAE-456]Add temporary policy for apim v2 migration"
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/temp_mock_response_500_policy/policy.xml
  infra/src/apim_api.tf
  infra/src/apim_v2_api.tf
Labels: infra

#297 fix: ADD default value for statuscategorychangedate
  .changeset/young-sheep-bow.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: changeset, webapp, fix

#240 [#IOPAE-421] add opex dashboard
  .github/workflows/opex_api_services_cms.yml
  .identity/01_data.tf
  .identity/02_application_environment_opex.tf
  .identity/03_github_environment_opex.tf
  .opex/api_services_cms/env/prod/backend.ini
  .opex/api_services_cms/env/prod/backend.tfvars
  .opex/api_services_cms/env/prod/config.yaml
  .opex/api_services_cms/env/prod/terraform.tfvars
  openapi.yaml
Labels: ci

#299 remove debug and update config on dashboard
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/config.yaml
Labels: ci

#300 [#IOPAE-522] Update mui-italia and related dependencies
  .changeset/unlucky-pianos-brake.md
  apps/backoffice/package.json
  yarn.lock
Labels: changeset, dependencies, backoffice

#302 fix: Use github action from repo eng-github-actions-iac-template
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
Labels: ci, fix, chore

#303 chore: changeset
  .changeset/hungry-cameras-itch.md
Labels: changeset, chore

#305 chore: enable LegacyServiceWatcher for all users
  infra/src/env/prod/terraform.tfvars
Labels: infra, chore

#306 fix: Fetch previous version recursive
  .changeset/eight-items-drive.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
Labels: changeset, webapp, fix

#309 [IOPAE-506] Add openapi shared schemas
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

#311 [IOPAE-523] Refactor services cms openapi
  .github/workflows/opex_api_services_cms.yml
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/package.json
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  openapi.yaml
  turbo.json
Labels: ci, webapp, infra

#313 chore: skip currently deleted services on legacy review
  .changeset/twenty-pigs-train.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
Labels: changeset, webapp, chore

#317 chore: Enable service history watcher
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra, chore

#318 chore: Set startFromBeginning on ServiceHistoryWatcher
  .changeset/six-pumas-cover.md
Labels: changeset, chore

#310 [IOPAE-506] Add BackOffice openapi.yaml
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  yarn.lock
Labels: backoffice

#320 chore: Enable on request sync legacy
  infra/src/webapp.tf
Labels: infra, chore

#321 [IOPAE-524] Refactor openapi schemas
  apps/backoffice/openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/commons-schemas.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp, backoffice

#323 chore: disable OnRequestSyncLegacy
  infra/src/webapp.tf
Labels: infra, chore

#314 fix: Dashboard Fix
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/config.yaml
Labels: ci, fix

#324 Removed debug line after dashboard fix
  .github/workflows/opex_api_services_cms.yml
Labels: ci

#322 chore: default value for departmentName before sync to legacy
  .changeset/wise-onions-prove.md
  apps/backoffice/package.json
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra, chore, backoffice

#326 [#IOPAE-535] Added Automatic Service Approval feature flag configuration
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: infra

#328 [IOPAE-525] MSW Api mocking library integration
  .changeset/hungry-news-argue.md
  apps/backoffice/env.example
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/data/common-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/mocks/handlers/index.ts
  apps/backoffice/mocks/handlers/services-cms-handlers.ts
  apps/backoffice/mocks/index.ts
  apps/backoffice/mocks/msw-server.ts
  apps/backoffice/mocks/msw-vitest.ts
  apps/backoffice/mocks/msw-worker.ts
  apps/backoffice/package.json
  apps/backoffice/public/mockServiceWorker.js
  apps/backoffice/src/app/api/info/__tests__/route.test.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/vitest.config.ts
  yarn.lock
Labels: changeset, backoffice

#327 [#IOPAE-536] Automatic Service Approval Capability
  .changeset/strong-frogs-beam.md
  README.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
Labels: changeset, webapp

#330 chore: Add mocks folder to sonar exclusions
  .sonarcloud.properties
Labels: chore
