Repository pagopa/io-services-cms, pull requests merged in 2023-06, with the labels that each got.

#87 [#IOPAE-247] Service Publication Watcher
  .changeset/serious-comics-behave.md
  apps/io-services-cms-webapp/OnRequestHistory/function.json
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  yarn.lock
Labels: internal, changeset, webapp, infra

#96 [FIX] Test review checker handler
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: webapp

#98 refactor: [IOPAE-339] refactor fsm actions
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, webapp, refactor

#94 Add infra cicd
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .identity/01_data.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_ci.tf
  .identity/03_github_environment_ci.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/azuread.tf
  infra/src/key_vault.tf
Labels: ci, infra

#102 Add infra cicd second step
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .identity/env/prod/terraform.tfvars
  infra/src/env/prod/backend.ini
  infra/src/env/prod/backend.tfvars
  infra/src/env/prod/terraform.tfvars
  infra/src/terraform.sh
Labels: ci, infra

#103 Add ci cd app
  .github/workflows/azure-deploy.yaml
  .identity/01_data.tf
  .identity/02_application_environment_app_cd.tf
  .identity/03_github_environment_app_cd.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: ci

#99 [#IOPAE-340] set max_allowed_payment_amount on publication
  .changeset/tricky-donkeys-wonder.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-services-lifecycles-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-services-lifecycles-change.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp

#109 Test CD pipeline
  .changeset/five-frogs-mate.md
Labels: changeset

#117 Fix cd action
  .changeset/great-timers-vanish.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

#119 Fix release action
  .changeset/afraid-houses-approve.md
  .github/workflows/release.yaml
Labels: ci, changeset

#121 Fix release action 2
  .changeset/eight-planets-remain.md
  .github/workflows/release.yaml
Labels: ci, changeset

#123 Fix release action 3
  .changeset/selfish-students-tell.md
  .github/workflows/release.yaml
Labels: ci, changeset

#126 fix permissions
  .identity/03_github_environment_app_cd.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
Labels: fix

#125 Restore azure deploy action
  .changeset/tame-weeks-provide.md
  .github/workflows/azure-deploy.yaml
Labels: ci, changeset

#128 add runner subnet to fn allowed list
  infra/src/README.md
  infra/src/_shared_vnet.tf
  infra/src/webapp.tf
Labels: infra

#129 fix: Update app service plan to P1v3
  infra/src/env/prod/terraform.tfvars
Labels: infra, fix

#130 fix cosmos config
  infra/src/README.md
  infra/src/database_cms.tf
Labels: infra, fix

#133 Fix function app worker count
  infra/src/README.md
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra

#115 [#IOPAE-356] authorized recipients default value
  .changeset/rude-cups-happen.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp

#135 [IOPAE-373] Rename OnServiceLifecycle watcher file
  .changeset/orange-trainers-accept.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset, webapp

#101 [#IOPAE-344] Get all user services
  .changeset/tiny-rocks-serve.md
  apps/io-services-cms-webapp/GetServices/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/apim-filters.test.ts
  apps/io-services-cms-webapp/src/utils/api-keys.ts
  apps/io-services-cms-webapp/src/utils/apim-filters.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/__integrations__/fms/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  yarn.lock
Labels: internal, changeset, webapp

#137 [#IOPEA-369] Fix withDefault config keys
  apps/io-services-cms-webapp/src/config.ts
Labels: webapp

#142 docs: Fix flyway migration
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U1__drop_user_app.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U2__drop_schema.sql
  apps/io-services-cms-webapp/src/reviewer/schema/migrations/reviewer/U3__drop_service_review_table.sql
Labels: webapp, docs

#141 [#IOPAE-364] Check source ip
  .changeset/shiny-jobs-camp.md
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#140 feat: [IOPAE-320] add force/override action on fsm
  .changeset/gold-tigers-return.md
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, feat

#149 Refactor on #140
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal

#151 [#IOPAE-378] API Get service keys
  .changeset/yellow-ways-kneel.md
  apps/io-services-cms-webapp/GetServiceKeys/function.json
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#153 [#IOPAE-391] COSMOS DB Legacy Configuration
  apps/io-services-cms-webapp/OnLegacyServiceChange/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/cosmos-legacy.ts
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: webapp, infra

#152 [#IOPAE-381] Create request sync legacy queue
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

#155 [#IOPAE-359] ServiceReviewChecker CRON Expression
  .changeset/perfect-berries-promise.md
  apps/io-services-cms-webapp/ServiceReviewChecker/function.json
Labels: changeset, webapp

#154 [#IOPAE-376] API Regenerate service keys
  .changeset/strange-clocks-bathe.md
  apps/io-services-cms-webapp/RegenerateServiceKeys/function.json
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#157 feat: [IOPAE-395] add request-sync-cms queue
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra, feat

#158 fix: owner id match and wrong cosmosDb legacy name
  .changeset/smart-dancers-move.md
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/unpublish-service.test.ts
  infra/src/env/prod/terraform.tfvars
Labels: changeset, webapp, infra, fix

#156 feat: [IOPAE-382] sync legacy watcher
  .changeset/orange-lions-deny.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp, infra, feat

#161 [IOPAE-392] Add authorized_cidrs to service model
  .changeset/mighty-bats-compare.md
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/__test__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  openapi.yaml
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp

#163 chore: [IOPAE-396] historicize service lifecycle changes
  .changeset/kind-foxes-explain.md
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset, webapp, chore

#166 [#IOPAE-307] Update Jira configuration
  infra/src/env/prod/terraform.tfvars
Labels: infra

#169 fix: change apim api to retrieve subscription keys
  .changeset/nasty-plums-raise.md
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__test__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
Labels: changeset, webapp, fix

#165 [#IOPAE-399] Update definitions to match open api and fix missing data in Jira creation ticket
  .changeset/silly-geckos-search.md
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp

#171 fix: regenerate serviceKey
  apps/io-services-cms-webapp/src/lib/clients/apim-client.ts
Labels: webapp, fix

#172 feat: [IOPAE-393] add service history watcher
  .changeset/khaki-scissors-collect.md
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  infra/src/webapp.tf
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
Labels: internal, changeset, webapp, infra, feat

#173 chore: [IOPAE-385] add legacy filter to service lifecycle watcher
  .changeset/tiny-tigers-wink.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
Labels: changeset, webapp, chore

#168 feat: [IOPAE-401] add services manage api
  apps/io-services-cms-webapp/src/config.ts
  infra/src/00_apim.tf
  infra/src/00_legacy_cosmosdb.tf
  infra/src/00_locals.tf
  infra/src/00_monitor.tf
  infra/src/00_network.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/_shared_legacy_cosmosdb.tf
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/createservice_policy/policy.xml
  infra/src/api/io_services_cms/v1/policy.xml
  infra/src/apim_io_services_cms_api.tf
  infra/src/common.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: webapp, infra, feat

#174 [#IOPAE-319] legacy to cms watcher
  .changeset/mighty-camels-sort.md
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-legacy-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-legacy-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/comma-separated-list.test.ts
  apps/io-services-cms-webapp/src/utils/comma-separated-list.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  packages/io-services-cms-models/src/queue/index.ts
Labels: internal, changeset, webapp

#175 [#IOPAE-411] INFRA: add jira legacy board and service quality check exclusion list
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/webapp.tf
Labels: infra

#178 [#IOPAE-412] CMS to Legacy mapping
  .changeset/gorgeous-colts-cheat.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/service-legacy/index.ts
  yarn.lock
Labels: internal, changeset, webapp

#180 chore: add apim snet to cms fn allowed networks
  infra/src/00_network.tf
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra, chore

#182 chore: [IOPAE-406] remove cmsExplainService operation (not implemented yet)
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra, chore

#183 fix: [IOPAE-417] fix-cms-services-app-configs
  infra/src/webapp.tf
Labels: infra, fix

#184 chore: [IOPAE-417] Fix history queueTrigger fn
  apps/io-services-cms-webapp/OnRequestHistoricization/function.json
  infra/src/webapp.tf
Labels: webapp, infra, chore
