Repository pagopa/io-services-cms, pull requests merged in 2024-11, with the labels that each got.

#1064 [IOPAE-1494] FSM group based authz
  .changeset/nervous-jeans-sneeze.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/check-service.ts
  apps/io-services-cms-webapp/src/utils/converters/fsm-error-converters.ts
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
  apps/io-services-cms-webapp/src/utils/logger.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/publish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp

#1068 [IOPAE-1521]Enable ingestion functions
  infra/_modules/cms_function_app/main.tf
Labels: infra

#1071 [CES-500] Update Cosmos DB secondary region
  infra/src/database_cms.tf
Labels: infra

#1076 [IOPAE-1568] bff add manage group keys retrieve endpoint handler
  .changeset/big-tools-know.md
  .changeset/five-zoos-give.md
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/any/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/route.ts
  apps/backoffice/src/lib/be/errors.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, backoffice

#1079 [IOPAE-1577] add type filter to getManageSubscriptions
  .changeset/fifty-pandas-grab.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  packages/external-clients/src/apim-client/__tests__/apim-filters.test.ts
  packages/external-clients/src/apim-client/apim-filters.ts
Labels: internal, changeset, backoffice

#1081 [IOPAE-1476] avoid group info propagation to app-backend
  .changeset/purple-buses-exercise.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-lifecycle-change.ts
Labels: changeset, webapp

#1083 [IOPAE-1584] bff add manage group sub cidrs endpoints
  .changeset/violet-schools-jog.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/cidrs/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/route.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/authz.ts
Labels: changeset, backoffice

#1084 [IOPAE-1592] get group-unbounded services
  .changeset/thick-shirts-fly.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/group-unbound/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/group-unbound/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/__tests__/apim.test.ts
  apps/backoffice/src/lib/be/services/__tests__/cosmos.test.ts
  apps/backoffice/src/lib/be/services/apim.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal, changeset, webapp, backoffice
