Repository pagopa/io-services-cms, pull requests merged in 2024-10, with the labels that each got.

#1033 Patch infra wallet
  infra/_modules/backoffice/monitoring.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/monitoring.tf
  infra/_modules/function_app/monitoring.tf
  infra/src/database_cms.tf
Labels: infra

#1032 [IOPAE-1338] retrieve subscriptions manage group
  .changeset/silent-donkeys-share.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/req-res-utils.test.ts
  apps/backoffice/src/lib/be/req-res-utils.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  apps/backoffice/src/lib/be/types.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, backoffice

#1035 [IOPAE-1415] add group-service relation
  .changeset/blue-news-chew.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp, backoffice

#1039 [IOPAE-1444] be authz group service relationship
  .changeset/chilled-bikes-sing.md
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/types/next-auth.d.ts
Labels: changeset, backoffice

#1041 [IOPAE-1451] be authz group edit service
  .changeset/clever-shirts-look.md
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/req-res-utils.test.ts
  apps/backoffice/src/lib/be/authz.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/req-res-utils.ts
Labels: changeset, backoffice

#1038 Eventhub for PDND Data Ingestion
  infra/_modules/cms_function_app/outputs.tf
  infra/_modules/eventhub/data.tf
  infra/_modules/eventhub/locals.tf
  infra/_modules/eventhub/main.tf
  infra/_modules/eventhub/variables.tf
  infra/prod/.terraform.lock.hcl
  infra/prod/data.tf
  infra/prod/main.tf
  infra/prod/providers.tf
Labels: infra

#1043 [#IOPAE-1436] Removed unsupported CPU metric alert for elt eventhub
  infra/_modules/eventhub/locals.tf
Labels: infra

#1044 [IOPAE-1351] get service handler return group name
  .changeset/calm-bananas-lie.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/utils.ts
Labels: changeset, backoffice

#1053 fix: [IOPAE-1461] bo manage key auth error
  .changeset/stale-vans-dream.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: changeset, fix, backoffice

#1048 [#IOPAE-1457] Ingestion service publication
  .changeset/twelve-buttons-dream.md
  apps/io-services-cms-webapp/IngestionServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/OnRequestServicesPublicationIngestionRetry/function.json
  apps/io-services-cms-webapp/avro/services-publication.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/ingestion/request-services-publication-ingestion-retry-handler.ts
  apps/io-services-cms-webapp/src/lib/azure/__tests__/misc.test.ts
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/ingestion/__tests__/ingestion-handlers.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-publication-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-publication-avro-formatter.ts
  apps/io-services-cms-webapp/src/utils/ingestion/ingestion-handlers.ts
  apps/io-services-cms-webapp/src/watchers/on-service-ingestion-publication-change.ts
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/storage_account.tf
  turbo.json
  yarn.lock
Labels: changeset, webapp, infra

#1058 fix:[IOPAE-1472] add selfcare group-based authz feature flag
  .changeset/poor-bags-wave.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, fix, backoffice

#1060 [IOPAE-1445] create services-topic eventhub
  infra/_modules/eventhub/locals.tf
Labels: infra

#1057 [IOPAE-1470] retrieve services group based authz
  .changeset/clean-dryers-walk.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/services/__tests__/apim.test.ts
  apps/backoffice/src/lib/be/services/__tests__/cosmos.test.ts
  apps/backoffice/src/lib/be/services/apim.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  packages/external-clients/src/apim-client/__tests__/apim-filters.test.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/apim-filters.ts
  packages/external-clients/src/apim-client/index.ts
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal, changeset, webapp, backoffice

#1056 [IOPAE-1468] ingestion service history
  .changeset/real-pillows-think.md
  apps/io-services-cms-webapp/IngestionServiceHistoryWatcher/function.json
  apps/io-services-cms-webapp/OnRequestServicesHistoryIngestionRetry/function.json
  apps/io-services-cms-webapp/avro/services-history.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/ingestion/request-services-history-ingestion-retry-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-history-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-history-avro-formatter.ts
  apps/io-services-cms-webapp/src/watchers/on-service-ingestion-history-change.ts
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/storage_account.tf
Labels: changeset, webapp, infra

#1050 [#IOPAE-1467] Ingestion service lifecycle
  .changeset/ten-donuts-listen.md
  apps/io-services-cms-webapp/IngestionServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/OnRequestServicesLifecycleIngestionRetry/function.json
  apps/io-services-cms-webapp/avro/services-lifecycle.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/ingestion/request-services-lifecycle-ingestion-retry-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-lifecycle-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-lifecycle-avro-formatter.ts
  apps/io-services-cms-webapp/src/watchers/on-service-ingestion-lifecycle-change.ts
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/storage_account.tf
Labels: changeset, webapp, infra

#1061 [IOPAE-1445] ingestion services topics with eventhub
  .changeset/chatty-peas-tie.md
  apps/io-services-cms-webapp/IngestionServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/ServiceTopicsIngestor/function.json
  apps/io-services-cms-webapp/avro/services-topics.json
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V9.0__add_modified_at_column_to_service_topic_table.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V9.1__alter_modified_at_column_to_service_topic_table.sql
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/ingestion/service-topic-ingestor-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-topic-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-topic-avro-formatter.ts
  apps/io-services-cms-webapp/src/utils/service-topic-dao.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/delete-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/edit-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/review-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/unpublish-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
Labels: changeset, webapp, infra

#1065 [CES-119] Update Cosmos network settings after manual failover
  infra/src/database_cms.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/network.tf
Labels: infra
