Repository pagopa/io-services-cms, pull requests merged in 2024-05, with the labels that each got.

#822 fix: Fix FeaturedService openapi schema
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
Labels: fix, app-backend

#814 [IOPAE-1080] add db and read model container for services app be
  infra/src/README.md
  infra/src/database_cms.tf
Labels: infra

#820 [IOPAE-1081] add app-backend deploy steps
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci

#818 [IOPAE-1080] add App Backend Function App
  apps/app-backend/README.md
  apps/app-backend/src/config.ts
  infra/_modules/ai_search/outputs.tf
  infra/_modules/function_app/data.tf
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/variables.tf
  infra/_modules/networking/main.tf
  infra/_modules/networking/outputs.tf
  infra/_modules/networking/variables.tf
  infra/prod/italynorth/.terraform.lock.hcl
  infra/prod/italynorth/locals.tf
  infra/prod/italynorth/main.tf
Labels: infra, app-backend

#824 chore: Fix Zip deploy package build
  .changeset/long-adults-buy.md
  apps/app-backend/generate-version.sh
  apps/app-backend/package.json
  apps/app-backend/src/functions/info.ts
  apps/app-backend/tsconfig.json
  yarn.lock
Labels: changeset, chore, app-backend

#821 [IOPAE-1121] Create Service Details Read Model
  .changeset/unlucky-tools-carry.md
  apps/io-services-cms-webapp/OnRequestDetail/function.json
  apps/io-services-cms-webapp/ServiceDetailLifecycleWatcher/function.json
  apps/io-services-cms-webapp/ServiceDetailPublicationWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/detailRequestor/__tests__/request-detail-handler.test.ts
  apps/io-services-cms-webapp/src/detailRequestor/request-detail-handler.ts
  apps/io-services-cms-webapp/src/lib/azure/cosmos.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-lifecycle-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-publication-change.ts
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-detail/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp, infra

#823 Iopae 1080 add services app be fn app
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/variables.tf
  infra/_modules/networking/main.tf
Labels: infra

#817 [IOPAE-1122] ADD Get Service By Id Azure Function
  .changeset/purple-dolls-sing.md
  apps/app-backend/README.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/package.json
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__mocks__/get-service-by-id-mock.ts
  apps/app-backend/src/functions/__tests__/get-service-by-id.test.ts
  apps/app-backend/src/functions/get-service-by-id.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/cosmos-db/dependency.ts
  apps/app-backend/src/utils/cosmos-db/helper.ts
  apps/io-services-cms-webapp/src/detailRequestor/__tests__/request-detail-handler.test.ts
  apps/io-services-cms-webapp/src/detailRequestor/request-detail-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-lifecycle-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-publication-change.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-detail/index.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
  yarn.lock
Labels: internal, changeset, webapp, app-backend

#810 [IOPAE-1110] In App Preview Skeleton
  .changeset/cuddly-drinks-reply.md
  apps/backoffice/.env
  apps/backoffice/public/img/app_preview_bg.png
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/app-preview/index.tsx
  apps/backoffice/src/components/buttons/button-with-tooltip.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice

#825 fix watcher bindings
  .changeset/sharp-ducks-shave.md
  apps/io-services-cms-webapp/ServiceDetailLifecycleWatcher/function.json
  apps/io-services-cms-webapp/ServiceDetailPublicationWatcher/function.json
Labels: changeset, webapp, fix

#827 Fix query on request detail
  .changeset/strange-wombats-appear.md
  apps/app-backend/api/internal.yaml
  apps/io-services-cms-webapp/src/detailRequestor/request-detail-handler.ts
Labels: changeset, webapp, app-backend

#829 Set Azure Search Searvice Version
  .changeset/heavy-tips-explain.md
  apps/app-backend/README.md
  apps/app-backend/src/config.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/__tests__/azure-search.test.ts
  apps/app-backend/src/utils/azure-search/client.ts
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/variables.tf
  infra/prod/italynorth/main.tf
Labels: changeset, infra, app-backend

#812 EC-234 - Implemented cicd for prod italynorth infrastructure
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-release-p-itn.yml
  .github/workflows/infra-review-p-itn.yml
  .identity/env/prod/terraform.tfvars
Labels: ci

#831 search_service_url output returning raw cname
  infra/_modules/ai_search/outputs.tf
Labels: infra

#833 EC-234 - minor fixes to identity and aisearch output
  .identity/env/prod/terraform.tfvars
  infra/_modules/ai_search/outputs.tf
Labels: infra

#836 [IOPAE-1080]Add org fiscal code ai search services
  infra/_modules/ai_search/services.tf
Labels: infra

#834 add missing env to staging slot for app-backend
  infra/_modules/function_app/main.tf
Labels: infra

#835 Infra ci/cd for weu infrastructure now runs only for infra/src path
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
Labels: ci

#838 Allowed io-p-adgroup-services-cms group to query AI Search
  infra/_modules/ai_search/data.tf
  infra/_modules/ai_search/main.tf
  infra/prod/italynorth/.terraform.lock.hcl
  infra/prod/italynorth/providers.tf
Labels: infra

#841 [#IOPAE-1137] Add GetFeaturedServices and GetFeaturedInstitutions fn
  .changeset/flat-seas-remember.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__mocks__/featured-institutions.ts
  apps/app-backend/src/functions/__mocks__/featured-items.ts
  apps/app-backend/src/functions/__mocks__/featured-services.ts
  apps/app-backend/src/functions/__tests__/featured-institutions.test.ts
  apps/app-backend/src/functions/__tests__/featured-services.test.ts
  apps/app-backend/src/functions/featured-institutions.ts
  apps/app-backend/src/functions/featured-services.ts
  apps/app-backend/src/main.ts
  infra/_modules/function_app/variables.tf
  infra/prod/italynorth/main.tf
Labels: changeset, infra, app-backend

#844 [IOPAE-1096] Clean openapi app-backend error statuses
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
Labels: app-backend

#840 [IOPAE-1128] Phone frame integration
  .changeset/ninety-cows-know.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/app-preview/app-preview.module.css
  apps/backoffice/src/components/app-preview/index.tsx
Labels: changeset, backoffice

#847 ITN infra cicd should start also when editing _modules files
  .github/workflows/infra-release-p-itn.yml
  .github/workflows/infra-review-p-itn.yml
Labels: ci

#845 [EC-288] Set scheduling of indexers with 1 hour interval
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/services.tf
  infra/_modules/ai_search/variables.tf
Labels: infra

#848 [EC-301] Delete region folder in infra configuration
  .github/workflows/infra-release-p.yml
  .github/workflows/infra-review-p-itn.yml
  .github/workflows/infra-review-p.yml
  infra/prod/.terraform.lock.hcl
  infra/prod/data.tf
  infra/prod/locals.tf
  infra/prod/main.tf
  infra/prod/providers.tf
Labels: ci, infra

#849 Increase Search Unit 1->3 on Azure Search
  infra/prod/main.tf
Labels: infra

#850 [#IOPAE-1173] Fix Count field on Search Institutions Response
  .changeset/cool-insects-hear.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
Labels: changeset, app-backend

#851 [IOPAE-1173] Refactor pagination config
  .changeset/ten-pianos-collect.md
  apps/app-backend/README.md
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
Labels: changeset, app-backend

#852 [IOPAE-1184] App backend health checks
  .changeset/silver-balloons-remember.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/src/functions/info.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/azure-search/health-check.ts
  apps/app-backend/src/utils/cosmos-db/health-check.ts
  apps/app-backend/src/utils/health-check.ts
Labels: changeset, app-backend

#854 chore: Improve apim error
  .changeset/tender-seahorses-bow.md
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/errors.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, chore, backoffice

#857 Fix Apim Error io-ts decoder
  .changeset/shy-papayas-thank.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/lib/be/errors.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, backoffice

#860 Add poison queue element presency alert
  infra/src/00_monitor_action_group.tf
  infra/src/README.md
  infra/src/storage_account_monitor.tf
  infra/src/webapp_monitor.tf
Labels: infra

#861 set poison-queue-alert severity to critical
  infra/src/storage_account_monitor.tf
Labels: infra

#859 [EC-311] change AI search sku to standard
  infra/_modules/ai_search/main.tf
  infra/_modules/ai_search/variables.tf
Labels: infra

#862 Add Queue diagnostic settings
  infra/src/00_monitor.tf
  infra/src/00_monitor_action_group.tf
  infra/src/README.md
  infra/src/monitor.tf
  infra/src/storage_account_monitor.tf
Labels: infra

#863 use azurerm_monitor_scheduled_query_rules_alert_v2
  infra/src/README.md
  infra/src/monitor.tf
Labels: infra

#864 fix window_duration property
  infra/src/monitor.tf
Labels: infra, fix

#865 fix: ai search private endpoint name
  infra/_modules/ai_search/main.tf
Labels: infra, fix

#868 Patch app be config
  .changeset/thirty-points-play.md
  apps/app-backend/README.md
  apps/app-backend/local.settings.json.example
  apps/app-backend/src/config.ts
Labels: changeset, app-backend
