Repository pagopa/io-services-cms, pull requests merged in 2024-03, with the labels that each got.

#764 [IOPAE-1009] Zendesk webform integration
  .changeset/hot-houses-worry.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/assistance/__tests__/route.test.ts
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/pages/mocks/selfcare/assistenza.tsx
Labels: changeset, backoffice

#767 [#IOPAE-335] Automatic Rejection on Service Duplicated
  .changeset/eight-phones-guess.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/cosmos-helper.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-history.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-history.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#768 [#IOPAE-1030]update container app module
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

#770 [#IOPAE-335] Case insensitive duplicate check
  .changeset/rude-phones-laugh.md
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: changeset, webapp

#772 [IOPAE-335] Update duplicate rejection message
  .changeset/famous-toys-knock.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: changeset, webapp

#774 chore:[IOPAE-1043] Trim Service Name before save
  .changeset/five-bugs-dress.md
  packages/io-services-cms-models/src/service-lifecycle/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, chore

#776 [#IOPAE-1040] Improve legacy review checker
  .changeset/real-rivers-switch.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/review-legacy-checker-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/review-legacy-checker-handler.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp

#782 [IOPAE-666] ADD REQUEST DELETION QUEUE
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

#786 Unify service history status in Open Api
  .changeset/five-llamas-search.md
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, changeset

#787 Service history status unify Implementation
  .changeset/six-shirts-destroy.md
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
Labels: changeset, webapp

#789 Service history status unify backoffice
  .changeset/eleven-spoons-jog.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/services/service-history.tsx
Labels: changeset, backoffice
