Repository pagopa/io-services-cms, pull requests merged in 2024-02, with the labels that each got.

#713 fix:[IOPAE-960] Fix possible inconsistent data in PageBreadcrumbs
  .changeset/late-shoes-remember.md
  apps/backoffice/src/components/__tests__/page-breadcrumbs.test.tsx
  apps/backoffice/src/components/headers/page-breadcrumbs.tsx
Labels: changeset, fix, backoffice

#712 [#IOPAE-965] Create request validation queue
  apps/io-services-cms-webapp/env.example
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: webapp, infra

#711 [#IOPAE-955] Sanitize Route Handlers response objects
  .changeset/itchy-pets-eat.md
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/package.json
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/lib/be/__tests__/sanitize.test.ts
  apps/backoffice/src/lib/be/sanitize.ts
  apps/backoffice/src/lib/be/services/business.ts
  yarn.lock
Labels: changeset, backoffice

#715 [IOPAE-845] Decrease session max idle duration on backoffice
  .changeset/warm-spiders-tie.md
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
Labels: changeset, backoffice

#718 [#IOPLT-208] Add Temp App gateway SNET routing
  infra/src/00_network.tf
  infra/src/backoffice_webapp.tf
Labels: infra

#719 [#IOPLT-208] fix tf format
  infra/src/.terraform.lock.hcl
  infra/src/README.md
Labels: infra

#714 featu: [IOPAE-965] add automatic validation handler
  .changeset/fresh-hounds-pay.md
  apps/io-services-cms-webapp/OnRequestValidation/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/env.example
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  yarn.lock
Labels: internal, changeset, webapp, feat

#721 fix: [IOPAE-965] patch automatic checks
  .changeset/giant-pots-walk.md
  apps/io-services-cms-webapp/src/main.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
Labels: changeset, webapp, infra, fix

#723 fix: [IOPAE-965] patch request validation queue name
  infra/src/README.md
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra, fix

#725 fix:[#IOPAE-965] Fix service review checker
  .changeset/green-knives-draw.md
  apps/io-services-cms-webapp/src/reviewer/review-checker-handler.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
  infra/src/webapp.tf
Labels: changeset, webapp, infra, fix

#726 fix:[#IOPAE-974] Increase json request maximum size
  .changeset/sixty-crabs-work.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/upload-service-logo.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp, fix

#729 Fix: logo cdn refresh
  .changeset/witty-pianos-ring.md
  apps/backoffice/src/components/services/service-logo.tsx
Labels: changeset, backoffice

#731 [#IOPLT-208] Dismiss Temporary App Gw
  infra/src/00_network.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
Labels: infra

#705 chore: [IOPAE-962] add apim diagnostic
  infra/src/README.md
  infra/src/apim_v2_api.tf
Labels: infra, chore

#733 feat: [IOPAE-978] trace automatic service validation events
  .changeset/good-tools-guess.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: changeset, webapp, feat

#735 refactor: replace TelemetryClient type import
  .changeset/sweet-students-begin.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/utils/generic-service-retrieve.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/delete-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/edit-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
  apps/io-services-cms-webapp/src/webservice/controllers/publish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/review-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/unpublish-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/upload-service-logo.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp, refactor

#737 [IOPAE-982] Avoid adding the default Sandbox Recipient when already present
  .changeset/fifty-readers-rush.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
Labels: changeset, webapp

#740 fix: [IOPAE-983] patch publication-lifecycle release fn
  .changeset/curly-paws-live.md
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp, fix

#742 [#IOPAE-968] preserve topic_id on sync legacy
  .changeset/shaggy-frogs-shave.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
Labels: changeset, webapp

#739 [IOPAE-798] GET ServiceHistory OpenApi
  apps/io-services-cms-webapp/openapi.yaml
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal, webapp

#744 fix:[IOPAE-988] Avoid start/end spaces on url fields in service create/update form
  .changeset/fuzzy-cycles-beam.md
  apps/backoffice/src/components/forms/schemas.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
Labels: changeset, fix, backoffice

#746 [IOPAE-993] Add GetServiceHistory into BackOffice backend api specification
  .changeset/gold-carrots-type.md
  apps/backoffice/openapi.yaml
Labels: changeset, backoffice

#747 create readonly user migrations scripts
  apps/io-services-cms-webapp/README.md
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.1__grant_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_server.sh
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/database_review_credentials.tf
Labels: webapp, infra

#750 bugfix:[#IOPAE-997]Remove option from ValidSecureChannelService tos_url type
  .changeset/shiny-birds-visit.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
Labels: bug, changeset, webapp

#751 fix: patch flayway migration scripts
  apps/io-services-cms-webapp/db/schema/migrations/reviewer/V8.0__create_readonly_user.sql
  apps/io-services-cms-webapp/db/scripts/run_flyway_on_azure.sh
Labels: webapp, fix

#749 [IOPAE-996] Add GetServiceHistory MSW mock
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
Labels: backoffice

#754 [#IOPAE-992] Add GET /services/{serviceId}/history Api on infra
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

#756 [IOPAE-994] Add GetServiceHistory Route Handler in Backoffice
  .changeset/two-beans-approve.md
  apps/backoffice/src/app/api/services/[serviceId]/history/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#760 [IOPAE-995] Add service history feature in service details page
  .changeset/spotty-deers-shop.md
  apps/backoffice/next.config.js
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/drawer-provider/drawer-base-container.tsx
  apps/backoffice/src/components/drawer-provider/drawer-base-content.tsx
  apps/backoffice/src/components/drawer-provider/drawer-provider.tsx
  apps/backoffice/src/components/drawer-provider/index.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-alerts.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/components/services/service-history.tsx
  apps/backoffice/src/components/services/service-info-content.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/service-reject-reason-content.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice
