Repository pagopa/io-services-cms, pull requests merged in 2024-08, with the labels that each got.

#968 [IOPAE-1246]: Migrate Backoffice to ITN, enabling Zone Reundancy and Private Endpoint
  .github/workflows/azure-deploy-manual-bo-itn-temp.yaml
  infra/_modules/backoffice/data.tf
  infra/_modules/backoffice/locals.tf
  infra/_modules/backoffice/main.tf
  infra/_modules/backoffice/monitoring.tf
  infra/_modules/backoffice/secrets.tf
  infra/_modules/backoffice/variables.tf
  infra/_modules/cms_function_app/outputs.tf
  infra/prod/main.tf
Labels: ci, infra

#970 Migrate keyvault in ITN region
  infra/_modules/backoffice/locals.tf
  infra/_modules/backoffice/secrets.tf
  infra/_modules/backoffice/variables.tf
  infra/_modules/key_vault/data.tf
  infra/_modules/key_vault/main.tf
  infra/_modules/key_vault/outputs.tf
  infra/_modules/key_vault/policy.tf
  infra/_modules/key_vault/secrets.tf
  infra/_modules/key_vault/variables.tf
  infra/prod/.terraform.lock.hcl
  infra/prod/main.tf
Labels: infra

#971 fix: Itn keyvault now accessible from cicd identities
  infra/_modules/key_vault/data.tf
  infra/_modules/key_vault/policy.tf
Labels: infra, fix

#975 fix: Application insights instrumentation key is not shown as clear text
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/variables.tf
  infra/prod/data.tf
  infra/prod/main.tf
Labels: infra, fix

#972 ITN key vault secrets
  infra/_modules/backoffice/data.tf
  infra/_modules/backoffice/locals.tf
  infra/_modules/backoffice/variables.tf
  infra/_modules/key_vault/locals.tf
  infra/_modules/key_vault/outputs.tf
  infra/_modules/key_vault/secrets.tf
  infra/prod/main.tf
Labels: infra

#969 [IOPAE-1294] MarkdownView component tests
  .changeset/light-mangos-pay.md
  apps/backoffice/src/components/markdown-view/__tests__/markdown-view.test.tsx
  apps/backoffice/src/components/markdown-view/markdown-view.tsx
Labels: changeset, backoffice

#974 [IOPAE-1295] Notification component tests
  .changeset/popular-cheetahs-beam.md
  apps/backoffice/src/components/notification/__tests__/notification.test.tsx
  apps/backoffice/src/components/notification/index.tsx
Labels: changeset, backoffice

#977 [IOPAE-1246] Backoffice ITN final config
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/_modules/backoffice/locals.tf
  infra/_modules/backoffice/main.tf
  infra/_modules/backoffice/variables.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/variables.tf
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/variables.tf
  infra/prod/locals.tf
  infra/prod/main.tf
Labels: ci, infra

#980 Remove Backoffice on WEU region
  infra/_modules/cms_function_app/data.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/network.tf
Labels: infra

#979 [IOPAE-920] Update extension bundle to 4.x
  .changeset/new-carpets-sleep.md
  apps/io-services-cms-webapp/LegacyServiceWatcher/function.json
  apps/io-services-cms-webapp/ServiceDetailLifecycleWatcher/function.json
  apps/io-services-cms-webapp/ServiceDetailPublicationWatcher/function.json
  apps/io-services-cms-webapp/ServiceHistoryWatcher/function.json
  apps/io-services-cms-webapp/ServiceLifecycleWatcher/function.json
  apps/io-services-cms-webapp/ServicePublicationWatcher/function.json
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp

#983 [IOPAE-931] Handle Constraint violation on insert, map permanent errors
  .changeset/early-cows-lay.md
  apps/app-backend/api/internal.yaml
  apps/backoffice/package.json
  apps/io-services-cms-webapp/src/deletor/request-deletion-handler.ts
  apps/io-services-cms-webapp/src/detailRequestor/__tests__/request-detail-handler.test.ts
  apps/io-services-cms-webapp/src/detailRequestor/request-detail-handler.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/publicator/__tests__/request-publication-handler.test.ts
  apps/io-services-cms-webapp/src/publicator/request-publication-handler.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-legacy-handler.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/utils/errors.ts
  apps/io-services-cms-webapp/src/utils/queue-utils.ts
Labels: changeset, webapp, backoffice, app-backend

#985 [IOPAE-1334] fix get user authorized institutions
  .changeset/four-poems-destroy.md
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: changeset, backoffice

#988 fix: turbo cache in github actions
  .github/workflows/code-review.yaml
Labels: ci, fix

#989 [IOPAE-1202] update eslint config
  apps/app-backend/.eslintrc.js
  apps/app-backend/eslint.config.mjs
  apps/app-backend/package.json
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__mocks__/featured-institutions.ts
  apps/app-backend/src/functions/__mocks__/featured-services.ts
  apps/app-backend/src/functions/__mocks__/get-service-by-id-mock.ts
  apps/app-backend/src/functions/__mocks__/handler-mocks.ts
  apps/app-backend/src/functions/__mocks__/search-institutions-mock.ts
  apps/app-backend/src/functions/__mocks__/search-services-mock.ts
  apps/app-backend/src/functions/featured-institutions.ts
  apps/app-backend/src/functions/featured-services.ts
  apps/app-backend/src/functions/get-service-by-id.ts
  apps/app-backend/src/functions/info.ts
  apps/app-backend/src/functions/search-institutions.ts
  apps/app-backend/src/functions/search-services.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/middleware/path-params-middleware.ts
  apps/app-backend/src/middleware/query-params-middlewares.ts
  apps/app-backend/src/utils/applicationinsight/helper.ts
  apps/app-backend/src/utils/azure-search/client.ts
  apps/app-backend/src/utils/azure-search/dependency.ts
  apps/app-backend/src/utils/azure-search/health-check.ts
  apps/app-backend/src/utils/blob-storage/dependency.ts
  apps/app-backend/src/utils/blob-storage/health-check.ts
  apps/app-backend/src/utils/blob-storage/helper.ts
  apps/app-backend/src/utils/cosmos-db/dependency.ts
  apps/app-backend/src/utils/cosmos-db/health-check.ts
  apps/app-backend/src/utils/cosmos-db/helper.ts
  apps/app-backend/src/utils/health-check.ts
  packages/external-clients/.eslintrc.js
  packages/external-clients/eslint.config.mjs
  packages/external-clients/package.json
  packages/external-clients/src/apim-client/apim-filters.ts
  packages/external-clients/src/apim-client/index.ts
  packages/io-services-cms-models/.eslintrc.js
  packages/io-services-cms-models/eslint.config.mjs
  packages/io-services-cms-models/package.json
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/fsm/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-detail/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
  yarn.lock
Labels: internal, app-backend
