Repository pagopa/io-services-cms, pull requests merged in 2024-06, with the labels that each got.

#867 [IOPAE-1201] Remove unwanted continuationToken on serviceHistory first call
  .changeset/neat-waves-hide.md
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice

#866 [IOPAE-1196] services app be fn private endpoint
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-release-p.yml
  .github/workflows/infra-review-p.yml
  infra/_modules/ai_search/data.tf
  infra/_modules/ai_search/locals.tf
  infra/_modules/ai_search/main.tf
  infra/_modules/ai_search/networking.tf
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/outputs.tf
  infra/_modules/ai_search/providers.tf
  infra/_modules/ai_search/rbac.tf
  infra/_modules/ai_search/services.tf
  infra/_modules/ai_search/variables.tf
  infra/_modules/function_app/data.tf
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/rbac.tf
  infra/_modules/function_app/variables.tf
  infra/_modules/networking/main.tf
  infra/_modules/networking/outputs.tf
  infra/_modules/networking/variables.tf
  infra/prod/.terraform.lock.hcl
  infra/prod/data.tf
  infra/prod/locals.tf
  infra/prod/main.tf
  infra/prod/providers.tf
Labels: ci, infra

#872 add static contents to fn storage
  infra/_modules/function_app/featured-institutions.json
  infra/_modules/function_app/featured-services.json
  infra/_modules/function_app/storage_account.tf
Labels: infra

#873 fix deploy action fn slot name
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#874 fix deploy action fn slot name
  .github/workflows/azure-deploy-manual.yaml
Labels: ci, fix

#875 revert deploy action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/_modules/function_app/storage_account.tf
Labels: ci, infra

#876 Fix storage account connection
  .changeset/thick-chairs-sniff.md
  apps/app-backend/src/config.ts
Labels: changeset, app-backend

#878 fix deploy action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#879 Use new azure storage SDK on io-services-app-backend
  .changeset/plenty-spoons-push.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/package.json
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__tests__/featured-institutions.test.ts
  apps/app-backend/src/functions/__tests__/featured-services.test.ts
  apps/app-backend/src/functions/featured-institutions.ts
  apps/app-backend/src/functions/featured-services.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/__tests__/azure-search.test.ts
  apps/app-backend/src/utils/__tests__/blob-storage.test.ts
  apps/app-backend/src/utils/blob-storage/dependency.ts
  apps/app-backend/src/utils/blob-storage/helper.ts
  yarn.lock
Labels: changeset, app-backend

#882 Use New Azure Storage account SDK
  .changeset/proud-trains-smile.md
  apps/app-backend/src/functions/featured-services.ts
Labels: changeset, app-backend

#886 Use internal fn storage account for featured Institutions and Services
  .changeset/fresh-coats-travel.md
  apps/app-backend/src/main.ts
Labels: changeset, app-backend

#888 Poison queue alarm prod channel
  infra/src/README.md
  infra/src/monitor.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/src/webapp_monitor.tf
Labels: infra

#890 Clean App Backend config and old healthcheck
  .changeset/afraid-swans-build.md
  apps/app-backend/README.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/info.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/blob-storage/health-check.ts
Labels: changeset, app-backend

#885 chore: add services be fn autoscalers and basic alerts
  infra/_modules/function_app/data.tf
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/monitoring.tf
Labels: infra, chore

#895 Patch indexes sortable field
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/services.tf
Labels: infra

#896 Patch indexes alias
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/services.tf
Labels: infra

#893 [IOPAE-1224] Search institution default order on no searchtext provided
  .changeset/large-hotels-speak.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
  apps/app-backend/src/utils/azure-search/client.ts
Labels: changeset, app-backend

#898 Patch clean older indexes
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/services.tf
Labels: infra

#900 Increase Default Max Pagination Offset on app-backend
  .changeset/ten-shoes-search.md
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/search-services.ts
Labels: changeset, app-backend

#903 decrease services be fn plan
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/main.tf
Labels: infra

#889 [#IOPAE-1198]Add privacy_url and contact fields to automatic controls
  .changeset/lovely-hornets-whisper.md
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
Labels: internal, changeset, webapp

#906 [IOPAE-1244] use ApplicationInsight /w open telemetry in nextJS backoffice
  .changeset/grumpy-trainers-suffer.md
  apps/app-backend/api/internal.yaml
  apps/backoffice/package.json
  apps/backoffice/src/instrumentation.node.ts
  apps/backoffice/src/instrumentation.ts
  infra/src/backoffice_webapp.tf
  yarn.lock
Labels: changeset, infra, backoffice, app-backend

#905 add code coverage to code review
  .github/workflows/code-review.yaml
  apps/app-backend/vitest.config.ts
  apps/backoffice/package.json
  apps/backoffice/vitest.config.node.ts
  apps/backoffice/vitest.config.react.ts
  apps/io-services-cms-webapp/vitest.config.ts
  package.json
  packages/external-clients/vitest.config.ts
  packages/io-services-cms-models/vitest.config.ts
  turbo.json
  vitest.shared.ts
Labels: ci, internal, webapp, backoffice, app-backend

#909 [IOPAE-1262] use custom offset limit only when requested a full text search
  .changeset/wet-horses-suffer.md
  .github/workflows/code-review.yaml
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
Labels: ci, changeset, app-backend

#913 fix return count value
  .changeset/sweet-toes-bake.md
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
Labels: changeset, fix, app-backend

#912 [#IOPAE-1244] use ApplicationInsight /w open telemetry in app-backend
  .changeset/curly-games-leave.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/package.json
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/__tests__/applicationinsight.test.ts
  apps/app-backend/src/utils/applicationinsight/helper.ts
  apps/app-backend/src/utils/applicationinsight/wrapper.ts
  apps/backoffice/package.json
  apps/backoffice/src/instrumentation.node.ts
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/main.tf
  yarn.lock
Labels: changeset, infra, backoffice, app-backend

#917 [IOPAE-1273] fix drift detection problem
  infra/src/monitor.tf
Labels: infra

#918 [#IOPAE-1244] Set ApplicationInsight Sampling Percentage
  .changeset/cold-taxis-smell.md
  apps/app-backend/src/utils/applicationinsight/helper.ts
  infra/_modules/function_app/locals.tf
Labels: changeset, infra, app-backend

#907 [IOPAE-1181] IP inputs unclickable
  .changeset/tiny-hats-lie.md
  apps/backoffice/src/components/forms/controllers/text-field-array-controller.tsx
Labels: changeset, backoffice

#921 [#IOPAE-1244] App backend applicationinsight
  .changeset/nine-cats-protect.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/package.json
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/__tests__/applicationinsight.test.ts
  apps/app-backend/src/utils/applicationinsight/helper.ts
  apps/app-backend/src/utils/applicationinsight/wrapper.ts
  infra/_modules/function_app/locals.tf
  infra/_modules/function_app/main.tf
  yarn.lock
Labels: changeset, infra, app-backend

#922 [IOPAE-1281] BackOffice IO: update copy
  .changeset/three-suits-draw.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  package.json
Labels: changeset, backoffice

#924 Patch tf fn app health check maxpingfailures
  .github/workflows/code-review.yaml
  infra/src/webapp.tf
Labels: ci, infra

#915 [#IOPAE-1272]App service Plan tuning for app-backend
  infra/_modules/function_app/monitoring.tf
Labels: infra

#925 [IOPAE-1283] add alerts on ai search
  infra/_modules/ai_search/data.tf
  infra/_modules/ai_search/monitoring.tf
Labels: infra

#926 [IOPAE-1245] Zone Redundancy and lower sku for cms webapp plan
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: infra

#929 Revert "[IOPAE-1245] Zone Redundancy and lower sku for cms webapp pla…
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: infra

#930 [IOPAE-1286] Fixed lint error for jest method
  .changeset/calm-waves-behave.md
  apps/backoffice/package.json
  apps/backoffice/src/components/__tests__/setup.ts
  yarn.lock
Labels: changeset, backoffice
