Repository pagopa/io-services-cms, pull requests merged in 2024-04, with the labels that each got.

#784 [IOPAE-1001] topic_id is now required in service payload Metadada schema
  packages/io-services-cms-models/openapi/services-cms-schemas.yaml
Labels: internal

#791 [IOPAE-1065] BackOffice IO: Topic is now required on service create/update form
  .changeset/cool-actors-sing.md
  apps/backoffice/src/components/forms/controllers/autocomplete-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
Labels: changeset, backoffice

#785 [IOPAE-1001] Topic is now required on Service Creation/Edit
  .changeset/cyan-panthers-love.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/service-topic-validator.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: changeset, webapp, infra

#793 [IOPAE-1053] Fix openApi Apim
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
Labels: infra

#794 [#IOPAE-1075] init io-services-app-backend FunctionsApp V4 project
  .changeset/strange-parrots-flash.md
  .github/labeler.yml
  .vscode/settings.json
  apps/io-services-app-backend/.eslintrc.js
  apps/io-services-app-backend/.funcignore
  apps/io-services-app-backend/.gitignore
  apps/io-services-app-backend/.prettierignore
  apps/io-services-app-backend/.vscode/extensions.json
  apps/io-services-app-backend/README.md
  apps/io-services-app-backend/host.json
  apps/io-services-app-backend/package.json
  apps/io-services-app-backend/src/functions/__tests__/info.test.ts
  apps/io-services-app-backend/src/functions/info.ts
  apps/io-services-app-backend/tsconfig.json
  apps/io-services-app-backend/vitest.config.ts
  io-services-cms.code-workspace
  yarn.lock
Labels: changeset, app-backend

#796 [#IOPAE-1089]add internal api to check for duplicates services
  .changeset/little-peaches-impress.md
  apps/io-services-cms-webapp/CheckServiceDuplicationInternal/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/service-validation-handler.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/check-service-duplication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#800 [IOPAE-1079] Add openapi specs to app-backend project
  apps/app-backend/openapi.yaml
  apps/app-backend/package.json
  yarn.lock
Labels: app-backend

#801 chore:Update openapi specs for featured items
  apps/app-backend/openapi.yaml
Labels: chore, app-backend

#802 chore:[IOPAE-1079] Update app-be openapi specs for featured items
  apps/app-backend/openapi.yaml
Labels: chore, app-backend

#804 [#IOPAE-1095] Add first version of GetFeaturedServicesIntitutions Function HTTPTrigger
  .changeset/cyan-kings-compete.md
  apps/app-backend/README.md
  apps/app-backend/api-lint.sh
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/host.json
  apps/app-backend/local.settings.json.example
  apps/app-backend/package.json
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__mocks__/featured-items.ts
  apps/app-backend/src/functions/__mocks__/handler-mocks.ts
  apps/app-backend/src/functions/__tests__/featured-items.test.ts
  apps/app-backend/src/functions/featured-items.ts
  apps/app-backend/src/functions/info.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/utils/blob-storage/dependency.ts
  apps/app-backend/src/utils/errors.ts
  apps/app-backend/src/utils/health-check.ts
  apps/io-services-cms-webapp/host.json
  yarn.lock
Labels: changeset, webapp, app-backend

#805 [#IOPAE-1079] PaginationResultSet mandatory parameters
  apps/app-backend/src/functions/__mocks__/featured-items.ts
  packages/io-services-cms-models/openapi/commons-schemas.yaml
Labels: internal, app-backend

#809 [IOPAE-1108] Search institutions api
  .changeset/khaki-rabbits-shave.md
  apps/app-backend/README.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/package.json
  apps/app-backend/src/config.ts
  apps/app-backend/src/functions/__mocks__/handler-mocks.ts
  apps/app-backend/src/functions/__mocks__/search-institutions-mock.ts
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/search-institutions.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/middleware/__tests__/query-params-middlewares.test.ts
  apps/app-backend/src/middleware/query-params-middlewares.ts
  apps/app-backend/src/utils/__mocks__/azure-search-mocks.ts
  apps/app-backend/src/utils/__tests__/azure-search.test.ts
  apps/app-backend/src/utils/azure-search/client.ts
  apps/app-backend/src/utils/azure-search/dependency.ts
  yarn.lock
Labels: changeset, app-backend

#811 [IOPAE-1116] Search Institution's Services API
  .changeset/mean-boxes-attack.md
  apps/app-backend/src/functions/__mocks__/search-services-mock.ts
  apps/app-backend/src/functions/__tests__/search-institutions.test.ts
  apps/app-backend/src/functions/__tests__/search-services.test.ts
  apps/app-backend/src/functions/search-services.ts
  apps/app-backend/src/main.ts
  apps/app-backend/src/middleware/__tests__/path-params-middlewares.test.ts
  apps/app-backend/src/middleware/__tests__/query-params-middlewares.test.ts
  apps/app-backend/src/middleware/path-params-middleware.ts
  apps/app-backend/src/middleware/query-params-middlewares.ts
Labels: changeset, app-backend

#813 [IOPAE-1123] Add organization_name to featured service
  .changeset/twelve-scissors-wink.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/src/functions/__mocks__/featured-items.ts
Labels: changeset, app-backend

#816 [EC-273] Clean up old identities and adhere to new standards
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .github/workflows/opex_api_services_cms.yml
  .identity/.terraform.lock.hcl
  .identity/01_data.tf
  .identity/02_application_environment_app_cd.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_ci.tf
  .identity/02_application_environment_opex.tf
  .identity/02_application_environment_runner.tf
  .identity/03_github_environment_app_cd.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_ci.tf
  .identity/03_github_environment_infra.tf
  .identity/03_github_environment_opex.tf
  .identity/03_github_environment_runner.tf
  .identity/03_github_repo_secrets.tf
  .identity/04_github_identity.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/github_repository.tf
  .identity/main.tf
  CODEOWNERS
  infra/src/README.md
  infra/src/azuread.tf
  infra/src/key_vault.tf
Labels: ci, infra

#815 EC-234 - Indices, datasources and indexers implemented
  infra/_modules/ai_search/data.tf
  infra/_modules/ai_search/main.tf
  infra/_modules/ai_search/organizations.tf
  infra/_modules/ai_search/providers.tf
  infra/_modules/ai_search/services.tf
  infra/_modules/ai_search/variables.tf
  infra/_modules/networking/main.tf
  infra/prod/italynorth/.terraform.lock.hcl
  infra/prod/italynorth/data.tf
  infra/prod/italynorth/locals.tf
  infra/prod/italynorth/main.tf
  infra/prod/italynorth/providers.tf
Labels: infra
