Repository pagopa/io-services-cms, pull requests merged in 2024-01, with the labels that each got.

#629 [#IOPAE-844]remove category and custom_special_flow from api response
  .changeset/perfect-ants-speak.md
  apps/io-services-cms-webapp/src/utils/converters/__tests__/service-lifecycle-converters.test.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
Labels: changeset, webapp

#635 [EC-61] Use managed identities and container app jobs for GitHub Actions
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/code-review.yaml
  .github/workflows/infra-cd.yml
  .github/workflows/infra-ci.yml
  .github/workflows/infra-drift-detection.yml
  .github/workflows/infra-static-analysis.yaml
  .github/workflows/opex_api_services_cms.yml
  .gitignore
  .identity/.gitignore
  .identity/.terraform-version
  .identity/.terraform.lock.hcl
  .identity/03_github_environment_app_cd.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_ci.tf
  .identity/03_github_environment_infra.tf
  .identity/03_github_environment_opex.tf
  .identity/03_github_environment_runner.tf
  .identity/03_github_repo_secrets.tf
  .identity/04_github_identity.tf
  .identity/99_locals.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
  .identity/main.tf
  .terraform-version
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/key_vault.tf
  infra/src/main.tf
Labels: ci, infra

#636 [EC-69] Add missing steps from infra CD pipeline
  .github/workflows/infra-cd.yml
Labels: ci

#640 [EC-69] Replace sh script with tf command
  .github/workflows/infra-cd.yml
Labels: ci

#641 Add policy cache on GET /services/topicstest API
  .changeset/forty-ducks-crash.md
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/README.md
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: changeset, webapp, infra

#643 [IOPAE-901] Deploy service topics list api
  .changeset/great-books-mate.md
  apps/io-services-cms-webapp/GetServiceTopics/function.json
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/README.md
  infra/src/api/io_services_cms/v1/_swagger.yaml.tpl
  infra/src/api/io_services_cms/v1/getservicetopics_policy/policy.xml
  infra/src/api/io_services_cms/v1/getservicetopicstest_policy/policy.xml
  infra/src/apim_v2_api.tf
Labels: changeset, webapp, infra

#630 fix: [#IOPAE-912] replace findOneByServiceId method call with findLastVersionByModelId
  .changeset/tricky-cherries-sniff.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset, webapp, fix, refactor

#632 [#IOPAE-910] Sync to legacy only Publication and Deleted Items
  .changeset/many-cherries-approve.md
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset, webapp

#646 [IOPAE-853] Fix upload service logo copy
  .changeset/shiny-papayas-know.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: changeset, backoffice

#634 [#IOPAE-310] Add postgreSQL DB Health Check
  .changeset/proud-starfishes-return.md
  apps/io-services-cms-webapp/src/lib/clients/pg-client.ts
  apps/io-services-cms-webapp/src/utils/custom-healthchecks.ts
  apps/io-services-cms-webapp/src/webservice/controllers/info.ts
Labels: changeset, webapp

#648 [IOPAE-851] Fix API Key copy
  .changeset/few-planets-drive.md
  apps/backoffice/public/locales/it/common.json
Labels: changeset, backoffice

#651 fix: [IOPAE-891] patch organization name spacial characters
  .changeset/orange-dancers-refuse.md
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: changeset, fix, backoffice

#652 [IOPAE-914] Update deleted service table row layout in Services Page
  .changeset/silver-avocados-arrive.md
  apps/backoffice/src/components/__tests__/service-status.test.tsx
  apps/backoffice/src/components/services/service-status.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#656 [IOPAE-907] Get Service Publication internal api
  .changeset/poor-apples-report.md
  apps/io-services-cms-webapp/GetServiceLifecycleInternal/function.json
  apps/io-services-cms-webapp/GetServicePublicationInternal/function.json
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-lifecycle-internal.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-publication-internal.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#657 [IOPAE-870] Change sidenav bottom menu icon for opening/collapsing sidenav
  .changeset/modern-spies-help.md
  apps/backoffice/src/components/sidenav/index.tsx
Labels: changeset, backoffice

#658 [IOPAE-850] Fix language selector
  .changeset/orange-poems-push.md
  apps/backoffice/src/components/footer/index.tsx
Labels: changeset, backoffice

#660 [IOPAE-854] Update card tertiary CTA layout
  .changeset/selfish-beds-sparkle.md
  apps/backoffice/src/components/cards/card-details.tsx
Labels: changeset, backoffice

#661 [IOPAE-852] Update services import button layout
  .changeset/pretty-feet-work.md
  apps/backoffice/src/components/buttons/button-with-loader.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
Labels: changeset, backoffice

#662 [IOPAE-886] Update service create/update form icons
  .changeset/stupid-rockets-swim.md
  apps/backoffice/src/components/forms/controllers/url-field-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-1.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-2.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-extra-configurator.tsx
Labels: changeset, backoffice

#663 [IOPAE-898] Reduce visibility icons size in services page
  .changeset/three-spies-return.md
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#655 refactor: [IOPAE-918] migrate tf modules
  .identity/04_github_identity.tf
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/backoffice_webapp.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
  infra/src/network.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
Labels: infra, refactor

#665 [EC-84] Add GitHub private runner on Container App job
  infra/src/.terraform.lock.hcl
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/container_app_job.tf
  infra/src/env/prod/terraform.tfvars
Labels: infra

#664 [#IOPAE-932] Sync on legacy when service was never published
  .changeset/cool-guests-learn.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset, webapp

#653 [#IOPAE-904] First service activation info on review ticket
  .changeset/new-eyes-boil.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-handler.test.ts
  apps/io-services-cms-webapp/src/reviewer/request-review-handler.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#667 [IOPAE-888] Update service-context-menu in service details page
  .changeset/little-hounds-sell.md
  apps/backoffice/src/components/services/service-context-menu.tsx
Labels: changeset, backoffice

#668 [IOPAE-887] Page Header: replace breadcrumbs with exit shortcut on service create/update pages
  .changeset/calm-penguins-tease.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/buttons/button-exit.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
Labels: changeset, backoffice

#666 [IOPAE-831] New assistance api definition for Zendesk integration
  apps/backoffice/openapi.yaml
Labels: backoffice

#673 [IOPAE-873] Fix responsive layout on migration overview
  .changeset/three-eggs-behave.md
  apps/backoffice/src/components/services/subscriptions-migration/migration-latest.tsx
Labels: changeset, backoffice

#671 [IOPAE-884] Update ServiceVersionSwitcher component layout
  .changeset/funny-lemons-sing.md
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: changeset, backoffice

#677 [IOPAE-852] Services TableRowMenu: add icons and set delete action as last
  .changeset/late-deers-fold.md
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#681 [IOPAE-881] MUI Chip custom styleOverrides
  .changeset/wild-mangos-joke.md
  apps/backoffice/src/config/app-theme.ts
  apps/backoffice/src/providers/app.tsx
Labels: changeset, backoffice

#674 feat: [IOPAE-823] add AS to institution type enum
  .changeset/long-goats-live.md
  packages/io-services-cms-models/openapi/selfcare-schemas.yaml
Labels: internal, changeset, feat

#684 [IOPAE-889] Service details: update text color and fix logo card height
  .changeset/fresh-suits-dream.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/authorized-cidrs.tsx
  apps/backoffice/src/components/cards/card-base-container.tsx
  apps/backoffice/src/components/services/service-logo.tsx
Labels: changeset, backoffice

#685 [EC-103] Update container app job module
  infra/src/README.md
  infra/src/container_app_job.tf
Labels: infra

#678 feat: [IOPAE-832] add sendSupport selfcare (zendesk) integration
  .changeset/plenty-paws-joke.md
  .sonarcloud.properties
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  apps/backoffice/selfcare-openapi.yaml
  apps/backoffice/src/app/api/assistance/__tests__/route.test.ts
  apps/backoffice/src/app/api/assistance/route.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/types/selfcare/AckPayloadRequest.ts
  apps/backoffice/src/types/selfcare/AttributesResponse.ts
  apps/backoffice/src/types/selfcare/BillingResponse.ts
  apps/backoffice/src/types/selfcare/DataProtectionOfficerResponse.ts
  apps/backoffice/src/types/selfcare/DelegationResponse.ts
  apps/backoffice/src/types/selfcare/GeoTaxonomies.ts
  apps/backoffice/src/types/selfcare/GeographicTaxonomies.ts
  apps/backoffice/src/types/selfcare/GeographicTaxonomyResource.ts
  apps/backoffice/src/types/selfcare/Institution.ts
  apps/backoffice/src/types/selfcare/InstitutionDetailResource.ts
  apps/backoffice/src/types/selfcare/InstitutionGeographicTaxonomies.ts
  apps/backoffice/src/types/selfcare/InstitutionLocationDataDto.ts
  apps/backoffice/src/types/selfcare/InstitutionResource.ts
  apps/backoffice/src/types/selfcare/InstitutionResources.ts
  apps/backoffice/src/types/selfcare/InstitutionResponse.ts
  apps/backoffice/src/types/selfcare/InstitutionUpdate.ts
  apps/backoffice/src/types/selfcare/InstitutionsResponse.ts
  apps/backoffice/src/types/selfcare/LegalsResponse.ts
  apps/backoffice/src/types/selfcare/OnboardedInstitutionResource.ts
  apps/backoffice/src/types/selfcare/OnboardingResponse.ts
  apps/backoffice/src/types/selfcare/OnboardingsResponse.ts
  apps/backoffice/src/types/selfcare/PageOfUserGroupResource.ts
  apps/backoffice/src/types/selfcare/PaymentServiceProviderResponse.ts
  apps/backoffice/src/types/selfcare/ProductInfo.ts
  apps/backoffice/src/types/selfcare/ProductResource.ts
  apps/backoffice/src/types/selfcare/ProductRole.ts
  apps/backoffice/src/types/selfcare/ProductRoleInfoRes.ts
  apps/backoffice/src/types/selfcare/SearchUserDto.ts
  apps/backoffice/src/types/selfcare/SupportRequestDto.ts
  apps/backoffice/src/types/selfcare/SupportResponse.ts
  apps/backoffice/src/types/selfcare/TokenListResponse.ts
  apps/backoffice/src/types/selfcare/TokenResponse.ts
  apps/backoffice/src/types/selfcare/TokenUser.ts
  apps/backoffice/src/types/selfcare/UserGroupResource.ts
  apps/backoffice/src/types/selfcare/UserInfoResource.ts
  apps/backoffice/src/types/selfcare/UserResource.ts
  apps/backoffice/src/types/selfcare/UserResponse.ts
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: changeset, feat, backoffice

#686 [IOPAE-871] ApiKeyValue: fix background layout
  .changeset/loud-nails-exercise.md
  apps/backoffice/src/components/api-keys/api-key-value.tsx
Labels: changeset, backoffice

#670 [IOPAE-833] Zendesk frontend integration
  .changeset/dull-bears-ring.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/components/buttons/button-next.tsx
  apps/backoffice/src/components/forms/controllers/text-field-controller.tsx
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/headers/top-bar.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/assistance.tsx
  apps/backoffice/src/pages/mocks/zendesk.tsx
  apps/backoffice/src/styles/app-layout.module.css
  apps/backoffice/src/utils/string-util.ts
Labels: changeset, backoffice

#689 fix: change email type for assistance call from string to EmailString
  apps/backoffice/src/components/assistance-email-form/index.tsx
  apps/backoffice/src/pages/assistance.tsx
Labels: fix, backoffice

#688 fix: remove bad autogenerated file
  apps/backoffice/src/types/selfcare/requestTypes.ts
Labels: fix, backoffice

#680 [#IOPAE-903]add default cidrs in sync if the service has an empty one
  .changeset/ten-moose-worry.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
Labels: changeset, webapp

#691 fix: Disable support button
  .changeset/eighty-dolls-nail.md
  apps/backoffice/src/components/headers/top-bar.tsx
Labels: changeset, fix, backoffice

#693 [#IOPAE-903] Default CIDRs on legacy sync
  .changeset/yellow-months-admire.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset, webapp

#696 Fix default CIDRs on sync legacy
  .changeset/cuddly-buttons-chew.md
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-legacy-handler.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-history-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset, webapp

#698 fix:[IOPAE-952] Fix frontend xss vulnerability on ServiceVersionSwitcher component
  .changeset/unlucky-maps-crash.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/service-version-switcher.tsx
Labels: changeset, fix, backoffice

#672 [IOPAE-934] Retrieve service topics backoffice
  .changeset/new-planes-peel.md
  .gitignore
  apps/backoffice/.env.development
  apps/backoffice/.env.test
  apps/backoffice/src/app/api/services/list/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/cms-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cms.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-topics.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/backoffice_webapp.tf
  infra/src/env/prod/terraform.tfvars
Labels: changeset, webapp, infra, backoffice

#687 chore: [#IOPAE-947] Set High Priority for Review Ticket related to National services
  .changeset/wild-roses-chew.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#701 [IOPAE-947] Change priority.id type in jira create/update API call
  .changeset/blue-meals-search.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/jira-proxy.ts
Labels: changeset, webapp

#695 refactor: [IOPAE-951] B4F remove react cache
  .changeset/smooth-pandas-mate.md
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/azure-access-token.ts
  apps/backoffice/src/lib/be/cosmos-store.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/subscription-migration-client.ts
Labels: changeset, refactor, backoffice

#704 [IOPAE-801] Add custom error page for next-auth errors
  .changeset/shiny-candles-rule.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/auth/[...nextauth]/route.ts
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/pages/auth/error.tsx
Labels: changeset, backoffice

#706 chore: patch drift detection false positive result
  infra/src/README.md
  infra/src/webapp.tf
Labels: infra, chore

#707 fix:[#IOPAE-964] Handle Service Not Found on Service Ownership checks
  .changeset/twenty-badgers-remain.md
  apps/io-services-cms-webapp/src/utils/__tests__/subscription.test.ts
  apps/io-services-cms-webapp/src/utils/feature-flag-handler.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
Labels: changeset, webapp

#709 [#IOPAE-956] Add x-frame-options header
  .changeset/flat-doors-battle.md
  apps/backoffice/next.config.js
Labels: changeset, backoffice
