Repository pagopa/io-services-cms, pull requests merged in 2024-09, with the labels that each got.

#991 refactor: remove useless getUserByEmail calls
  .changeset/rotten-clocks-rush.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
Labels: changeset, webapp, refactor

#993 Revert "refactor: remove useless getUserByEmail calls"
  .changeset/mighty-games-poke.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
Labels: changeset, webapp

#995 refactor:remove getUserByEmail calls
  .changeset/brown-dolls-march.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-services.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-services.ts
Labels: changeset, webapp, refactor

#997 [IOPAE-1343] set new cms headers
  .changeset/violet-needles-melt.md
  apps/backoffice/.env.development
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/__tests__/empty-state.test.tsx
  apps/backoffice/src/components/__tests__/sidenav.test.tsx
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
  apps/backoffice/types/next-auth.d.ts
  apps/io-services-cms-webapp/openapi.yaml
  infra/src/api/io_services_cms/v1/policy.xml
Labels: changeset, webapp, infra, backoffice

#999 [IOPAE-1350] selfcare user groups middleware
  .changeset/hungry-shrimps-jump.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/lib/middlewares/__tests__/selfcare-user-groups-middleware.test.ts
  apps/io-services-cms-webapp/src/lib/middlewares/selfcare-user-groups-middleware.ts
  apps/io-services-cms-webapp/src/utils/__tests__/comma-separated-list.test.ts
  apps/io-services-cms-webapp/src/utils/comma-separated-list.ts
Labels: changeset, webapp

#990 [IOPAE-1349]custom update dt field
  .changeset/big-dragons-cough.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/utils.ts
  apps/io-services-cms-webapp/src/historicizer/__tests__/request-historicization-handler.test.ts
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/reviewer/__tests__/request-review-legacy-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/__tests__/request-sync-cms-handler.test.ts
  apps/io-services-cms-webapp/src/synchronizer/request-sync-cms-handler.ts
  apps/io-services-cms-webapp/src/utils/converters/service-history-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-lifecycle-converters.ts
  apps/io-services-cms-webapp/src/utils/converters/service-publication-converters.ts
  apps/io-services-cms-webapp/src/utils/queue-utils.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-legacy-service-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-legacy-service-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-lifecycle-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-publication-change.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-lifecycle.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-publication.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-topics.test.ts
  packages/io-services-cms-models/src/index.ts
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/queue/index.ts
  packages/io-services-cms-models/src/service-history/index.ts
  packages/io-services-cms-models/src/service-legacy/index.ts
  packages/io-services-cms-models/src/service-lifecycle/definitions.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
  packages/io-services-cms-models/src/utils/date-utils.ts
Labels: internal, changeset, webapp, backoffice

#1002 fix: [#IOPAE-1358] Get service key API behaviour on deleted service invocation.
  .changeset/dull-crews-listen.md
  apps/app-backend/api/internal.yaml
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/get-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp, fix, app-backend

#1004 [IOPAE-1372] fix regenerate service keys on deleted services
  .changeset/moody-keys-accept.md
  apps/io-services-cms-webapp/src/utils/check-service.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/regenerate-service-keys.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/get-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/controllers/regenerate-service-keys.ts
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp

#1009 fix path for clean and generation selfcare-api-models in backoffice
  apps/backoffice/package.json
  apps/backoffice/turbo.json
Labels: fix, backoffice

#1007 [IOPAE-1373] new getInstitutionsGroups api
  .changeset/silent-otters-sit.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/authz.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: changeset, backoffice

#1017 fix:[IOPAE-1373] GetInstitutionsGroups API
  .changeset/eighty-pants-return.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: changeset, fix, backoffice

#1021 [IOPAE-1397] Add skip sync to legacy label
  .changeset/curvy-buses-occur.md
  apps/io-services-cms-webapp/src/utils/__tests__/synchronizer.test.ts
  apps/io-services-cms-webapp/src/utils/synchronizer.ts
  apps/io-services-cms-webapp/src/watchers/on-service-history-change.ts
Labels: changeset, webapp

#1024 Use only 1 worker
  infra/_modules/cms_function_app/locals.tf
Labels: infra

#1023 [IOPAE-1071] create new cosmos container services-history-test
  infra/src/.terraform.lock.hcl
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/container_app_job.tf
  infra/src/database_cms.tf
  infra/src/database_review.tf
  infra/src/key_vault.tf
  infra/src/main.tf
  infra/src/network.tf
Labels: infra

#1025 enable built-in alerts (from dx module)
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/monitoring.tf
  infra/_modules/function_app/main.tf
  infra/_modules/function_app/monitoring.tf
Labels: infra

#1020 [IOPAE-1381] create subscription manage group api
  .changeset/four-berries-attack.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/subscription.ts
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/definitions.ts
  packages/external-clients/src/apim-client/index.ts
  packages/io-services-cms-models/openapi/backoffice-schemas.yaml
Labels: internal, changeset, webapp, backoffice

#1027 [CES-110] Switch Messages Cosmos secondary location to ItalyNorth
  infra/src/99_locals.tf
  infra/src/README.md
  infra/src/database_cms.tf
  infra/src/network.tf
Labels: infra
