Repository pagopa/io-services-cms, pull requests merged in 2024-07, with the labels that each got.

#934 change search hight latency alert severity
  infra/_modules/ai_search/monitoring.tf
Labels: infra

#935 chore:[IOPAE-1073] Fix last update version
  .changeset/silly-snails-serve.md
  apps/app-backend/api/internal.yaml
  apps/io-services-cms-webapp/src/historicizer/request-historicization-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-detail-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-lifecycle-change.test.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-service-publication-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-lifecycle-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-detail-publication-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-lifecycle-change.ts
  apps/io-services-cms-webapp/src/watchers/on-service-publication-change.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal, changeset, webapp, chore, app-backend

#936 [IOPAE-1289] DialogProvider tests
  .changeset/orange-shirts-look.md
  apps/backoffice/src/components/dialog-provider/__TESTS__/dialog-provider.test.tsx
  apps/backoffice/src/components/dialog-provider/index.tsx
Labels: changeset, backoffice

#938 [IOPAE-1290] DrawerProvider tests
  .changeset/swift-pots-notice.md
  apps/backoffice/src/components/drawer-provider/__tests__/drawer-base-content.test.tsx
  apps/backoffice/src/components/drawer-provider/__tests__/drawer-base.container.test.tsx
  apps/backoffice/src/components/drawer-provider/__tests__/drawer-provider.test.tsx
  apps/backoffice/src/components/drawer-provider/drawer-base-container.tsx
  apps/backoffice/src/components/drawer-provider/drawer-base-content.tsx
  apps/backoffice/src/components/drawer-provider/drawer-provider.tsx
Labels: changeset, backoffice

#855 [IOPAE-1083] New BackOffice IO feature: service in app preview
  .changeset/light-seahorses-juggle.md
  apps/backoffice/.env
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/public/fonts/TitilliumSansPro-Bold.ttf
  apps/backoffice/public/fonts/TitilliumSansPro-Light.ttf
  apps/backoffice/public/fonts/TitilliumSansPro-Regular.ttf
  apps/backoffice/public/fonts/TitilliumSansPro-Semibold.ttf
  apps/backoffice/public/fonts/TitilliumSansPro-Thin.ttf
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/public/mobile/icons/index.tsx
  apps/backoffice/public/mobile/icons/mobile-icon-address.svg
  apps/backoffice/public/mobile/icons/mobile-icon-arrow-back.svg
  apps/backoffice/public/mobile/icons/mobile-icon-checks.svg
  apps/backoffice/public/mobile/icons/mobile-icon-copy.svg
  apps/backoffice/public/mobile/icons/mobile-icon-customer-care.svg
  apps/backoffice/public/mobile/icons/mobile-icon-email.svg
  apps/backoffice/public/mobile/icons/mobile-icon-fiscal-code.svg
  apps/backoffice/public/mobile/icons/mobile-icon-id.svg
  apps/backoffice/public/mobile/icons/mobile-icon-menu.svg
  apps/backoffice/public/mobile/icons/mobile-icon-message.svg
  apps/backoffice/public/mobile/icons/mobile-icon-notification.svg
  apps/backoffice/public/mobile/icons/mobile-icon-pec.svg
  apps/backoffice/public/mobile/icons/mobile-icon-phone-app.svg
  apps/backoffice/public/mobile/icons/mobile-icon-phone-call.svg
  apps/backoffice/public/mobile/icons/mobile-icon-q-mark.svg
  apps/backoffice/public/mobile/icons/mobile-icon-security.svg
  apps/backoffice/public/mobile/icons/mobile-icon-website.svg
  apps/backoffice/src/components/app-preview/components/avatar-logo.tsx
  apps/backoffice/src/components/app-preview/components/index.tsx
  apps/backoffice/src/components/app-preview/components/mobile-button.tsx
  apps/backoffice/src/components/app-preview/components/mobile-icon.tsx
  apps/backoffice/src/components/app-preview/components/mobile-typography.tsx
  apps/backoffice/src/components/app-preview/index.tsx
  apps/backoffice/src/components/app-preview/phone-frame.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/index.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-ctas.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-description-card.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-header.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-info-section.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-notifications-section.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-section-list-item.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-section-list.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-section-title.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-topbar.tsx
  apps/backoffice/src/components/app-preview/service-preview/components/service-preview-tos-section.tsx
  apps/backoffice/src/components/app-preview/service-preview/index.tsx
  apps/backoffice/src/components/buttons/icon-button-close.tsx
  apps/backoffice/src/components/buttons/index.ts
  apps/backoffice/src/components/drawer-provider/drawer-base-container.tsx
  apps/backoffice/src/components/services/service-context-menu.tsx
  apps/backoffice/src/pages/_app.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/styles/fonts.css
  apps/backoffice/src/types/ctas.ts
  yarn.lock
Labels: changeset, backoffice

#939 fix: BackOffice IO - Fix drawer unit tests
  .changeset/tall-stingrays-camp.md
  apps/backoffice/src/components/buttons/icon-button-close.tsx
  apps/backoffice/src/components/drawer-provider/__tests__/drawer-base.container.test.tsx
Labels: changeset, fix, backoffice

#940 fix: Fix MobileTypography component interface
  .changeset/nine-keys-knock.md
  apps/backoffice/src/components/app-preview/components/mobile-typography.tsx
Labels: changeset, fix, backoffice

#932 [IOPAE-1244] io-services-cms ITN migration
  .github/workflows/azure-deploy-manual-itn-temp.yaml
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/monitoring.tf
  infra/_modules/cms_function_app/networking.tf
  infra/_modules/cms_function_app/storage_account.tf
  infra/_modules/cms_function_app/variables.tf
  infra/prod/.terraform.lock.hcl
  infra/prod/main.tf
Labels: ci, infra

#948 fix snet cidr io-services-cms itn
  infra/_modules/cms_function_app/locals.tf
Labels: infra, fix

#942 [IOPAE-1291] Footer tests
  .changeset/small-humans-taste.md
  apps/backoffice/src/components/footer/__tests__/footer.test.tsx
Labels: changeset, backoffice

#947 [#IOPAE-989]remove deprecated release and tests
  packages/io-services-cms-models/src/service-publication/__tests__/index.test.ts
  packages/io-services-cms-models/src/service-publication/index.ts
Labels: internal

#946 [IOPAE - 1287] Header component tests
  .changeset/lovely-weeks-guess.md
  apps/backoffice/src/components/dialog-provider/__tests__/dialog-provider.test.tsx
  apps/backoffice/src/components/headers/__tests__/page-breadcrumbs.test.tsx
  apps/backoffice/src/components/headers/__tests__/page-html-head-title.test.tsx
  apps/backoffice/src/components/headers/__tests__/top-bar.test.tsx
Labels: changeset, backoffice

#951 Itn debug and minor fixes
  .changeset/proud-socks-relax.md
  apps/app-backend/api/internal.yaml
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
Labels: changeset, webapp, app-backend

#952 Stringify Json response error jira
  .changeset/tall-spoons-kick.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: changeset, webapp

#954 include jira request details in case of error
  .changeset/orange-walls-shake.md
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
Labels: changeset, webapp

#956 Review checker jira fix and improvements
  .changeset/stupid-keys-watch.md
  apps/io-services-cms-webapp/src/lib/clients/__tests__/jira-client.test.ts
  apps/io-services-cms-webapp/src/lib/clients/jira-client.ts
  apps/io-services-cms-webapp/src/utils/__tests__/jira-proxy.test.ts
  apps/io-services-cms-webapp/src/utils/service-review-dao.ts
Labels: changeset, webapp

#960 [EC-369] Use AD authentication instead of connection string for TF state
  .identity/env/prod/terraform.tfvars
  infra/prod/providers.tf
Labels: infra

#957 Fix app-be db name on cms itn
  infra/_modules/cms_function_app/locals.tf
Labels: infra

#959 [IOPAE-1293] Loader component tests
  .changeset/clean-years-float.md
  apps/backoffice/src/components/loaders/__tests__/loader-fullscreen.test.tsx
  apps/backoffice/src/components/loaders/__tests__/loader-skeleton.test.tsx
  apps/backoffice/src/components/loaders/loader-fullscreen.tsx
  apps/backoffice/src/components/loaders/loader-skeleton.tsx
Labels: changeset, backoffice

#962 [IOPAE-1314] Update sensitive service link
  .changeset/thirty-seals-drive.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: changeset, backoffice

#965 Switch async fn cms weu itn
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/monitoring.tf
  infra/src/webapp.tf
Labels: infra

#966 Clean after cms itn migration
  .github/workflows/azure-deploy-manual-itn-temp.yaml
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/env/prod/terraform.tfvars
  infra/src/monitor.tf
  infra/src/storage_account.tf
  infra/src/webapp.tf
  infra/src/webapp_autoscale.tf
Labels: ci, infra

#967 Alling io-ts, fp-ts, io-functions-commons and ts-commons versions
  .changeset/clean-beers-drive.md
  apps/app-backend/package.json
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, changeset, webapp, backoffice, app-backend
