Repository pagopa/io-services-cms, pull requests merged in 2024-12, with the labels that each got.

#1087 [IOPAE-1606]Add scope field to automatic controls
  apps/io-services-cms-webapp/src/reviewer/__tests__/service-validation-handler.test.ts
  infra/_modules/cms_function_app/locals.tf
Labels: webapp, infra

#1090 create poison alert
  infra/_modules/cms_function_app/monitoring.tf
Labels: infra

#1092 [IOPAE-1620] Fix BackOffice IO service cta
  .changeset/three-turkeys-clap.md
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
Labels: changeset, backoffice

#1018 [IOPAE-1383] MixPanel integration
  .changeset/thirty-chicken-fold.md
  apps/backoffice/.env
  apps/backoffice/.env.production
  apps/backoffice/next.config.js
  apps/backoffice/package.json
  apps/backoffice/src/components/api-keys/api-key-value.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
  apps/backoffice/src/components/headers/header.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-modal.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/pages/auth/login.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/providers/app.tsx
  apps/backoffice/src/utils/mix-panel.ts
  yarn.lock
Labels: changeset, backoffice

#1094 [FIX] BO Mixpanel Token
  .changeset/sixty-rules-greet.md
  apps/backoffice/.env.production
Labels: changeset

#1088 [IOPAE-1589] bulk patch
  .changeset/tame-sheep-begin.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/group-unbound/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/group-unbound/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/__tests__/business.test.ts
  apps/backoffice/src/lib/be/services/__tests__/cosmos.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/services/cosmos.ts
  packages/io-services-cms-models/src/lib/__tests__/store.cosmos.test.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
Labels: internal, changeset, backoffice

#1097 [IOPAE-1641] selfcare groups change feed integration
  .changeset/sharp-impalas-sneeze.md
  apps/io-services-cms-webapp/SelfcareGroupWatcher/function.json
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-selfcare-group-change.ts
  infra/_modules/cms_function_app/data.tf
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/function_app/featured-services.json
  infra/_modules/function_app/storage_account.tf
  packages/external-clients/src/apim-client/index.ts
  packages/io-services-cms-models/src/lib/fsm/store.cosmos.ts
  packages/io-services-cms-models/src/lib/fsm/store.memory.ts
  packages/io-services-cms-models/src/lib/fsm/types.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal, changeset, webapp, infra

#1099 [IOPAE-1641] fix sticky app settings
  .changeset/seven-masks-destroy.md
  apps/io-services-cms-webapp/src/lib/azure/adapters.ts
  infra/_modules/cms_function_app/main.tf
Labels: changeset, webapp, infra

#1101 [IOPAE-1641] configure retry on host.json
  .changeset/happy-rings-tap.md
  apps/backoffice/.env.development
  apps/io-services-cms-webapp/SelfcareGroupWatcher/function.json
  apps/io-services-cms-webapp/host.json
Labels: changeset, webapp

#1103 [IOPAE-1641] log eh trigger execution
  .changeset/big-rice-battle.md
  apps/io-services-cms-webapp/src/watchers/on-selfcare-group-change.ts
Labels: changeset, webapp

#1105 [IOPAE-1641] log context eh trigger execution
  .changeset/lazy-wombats-explain.md
  apps/io-services-cms-webapp/src/lib/azure/misc.ts
  apps/io-services-cms-webapp/src/watchers/on-selfcare-group-change.ts
Labels: changeset, webapp

#1108 [IOPAE-1641] eh trigger custom retry
  .changeset/calm-wombats-join.md
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/watchers/on-selfcare-group-change.ts
Labels: changeset, webapp

#1110 [IOPAE-1380] manage subscription display name
  .changeset/fluffy-rats-pull.md
  apps/backoffice/openapi.yaml
  apps/backoffice/package.json
  apps/backoffice/src/app/api/auth/[...nextauth]/__tests__/auth.test.ts
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/apim-service.test.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/apim-service.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  apps/backoffice/turbo.json
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, backoffice
