Repository pagopa/io-services-cms, pull requests merged in 2025-02, with the labels that each got.

#1145 [IOPAE-1364] Added admin massive groups association
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/app/api/services/[serviceId]/patch/README.md
  apps/backoffice/src/app/api/services/[serviceId]/patch/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/patch/README.md
  apps/backoffice/src/app/api/services/patch/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/components/forms/controllers/multi-select-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/groups/associate-groups-create-update/associate-groups-builder-step.tsx
  apps/backoffice/src/components/groups/associate-groups-create-update/associate-groups-create-update.tsx
  apps/backoffice/src/components/groups/associate-groups-create-update/index.ts
  apps/backoffice/src/lib/be/services/__tests__/business.test.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/pages/groups/associate.tsx
Labels: backoffice

#1146 [IOPAE-1771] Added group information in service details page
  .changeset/sharp-kangaroos-check.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#1148 [IOPAE-1777] backoffice refactor backoffice user
  .changeset/brown-years-count.md
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/any/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/any/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/route.ts
  apps/backoffice/src/app/api/institutions/route.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/keys/manage/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/keys/manage/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/history/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/keys/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/logo/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/release/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/review/route.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/group-unbound/any/route.ts
  apps/backoffice/src/app/api/services/group-unbound/route.ts
  apps/backoffice/src/app/api/services/list/route.ts
  apps/backoffice/src/app/api/services/migrations/delegates/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/[delegateId]/route.ts
  apps/backoffice/src/app/api/services/migrations/ownership-claims/latest/route.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/app/api/services/topics/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/cidrs/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/[keyType]/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/route.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/authz.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: changeset, backoffice

#1149 [IOPAE-1680] backoffice auth check create services
  .changeset/short-lions-rescue.md
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/authz.ts
Labels: changeset, backoffice

#1152 [IOPAE-1772] service group associate
  .changeset/empty-toes-tap.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/groups/associate-group-to-service/associate-group-to-service.tsx
  apps/backoffice/src/components/groups/associate-group-to-service/index.tsx
  apps/backoffice/src/components/groups/group-info-tag/group-info-tag.tsx
  apps/backoffice/src/components/groups/group-info-tag/index.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
Labels: changeset, backoffice

#1153 [IOPAE-1371] Added group selection in service create funnel
  .changeset/funny-turtles-switch.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/forms/form-step-section-wrapper.tsx
  apps/backoffice/src/components/services/__tests__/adapters.test.ts
  apps/backoffice/src/components/services/adapters.ts
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-group-selector.tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/service.ts
Labels: changeset, backoffice

#1154 [IOPAE-1806] openapi delete unbound service from group
  .changeset/sweet-baboons-pump.md
  .github/workflows/code-review.yaml
  apps/backoffice/openapi.yaml
  apps/io-services-cms-webapp/openapi.yaml
Labels: ci, changeset, webapp, backoffice

#1160 [IOPAE-1790] Added ApiKey Group section pagination on ApiKey page
  .changeset/happy-cows-turn.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
Labels: changeset, backoffice

#1161 [IOPAE-1815] backoffice bulkpatch check on active group
  .changeset/rude-stingrays-perform.md
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
Labels: changeset, backoffice

#1162 [IOPAE-1778] backoffice refactoring wrapping logic patch
  .changeset/witty-flowers-listen.md
  apps/backoffice/src/app/api/services/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/route.ts
  apps/backoffice/src/lib/be/services/__tests__/business.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#1164 [IOPAE-1800] Added ux/ui for suspended group/apikeys
  .changeset/silly-houses-applaud.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-tag.tsx
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group-tag.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/groups/group-info-tag/group-info-tag.tsx
  apps/backoffice/src/components/services/index.ts
  apps/backoffice/src/components/services/service-group-tag.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#1165 [IOPAE-1839] Added clearable behaviour to group selector in service create funnel
  .changeset/rare-pigs-join.md
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-group-selector.tsx
Labels: changeset, backoffice

#1166 [IOPAE-1304] remove standby_availability_zone postgres attribute
  infra/src/database_runtime_server_migration.tf
  infra/src/database_subsmigration.tf
Labels: infra

#1167 [IOPAE-1304] remove zone postgres attribute
  infra/src/database_runtime_server_migration.tf
  infra/src/database_subsmigration.tf
Labels: infra

#1169 [IOPAE-1849] backoffice fix service detail api
  .changeset/eight-shrimps-build.md
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#1172 [IOPAE-1838] Operator users cannot access to services bounded to inactive group
  .changeset/forty-tigers-breathe.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups-empty-state.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/button-generate-api-keys-group.tsx
  apps/backoffice/src/components/groups/button-associate-group.tsx
  apps/backoffice/src/components/groups/group-info-tag/group-info-tag.tsx
  apps/backoffice/src/layouts/app-layout.tsx
  apps/backoffice/src/pages/groups/associate.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
Labels: changeset, backoffice

#1174 [IOPAE-1852] Added GroupFilterType on checkInstitutionGroupsExistence openapi and set it on generate ApiKey Group initial check
  .changeset/proud-melons-applaud.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/api-keys/api-keys-groups/button-generate-api-keys-group.tsx
Labels: changeset, backoffice

#1173 [IOPAE-1845] backoffice fix service list group
  .changeset/shiny-lies-tan.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#1170 [IOPAE-1304] add postgre flexible servers using dx modules
  infra/src/README.md
  infra/src/database_runtime_server_migration.tf
  infra/src/database_subsmigration.tf
  infra/src/tfmodules.lock.json
Labels: infra

#1176 [FIX] Updated bootstrap version
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

#1179 [IOPAE-1304] fix data source refs for admin credentials
  infra/src/README.md
  infra/src/database_runtime_server_migration.tf
  infra/src/database_subsmigration.tf
  infra/src/key_vault.tf
Labels: infra

#1181 [FIX] Removed PostgreSQL runtime server
  infra/src/README.md
  infra/src/database_runtime_server_migration.tf
  infra/src/tfmodules.lock.json
Labels: infra

#1182 [IOPAE-1861] cms add internal put api service group
  .changeset/loud-buckets-compete.md
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/[serviceId]/route.ts
  apps/io-services-cms-webapp/PatchServiceWorkaround/function.json
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/webservice/index.ts
Labels: changeset, webapp, backoffice

#1183 [IOPAE-1855] Added loaders on ApiKey Group UX data components
  .changeset/fair-worms-shave.md
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups-empty-state.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/forms/controllers/multi-select-controller.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/groups/group-info-tag/group-info-tag.tsx
  apps/backoffice/src/components/services/service-info.tsx
Labels: changeset, backoffice

#1184 [IOPAE-1843] Updated copy for ApiKey Group section in ApiKey page
  .changeset/young-boats-dance.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
Labels: changeset, backoffice

#1185 [IOPAE-1854] Added loader on single apikey group accordion item
  .changeset/bright-peas-retire.md
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
Labels: changeset, backoffice

#1180 [IOPAE-1846] backoffice refactor permission get institution groups
  .changeset/poor-baboons-fry.md
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/institution-group-util.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/any/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/any/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/institution-groups-util.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/sanitize.ts
Labels: changeset, backoffice

#1186 [IOPAE-1867] backoffice add suspended group detail on service list
  .changeset/strange-plants-flash.md
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/__tests__/wrappers.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/src/lib/be/services/business.ts
  apps/backoffice/src/lib/be/wrappers.ts
Labels: changeset, backoffice

#1189 remove group's feature from test institution
  .changeset/beige-ways-fold.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
Labels: changeset, backoffice

#1193 Fix: [IOPAE-1871] Avoid clearable SelectController when disabled, general improvements on group selector for create service form
  .changeset/itchy-monkeys-matter.md
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups-empty-state.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/services/service-create-update/service-builder-step-3.tsx
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
  apps/backoffice/src/components/services/service-create-update/service-group-selector.tsx
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
Labels: changeset, backoffice
