Repository pagopa/io-services-cms, pull requests merged in 2025-07, with the labels that each got.

#1302 [IOPAE-2097] create container for activations
  .terraform.lock.hcl
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/rbac.tf
  infra/resources/_modules/cms_function_app/storage_account.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#1301 migrate sa to dx module
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/ai_search/README.md
  infra/resources/_modules/ai_search/networking.tf
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/main.tf
  infra/resources/_modules/cms_function_app/networking.tf
  infra/resources/_modules/cms_function_app/storage_account.tf
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/main.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/providers.tf
  infra/resources/prod/tfmodules.lock.json
  infra/src/tfmodules.lock.json
Labels: infra

#1310 Remove dx next cidr resource
  infra/resources/_modules/postgres/main.tf
  infra/resources/_modules/postgres/providers.tf
Labels: infra

#1306 [IOPAE-2098] update ingestion function
  .changeset/witty-coins-study.md
  apps/io-services-cms-webapp/IngestionActivationWatcher/function.json
  apps/io-services-cms-webapp/OnRequestActivationIngestionRetry/function.json
  apps/io-services-cms-webapp/src/ingestion/request-activation-ingestion-retry-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/ingestion/__tests__/ingestion-handlers.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/enriched-types/activation-pdv-enriched.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/activation-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/activation-avro-formatter.ts
  apps/io-services-cms-webapp/src/utils/ingestion/ingestion-handlers.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-activation-ingestion-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-activation-ingestion-change.ts
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/cms_function_app/main.tf
  infra/resources/_modules/cms_function_app/storage_account.tf
Labels: changeset, webapp, infra

#1309 [IOPAE-1899] Added suspended group name interpolation in tooltips for ServiceGroupTag and ApiKeysGroupTag
  .changeset/hip-cups-cry.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group-tag.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/services/service-group-tag.tsx
Labels: changeset, backoffice

#1318 [IOPAE-2114] Added tos and privacy policy static pages
  .changeset/afraid-sloths-itch.md
  apps/backoffice/.env
  apps/backoffice/public/css/privacy_tos.css
  apps/backoffice/public/privacy.html
  apps/backoffice/public/tos.html
  apps/backoffice/public/vendor/otnotice-1.0.min.js
Labels: changeset, backoffice

#1314 [#IOPAE-2108]remove weu postgres and resources
  infra/src/.terraform.lock.hcl
  infra/src/README.md
  infra/src/database_review.tf
  infra/src/database_review_credentials.tf
  infra/src/network.tf
Labels: infra

#1317 chore: add blob storage writer role to cms function app
  .devcontainer/devcontainer.json
  apps/io-services-cms-webapp/ActivationsSyncFromLegacy/function.json
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/cms_function_app/rbac.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: webapp, infra, chore

#1319 chore: add changeset for activaton sync from legacy deploy
  .changeset/twelve-clouds-kick.md
Labels: changeset, chore

#1324 [#IOPAE- 1893] FE - Overview Api Key Manager Group , add label "..." when we have over 5 elements
  .changeset/lazy-foxes-type.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
Labels: changeset, backoffice

#1329 [IOPAE-2119] - Added new api get user institution products
  .changeset/fuzzy-roses-buy.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/selfcare-handlers.ts
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/institutions/[institutionId]/products/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/products/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
Labels: changeset, backoffice
