Repository pagopa/io-services-cms, pull requests merged in 2025-04, with the labels that each got.

#1226 fix : app be update azure functions core tools
  apps/app-backend/package.json
  yarn.lock
Labels: fix, app-backend

#1223 [IOPAE-1921] update open api
  .changeset/dry-badgers-push.md
  .changeset/tiny-beds-buy.md
  apps/app-backend/api/internal.yaml
  apps/app-backend/api/internal.yaml.template
  apps/app-backend/src/functions/__mocks__/get-service-by-id-mock.ts
  apps/app-backend/src/functions/__tests__/get-service-by-id.test.ts
  apps/app-backend/src/functions/get-service-by-id.ts
Labels: changeset, app-backend

#1218 [IOPAE-1919] add eventhub , queue for ingestion activations
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/cms_function_app/storage_account.tf
  infra/resources/_modules/eventhub/locals.tf
Labels: infra

#1229 [IOPAE-1919] eh activations connection string
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/locals.tf
Labels: infra

#1228 [IOPAE-1918] functions ingestion activation
  .changeset/rare-snails-count.md
  apps/io-services-cms-webapp/IngestionActivationWatcher/function.json
  apps/io-services-cms-webapp/OnRequestActivationIngestionRetry/function.json
  apps/io-services-cms-webapp/avro/activation.json
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/ingestion/request-activation-ingestion-retry-handler.ts
  apps/io-services-cms-webapp/src/ingestion/service-topic-ingestor-handler.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/fetch.ts
  apps/io-services-cms-webapp/src/utils/ingestion/__tests__/ingestion-handlers.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/enriched-types/activation-pdv-enriched.ts
  apps/io-services-cms-webapp/src/utils/ingestion/enricher/pdv-enricher.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/activation-avro-formatter.ts
  apps/io-services-cms-webapp/src/utils/ingestion/ingestion-handlers.ts
  apps/io-services-cms-webapp/src/utils/pdvTokenizerClient.ts
  apps/io-services-cms-webapp/src/watchers/on-activation-ingestion-change.ts
  apps/io-services-cms-webapp/turbo.json
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/cms_function_app/main.tf
  packages/io-services-cms-models/src/activation-legacy/index.ts
  packages/io-services-cms-models/src/index.ts
Labels: internal, changeset, webapp, infra

#1233 [IOPAE-1964] Updated Group ApiKey info banner link
  .changeset/dull-ladybugs-pump.md
  apps/backoffice/src/pages/index.tsx
Labels: changeset, backoffice

#1234 fix: pdv api key reference
  infra/resources/_modules/cms_function_app/locals.tf
Labels: infra, fix

#1236 Fix: [IOPAE-1971] Fix create service form reset
  .changeset/five-dogs-joke.md
  apps/backoffice/src/components/services/service-create-update/service-create-update.tsx
Labels: changeset, backoffice

#1231 [IOPAE-1946]update cms to node 20
  .changeset/itchy-swans-shop.md
  .node-version
  .nvmrc
  infra/resources/_modules/backoffice/main.tf
  infra/resources/_modules/cms_function_app/main.tf
  infra/resources/_modules/function_app/main.tf
Labels: changeset, infra

#1235 patch: fix app be health-check
  .changeset/bright-falcons-greet.md
  apps/app-backend/src/utils/__tests__/azure-search.test.ts
  apps/app-backend/src/utils/azure-search/client.ts
  apps/app-backend/src/utils/azure-search/health-check.ts
Labels: changeset, app-backend

#1248 bump vitest to 3.1.2
  apps/app-backend/package.json
  apps/app-backend/src/utils/__tests__/blob-storage.test.ts
  apps/backoffice/package.json
  apps/backoffice/vitest.config.react.ts
  apps/io-services-cms-webapp/package.json
  package.json
  packages/external-clients/package.json
  packages/io-services-cms-models/package.json
  yarn.lock
Labels: internal, webapp, backoffice, app-backend

#1245 [IOPAE-1803] Track group apikey events on mixpanel
  .changeset/witty-mice-listen.md
  apps/backoffice/src/components/api-keys/api-key-create-update/api-key-create-update.tsx
  apps/backoffice/src/components/api-keys/api-keys-couple.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/cards/card-rows.tsx
  apps/backoffice/src/components/groups/associate-group-to-service/associate-group-to-service.tsx
  apps/backoffice/src/components/groups/associate-groups-create-update/associate-groups-create-update.tsx
  apps/backoffice/src/components/groups/button-associate-group.tsx
  apps/backoffice/src/components/groups/group-info-tag/group-info-tag.tsx
  apps/backoffice/src/components/services/service-info.tsx
  apps/backoffice/src/components/services/subscriptions-migration/migration-manager.tsx
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/groups/associate.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/keys/new-group-api-key.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/pages/services/[serviceId]/edit-service.tsx
  apps/backoffice/src/pages/services/new-service.tsx
  apps/backoffice/src/types/api-key.ts
  apps/backoffice/src/utils/mix-panel.ts
Labels: changeset, backoffice

#1252 add adf to cms cosmos reader
  infra/src/README.md
  infra/src/rbac.tf
Labels: infra

#1254 [IOPAE-1992] refactor retriable fetch pdv
  .changeset/orange-cobras-march.md
  apps/io-services-cms-webapp/package.json
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/fetch.ts
  io-services-cms.code-workspace
  packages/fetch-utils/.prettierignore
  packages/fetch-utils/README.md
  packages/fetch-utils/eslint.config.mjs
  packages/fetch-utils/index.js
  packages/fetch-utils/package.json
  packages/fetch-utils/src/agent/__tests__/agent.test.ts
  packages/fetch-utils/src/agent/agent.ts
  packages/fetch-utils/src/config/agent-config.ts
  packages/fetch-utils/src/fetch/__tests__/fetch.test.ts
  packages/fetch-utils/src/fetch/fetch.ts
  packages/fetch-utils/src/index.ts
  packages/fetch-utils/tsconfig.json
  packages/fetch-utils/vitest.config.ts
  yarn.lock
Labels: internal, changeset, webapp

#1253 add azurerm_cosmosdb_sql_role_assignment to adf
  infra/src/README.md
  infra/src/rbac.tf
  infra/src/tfmodules.lock.json
Labels: infra

#1256 [IOPAE-1953] special services avoid override field category
  .changeset/nice-toes-glow.md
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/create-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/create-service.ts
  packages/io-services-cms-models/src/service-lifecycle/index.ts
Labels: internal, changeset, webapp
