Repository pagopa/io-services-cms, pull requests merged in 2025-06, with the labels that each got.

#1274 [IOPAE-2027] use domain specific eag
  infra/resources/_modules/ai_search/README.md
  infra/resources/_modules/ai_search/data.tf
  infra/resources/_modules/ai_search/monitoring.tf
  infra/resources/_modules/ai_search/variables.tf
  infra/resources/_modules/backoffice/README.md
  infra/resources/_modules/backoffice/data.tf
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/data.tf
  infra/resources/_modules/cms_function_app/main.tf
  infra/resources/_modules/cms_function_app/monitoring.tf
  infra/resources/_modules/cms_function_app/storage_account.tf
  infra/resources/_modules/cms_function_app/variables.tf
  infra/resources/_modules/eventhub/README.md
  infra/resources/_modules/eventhub/data.tf
  infra/resources/_modules/eventhub/main.tf
  infra/resources/_modules/eventhub/variables.tf
  infra/resources/_modules/function_app/README.md
  infra/resources/_modules/function_app/main.tf
  infra/resources/_modules/function_app/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#1278 [IOPAE-2051] institution aggregator openapi definition
  .pre-commit-config.yaml
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/openapi.yaml
  infra/resources/prod/tfmodules.lock.json
  infra/src/tfmodules.lock.json
Labels: infra, backoffice

#1279 patch: enable private agent for infra drift detection gha
  .github/workflows/infra-drift-detection.yml
Labels: ci

#1280 [IOPAE-2048] Added delegated institutions basic table view
  .changeset/two-coats-brush.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/pages/delegated-institutions.tsx
Labels: changeset, backoffice

#1281 patch: temporary add common error action group to ai-search alerts
  infra/resources/_modules/ai_search/README.md
  infra/resources/_modules/ai_search/data.tf
  infra/resources/_modules/ai_search/monitoring.tf
Labels: infra

#1282 [IOPAE-2075] fix ingestion activations timestamp format
  .changeset/spotty-apes-battle.md
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/activation-avro-formatter.ts
Labels: changeset, webapp

#1285 [IOPAE-2049] Added show, hide, regenerate apikeys table actions on delegated institutions page
  .changeset/few-drinks-listen.md
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-value-async.tsx
  apps/backoffice/src/components/api-keys/api-key-value.tsx
  apps/backoffice/src/components/copy-to-clipboard/index.tsx
  apps/backoffice/src/components/table-view/table-row-menu.tsx
  apps/backoffice/src/pages/delegated-institutions.tsx
  apps/backoffice/src/pages/mocks/selfcare.tsx
  apps/backoffice/src/pages/mocks/token-exchange.tsx
  apps/backoffice/src/utils/string-util.ts
Labels: changeset, backoffice

#1288 [IOPAE-2078] Removed static banner refs on home page
  .changeset/twenty-moles-change.md
  apps/backoffice/src/pages/index.tsx
Labels: changeset, backoffice

#1287 [IOPAE-2052] Added search by institution name into delegated-institutions page
  .changeset/fifty-pens-shake.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/institutions/index.ts
  apps/backoffice/src/components/institutions/institution-search-by-name.tsx
  apps/backoffice/src/pages/delegated-institutions.tsx
Labels: changeset, backoffice

#1289 [IOPAE-2047] implements get delegated institutions api
  .changeset/silver-swans-sing.md
  apps/backoffice/src/app/api/institutions/[institutionId]/delegations/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/delegations/route.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/institution-group-util.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/institution-groups-util.ts
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/institutions.test.ts
  apps/backoffice/src/lib/be/__tests__/req-res-utils.test.ts
  apps/backoffice/src/lib/be/__tests__/selfcare-client.test.ts
  apps/backoffice/src/lib/be/institutions/__tests__/selfcare.test.ts
  apps/backoffice/src/lib/be/institutions/business.ts
  apps/backoffice/src/lib/be/institutions/selfcare.ts
  apps/backoffice/src/lib/be/req-res-utils.ts
  apps/backoffice/src/lib/be/selfcare-client.ts
  apps/backoffice/turbo.json
Labels: changeset, backoffice

#1290 [IOPAE2026] restore openapi schema absolute references
  apps/io-services-cms-webapp/openapi.yaml
Labels: webapp

#1292 patch: try to fix cms opex gha
  .github/workflows/opex_api_services_cms.yml
  .opex/api_services_cms/env/prod/backend.tfvars
Labels: ci

#1296 [IOPAE-2055] Added new mix-panel events for delegated-institutions page
  .changeset/clever-pugs-pump.md
  apps/backoffice/src/pages/delegated-institutions.tsx
  apps/backoffice/src/utils/mix-panel.ts
Labels: changeset, backoffice
