Repository pagopa/io-services-cms, pull requests merged in 2025-03, with the labels that each got.

#1194 [IOPAE-1873] add empty response patch service
  .changeset/proud-poets-film.md
  apps/backoffice/openapi.yaml
  apps/backoffice/src/app/api/services/[serviceId]/__tests__/route.test.ts
  apps/io-services-cms-webapp/openapi.yaml
  apps/io-services-cms-webapp/src/webservice/controllers/__tests__/patch-service.test.ts
  apps/io-services-cms-webapp/src/webservice/controllers/patch-service.ts
Labels: changeset, webapp, backoffice

#1197 [IOPAE-1875] Update patchService response codec on client fetch
  .changeset/large-guests-invent.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/src/components/groups/associate-group-to-service/associate-group-to-service.tsx
  apps/backoffice/src/components/services/service-info.tsx
Labels: changeset, backoffice

#1198 [IOPAE-1879] backoffice change auth controls update manage key authorized cidr
  .changeset/happy-onions-clap.md
  apps/backoffice/src/app/api/keys/manage/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/cidrs/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/cidrs/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/cidrs/route.ts
Labels: changeset, backoffice

#1196 [IOPAE-1876] backoffice change auth controls regenerate keys
  .changeset/sixty-spies-grab.md
  apps/backoffice/src/app/api/keys/manage/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/keys/manage/[keyType]/route.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/[keyType]/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/keys/[keyType]/route.ts
Labels: changeset, backoffice

#1199 [IOPAE-1874] crate service check groups
  .changeset/ten-numbers-call.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#1200 [IOPAE-1877] Added admin control to enable keys rotate and cidrs update actions
  .changeset/poor-spoons-cover.md
  apps/backoffice/src/components/__tests__/access-control.test.tsx
  apps/backoffice/src/components/access-control/index.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: changeset, backoffice

#1171 [IOPAE-1847] switch apim weu to apim itn
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/backoffice/README.md
  infra/resources/_modules/backoffice/data.tf
  infra/resources/_modules/backoffice/locals.tf
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/data.tf
  infra/resources/_modules/key_vault/policy.tf
  infra/resources/prod/tfmodules.lock.json
  infra/src/README.md
  infra/src/key_vault.tf
Labels: infra

#1201 update github action
  .github/workflows/infra-release-p.yml
  .github/workflows/infra-review-p.yml
Labels: ci

#1202 [IOPAE-1886] Added control to allow USE apikey rotation for all user types
  .changeset/yellow-turtles-sniff.md
  apps/backoffice/src/components/api-keys/api-keys-couple.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
Labels: changeset, backoffice

#1203 chore: Activate NEXT_PUBLIC_GROUP_APIKEY_ENABLED client feature flag
  .changeset/forty-windows-heal.md
  apps/backoffice/.env.production
  apps/backoffice/package.json
  apps/io-services-cms-webapp/package.json
Labels: changeset, webapp, chore, backoffice

#1205 patch: remove apim weu refs
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/backoffice/README.md
  infra/resources/_modules/backoffice/data.tf
  infra/resources/_modules/backoffice/locals.tf
  infra/resources/_modules/cms_function_app/locals.tf
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/data.tf
  infra/resources/_modules/key_vault/policy.tf
  infra/src/00_apim.tf
  infra/src/README.md
  infra/src/apim_v2_api.tf
  infra/src/env/prod/terraform.tfvars
  infra/src/key_vault.tf
Labels: infra

#1206 fix concurrency apim
  .changeset/good-lobsters-allow.md
  apps/backoffice/.env.development
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, fix

#1208 patch: remove useless access policy
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/locals.tf
  infra/resources/_modules/key_vault/policy.tf
  infra/src/99_variables.tf
  infra/src/README.md
  infra/src/key_vault.tf
Labels: infra

#1207 patch: remove subsmigrations pgflex
  infra/src/database_subsmigration.tf
Labels: infra

#1210 Precondition failed error management
  .changeset/little-colts-serve.md
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/config/constants.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
Labels: changeset, backoffice

#1213 [IOPAE-1911] Updated Api Key copy
  .changeset/tidy-stingrays-grab.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-couple.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group-tag.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/button-generate-api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/api-single-key.tsx
  apps/backoffice/src/components/services/service-group-tag.tsx
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/services/[serviceId].tsx
  apps/backoffice/src/utils/mix-panel.ts
Labels: changeset, backoffice

#1212 [IOPAE-1909] Added a temporary static banner to inform users of the new feature related to the use of groups
  .changeset/shiny-boxes-hang.md
  apps/backoffice/src/components/banner/banner.tsx
  apps/backoffice/src/components/banner/index.ts
  apps/backoffice/src/components/headers/page-header.tsx
  apps/backoffice/src/components/markdown-view/markdown-view.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/styles/globals.css
Labels: changeset, backoffice

#1215 Migrate to new terraform registry namespace
  infra/repository/README.md
  infra/repository/main.tf
  infra/resources/_modules/backoffice/README.md
  infra/resources/_modules/backoffice/main.tf
  infra/resources/_modules/cms_function_app/README.md
  infra/resources/_modules/cms_function_app/main.tf
  infra/resources/_modules/eventhub/README.md
  infra/resources/_modules/eventhub/main.tf
  infra/resources/_modules/function_app/README.md
  infra/resources/_modules/function_app/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/src/README.md
  infra/src/tfmodules.lock.json
Labels: infra

#1216 [IOPAE-1929] send group_id to DataLake
  .changeset/beige-plants-do.md
  apps/io-services-cms-webapp/avro/services-history.json
  apps/io-services-cms-webapp/avro/services-lifecycle.json
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-history-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/__tests__/service-lifecycle-avro-formatter.test.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-history-avro-formatter.ts
  apps/io-services-cms-webapp/src/utils/ingestion/formatter/service-lifecycle-avro-formatter.ts
Labels: changeset, webapp

#1219 [IOPAE-1941] Update apikey group banner link
  .changeset/healthy-llamas-cry.md
  apps/backoffice/src/pages/index.tsx
Labels: changeset, backoffice

#1221 [IOPAE-1942] Open Group ApiKey feature to all institutions
  .changeset/hungry-trains-wonder.md
  apps/backoffice/src/app/api/auth/[...nextauth]/auth.ts
  apps/backoffice/src/utils/auth-util.ts
  infra/resources/_modules/backoffice/locals.tf
Labels: changeset, infra, backoffice

#1222 fix: update app-service and group_authz var
  infra/resources/_modules/backoffice/README.md
  infra/resources/_modules/backoffice/locals.tf
  infra/resources/_modules/backoffice/main.tf
Labels: infra, fix
