Repository pagopa/io-services-cms, pull requests merged in 2025-01, with the labels that each got.

#1112 [IOPAE-1645] add sync-group-poison queue
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/storage_account.tf
Labels: infra

#1113 [IOPAE-1645] handle DLQ
  .changeset/healthy-pants-love.md
  apps/io-services-cms-webapp/SelfcareGroupWatcher/function.json
  apps/io-services-cms-webapp/host.json
  apps/io-services-cms-webapp/src/__tests__/main.test.ts
  apps/io-services-cms-webapp/src/main.ts
  apps/io-services-cms-webapp/src/utils/__tests__/sync-group-utils.test.ts
  apps/io-services-cms-webapp/src/utils/sync-group-utils.ts
  apps/io-services-cms-webapp/src/watchers/__tests__/on-selfcare-group-change.test.ts
  apps/io-services-cms-webapp/src/watchers/on-selfcare-group-change.ts
Labels: changeset, webapp

#1115 fix infra drift detection
  .pre-commit-config.yaml
  infra/src/README.md
  infra/src/apim_itn_api.tf
Labels: infra, fix

#1085 [IOPAE-1359] Added New ApiKey Group section and generation
  .changeset/giant-poets-yell.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-key-create-update/api-key-builder-step.tsx
  apps/backoffice/src/components/api-keys/api-key-create-update/api-key-create-update.tsx
  apps/backoffice/src/components/api-keys/api-key-create-update/index.ts
  apps/backoffice/src/components/api-keys/api-keys-couple.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/button-generate-api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/index.ts
  apps/backoffice/src/components/api-keys/api-keys-header.tsx
  apps/backoffice/src/components/api-keys/api-keys.tsx
  apps/backoffice/src/components/api-keys/index.ts
  apps/backoffice/src/components/create-update-process/create-update-process.tsx
  apps/backoffice/src/components/forms/controllers/select-controller.tsx
  apps/backoffice/src/components/notification/index.tsx
  apps/backoffice/src/config/index.ts
  apps/backoffice/src/hooks/use-fetch.ts
  apps/backoffice/src/pages/keys/index.tsx
  apps/backoffice/src/pages/keys/new-group-api-key.tsx
  apps/backoffice/src/pages/mocks/selfcare/dashboard/[institutionId]/groups/add.tsx
  apps/backoffice/src/utils/bff-api-client.ts
Labels: changeset, backoffice

#1117 [IOPAE-1678] Backoffice OpenAPI check group unbound service existence
  apps/backoffice/openapi.yaml
Labels: backoffice

#1118 [IOPAE-1677] getInstitutionGroups API definition
  apps/backoffice/openapi.yaml
  apps/backoffice/src/components/api-keys/api-key-create-update/api-key-create-update.tsx
Labels: backoffice

#1119 [IOPAE-1677] bff get institution groups api
  .changeset/healthy-goats-decide.md
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/__tests__/route.test.ts
  apps/backoffice/src/app/api/institutions/[institutionId]/groups/route.ts
Labels: changeset, backoffice

#1120 [IOPAE-1674] add delete subscritpion definition to openapi
  apps/backoffice/openapi.yaml
Labels: backoffice

#1121 duplicate org index
  .terraform-version
  infra/_modules/ai_search/organizations.tf
Labels: infra

#1122 [IOPAE-1678] backoffice group unbound any api
  .changeset/red-months-sniff.md
  apps/backoffice/src/app/api/services/group-unbound/any/__tests__/route.test.ts
  apps/backoffice/src/app/api/services/group-unbound/any/route.ts
Labels: changeset, backoffice

#1123 use ai connection_string instead of instrumentation_key
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/cms_function_app/variables.tf
  infra/prod/main.tf
Labels: infra

#1124 remove useless resources
  infra/_modules/ai_search/organizations.tf
Labels: infra

#1125 try to use only default ai client
  .changeset/strange-queens-allow.md
  apps/io-services-cms-webapp/src/config.ts
  apps/io-services-cms-webapp/src/utils/applicationinsight.ts
Labels: changeset, webapp

#1126 Patch ai instr key
  .changeset/many-frogs-speak.md
  apps/io-services-cms-webapp/src/config.ts
  infra/_modules/cms_function_app/locals.tf
  infra/_modules/cms_function_app/variables.tf
  infra/prod/main.tf
Labels: changeset, webapp, infra

#1132 [IOPAE-1365] Added Group ApiKeys card on BackOffice IO Overview page
  .changeset/perfect-bikes-wash.md
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/__tests__/empty-state-layer.test.tsx
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-card/index.ts
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups-empty-state.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/index.ts
  apps/backoffice/src/components/empty-state/empty-state-card.tsx
  apps/backoffice/src/components/empty-state/empty-state-layer.tsx
  apps/backoffice/src/components/empty-state/index.tsx
  apps/backoffice/src/pages/index.tsx
  apps/backoffice/src/pages/services/index.tsx
  apps/backoffice/src/utils/__tests__/auth-util.test.ts
  apps/backoffice/src/utils/auth-util.ts
Labels: changeset, backoffice

#1134 [IOPAE-1716] When user click on ApiKeyGroup tag on Overview, is directed to the ApiKey page with the anchor point to the clicked ApiKey
  .changeset/pretty-tips-cross.md
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
Labels: changeset, backoffice

#1135 [IOPAE-1366] Added empty state in ApiKeys page for operator users in one or more group without any group ApiKey
  .changeset/shaggy-poets-change.md
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups-empty-state.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
  apps/backoffice/src/pages/keys/index.tsx
Labels: changeset, backoffice

#1131 [IOPAE-1679] auth control on get subscriptions
  .changeset/large-cameras-joke.md
  apps/backoffice/src/app/api/subscriptions/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/route.ts
  apps/backoffice/src/lib/be/__tests__/authz.test.ts
  apps/backoffice/src/lib/be/authz.ts
Labels: changeset, backoffice

#1138 [IOPAE-1363] Added Group column on Services Page table view
  .changeset/gold-rocks-learn.md
  apps/backoffice/mocks/data/backend-data.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-card/api-keys-card.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group-tag.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#1139 [IOPAE-1363] Added ButtonAssociateGroup on Services page
  .changeset/eighty-trainers-work.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/dialog-provider/index.tsx
  apps/backoffice/src/components/groups/button-associate-group.tsx
  apps/backoffice/src/components/groups/index.ts
  apps/backoffice/src/pages/groups/associate.tsx
  apps/backoffice/src/pages/services/index.tsx
Labels: changeset, backoffice

#1140 [IOPAE-1715] Added delete ApiKey Group action
  .changeset/wicked-cougars-jog.md
  apps/backoffice/mocks/handlers/backend-handlers.ts
  apps/backoffice/public/locales/en/common.json
  apps/backoffice/public/locales/it/common.json
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-group.tsx
  apps/backoffice/src/components/api-keys/api-keys-groups/api-keys-groups.tsx
Labels: changeset, backoffice

#1130 [IOPAE-1704] Setting up Module Locking & Migrating to Registry Modules
  .github/workflows/infra-static-analysis.yaml
  .pre-commit-config.yaml
  infra/_modules/backoffice/main.tf
  infra/_modules/cms_function_app/main.tf
  infra/_modules/eventhub/main.tf
  infra/_modules/function_app/main.tf
  infra/prod/tfmodules.lock.json
  infra/src/README.md
  infra/src/api/io_services_cms/v1/createservice_policy/tfmodules.lock.json
  infra/src/api/io_services_cms/v1/getservicetopics_policy/tfmodules.lock.json
  infra/src/api/io_services_cms/v1/tfmodules.lock.json
  infra/src/api/io_services_cms/v1/updateService_policy/tfmodules.lock.json
  infra/src/env/prod/tfmodules.lock.json
  infra/src/tfmodules.lock.json
Labels: ci, infra

#1143 [IOPAE-1675] backoffice active group filter on service list
  .changeset/rude-colts-drive.md
  apps/backoffice/src/lib/be/__tests__/services.test.ts
  apps/backoffice/src/lib/be/services/business.ts
Labels: changeset, backoffice

#1137 [IOPAE-1674] backoffice delete subscription api
  .changeset/brave-planes-breathe.md
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/__tests__/route.test.ts
  apps/backoffice/src/app/api/subscriptions/[subscriptionId]/route.ts
  apps/backoffice/src/lib/be/errors.ts
  apps/backoffice/src/lib/be/subscriptions/__tests__/business.test.ts
  apps/backoffice/src/lib/be/subscriptions/business.ts
  packages/external-clients/src/apim-client/__tests__/index.test.ts
  packages/external-clients/src/apim-client/index.ts
Labels: internal, changeset, backoffice
