Repository pagopa/io-services-cms, pull requests merged in 2025-08, with the labels that each got.

#1327 chore: activate the ingestion activations function
  infra/resources/_modules/cms_function_app/main.tf
Labels: infra, chore

#1341 [IOPAE 2135] Scale up tier of function app be from standard to premium
  infra/resources/_modules/function_app/locals.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#1333 [IOPAE- 2120] Make product switch dynamic
  .changeset/slimy-goats-greet.md
  apps/backoffice/.env
  apps/backoffice/mocks/data/selfcare-data.ts
  apps/backoffice/src/components/headers/header.tsx
Labels: changeset, backoffice
